// ------------ Alcove North ----------- //
.alcove-north-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .alcove-north-grid {
    width: 74%;
    height: 39rem;
    display: grid;
    grid-template-columns: 1fr 1.27fr 1fr;
    gap: 0;

    // .section {
    //   border: 1px solid #d5d5d5;
    // }

    //----------------- COLUMN 1 ------------------//

    .alcove-north-column-1 {
      position: relative;
      display: flex;
      background: linear-gradient(200deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.04));
      filter: blur(1px);
      opacity: 0.4;

      // ---------- The last Voyage of the Queen Mother --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 3.3rem;
        right: 3.2rem;
        width: 17.4rem;

        img {
          cursor: auto;
        }
      }

      // ---------- Moment of Enlightenment --------- //
      .sub-section-1-2 {
        position: absolute;
        top: 19.8rem;
        right: 15.2rem;
        width: 4.6rem;

        img {
          cursor: auto;
        }
      }

      // ---------- Try --------- //
      .sub-section-1-3 {
        position: absolute;
        top: 19.3rem;
        right: 9.2rem;
        width: 4.3rem;

        img {
          cursor: auto;
        }
      }

      // ---------- Practice --------- //
      .sub-section-1-4 {
        position: absolute;
        top: 22.9rem;
        right: 9.2rem;
        width: 4.3rem;

        img {
          cursor: auto;
        }
      }
      // ---------- You Have to do Better than That --------- //
      .sub-section-1-5 {
        position: absolute;
        top: 19.3rem;
        right: 4.2rem;
        width: 4.3rem;

        img {
          cursor: auto;
        }
      }
      // ---------- Choose A Direction --------- //
      .sub-section-1-6 {
        position: absolute;
        top: 22.9rem;
        right: 4.2rem;
        width: 4.3rem;

        img {
          cursor: auto;
        }
      }
    }
    
    //----------------- COLUMN 2 ------------------//
    
    .alcove-north-column-2 {
      position: relative;
      display: flex;
      justify-content: center;
      border-right: 2px solid #ececec;

      
      // ---------- Installing the Music App --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 1.5rem;
        width: 17.8rem;
      }
        
      // ---------- Social Distancing --------- //
      .sub-section-2-2 {
        position: absolute;
        top: 17rem;
        left: 6rem;
        width: 4.6rem;
      }
        
      // ---------- Time to Feed the Frog --------- //
      .sub-section-2-3 {
        position: absolute;
        top: 22.1rem;
        left: 6rem;
        width: 4.6rem;
      }
        
      // ---------- Leavng the House of Horrors --------- //
      .sub-section-2-4 {
        position: absolute;
        top: 17.2rem;
        left: 11.6rem;
        width: 5.2rem;
      }
        
      // ---------- A Much Needed Surgery --------- //
      .sub-section-2-5 {
        position: absolute;
        top: 22.1rem;
        left: 11.55rem;
        width: 3.1rem;
      }
        
      // ---------- Safe Travel --------- //
       .sub-section-2-6 {
        position: absolute;
        top: 22rem;
        left: 15.6rem;
        width: 3.6rem;
      }
        
      // ---------- Arrival Through the Black Hole --------- //
      .sub-section-2-7 {
        position: absolute;
        top: 17.1rem;
        right: 11.4rem;
        width: 5.2rem;
      }
        
      // ---------- Martian Mary Poppins --------- //
      .sub-section-2-8 {
        position: absolute;
        top: 22.2rem;
        right: 11.5rem;
        width: 2.7rem;
      }
      
      // ---------- Fool In Recent Times --------- //
      .sub-section-2-9 {
        position: absolute;
        top: 17.1rem;
        right: 6.2rem;
        width: 4.3rem;
      }

      // ---------- Homecoming for Lost tambourine --------- //
      .sub-section-2-10 {
        position: absolute;
        top: 22rem;
        right: 6.2rem;
        width: 4.3rem;
      }
    }
  }

  .alcove-north-column-3 {
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.04));
    filter: blur(1px);
    opacity: 0.4;

    // ---------- Kindred Spirits --------- //
    .sub-section-3-1 {
      position: absolute;
      top: 4.2rem;
      left: 4.7rem;
      width: 14.2rem;

      img {
        cursor: auto;
      }
    }
        
    // ---------- Flip --------- //
    .sub-section-3-2 {
      position: absolute;
      top: 18.8rem;
      left: 2.8rem;
      width: 3.6rem;

      img {
        cursor: auto;
      }
    }
        
    // ---------- You First --------- //
    .sub-section-3-3 {
      position: absolute;
      top: 22rem;
      left: 2.8rem;
      width: 3.6rem;

      img {
        cursor: auto;
      }
    }
        
    // ---------- Another Afternoon at Lucille's --------- //
    .sub-section-3-4 {
      position: absolute;
      top: 19.01rem;
      left: 7.5rem;
      width: 8.9rem;

      img {
        cursor: auto;
      }
    }
        
    // ---------- Bird Sanctuary --------- //
    .sub-section-3-5 {
      position: absolute;
      top: 18.8rem;
      left: 17.5rem;
      width: 3.1rem;

      img {
        cursor: auto;
      }
    }

    // ---------- Neptunes Confront Us --------- //
    .sub-section-3-6 {
      position: absolute;
      top: 22.5rem;
      left: 17.5rem;
      width: 3.3rem;

      img {
        cursor: auto;
      }
    }
  }
}