/* --- 1. The Screen Turning Animation --- */
@keyframes screen-turn {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.rotate-svg {
  width: 15.8rem;
  height: 15.8rem;
  animation: screen-turn 2.5s ease-in-out infinite alternate;
}

/* --- 2. Default Desktop/Landscape State --- */
.orientation-overlay {
  display: none;
}

.site-content {
  display: block;
  // opacity: 0;
  // transform: scale(0.85); /* Shrunk state before rotation */
  // transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.5s ease-in-out; 
  /* Cubic-bezier adds a subtle, smooth "elastic spring" effect to the zoom */
}

.site-content.zoom-in {
    opacity: 1;
    // transform: scale(1);
  }

/* --- 3. Mobile Portrait Breakpoint Trigger (or 932px??)--- */
@media screen and (max-width: 1820px) and (orientation: portrait) {
  /* Hide the entire website content cleanly */
  .site-content {
    display: none !important;
  }

  /* Display the full-screen blocker overlay */
  .orientation-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--off-white); /* Dark sleek background */
    // color: #f8fafc;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 99999; /* Sits on top of everything */

    .rotate-icon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 2dvh;

      .orientation-text {
        margin: 6rem 0 0.5rem 0;

        h2 {
          color: var(--dark-grey);
          font-size: 2.7rem;
          font-weight: 700;
          opacity: 0.85;
        }
      }
    }
  }
}

// ======================= Media Queries ======================= //

// -------------------- Max-Width: 1000px -------------------- //

@media screen and (max-width: 1000px) {
  .rotate-svg {
    width: 15rem;
    height: 15rem;
  }

  .orientation-overlay {

    .rotate-icon-container {

      .orientation-text {
        margin-top: 5rem;
  
        h2 {
          font-size: 2.6rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 900px -------------------- //

@media screen and (max-width: 900px) {
  .rotate-svg {
    width: 14.5rem;
    height: 14.5rem;
  }

  .orientation-overlay {

    .rotate-icon-container {

      .orientation-text {
        margin-top: 4.8rem;
  
        h2 {
          font-size: 2.57rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 850px -------------------- //

@media screen and (max-width: 850px) {
  .rotate-svg {
    width: 14rem;
    height: 14rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
        margin-top: 4.6rem;
  
        h2 {
          font-size: 2.5rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 800px -------------------- //

@media screen and (max-width: 800px) {
  .rotate-svg {
    width: 13.2rem;
    height: 13.2rem;
  }

  .orientation-overlay {

    .rotate-icon-container {

      .orientation-text {
        margin-top: 4rem;

      h2 {
        font-size: 2.4rem;
      }
    }
    }
  }
}

// -------------------- Max-Width: 750px -------------------- //

@media screen and (max-width: 750px) {
  .rotate-svg {
    width: 12.8rem;
    height: 12.8rem;
  }

  .orientation-overlay {

    .rotate-icon-container {

      .orientation-text {
        margin-top: 3.6rem;
  
        h2 {
          font-size: 2.33rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 700px -------------------- //

@media screen and (max-width: 700px) {
  .rotate-svg {
    width: 12.5rem;
    height: 12.5rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
        margin-top: 3.4rem;
  
        h2 {
          font-size: 2.2rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 650px -------------------- //

@media screen and (max-width: 650px) {
  .rotate-svg {
    width: 11.6rem;
    height: 11.6rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
        margin-top: 3.2rem;
  
        h2 {
          font-size: 2.1rem;
        }
      }
    }

  }
}

// -------------------- Max-Width: 600px -------------------- //

@media screen and (max-width: 600px) {
  .rotate-svg {
    width: 11.2rem;
    height: 11.2rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      margin-bottom: 3dvh;
      
      .orientation-text {
        // width: 90%;
        margin-top: 3rem;
  
        h2 {
          font-size: 2rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 560px -------------------- //

@media screen and (max-width: 560px) {
  .rotate-svg {
    width: 10.3rem;
    height: 10.3rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
        margin-top: 2.8rem;
  
        h2 {
          font-size: 1.88rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 520px -------------------- //

@media screen and (max-width: 520px) {
  .rotate-svg {
    width: 9.8rem;
    height: 9.8rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
        margin-top: 2.6rem;
  
        h2 {
          font-size: 1.8rem;
        }
      }    
    }
  }
}
// -------------------- Max-Width: 500px -------------------- //

@media screen and (max-width: 500px) {
  .rotate-svg {
    width: 9.4rem;
    height: 9.4rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
  
        h2 {
          font-size: 1.75rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 480px -------------------- //

@media screen and (max-width: 480px) {
  .rotate-svg {
    width: 9rem;
    height: 9rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
        margin-top: 2.4rem;
  
        h2 {
          font-size: 1.7rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 455px -------------------- //

@media screen and (max-width: 455px) {
  .rotate-svg {
    width: 8.8rem;
    height: 8.8rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
  
        h2 {
          font-size: 1.66rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 430px -------------------- //

@media screen and (max-width: 430px) {
  .rotate-svg {
    width: 8.6rem;
    height: 8.6rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
        margin-top: 2.3rem;
  
        h2 {
          font-size: 1.62rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 410px -------------------- //

@media screen and (max-width: 410px) {
  .rotate-svg {
    width: 8.2rem;
    height: 8.2rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
  
        h2 {
          font-size: 1.59rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 390px -------------------- //

@media screen and (max-width: 390px) {
  .rotate-svg {
    width: 7.8rem;
    height: 7.8rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
        margin-top: 2.2rem;
  
        h2 {
          font-size: 1.56rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 380px -------------------- //

@media screen and (max-width: 380px) {
  .rotate-svg {
    width: 7.4rem;
    height: 7.4rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
  
        h2 {
          font-size: 1.53rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 370px -------------------- //

@media screen and (max-width: 370px) {
  .rotate-svg {
    width: 7rem;
    height: 7rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
        margin-top: 2rem;
  
        h2 {
          font-size: 1.48rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 360px -------------------- //

@media screen and (max-width: 360px) {
  .rotate-svg {
    width: 6.8rem;
    height: 6.8rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
  
        h2 {
          font-size: 1.42rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 350px -------------------- //

@media screen and (max-width: 350px) {
  .rotate-svg {
    width: 6.5rem;
    height: 6.5rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
        margin-top: 1.9rem;
  
        h2 {
          font-size: 1.38rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 335px -------------------- //

@media screen and (max-width: 335px) {
  .rotate-svg {
    width: 6.3rem;
    height: 6.3rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
  
        h2 {
          font-size: 1.33rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 320px -------------------- //

@media screen and (max-width: 320px) {
  .rotate-svg {
    width: 6.1rem;
    height: 6.1rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
  
        h2 {
          font-size: 1.28rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 310px -------------------- //

@media screen and (max-width: 310px) {
  .rotate-svg {
    width: 6rem;
    height: 6rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
  
        h2 {
          font-size: 1.24rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 300px -------------------- //

@media screen and (max-width: 300px) {
  .rotate-svg {
    width: 5.8rem;
    height: 5.8rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
        margin-top: 1.8rem;
  
        h2 {
          font-size: 1.2rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 290px -------------------- //

@media screen and (max-width: 290px) {
  .rotate-svg {
    width: 5.5rem;
    height: 5.5rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
  
        h2 {
          font-size: 1.14rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 280px -------------------- //

@media screen and (max-width: 280px) {
  .rotate-svg {
    width: 5.2rem;
    height: 5.2rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
  
        h2 {
          font-size: 1.08rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 270px -------------------- //

@media screen and (max-width: 270px) {
  .rotate-svg {
    width: 5rem;
    height: 5rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
  
        h2 {
          font-size: 1.04rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 260px -------------------- //

@media screen and (max-width: 260px) {
  .rotate-svg {
    width: 4.8rem;
    height: 4.8rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
        // margin-top: 1.8rem;
  
        h2 {
          font-size: 1rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 250px -------------------- //

@media screen and (max-width: 250px) {
  .rotate-svg {
    width: 4.6rem;
    height: 4.6rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
  
        h2 {
          font-size: 0.96rem;
        }
      }    
    }
  }
}

// -------------------- Max-Width: 240px -------------------- //

@media screen and (max-width: 240px) {
  .rotate-svg {
    width: 4.4rem;
    height: 4.4rem;
  }

  .orientation-overlay {

    .rotate-icon-container {
      
      .orientation-text {
        margin-top: 1.6rem;
  
        h2 {
          font-size: 0.92rem;
        }
      }    
    }
  }
}