.green-room-east-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .green-room-east-grid {
    width: 81%;
    height: 35rem;
    display: grid;
    grid-template-columns: 2fr 0.55fr 2fr 0.55fr 2fr 0.55fr 2.2fr;

    // .section {
    //   border: 1px solid #d2d2d2;
    // }

    // -------------------- Column 1 --------------------- //

    .green-room-east-column-1 {
      position: relative;
      display: flex;
      justify-content: center;

     // ---------- The Other Side--------- //
      .sub-section-1-1 {
        position: absolute;
        top: 9.6rem;
        width: 14rem;
      }
    }

    // -------------------- Column 2 --------------------- //

    .green-room-east-column-2 {
      position: relative;
      display: flex;
      justify-content: center;

      // ---------- Rise Above --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 8rem;
        width: 3.4rem;
      }

      // ---------- Misgivings --------- //
      .sub-section-2-2 {
        position: absolute;
        top: 11.4rem;
        width: 5rem;
      }

      // ---------- Take Your medicine --------- //
      .sub-section-2-3 {
        position: absolute;
        top: 16rem;
        width: 3.3rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .green-room-east-column-3 {
      position: relative;
      display: flex;
      justify-content: center;

      // ---------- The Song of Love --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 8.4rem;
        width: 13.5rem;
      }
    }

    // -------------------- Column 4 --------------------- //

    .green-room-east-column-4 {
      position: relative;
      display: flex;
      justify-content: center;

      // ---------- Dashed Dreams --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 7.8rem;
        width: 3.6rem;
      }

      // ---------- Too Late --------- //
      .sub-section-4-2 {
        position: absolute;
        top: 11.4rem;
        width: 5rem;
      }

      // ---------- Beatrice --------- //
      .sub-section-4-3 {
        position: absolute;
        top: 16rem;
        width: 3.3rem;
      }
    }

    // -------------------- Column 5 --------------------- //

    .green-room-east-column-5 {
      position: relative;
      display: flex;
      justify-content: center;

      // ---------- Danger --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 6.7rem;
        width: 14rem;
      }
    }

    // -------------------- Column 6 --------------------- //

    .green-room-east-column-6 {
      position: relative;
      display: flex;
      justify-content: center;

      // ---------- Midnight Rendezvous --------- //
      .sub-section-6-1 {
        position: absolute;
        top: 7.8rem;
        width: 3.6rem;
      }

      // ---------- Cooks on Break --------- //
      .sub-section-6-2 {
        position: absolute;
        top: 11.4rem;
        width: 5rem;
      }
    }

    // -------------------- Column 7 --------------------- //

    .green-room-east-column-7 {
      position: relative;
      display: flex;
      justify-content: center;

      // ---------- Autumn of '33 --------- //
      .sub-section-7-1 {
        position: absolute;
        top: 8.8rem;
        width: 17rem;
      }
    }
  }
}

// ============================= Media Queries ============================ //

// -------------------- Max-Width: 1800px --------------------- //

@media screen and (max-width: 1800px) {
  .green-room-east-container {

    .green-room-east-grid {
      width: 82%;
    }
  }
}

// -------------------- Max-Width: 1130px --------------------- //

@media screen and (max-width: 1130px) {
  .green-room-east-container {

    .green-room-east-grid {
      width: 82%;
      height: 22.2rem;
      grid-template-columns: 2fr 0.55fr 2fr 0.55fr 2fr 0.55fr 2.2fr;

      // -------------------- Column 1 --------------------- //

      .green-room-east-column-1 {

      // ---------- The Other Side--------- //
        .sub-section-1-1 {
          top: 6rem;
          width: 9rem;
        }
      }

      // -------------------- Column 2 --------------------- //

      .green-room-east-column-2 {

        // ---------- Rise Above --------- //
        .sub-section-2-1 {
          top: 5.1rem;
          width: 2.1rem;
        }

        // ---------- Misgivings --------- //
        .sub-section-2-2 {
          top: 7.3rem;
          width: 3.2rem;
        }

        // ---------- Take Your medicine --------- //
        .sub-section-2-3 {
          top: 10.2rem;
          width: 2.1rem;
        }
      }

      // -------------------- Column 3 --------------------- //

      .green-room-east-column-3 {

        // ---------- The Song of Love --------- //
        .sub-section-3-1 {
          top: 5.3rem;
          width: 8.5rem;
        }
      }

      // -------------------- Column 4 --------------------- //

      .green-room-east-column-4 {

        // ---------- Dashed Dreams --------- //
        .sub-section-4-1 {
          top: 4.9rem;
          width: 2.3rem;
        }

        // ---------- Too Late --------- //
        .sub-section-4-2 {
          top: 7.2rem;
          width: 3.2rem;
        }

        // ---------- Beatrice --------- //
        .sub-section-4-3 {
          top: 10.2rem;
          width: 2.1rem;
        }
      }

      // -------------------- Column 5 --------------------- //

      .green-room-east-column-5 {

        // ---------- Danger --------- //
        .sub-section-5-1 {
          top: 4.3rem;
          width: 8.9rem;
        }
      }

      // -------------------- Column 6 --------------------- //

      .green-room-east-column-6 {

        // ---------- Midnight Rendezvous --------- //
        .sub-section-6-1 {
          top: 5rem;
          width: 2.3rem;
        }

        // ---------- Cooks on Break --------- //
        .sub-section-6-2 {
          top: 7.2rem;
          width: 3.3rem;
        }
      }

      // -------------------- Column 7 --------------------- //

      .green-room-east-column-7 {

        // ---------- Autumn of '33 --------- //
        .sub-section-7-1 {
          top: 5.6rem;
          width: 10.9rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 710px --------------------- //

@media screen and (max-width: 710px) {
  .green-room-east-container {

    .green-room-east-grid {
      height: 14rem;

      // .section {
      //   border: 1px solid #d2d2d2;
      // }

      // -------------------- Column 1 --------------------- //

      .green-room-east-column-1 {

      // ---------- The Other Side--------- //
        .sub-section-1-1 {
          top: 3.7rem;
          width: 5.7rem;
        }
      }

      // -------------------- Column 2 --------------------- //

      .green-room-east-column-2 {

        // ---------- Rise Above --------- //
        .sub-section-2-1 {
          top: 3.2rem;
          width: 1.4rem;
        }

        // ---------- Misgivings --------- //
        .sub-section-2-2 {
          top: 4.6rem;
          width: 2rem;
        }

        // ---------- Take Your medicine --------- //
        .sub-section-2-3 {
          top: 6.5rem;
          width: 1.3rem;
        }
      }

      // -------------------- Column 3 --------------------- //

      .green-room-east-column-3 {

        // ---------- The Song of Love --------- //
        .sub-section-3-1 {
          top: 3.3rem;
          width: 5.4rem;
        }
      }

      // -------------------- Column 4 --------------------- //

      .green-room-east-column-4 {

        // ---------- Dashed Dreams --------- //
        .sub-section-4-1 {
          top: 3.1rem;
          width: 1.5rem;
        }

        // ---------- Too Late --------- //
        .sub-section-4-2 {
          top: 4.6rem;
          width: 2.1rem;
        }

        // ---------- Beatrice --------- //
        .sub-section-4-3 {
          top: 6.5rem;
          width: 1.3rem;
        }
      }

      // -------------------- Column 5 --------------------- //

      .green-room-east-column-5 {

        // ---------- Danger --------- //
        .sub-section-5-1 {
          top: 2.8rem;
          width: 5.6rem;
        }
      }

      // -------------------- Column 6 --------------------- //

      .green-room-east-column-6 {

        // ---------- Midnight Rendezvous --------- //
        .sub-section-6-1 {
          top: 3.3rem;
          width: 1.5rem;
        }

        // ---------- Cooks on Break --------- //
        .sub-section-6-2 {
          top: 4.8rem;
          width: 2.1rem;
        }
      }

      // -------------------- Column 7 --------------------- //

      .green-room-east-column-7 {

        // ---------- Autumn of '33 --------- //
        .sub-section-7-1 {
          top: 3.7rem;
          width: 6.9rem;
        }
      }
    }
  }
}