// ------------ Main Room South ----------- //
.main-room-south-container {
  display: flex;
  justify-content: center;

  .main-room-south-grid {
    width: 83%;
    height: 40rem;
    display: grid;
    overflow: visible;
    grid-template-columns: 1.8fr 4.4fr 4.7fr 5.4fr 7.1fr 6.3fr;
    gap: 10px;

    //----------------- COLUMN 1 ------------------//

    .south-column-1 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;


      // ---------- Purification --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 3rem;
        width: 6rem;
      }

      // ---------- Resist --------- //  
      .sub-section-1-2 {
        position: absolute;
        top: 10.3rem;
        width: 6rem;
      }
    }

    //----------------- COLUMN 2 ------------------//

    .south-column-2 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      // ---------- Reconstructive Surgery 2 --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 0;
        width: 13.5rem;
      }
        
      // ---------- Meeting the Devil With My Cello --------- //
      .sub-section-2-2 {
        position: absolute;
        top: 14.6rem;
        left: 1.2rem;
        width: 7rem;
      }
        
      // ---------- Retired From Bull Ring --------- //
      .sub-section-2-3 {
        position: absolute;
        top: 13.5rem;
        right: 1.3rem;
        width: 3.8rem;
      }
        
      // ----------King of Cats --------- //
      .sub-section-2-4 {
        position: absolute;
        top: 19rem;
        right: 3.5rem;
        width: 1.7rem;
      }
      
      // ---------- Egged On --------- //
      .sub-section-2-5 {
        position: absolute;
        top: 19rem;
        right: 1.2rem;
        width: 1.8rem;
     }  

      // ---------- You've Gone Too far --------- //
      .sub-section-2-6 {
        position: absolute;
        bottom: 1rem;
        width: 13.6rem;
     }  
    }
    
    //----------------- COLUMN 3 ------------------//
    
    .south-column-3 {
      position: relative;
      display: flex;
      
      // ---------- Looking Ahead --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 0;
        right: 1rem;
        width: 13.4rem;
      }
        
      // ---------- Opera --------- //
      .sub-section-3-2 {
        position: absolute;
        top: 17.8rem;
        left: 0;
        width: 3.8rem;
      }
        
      // ---------- State of the World --------- //
      .sub-section-3-3 {
        position: absolute;
        top: 18.2rem;
        left: 5rem;
        width: 5.3rem;
      }
        
      // ---------- Giant Egg --------- //
      .sub-section-3-4 {
        position: absolute;
        top: 17.9rem;
        right: 0;
        width: 4.4rem;
      }
        
      // ---------- I'm Outta Here --------- //
      .sub-section-3-5 {
        position: absolute;
        bottom: 2.3rem;
        left: 0.2rem;
        width: 14.9rem;
      }
    }
    
    //----------------- COLUMN 4 ------------------//
    
    .south-column-4 {
      position: relative;
      display: flex;
      
      // ---------- Painter's Museum --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 0;
        left: 0.8rem;
        width: 16.2rem;
      }
      
      // ---------- Private Showing --------- //
      .sub-section-4-2 {
        position: absolute;
        top: 14rem;
        left: 1.3rem;
        width: 14.6rem;
      }
      
      // ---------- Roadhouse at the Full Moon --------- //
      .sub-section-4-3 {
        position: absolute;
        left: 0.5rem;
        bottom: 0.7rem;
        width: 17.8rem;
      }
    }
    
    //----------------- COLUMN 5 ------------------/
    
    .south-column-5 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
        
      // ---------- Center Stage --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        width: 14rem;
      }
        
      // ---------- Conservationist --------- //
      .sub-section-5-2 {
        position: absolute;
        top: 2.1rem;
        right: 2.4rem;
        width: 4.3rem;
      }
        
      // ---------- Spiritual Traveler --------- //
      .sub-section-5-3 {
        position: absolute;
        top: 12.1rem;
        left: 0;
        width: 9.6rem;
      }
        
      // ---------- Be of Good Cheer --------- //
      .sub-section-5-4 {
        position: absolute;
        top: 12.1rem;
        left: 11.2rem;
        width: 3.4rem;
      }
        
      // ---------- Years Later He Lit Up A Cigarette --------- //
      .sub-section-5-5 {
        position: absolute;
        top: 8.6rem;
        right: 2.4rem;
        width: 4.3rem;
      }
      
      // ---------- Bob --------- //
      .sub-section-5-6 {
        position: absolute;
        top: 15.5rem;
        left: 11.15rem;
        width: 4.6rem;
      }
      
      // ---------- Questionable Moves --------- //
      .sub-section-5-7 {
        position: absolute;
        right: -0.7rem;
        top: 15.5rem;
        width: 7.2rem;
      }

      // ---------- Go Back To sea --------- //
      .sub-section-5-8 {
        position: absolute;
        top: 22.3rem;
        left: 12.2rem;
        width: 3.1rem;
      }

      // ---------- Dubious --------- //
      .sub-section-5-9 {
        position: absolute;
        top: 22.5rem;
        left: 0;
        width: 2.9rem;
      }

      // ---------- Dervish 1 --------- //
      .sub-section-5-10 {
        position: absolute;
        top: 22.5rem;
        left: 5.9rem;
        width: 1.6rem;
      }

      // ---------- Dervish 2 --------- //
      .sub-section-5-11 {
        position: absolute;
        top: 22.5rem;
        left: 3.7rem;
        width: 1.6rem;
      }

      // ---------- Helena --------- //
      .sub-section-5-12 {
        position: absolute;
        top: 22.5rem;
        left: 8.3rem;
        width: 2.8rem;
      }

      // ---------- The Soul Breaks the Deal --------- //
      .sub-section-5-13 {
        position: absolute;
        bottom: 1.3rem;
        left: 1.9rem;
        width: 7.5rem;
      }

      // ---------- Waiting for the Parting --------- //
      .sub-section-5-14 {
        position: absolute;
        bottom: 1.3rem;
        right: 0.5rem;
        width: 10.6rem;
      }
    }

    //----------------- COLUMN 6 ------------------/

    .south-column-6 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      // ---------- Higher --------- //
      .sub-section-6-1 {
        position: absolute;
        top: 1.2rem;
        left: -0.7rem;
        width: 16rem;
      }
      
      // ---------- Oh Jesus Christ --------- //
      .sub-section-6-2 {
        position: absolute;
        right: -0.5rem;
        bottom: 0.7rem;
        width: 19.8rem;
      }
    }
  }
}


// -------------------- Media Queries ---------------------- //

// --------------- Max-Width: 1800px ----------------- //

@media screen and (max-width: 1800px) {
  .main-room-south-container {

    .main-room-south-grid {
      width: 84.5%;
      grid-template-columns: 1.8fr 4.4fr 4.7fr 5.35fr 7fr 6.45fr;
      gap: 3px;

      //----------------- COLUMN 1 ------------------//

    .south-column-1 {

      // ---------- Purification --------- //
      .sub-section-1-1 {
        top: 3.1rem;
        left: -0.3rem;
        width: 5.9rem;
      }

      // ---------- Resist --------- //  
      .sub-section-1-2 {
        top: 10.3rem;
        left: -0.3rem;
        width: 5.9rem;
      }
    }

      //----------------- COLUMN 2 ------------------//

      .south-column-2 { 

        // ---------- You've Gone Too far --------- //
        .sub-section-2-6 {
          left: 0;
        }  
      }

      //----------------- COLUMN 3 ------------------//
    
      .south-column-3 {
        
        // ---------- State of the World --------- //
        .sub-section-3-3 {
          left: 4.6rem;
        }
      }

      // ---------- Column 4 --------- //
      .south-column-4 {
      
        // ---------- Painter's Museum --------- //
        .sub-section-4-1 {
          left: 0.4rem;
        }
      
        // ---------- Private Showing --------- //
        .sub-section-4-2 {
          left: 1.2rem;
        }
      
        // ---------- Roadhouse at the Full Moon --------- //
        .sub-section-4-3 {
          left: 0.7rem;
          width: 17.7rem;
        }
      }

      //----------------- COLUMN 5 ------------------/
    
      .south-column-5 {

        // ---------- Center Stage --------- //
        .sub-section-5-1 {
          left: 0.7rem;
        }
        
        // ---------- Conservationist --------- //
        .sub-section-5-2 {
          right: 2.3rem;
        }
        
        // ---------- Spiritual Traveler --------- //
        .sub-section-5-3 {
          left: 0;
          width: 9.8rem;
        }
        
        // ---------- Be of Good Cheer --------- //
        .sub-section-5-4 {
          left: 11rem;
        }
        
        // ---------- Years Later He Lit Up A Cigarette --------- //
        .sub-section-5-5 {
          right: 2.3rem;
        }
      
        // ---------- Bob --------- //
        .sub-section-5-6 {
          left: 10.6rem;
        }

        // ---------- Questionable Moves --------- //
        .sub-section-5-7 {
          right: -0.8rem;
          width: 7.3rem;
        }
        // ---------- Go Back To sea --------- //
        .sub-section-5-8 {
          left: 12.1rem;
        }

        // ---------- The Soul Breaks the Deal --------- //
        .sub-section-5-13 {
          left: 2.5rem;
          width: 7.7rem;
        }

        // ---------- Waiting for the Parting --------- //
        .sub-section-5-14 {
          right: 0.2rem;
        }
      }

      //----------------- COLUMN 6 ------------------/

      .south-column-6 {

        // ---------- Higher --------- //
        .sub-section-6-1 {
          top: 1.3rem;
          left: -0.8rem;
          width: 16.1rem;
        }
        
        // ---------- Oh Jesus Christ --------- //
        .sub-section-6-2 {
          right: -0.3rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 1760px --------------------- //

@media screen and (max-width: 1760px) {
  .main-room-south-container {

    .main-room-south-grid {
      width: 85%;
      grid-template-columns: 1.75fr 4.4fr 4.8fr 5.35fr 7.1fr 6.3fr;

      // .section {
      //   border: 1px solid #d5d5d5;
      // }

      //----------------- COLUMN 1 ------------------//

      .south-column-1 {

        // ---------- Purification --------- //
        .sub-section-1-1 {
          left: -0.6rem;
        }

        // ---------- Resist --------- //  
        .sub-section-1-2 {
          left: -0.6rem;
        }
      }

      //----------------- COLUMN 3 ------------------//
    
      .south-column-3 {
        // ---------- Opera --------- //
        .sub-section-3-2 {
          left: 0;
          width: 3.6rem;
        }
          
        // ---------- State of the World --------- //
        .sub-section-3-3 {
          left: 4.75rem;
          width: 5.1rem;
        }
          
        // ---------- Giant Egg --------- //
        .sub-section-3-4 {
          right: 0;
          width: 4.2rem;
        }
          
        // ---------- I'm Outta Here --------- //
        .sub-section-3-5 {
          left: 0.4rem;
          width: 14.8rem;
        }
      }

      // ---------- Column 4 --------- //
      .south-column-4 {
      
        // ---------- Painter's Museum --------- //
        .sub-section-4-1 {
          left: 0.3rem;
        }
      }

      //----------------- COLUMN 5 ------------------/
    
      .south-column-5 {
        
        // ---------- Conservationist --------- //
        .sub-section-5-2 {
          right: 2.1rem;
        }
        
        // ---------- Years Later He Lit Up A Cigarette --------- //
        .sub-section-5-5 {
          right: 2.1rem;
        }

        // ---------- The Soul Breaks the Deal --------- //
        .sub-section-5-13 {
          left: 2.7rem;
        }
      }

      //----------------- COLUMN 6 ------------------/

      .south-column-6 {

        // ---------- Higher --------- //
        .sub-section-6-1 {
          top: 1.4rem;
        }
        
        // ---------- Oh Jesus Christ --------- //
        .sub-section-6-2 {
          right: -1rem;
        }
      }
    }
  }
}

// --------------- Max-Width: 1730px ----------------- //

@media screen and (max-width: 1730px) {
  .main-room-south-container {

    .main-room-south-grid {
      width: 85%;
      height: 40.5rem;
      grid-template-columns: 1.8fr 4.4fr 4.7fr 5.3fr 7.15fr 6.35fr;
      gap: 5px;

      // .section {
      //   border: 1px solid #d3d3d3;
      // }

      //----------------- COLUMN 2 ------------------//

      .south-column-2 {

        // ---------- Reconstructive Surgery 2 --------- //
        .sub-section-2-1 {
          width: 13.3rem;
        }
          
        // ---------- Meeting the Devil With My Cello --------- //
        .sub-section-2-2 {
          left: 0.9rem;
          width: 6.9rem;
        }
          
        // ---------- Retired From Bull Ring --------- //
        .sub-section-2-3 {
          right: 1.1rem;
          width: 3.7rem;
        }
          
        // ----------King of Cats --------- //
        .sub-section-2-4 {
          right: 3.3rem;
          width: 1.6rem;
        }
        
        // ---------- Egged On --------- //
        .sub-section-2-5 {
          right: 1.1rem;
          width: 1.7rem;
        }  

        // ---------- You've Gone Too far --------- //
        .sub-section-2-6 {
          bottom: 1.6rem;
          left: -0.2rem;
          width: 13.5rem;
        }  
      }
      
      //----------------- COLUMN 3 ------------------//
      
      .south-column-3 {
        
        // ---------- Looking Ahead --------- //
        .sub-section-3-1 {
          right: 0.65rem;
        }
          
        // ---------- Opera --------- //
        .sub-section-3-2 {
          top: 18rem;
        }
          
        // ---------- State of the World --------- //
        .sub-section-3-3 {
          top: 18.4rem;
          left: 4.55rem;
        }
          
        // ---------- Giant Egg --------- //
        .sub-section-3-4 {
          top: 18.1rem;
        }
          
        // ---------- I'm Outta Here --------- //
        .sub-section-3-5 {
          bottom: 2.9rem;
          left: 0.2rem;
          width: 14.6rem;
        }
      }
      
      //----------------- COLUMN 4 ------------------//
      
      .south-column-4 {
        
        // ---------- Painter's Museum --------- //
        .sub-section-4-1 {
          left: 0.2rem;
        }

        // ---------- Private Showing --------- //
        .sub-section-4-2 {
          top: 13.8rem;
          left: 1.1rem;
        }
        
        // ---------- Roadhouse at the Full Moon --------- //
        .sub-section-4-3 {
          left: 0.8rem;
          bottom: 1.5rem;
        }
      }
      
      //----------------- COLUMN 5 ------------------/
      
      .south-column-5 {
      
        // ---------- Center Stage --------- //
        .sub-section-5-1 {
          width: 14.3rem;
        }
          
        // ---------- Conservationist --------- //
        .sub-section-5-2 {
          right: 1.8rem;
        }
          
        // ---------- Be of Good Cheer --------- //
        .sub-section-5-4 {
          left: 11.1rem;
        }
          
        // ---------- Years Later He Lit Up A Cigarette --------- //
        .sub-section-5-5 {
          right: 1.8rem;
        }
        
        // ---------- Bob --------- //
        .sub-section-5-6 {
          top: 15.3rem;
          left: 10.5rem;
        }
        
        // ---------- Questionable Moves --------- //
        .sub-section-5-7 {
          top: 15.3rem;
          width: 7.4rem;
          right: -0.9rem;
        }

        // ---------- Go Back To sea --------- //
        .sub-section-5-8 {
          top: 22.1rem;
          left: 12rem;
        }

        // ---------- The Soul Breaks the Deal --------- //
        .sub-section-5-13 {
          bottom: 2.1rem;
          left: 2.9rem;
        }

        // ---------- Waiting for the Parting --------- //
        .sub-section-5-14 {
          bottom: 2rem;
          right: 0;
        }
      }

      //----------------- COLUMN 6 ------------------/

      .south-column-6 {

        // ---------- Higher --------- //
        .sub-section-6-1 {
          top: 1.5rem;
        }
      
        // ---------- Oh Jesus Christ --------- //
        .sub-section-6-2 {
          bottom: 1.5rem;
          right: -1rem;
          width: 19.6rem;
        }
      }
    }
  }
}

// --------------- Max-Width: 1380px ----------------- //

@media screen and (max-width: 1380px) {
  .main-room-south-container {

    .main-room-south-grid {
      width: 91.5%;
      height: 38rem;
      grid-template-columns: 1.8fr 4.4fr 4.65fr 5.3fr 7.25fr 6.3fr;
      gap: 3px;

      // .section {
      //   border: 1px solid #d5d5d5;
      // }

      //----------------- COLUMN 1 ------------------//

    .south-column-1 {

      // ---------- Purification --------- //
      .sub-section-1-1 {
        top: 3.7rem;
        left: 0rem;
        width: 5rem;
      }

      // ---------- Resist --------- //  
      .sub-section-1-2 {
        top: 10rem;
        left: 0rem;
        width: 5rem;
      }
    }

    //----------------- COLUMN 2 ------------------//

    .south-column-2 {

      // ---------- Reconstructive Surgery 2 --------- //
      .sub-section-2-1 {
        top: 0;
        left: 0.5rem;
        width: 12.3rem;
      }
        
      // ---------- Meeting the Devil With My Cello --------- //
      .sub-section-2-2 {
        top: 13.5rem;
        left: 1rem;
        width: 6.5rem;
      }
        
      // ---------- Retired From Bull Ring --------- //
      .sub-section-2-3 {
        top: 12.3rem;
        right: 1.2rem;
        width: 3.6rem;
      }
        
      // ----------King of Cats --------- //
      .sub-section-2-4 {
        top: 17.5rem;
        right: 3.2rem;
        width: 1.6rem;
      }
      
      // ---------- Egged On --------- //
      .sub-section-2-5 {
        top: 17.5rem;
        right: 1.2rem;
        width: 1.7rem;
     }  

      // ---------- You've Gone Too far --------- //
      .sub-section-2-6 {
        bottom: 1.5rem;
        width: 12.9rem;
     }  
    }
    
    //----------------- COLUMN 3 ------------------//
    
    .south-column-3 {
      
      // ---------- Looking Ahead --------- //
      .sub-section-3-1 {
        top: 0;
        right: 0.7rem;
        width: 12.2rem;
      }
        
      // ---------- Opera --------- //
      .sub-section-3-2 {
        top: 16.4rem;
        left: 0.5rem;
        width: 3.4rem;
      }
        
      // ---------- State of the World --------- //
      .sub-section-3-3 {
        top: 16.8rem;
        left: 4.7rem;
        width: 4.8rem;
      }
        
      // ---------- Giant Egg --------- //
      .sub-section-3-4 {
        top: 16.4rem;
        right: -0.5rem;
        width: 4rem;
      }
        
      // ---------- I'm Outta Here --------- //
      .sub-section-3-5 {
        bottom: 3.3rem;
        left: 0.5rem;
        width: 13.6rem;
      }
    }

      // ---------- Column 4 --------- //
      .south-column-4 {
      
        // ---------- Painter's Museum --------- //
        .sub-section-4-1 {
          left: 0.4rem;
          width: 15.1rem;
        }
      
        // ---------- Private Showing --------- //
        .sub-section-4-2 {
          top: 13.15rem;
          left: 1.3rem;
          width: 14rem;
        }
      
        // ---------- Roadhouse at the Full Moon --------- //
        .sub-section-4-3 {
          bottom: 0.9rem;
          left: 1rem;
          width: 16.4rem;
        }
      }

      //----------------- COLUMN 5 ------------------/
    
      .south-column-5 {

        // ---------- Center Stage --------- //
        .sub-section-5-1 {
          top: 0;
          left: 0.8rem;
          width: 13.7rem;
        }
        
        // ---------- Conservationist --------- //
        .sub-section-5-2 {
          top: 2.2rem;
          right: 2rem;
          width: 3.9rem;
        }
        
        // ---------- Spiritual Traveler --------- //
        .sub-section-5-3 {
          top: 11.2rem;
          left: 0.3rem;
          width: 9.2rem;
        }
        
        // ---------- Be of Good Cheer --------- //
        .sub-section-5-4 {
          top: 11.3rem;
          left: 10.5rem;
          width: 3.4rem;
        }
        
        // ---------- Years Later He Lit Up A Cigarette --------- //
        .sub-section-5-5 {
          top: 8.4rem;
          right: 1.9rem;
          width: 3.9rem;
        }
      
        // ---------- Bob --------- //
        .sub-section-5-6 {
          top: 14.6rem;
          left: 10.2rem;
          width: 4.1rem;
        }

        // ---------- Questionable Moves --------- //
        .sub-section-5-7 {
          right: -0.2rem;
          top: 14.6rem;
          width: 6.7rem;
        }

      // ---------- Go Back To sea --------- //
      .sub-section-5-8 {
        top: 20.8rem;
        left: 11.2rem;
        width: 2.8rem;
      }

      // ---------- Dubious --------- //
      .sub-section-5-9 {
        top: 21.2rem;
        left: 0;
        width: 2.6rem;
      }

      // ---------- Dervish 1 --------- //
      .sub-section-5-10 {
        top: 21.2rem;
        left: 5.3rem;
        width: 1.5rem;
      }

      // ---------- Dervish 2 --------- //
      .sub-section-5-11 {
        top: 21.2rem;
        left: 3.3rem;
        width: 1.5rem;
      }

      // ---------- Helena --------- //
      .sub-section-5-12 {
        top: 21.2rem;
        left: 7.6rem;
        width: 2.5rem;
      }


        // ---------- The Soul Breaks the Deal --------- //
        .sub-section-5-13 {
          bottom: 1.8rem;
          left: 2.6rem;
          width: 7rem;
        }

        // ---------- Waiting for the Parting --------- //
        .sub-section-5-14 {
          bottom: 1.6rem;
          right: 0.7rem;
          width: 10.1rem;
        }
      }

      //----------------- COLUMN 6 ------------------/

      .south-column-6 {

        // ---------- Higher --------- //
        .sub-section-6-1 {
          top: 1.5rem;
          left: -0.6rem;
          width: 14.8rem;
        }
      
        // ---------- Oh Jesus Christ --------- //
        .sub-section-6-2 {
          right: -0.4rem;
          bottom: 0.9rem;
          width: 18.4rem;
        }
      }
    }
  }
}

// ---------------- Max-Height: 770px and Max-Width: 1370px --------------- //

@media screen and (max-height: 770px) and (max-width: 1380px) {
  .main-room-south-container {

    .main-room-south-grid {
      width: 91.6%;
      height: 37.8rem;
      gap: 1px;
      margin-top: 0.4rem;

      //----------------- COLUMN 2 ------------------//

      .south-column-2 {

        // ---------- You've Gone Too far --------- //
        .sub-section-2-6 {
          left: 0rem;
        }  
      }

      // ---------- Column 4 --------- //
      .south-column-4 {

        // ---------- Roadhouse at the Full Moon --------- //
        .sub-section-4-3 {
          left: 0.9rem;
        }
      }

      //----------------- COLUMN 5 ------------------/
    
      .south-column-5 {

        // ---------- Questionable Moves --------- //
        .sub-section-5-7 {
          right: -0.3rem;
        }
      
        // ---------- The Soul Breaks the Deal --------- //
        .sub-section-5-13 {
          left: 2.4rem;
        }

        // ---------- Waiting for the Parting --------- //
        .sub-section-5-14 {
          right: 0.5rem;
        }
      }

      //----------------- COLUMN 6 ------------------/

      .south-column-6 {
      
        // ---------- Oh Jesus Christ --------- //
        .sub-section-6-2 {
          right: -0.4rem;
        }
      }
    }
  }
}

// ---------------- Max-Height: 700px and Max-Width: 1370px --------------- //

@media screen and (max-height: 700px) and (max-width: 1380px) {
  .main-room-south-container {
    
    .main-room-south-grid {
      width: 86.5%;
      height: 37.2rem;
      gap: 0px;
      margin-top: 0rem;

      //----------------- COLUMN 2 ------------------//

      .south-column-2 {
        
        // ---------- Meeting the Devil With My Cello --------- //
        .sub-section-2-2 {
          top: 13.2rem;
        }
        
        // ---------- Retired From Bull Ring --------- //
        .sub-section-2-3 {
          width: 3.4rem;
        }
        
        // ----------King of Cats --------- //
        .sub-section-2-4 {
          top: 17.2rem;
          width: 1.5rem;
        }
      
        // ---------- Egged On --------- //
        .sub-section-2-5 {
          top: 17.2rem;
          width: 1.55rem;
        }  
      }

      //----------------- COLUMN 3 ------------------//
    
      .south-column-3 {

        // ---------- Opera --------- //
        .sub-section-3-2 {
          top: 16.2rem;
          left: 0.7rem;
          width: 3.3rem;
        }
        
      // ---------- State of the World --------- //
      .sub-section-3-3 {
        top: 16.6rem;
        width: 4.7rem;
      }
        
      // ---------- Giant Egg --------- //
      .sub-section-3-4 {
        top: 16.2rem;
        right: -0.3rem;
        width: 3.9rem;
      }
        
        // ---------- I'm Outta Here --------- //
        .sub-section-3-5 {
          bottom: 3.1rem;
        }
      }

      // ---------- Column 4 --------- //
      .south-column-4 {

        // ---------- Painter's Museum --------- //
        .sub-section-4-1 {
          left: 0.5rem;
        }

        // ---------- Private Showing --------- //
        .sub-section-4-2 {
          top: 12.8rem;
          left: 1.2rem;
        }

        // ---------- Roadhouse at the Full Moon --------- //
        .sub-section-4-3 {
          left: 0.9rem;
        }
      }

      //----------------- COLUMN 5 ------------------/
    
      .south-column-5 {

        // ---------- Center Stage --------- //
        .sub-section-5-1 {
          left: 0.7rem;
          width: 13.8rem;
        }
        
        // ---------- Conservationist --------- //
        .sub-section-5-2 {
          top: 2.3rem;
          right: 1.9rem;
        }
        
        // ---------- Spiritual Traveler --------- //
        .sub-section-5-3 {
          top: 11.3rem;
          width: 9.3rem;
        }
        
        // ---------- Be of Good Cheer --------- //
        .sub-section-5-4 {
          // top: 11.3rem;
          left: 10.5rem;
          width: 3.3rem;
        }
        
        // ---------- Years Later He Lit Up A Cigarette --------- //
        .sub-section-5-5 {
          top: 8.3rem;
        }
      
        // ---------- Bob --------- //
        .sub-section-5-6 {
          top: 14.5rem;
          left: 10rem;
          width: 4.3rem;
        }

        // ---------- Questionable Moves --------- //
        .sub-section-5-7 {
          top: 14.3rem;
          right: -0.6rem;
          width: 6.9rem;
        }

      // ---------- Go Back To sea --------- //
      .sub-section-5-8 {
        top: 20.6rem;
        left: 11rem;
        width: 2.7rem;
      }

      // ---------- Dubious --------- //
      .sub-section-5-9 {
        top: 21rem;
      }

      // ---------- Dervish 1 --------- //
      .sub-section-5-10 {
        top: 21rem;
      }

      // ---------- Dervish 2 --------- //
      .sub-section-5-11 {
        top: 21rem;
      }

      // ---------- Helena --------- //
      .sub-section-5-12 {
        top: 21rem;
        left: 7.5rem;
      }


        // ---------- The Soul Breaks the Deal --------- //
        .sub-section-5-13 {
          bottom: 1.7rem;
          left: 2.4rem;
        }

        // ---------- Waiting for the Parting --------- //
        .sub-section-5-14 {
          bottom: 1.2rem;
          right: 0.5rem;
          width: 10.1rem;
        }
      }

      //----------------- COLUMN 6 ------------------/

      .south-column-6 {
      
        // ---------- Oh Jesus Christ --------- //
        .sub-section-6-2 {
          right: -0.4rem;
          width: 18.2rem;
        }
      }
    }
  }
}

// --------------- Max-Width: 1280px ----------------- //

@media screen and (max-width: 1280px) {
  .main-room-south-container {

    .main-room-south-grid {
      width: 91%;
      height: 35.8rem;
      gap: 5px;

      //----------------- COLUMN 1 ------------------//

    .south-column-1 {

      // ---------- Purification --------- //
      .sub-section-1-1 {
        top: 3rem;
        right: 0;
        width: 4.8rem;
      }
      
      // ---------- Resist --------- //  
      .sub-section-1-2 {
        top: 8.8rem;
        right: 0;
        width: 4.8rem;
      }
    }
    //----------------- COLUMN 2 ------------------//

    .south-column-2 {

      // ---------- Reconstructive Surgery 2 --------- //
      .sub-section-2-1 {
        width: 11.8rem;
      }
        
      // ---------- Meeting the Devil With My Cello --------- //
      .sub-section-2-2 {
        top: 12.8rem;
        left: 1.3rem;
        width: 6rem;
      }
        
      // ---------- Retired From Bull Ring --------- //
      .sub-section-2-3 {
        top: 11.8rem;
        right: 1.5rem;
        width: 3.2rem;
      }
        
      // ----------King of Cats --------- //
      .sub-section-2-4 {
        top: 16.4rem;
        right: 3.3rem;
        width: 1.5rem;
      }
      
      // ---------- Egged On --------- //
      .sub-section-2-5 {
        top: 16.4rem;
        right: 1.5rem;
        width: 1.6rem;
     }  

      // ---------- You've Gone Too far --------- //
      .sub-section-2-6 {
        bottom: 1.3rem;
        width: 12.4rem;
     }  
    }
    
    //----------------- COLUMN 3 ------------------//
    
    .south-column-3 {
      
      // ---------- Looking Ahead --------- //
      .sub-section-3-1 {
        top: 0;
        right: 0.8rem;
        width: 11.9rem;
      }
        
      // ---------- Opera --------- //
      .sub-section-3-2 {
        top: 15.8rem;
        left: 0.5rem;
        width: 3.1rem;
      }
        
      // ---------- State of the World --------- //
      .sub-section-3-3 {
        top: 16.1rem;
        left: 4.6rem;
        width: 4.4rem;
      }
        
      // ---------- Giant Egg --------- //
      .sub-section-3-4 {
        top: 15.8rem;
        right: 0rem;
        width: 3.7rem;
      }
        
      // ---------- I'm Outta Here --------- //
      .sub-section-3-5 {
        bottom: 2.5rem;
        left: 0.5rem;
        width: 13.3rem;
      }
    }

      // ---------- Column 4 --------- //
      .south-column-4 {
      
        // ---------- Painter's Museum --------- //
        .sub-section-4-1 {
          left: 0.5rem;
          width: 14.5rem;
        }
      
        // ---------- Private Showing --------- //
        .sub-section-4-2 {
          top: 12.4rem;
          left: 1.1rem;
          width: 13.1rem;
        }
      
        // ---------- Roadhouse at the Full Moon --------- //
        .sub-section-4-3 {
          left: 0.7rem;
          width: 15.8rem;
        }
      }

      //----------------- COLUMN 5 ------------------/
    
      .south-column-5 {

        // ---------- Center Stage --------- //
      .sub-section-5-1 {
        left: 0.5rem;
        width: 13.2rem;
      }
        
        // ---------- Conservationist --------- //
        .sub-section-5-2 {
          top: 2rem;
          right: 2rem;
          width: 3.9rem;
        }
        
        // ---------- Spiritual Traveler --------- //
        .sub-section-5-3 {
          top: 10.8rem;
          left: -0.3rem;
          width: 8.9rem;
        }
        
        // ---------- Be of Good Cheer --------- //
        .sub-section-5-4 {
          top: 10.8rem;
          left: 9.6rem;
          width: 3.2rem;
        }
        
        // ---------- Years Later He Lit Up A Cigarette --------- //
        .sub-section-5-5 {
          top: 7.9rem;
          right: 2rem;
          width: 3.9rem;
        }
      
        // ---------- Bob --------- //
        .sub-section-5-6 {
          top: 14.1rem;
          left: 9.4rem;
          width: 4rem;
        }

        // ---------- Questionable Moves --------- //
        .sub-section-5-7 {
          right: 0.1rem;
          top: 14rem;
          width: 6.4rem;
        }

      // ---------- Go Back To sea --------- //
      .sub-section-5-8 {
        top: 19.9rem;
        left: 10.7rem;
        width: 2.6rem;
      }

      // ---------- Dubious --------- //
      .sub-section-5-9 {
        top: 20.2rem;
        left: -0.3rem;
        width: 2.5rem;
      }

      // ---------- Dervish 1 --------- //
      .sub-section-5-10 {
        top: 20.2rem;
        left: 4.9rem;
        width: 1.4rem;
      }

        // ---------- Dervish 2 --------- //
        .sub-section-5-11 {
          top: 20.2rem;
          left: 3.1rem;
          width: 1.4rem;
        }

        // ---------- Helena --------- //
        .sub-section-5-12 {
          top: 20.2rem;
          left: 7.1rem;
          width: 2.4rem;
        }


        // ---------- The Soul Breaks the Deal --------- //
        .sub-section-5-13 {
          bottom: 1.4rem;
          left: 1.8rem;
          width: 6.8rem;
        }

        // ---------- Waiting for the Parting --------- //
        .sub-section-5-14 {
          bottom: 1.2rem;
          right: 0.8rem;
          width: 9.6rem;
        }
      }

      //----------------- COLUMN 6 ------------------/

      .south-column-6 {

        // ---------- Higher --------- //
        .sub-section-6-1 {
          top: 1.4rem;
          left: -1rem;
          width: 14.5rem;
        }
      
        // ---------- Oh Jesus Christ --------- //
        .sub-section-6-2 {
          right: 0.5rem;
          bottom: 0.8rem;
          width: 17.4rem;
        }
      }
    }
  }
}

// --------------- Max-Width: 1220px ----------------- //

@media screen and (max-width: 1220px) {
  .main-room-south-container {

    .main-room-south-grid {
      width: 91%;
      height: 35.6rem;
      grid-template-columns: 1.8fr 4.4fr 4.7fr 5.3fr 7.3fr 6.2fr;
      gap: 5px;

      // .section {
      //   border: 1px solid #d5d5d5;
      // }

      //----------------- COLUMN 1 ------------------//

    .south-column-1 {

      // ---------- Purification --------- //
      .sub-section-1-1 {
        top: 2.8rem;
        right: 0;
        width: 4.7rem;
      }
      
      // ---------- Resist --------- //  
      .sub-section-1-2 {
        top: 8.6rem;
        right: 0;
        width: 4.7rem;
      }
    }
    //----------------- COLUMN 2 ------------------//

    .south-column-2 {

      // ---------- Reconstructive Surgery 2 --------- //
      .sub-section-2-1 {
        width: 11.7rem;
      }
        
      // ---------- Meeting the Devil With My Cello --------- //
      .sub-section-2-2 {
        top: 12.7rem;
        left: 1.1rem;
        width: 5.8rem;
      }
        
      // ---------- Retired From Bull Ring --------- //
      .sub-section-2-3 {
        top: 11.8rem;
        right: 1.3rem;
        width: 3.1rem;
      }
        
      // ----------King of Cats --------- //
      .sub-section-2-4 {
        top: 16.3rem;
        right: 3.1rem;
        width: 1.4rem;
      }
      
      // ---------- Egged On --------- //
      .sub-section-2-5 {
        top: 16.3rem;
        right: 1.3rem;
        width: 1.5rem;
     }  

      // ---------- You've Gone Too far --------- //
      .sub-section-2-6 {
        bottom: 1.4rem;
        left: -0.2rem;
        width: 12.2rem;
     }  
    }
    
    //----------------- COLUMN 3 ------------------//
    
    .south-column-3 {
      
      // ---------- Looking Ahead --------- //
      .sub-section-3-1 {
        right: 0.6rem;
        width: 11.9rem;
      }
        
      // ---------- Opera --------- //
      .sub-section-3-2 {
        top: 15.8rem;
        left: 0.3rem;
      }
        
      // ---------- State of the World --------- //
      .sub-section-3-3 {
        top: 16.1rem;
        left: 4.3rem;
      }
        
      // ---------- Giant Egg --------- //
      .sub-section-3-4 {
        top: 15.8rem;
        right: -0.2rem;
      }
        
      // ---------- I'm Outta Here --------- //
      .sub-section-3-5 {
        bottom: 2.7rem;
        left: 0.3rem;
        width: 13rem;
      }
    }

      // ---------- Column 4 --------- //
      .south-column-4 {
      
        // ---------- Painter's Museum --------- //
        .sub-section-4-1 {
          left: 0.3rem;
          width: 14.2rem;
        }
      
        // ---------- Private Showing --------- //
        .sub-section-4-2 {
          top: 12.4rem;
          left: 1rem;
          width: 12.9rem;
        }
      
        // ---------- Roadhouse at the Full Moon --------- //
        .sub-section-4-3 {
          left: 0.7rem;
          width: 15.3rem;
        }
      }

      //----------------- COLUMN 5 ------------------/
    
      .south-column-5 {

        // ---------- Center Stage --------- //
      .sub-section-5-1 {
        left: 0.6rem;
        width: 13.2rem;
      }
        
        // ---------- Conservationist --------- //
        .sub-section-5-2 {
          top: 2rem;
          right: 1.8rem;
          width: 3.8rem;
        }
        
        // ---------- Spiritual Traveler --------- //
        .sub-section-5-3 {
          top: 10.8rem;
          left: 0.1rem;
          width: 8.7rem;
        }
        
        // ---------- Be of Good Cheer --------- //
        .sub-section-5-4 {
          top: 10.8rem;
          left: 9.8rem;
          width: 3.2rem;
        }
        
        // ---------- Years Later He Lit Up A Cigarette --------- //
        .sub-section-5-5 {
          top: 7.9rem;
          right: 1.8rem;
          width: 3.8rem;
        }
      
        // ---------- Bob --------- //
        .sub-section-5-6 {
          top: 14rem;
          left: 9.7rem;
          width: 3.9rem;
        }

        // ---------- Questionable Moves --------- //
        .sub-section-5-7 {
          top: 13.95rem;
          right: -0.4rem;
          width: 6.3rem;
        }

      // ---------- Go Back To sea --------- //
      .sub-section-5-8 {
        top: 19.85rem;
        left: 10.7rem;
        width: 2.5rem;
      }

      // ---------- Dubious --------- //
      .sub-section-5-9 {
        top: 20rem;
        left: 0.1rem;
        width: 2.4rem;
      }

      // ---------- Dervish 1 --------- //
      .sub-section-5-10 {
        top: 20rem;
        left: 5.1rem;
        width: 1.3rem;
      }

        // ---------- Dervish 2 --------- //
        .sub-section-5-11 {
          top: 20rem;
          left: 3.4rem;
          width: 1.3rem;
        }

        // ---------- Helena --------- //
        .sub-section-5-12 {
          top: 20rem;
          left: 7.2rem;
          width: 2.4rem;
        }


        // ---------- The Soul Breaks the Deal --------- //
        .sub-section-5-13 {
          bottom: 1.6rem;
          left: 2.4rem;
          width: 6.5rem;
        }

        // ---------- Waiting for the Parting --------- //
        .sub-section-5-14 {
          bottom: 1.4rem;
          right: 0.6rem;
          width: 9.3rem;
        }
      }

      //----------------- COLUMN 6 ------------------/

      .south-column-6 {

        // ---------- Higher --------- //
        .sub-section-6-1 {
          top: 1.6rem;
          left: -1rem;
          width: 14.3rem;
        }
      
        // ---------- Oh Jesus Christ --------- //
        .sub-section-6-2 {
          right: -0.2rem;
          bottom: 1rem;
          width: 16.7rem;
        }
      }
    }
  }
}

// --------------- Max-Width: 1200px ----------------- //

@media screen and (max-width: 1200px) {
  .main-room-south-container {

    .main-room-south-grid {
      width: 91.5%;

      // .section {
      //   border: 1px solid #d5d5d5;
      // }

      // ---------- Column 4 --------- //
      .south-column-4 {
      
        // ---------- Roadhouse at the Full Moon --------- //
        .sub-section-4-3 {
          left: 0.8rem;
        }
      }

      //----------------- COLUMN 5 ------------------/
    
      .south-column-5 {

        // ---------- Dervish 1 --------- //
        .sub-section-5-10 {
          left: 5rem;
        }

        // ---------- Dervish 2 --------- //
        .sub-section-5-11 {
          left: 3.3rem;
        }

        // ---------- The Soul Breaks the Deal --------- //
        .sub-section-5-13 {
          left: 2.45rem;
        }
      }
    }
  }
}

// --------------- Max-Width: 1185px ----------------- //

@media screen and (max-width: 1185px) {
  .main-room-south-container {

    .main-room-south-grid {

      //----------------- COLUMN 5 ------------------/
    
      .south-column-5 {
        
        // ---------- Conservationist --------- //
        .sub-section-5-2 {
          top: 2.1rem;
          right: 1.6rem;
        }
        
        // ---------- Be of Good Cheer --------- //
        .sub-section-5-4 {
          left: 9.7rem;
        }
        
        // ---------- Years Later He Lit Up A Cigarette --------- //
        .sub-section-5-5 {
          right: 1.6rem;
        }
      
        // ---------- Bob --------- //
        .sub-section-5-6 {
          left: 9.55rem;
        }

        // ---------- The Soul Breaks the Deal --------- //
        .sub-section-5-13 {
          left: 2.6rem;
        }

        // ---------- Waiting for the Parting --------- //
        .sub-section-5-14 {
          right: 0.35rem;
        }
      }

      //----------------- COLUMN 6 ------------------/

      .south-column-6 {
      
        // ---------- Oh Jesus Christ --------- //
        .sub-section-6-2 {
          right: -0.4rem;
        }
      }
    }
  }
}

// --------------- Max-Width: 1140px ----------------- //

@media screen and (max-width: 1140px) {
  .main-room-south-container {

    .main-room-south-grid {
      width: 91.5%;
      height: 33.8rem;
      grid-template-columns: 1.7fr 4.4fr 4.7fr 5.3fr 7.4fr 6.2fr;
      // gap: 5px;

      // .section {
      //   border: 1px solid #d5d5d5;
      // }

      //----------------- COLUMN 1 ------------------//

    .south-column-1 {

      // ---------- Purification --------- //
      .sub-section-1-1 {
        top: 2.8rem;
        right: 0;
        width: 4.4rem;
      }
      
      // ---------- Resist --------- //  
      .sub-section-1-2 {
        top: 8.6rem;
        right: 0;
        width: 4.4rem;
      }
    }
    //----------------- COLUMN 2 ------------------//

    .south-column-2 {

      // ---------- Reconstructive Surgery 2 --------- //
      .sub-section-2-1 {
        width: 11.3rem;
      }
        
      // ---------- Meeting the Devil With My Cello --------- //
      .sub-section-2-2 {
        top: 12.2rem;
        left: 1rem;
        width: 5.6rem;
      }
        
      // ---------- Retired From Bull Ring --------- //
      .sub-section-2-3 {
        top: 11.4rem;
        right: 1.3rem;
        width: 3rem;
      }
        
      // ----------King of Cats --------- //
      .sub-section-2-4 {
        top: 15.8rem;
        right: 3.1rem;
        width: 1.3rem;
      }
      
      // ---------- Egged On --------- //
      .sub-section-2-5 {
        top: 15.8rem;
        right: 1.3rem;
        width: 1.4rem;
     }  

      // ---------- You've Gone Too far --------- //
      .sub-section-2-6 {
        bottom: 0.9rem;
        left: 0rem;
        width: 11.7rem;
     }  
    }
    
    //----------------- COLUMN 3 ------------------//
    
    .south-column-3 {
      
      // ---------- Looking Ahead --------- //
      .sub-section-3-1 {
        right: 0.7rem;
        width: 11.2rem;
      }
        
      // ---------- Opera --------- //
      .sub-section-3-2 {
        top: 14.9rem;
        left: 0.1rem;
        width: 3rem;
      }
        
      // ---------- State of the World --------- //
      .sub-section-3-3 {
        top: 15.2rem;
        left: 3.9rem;
        width: 4.3rem;
      }
        
      // ---------- Giant Egg --------- //
      .sub-section-3-4 {
        top: 14.9rem;
        right: 0rem;
        width: 3.6rem;
      }
        
      // ---------- I'm Outta Here --------- //
      .sub-section-3-5 {
        bottom: 2.4rem;
        left: 0.4rem;
        width: 12.4rem;
      }
    }

      // ---------- Column 4 --------- //
      .south-column-4 {
      
        // ---------- Painter's Museum --------- //
        .sub-section-4-1 {
          left: 0.3rem;
          width: 13.7rem;
        }
      
        // ---------- Private Showing --------- //
        .sub-section-4-2 {
          top: 11.8rem;
          left: 1.1rem;
          width: 12.5rem;
        }
      
        // ---------- Roadhouse at the Full Moon --------- //
        .sub-section-4-3 {
          // bottom: 0.8rem;
          left: 0.7rem;
          width: 14.6rem;
        }
      }

      //----------------- COLUMN 5 ------------------/
    
      .south-column-5 {

        // ---------- Center Stage --------- //
      .sub-section-5-1 {
        left: 0.9rem;
        width: 12.8rem;
      }
        
        // ---------- Conservationist --------- //
        .sub-section-5-2 {
          // top: 2rem;
          right: 1.7rem;
          width: 3.7rem;
        }
        
        // ---------- Spiritual Traveler --------- //
        .sub-section-5-3 {
          top: 10.4rem;
          left: 0.2rem;
          width: 8.5rem;
        }
        
        // ---------- Be of Good Cheer --------- //
        .sub-section-5-4 {
          top: 10.6rem;
          left: 9.9rem;
          width: 3.1rem;
        }
        
        // ---------- Years Later He Lit Up A Cigarette --------- //
        .sub-section-5-5 {
          top: 7.8rem;
          right: 1.7rem;
          width: 3.7rem;
        }
      
        // ---------- Bob --------- //
        .sub-section-5-6 {
          top: 13.7rem;
          left: 9.8rem;
          width: 3.7rem;
        }

        // ---------- Questionable Moves --------- //
        .sub-section-5-7 {
          top: 13.7rem;
          right: -0.2rem;
          width: 5.9rem;
        }

      // ---------- Go Back To sea --------- //
      .sub-section-5-8 {
        top: 19.1rem;
        // left: 10.7rem;
        width: 2.4rem;
      }

      // ---------- Dubious --------- //
      .sub-section-5-9 {
        top: 19.4rem;
        left: 0.2rem;
        width: 2.3rem;
      }

      // ---------- Dervish 1 --------- //
      .sub-section-5-10 {
        top: 19.4rem;
        left: 5rem;
        width: 1.3rem;
      }

        // ---------- Dervish 2 --------- //
        .sub-section-5-11 {
          top: 19.4rem;
          left: 3.4rem;
          width: 1.3rem;
        }

        // ---------- Helena --------- //
        .sub-section-5-12 {
          top: 19.4rem;
          left: 7.2rem;
          width: 2.3rem;
        }


        // ---------- The Soul Breaks the Deal --------- //
        .sub-section-5-13 {
          bottom: 1.3rem;
          left: 2.3rem;
          width: 6.2rem;
        }

        // ---------- Waiting for the Parting --------- //
        .sub-section-5-14 {
          bottom: 0.8rem;
          right: 0.7rem;
          width: 9.1rem;
        }
      }

      //----------------- COLUMN 6 ------------------/

      .south-column-6 {

        // ---------- Higher --------- //
        .sub-section-6-1 {
          top: 1.5rem;
          left: -0.7rem;
          width: 14rem;
        }
      
        // ---------- Oh Jesus Christ --------- //
        .sub-section-6-2 {
          right: -0.1rem;
          bottom: 0.8rem;
          width: 16.2rem;
        }
      }
    }
  }
}

// --------------- Max-Width: 960px ----------------- //

@media screen and (max-width: 960px) {
  .main-room-south-container {

    .main-room-south-grid {
      width: 90.5%;
      height: 30.5rem;
      grid-template-columns: 1.7fr 4.4fr 4.7fr 5.3fr 7.3fr 6.3fr;

      // .section {
      //   border: 1px solid #d3d3d3;
      // }

      //----------------- COLUMN 1 ------------------//

    .south-column-1 {

      // ---------- Purification --------- //
      .sub-section-1-1 {
        top: 2.2rem;
        right: 0;
        width: 4.1rem;
      }
      
      // ---------- Resist --------- //  
      .sub-section-1-2 {
        top: 7.4rem;
        right: 0;
        width: 4.1rem;
      }
    }

    //----------------- COLUMN 2 ------------------//

    .south-column-2 {

      // ---------- Reconstructive Surgery 2 --------- //
      .sub-section-2-1 {
        width: 10.2rem;
      }
        
      // ---------- Meeting the Devil With My Cello --------- //
      .sub-section-2-2 {
        top: 10.9rem;
        left: 0.9rem;
        width: 5.2rem;
      }
        
      // ---------- Retired From Bull Ring --------- //
      .sub-section-2-3 {
        top: 10.1rem;
        right: 1.1rem;
        width: 2.8rem;
      }
        
      // ----------King of Cats --------- //
      .sub-section-2-4 {
        top: 14.1rem;
        right: 2.7rem;
        width: 1.2rem;
      }
      
      // ---------- Egged On --------- //
      .sub-section-2-5 {
        top: 14.1rem;
        right: 1.1rem;
        width: 1.3rem;
      }  

      // ---------- You've Gone Too far --------- //
      .sub-section-2-6 {
        bottom: 0.8rem;
        left: 0rem;
        width: 10.65rem;
      }  
    }
    
    //----------------- COLUMN 3 ------------------//
    
    .south-column-3 {
      
      // ---------- Looking Ahead --------- //
      .sub-section-3-1 {
        right: 0.7rem;
        width: 10.1rem;
      }
        
      // ---------- Opera --------- //
      .sub-section-3-2 {
        top: 13.4rem;
        left: 0.1rem;
        width: 2.7rem;
      }
        
      // ---------- State of the World --------- //
      .sub-section-3-3 {
        top: 13.6rem;
        left: 3.5rem;
        width: 3.9rem;
      }
        
      // ---------- Giant Egg --------- //
      .sub-section-3-4 {
        top: 13.4rem;
        right: 0rem;
        width: 3.3rem;
      }
        
      // ---------- I'm Outta Here --------- //
      .sub-section-3-5 {
        bottom: 2.1rem;
        left: 0.2rem;
        width: 11.3rem;
      }
    }

      // ---------- Column 4 --------- //
      .south-column-4 {
      
        // ---------- Painter's Museum --------- //
        .sub-section-4-1 {
          left: 0.3rem;
          width: 12.4rem;
        }
      
        // ---------- Private Showing --------- //
        .sub-section-4-2 {
          top: 10.55rem;
          left: 1rem;
          width: 11.2rem;
        }
      
        // ---------- Roadhouse at the Full Moon --------- //
        .sub-section-4-3 {
          // bottom: 0.8rem;
          left: 0.5rem;
          width: 13.3rem;
        }
      }

      //----------------- COLUMN 5 ------------------/
    
      .south-column-5 {

        // ---------- Center Stage --------- //
      .sub-section-5-1 {
        left: 0.7rem;
        width: 11.4rem;
      }
        
        // ---------- Conservationist --------- //
        .sub-section-5-2 {
          top: 1.5rem;
          right: 1.5rem;
          width: 3.3rem;
        }
        
        // ---------- Spiritual Traveler --------- //
        .sub-section-5-3 {
          top: 9.4rem;
          left: 0.1rem;
          width: 7.5rem;
        }
        
        // ---------- Be of Good Cheer --------- //
        .sub-section-5-4 {
          top: 9.4rem;
          left: 8.7rem;
          width: 2.7rem;
        }
        
        // ---------- Years Later He Lit Up A Cigarette --------- //
        .sub-section-5-5 {
          top: 6.5rem;
          right: 1.5rem;
          width: 3.3rem;
        }
      
        // ---------- Bob --------- //
        .sub-section-5-6 {
          top: 11.8rem;
          left: 8.4rem;
          width: 3.5rem;
        }

        // ---------- Questionable Moves --------- //
        .sub-section-5-7 {
          top: 11.7rem;
          right: -0.1rem;
          width: 5.4rem;
        }

      // ---------- Go Back To sea --------- //
      .sub-section-5-8 {
        top: 16.85rem;
        left: 9.5rem;
        width: 2.2rem;
      }

      // ---------- Dubious --------- //
      .sub-section-5-9 {
        top: 17.3rem;
        left: 0.1rem;
        width: 2.1rem;
      }

      // ---------- Dervish 1 --------- //
      .sub-section-5-10 {
        top: 17.3rem;
        left: 4.5rem;
        width: 1.2rem;
      }

        // ---------- Dervish 2 --------- //
        .sub-section-5-11 {
          top: 17.3rem;
          left: 2.9rem;
          width: 1.2rem;
        }

        // ---------- Helena --------- //
        .sub-section-5-12 {
          top: 17.3rem;
          left: 6.4rem;
          width: 2rem;
        }

        // ---------- The Soul Breaks the Deal --------- //
        .sub-section-5-13 {
          bottom: 1.1rem;
          left: 1.75rem;
          width: 5.8rem;
        }

        // ---------- Waiting for the Parting --------- //
        .sub-section-5-14 {
          bottom: 1rem;
          right: 0.7rem;
          width: 8.4rem;
        }
      }

      //----------------- COLUMN 6 ------------------/

      .south-column-6 {

        // ---------- Higher --------- //
        .sub-section-6-1 {
          top: 0.9rem;
          left: -0.7rem;
          width: 12.5rem;
        }
      
        // ---------- Oh Jesus Christ --------- //
        .sub-section-6-2 {
          right: 0.4rem;
          bottom: 0.8rem;
          width: 14.8rem;
        }
      }
    }
  }
}

// --------------- Max-Width 780px ---------------- //

@media screen and (max-width: 780px) {
  .main-room-south-container {
  
    .main-room-south-grid {
      width: 91%;
      height: 31rem;
      grid-template-columns: 1.7fr 4.4fr 4.66fr 5.26fr 7.34fr 6.34fr;

      //----------------- COLUMN 2 ------------------//

    .south-column-2 {

      // ---------- Reconstructive Surgery 2 --------- //
      .sub-section-2-1 {
        left: 0.3rem;
      }
        
      // ---------- Meeting the Devil With My Cello --------- //
      .sub-section-2-2 {
        top: 11rem;
      }
        
      // ---------- Retired From Bull Ring --------- //
      .sub-section-2-3 {
        top: 10.2rem;
        right: 0.9rem;
      }
        
      // ----------King of Cats --------- //
      .sub-section-2-4 {
        top: 14.2rem;
        right: 2.5rem;
      }
      
      // ---------- Egged On --------- //
      .sub-section-2-5 {
        top: 14.2rem;
        right: 0.9rem;
     }  

     // ---------- You've Gone Too far --------- //
      .sub-section-2-6 {
        bottom: 1.3rem;
        left: -0.1rem;
      } 
    }

      //----------------- COLUMN 3 ------------------//
    
      .south-column-3 {
      
        // ---------- Looking Ahead --------- //
        .sub-section-3-1 {
          right: 0.6rem;
          width: 10.2rem;
        }
        
        // ---------- Opera --------- //
        .sub-section-3-2 {
          top: 13.5rem;
          left: 0.3rem;
        }
        
        // ---------- State of the World --------- //
        .sub-section-3-3 {
          top: 13.7rem;
          left: 3.7rem;
        }
        
        // ---------- Giant Egg --------- //
        .sub-section-3-4 {
          top: 13.5rem;
          right: -0.3rem;
        }
        
        // ---------- I'm Outta Here --------- //
        .sub-section-3-5 {
          bottom: 2.6rem;
          left: 0.4rem;
        }
      }

      // ---------- Column 4 --------- //
      .south-column-4 {
      
        // ---------- Painter's Museum --------- //
        .sub-section-4-1 {
          left: 0.3rem;
          width: 12.4rem;
        }
      
        // ---------- Private Showing --------- //
        .sub-section-4-2 {
          top: 10.55rem;
          left: 1rem;
          width: 11.2rem;
        }
      
        // ---------- Roadhouse at the Full Moon --------- //
        .sub-section-4-3 {
          bottom: 1.3rem;
          left: 0.7rem;
        }
      }

      //----------------- COLUMN 5 ------------------/
    
      .south-column-5 {

        // ---------- Conservationist --------- //
        .sub-section-5-2 {
          right: 1.3rem;
        }
        
        // ---------- Be of Good Cheer --------- //
        .sub-section-5-4 {
          left: 8.8rem;
        }
        
        // ---------- Years Later He Lit Up A Cigarette --------- //
        .sub-section-5-5 {
          right: 1.3rem;
        }
      
        // ---------- Bob --------- //
        .sub-section-5-6 {
          top: 11.9rem;
        }

        // ---------- The Soul Breaks the Deal --------- //
        .sub-section-5-13 {
          bottom: 1.6rem;
          left: 1.9rem;
          width: 5.8rem;
        }

        // ---------- Waiting for the Parting --------- //
        .sub-section-5-14 {
          bottom: 1.5rem;
          right: 0.5rem;
        }
      }

      //----------------- COLUMN 6 ------------------/

      .south-column-6 {

        // ---------- Higher --------- //
        .sub-section-6-1 {
          top: 1rem;
        }
      
        // ---------- Oh Jesus Christ --------- //
        .sub-section-6-2 {
          right: 0.2rem;
          bottom: 1.2rem;
          width: 14.9rem;
        }
      }
    }
  }
}