// ------------ Stairwell Room ----------- //
.stairwell-south-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  .stairwell-south-grid {
    width: 85%;
    height: 40rem;
    display: grid;
    grid-template-columns: 2.2fr 2.3fr 1.1fr 0.9fr 1.3fr;
    gap: 0;

    //----------------- COLUMN 1 ------------------//

    .stairwell-south-column-1 {
      position: relative;
      display: flex;
      justify-content: center;
      background: linear-gradient(200deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.04));
      filter: blur(1px);
      opacity: 0.4;

      img {
        cursor: auto;
      }

      // ---------- Door --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 0.7rem;
        right: 0.4rem;

        .white-door-frame {
          width: 14.4rem;

          .white-door {
            width: 11.6rem;
          }
        }       
      }

      // ---------- Stairs --------- //
      .stairs-container.sub-section-1-2 {
        position: absolute;
        bottom: 0;
        right: 0;
        

        .steps-container {
          display: block;
          height: 15rem;
          width: 16.2rem;
          background-color: #b5b5b5;

          .steps {
            width: 16.2rem;
          }
          
          .step-1 {
            top: 0;
          }
          .step-2 {
            top: 2.5rem;
          }
          .step-3 {
            top: 5rem;
          }
          .step-4 {
            top: 7.5rem;
          }
          .step-5 {
            top: 10rem;
          }
          .step-6 {
            top: 12.5rem;
          }
        }
      }

      // ---------- Trip With My Brother --------- //
      .sub-section-1-3 {
        position: absolute;
        top: 3.3rem;
        left: 1.4rem;
        width: 10.8rem;
      }
        
      // ---------- Best of Show --------- //
      .sub-section-1-4 {
        position: absolute;
        top: 15rem;
        left: 2.2rem;
        width: 4.2rem;
      }
        
      // ---------- Sainted --------- //
      .sub-section-1-5 {
        position: absolute;
        top: 19rem;
        left: 2.2rem;
        width: 4.2rem;
      }
          
      // ---------- Six Dogs --------- //
      .sub-section-1-6 {
        position: absolute;
        top: 14.1rem;
        left: 7.7rem;
        width: 3.8rem;
      }
          
      // ---------- We Were Fighting --------- //
      .sub-section-1-7{
        position: absolute;
        top: 19.9rem;
        left: 7.7rem;
        width: 3.4rem;
      }
    }
    
    //----------------- COLUMN 2 ------------------//

    .stairwell-south-column-2 {
      position: relative;
      display: flex;
      border-left: 2px solid #ececec;

      // ---------- Nothing Makes Sense --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 6.4rem;
        left: 1.5rem;
        width: 2.2rem;
      }

      // ---------- Where Are You Going --------- //  
      .sub-section-2-2 {
        position: absolute;
        top: 6rem;
        left: 5.4rem;
        width: 3.7rem;
      }

      // ---------- Eggs --------- //
      .sub-section-2-3 {
        position: absolute;
        top: 10.3rem;
        left: 4.3rem;
        width: 5.6rem;
      }

      // ---------- No Mother, Stay in the Rocket Ship --------- //
      .sub-section-2-4 {
        position: absolute;
        top: 7rem;
        left: 11.4rem;
        width: 4rem;
      }

      // ---------- Divas --------- //
      .sub-section-2-5 {
        position: absolute;
        top: 12.8rem;
        left: 10.8rem;
        width: 5.2rem;
      }

      // ---------- A Cold Wind --------- //
      .sub-section-2-6 {
        position: absolute;
        top: 8.6rem;
        right: 7.7rem;
        width: 4rem;
      }

      // ---------- Voices of Doom --------- //
      .sub-section-2-7 {
        position: absolute;
        top: 15.9rem;
        right: 6.4rem;
        width: 6.7rem;
      }

      // ---------- Unholy Matrimony --------- //
      .sub-section-2-8 {
        position: absolute;
        top: 7.8rem;
        right: -0.5rem;
        width: 6.2rem;
      }

      // ---------- Anger --------- //
      .sub-section-2-9 {
        position: absolute;
        top: 12.6rem;
        right: 0.8rem;
        width: 3.8rem;
      }

      // ---------- Overqualified --------- //
      .sub-section-2-10 {
        position: absolute;
        top: 18.6rem;
        right: 0;
        width: 5.6rem;
      }
    }

    //----------------- COLUMN 3 ------------------//

    .stairwell-south-column-3 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      
      // ---------- Peghead --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 0.9rem;
        width: 6rem;
      }
      // ---------- Decoration --------- //
      .sub-section-3-2 {
        position: absolute;
        top: 9.5rem;
        width: 7.8rem;
      }

      .sub-section-3-3 {
        position: absolute;
        bottom: 0;

        .white-door {
          width: 12rem;
          height: 23.5rem;
          background: linear-gradient(195deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.11));
          border-top: 3px solid #c5c5c5;
          border-left: 2px solid #ccc;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
    
    //----------------- COLUMN 4 ------------------//
    
    .stairwell-south-column-4 {
      position: relative;
      display: flex;
      justify-content: center;
      border-right: 2px solid #ececec;

      
      // ---------- Re-Entry was Rough --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 4.65rem;
        left: -1.2rem;
        width: 6.2rem;
      }
        
      // ---------- Older but Wiser --------- //
      .sub-section-4-2 {
        position: absolute;
        top: 10.6rem;
        left: -0.9rem;
        width: 3.9rem;
      }
        
      // ---------- Worker --------- //
      .sub-section-4-3 {
        position: absolute;
        top: 10.6rem;
        left: 4.1rem;
        width: 3.7rem;
      }
        
      // ---------- Demo --------- //
      .sub-section-4-4 {
        position: absolute;
        top: 15.9rem;
        left: 2.85rem;
        width: 5.7rem;
      }
        
      // ---------- Bent Note --------- //
      .sub-section-4-5 {
        position: absolute;
        top: 21.6rem;
        left: 2.8rem;
        width: 5.7rem;
      }
    }

    .stairwell-south-column-5 {
      position: relative;
      display: flex;
      justify-content: center;
      background: linear-gradient(160deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.04));
      filter: blur(1px);
      opacity: 0.4;

      img {
        cursor: auto;
      }

      // ---------- No Smoking --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 6.2rem;
        width: 9rem;
      }

      // ---------- Going Downstairs --------- //
      .sub-section-5-2 {
        position: absolute;
        top: 17.85rem;
        right: 12.2rem;
        width: 3.7rem;
      }

      // ---------- The Paint HAdn't Even Dried --------- //
      .sub-section-5-3 {
        position: absolute;
        top: 16.5rem;
        right: 6.9rem;
        width: 4.2rem;
      }

      // ---------- The Heirophant --------- //
      .sub-section-5-4 {
        position: absolute;
        top: 18rem;
        right: 2rem;
        width: 3.9rem;
      }
      
      // ---------- Door --------- //
      .sub-section-5-5 {
        position: absolute;
        bottom: 0;
        right: 1.4rem;

        .white-door-frame {
          height: 17rem;
        }

        .white-door {
          height: 15.7rem;
        }
      }       
    }
  }
}

// ======================== Media Query ======================== //

// ----------------- Max-Width: 1800px ------------------- //

@media screen and (max-width: 1800px) {
  .stairwell-south-container {

    .stairwell-south-grid {
      width: 86%;

      //----------------- COLUMN 1 ------------------//

      .stairwell-south-column-1 {

        // ---------- Trip With My Brother --------- //
        .sub-section-1-3 {
          left: 1rem;
        }
        
        // ---------- Best of Show --------- //
        .sub-section-1-4 {
          left: 1.8rem;
        }
        
        // ---------- Sainted --------- //
        .sub-section-1-5 {
          left: 1.8rem;
        }
        
        // ---------- Six Dogs --------- //
        .sub-section-1-6 {
          left: 7.3rem;
        }
        
        // ---------- We Were Fighting --------- //
        .sub-section-1-7{
          left: 7.3rem;
        }
      }

      //----------------- COLUMN 2 ------------------//

      .stairwell-south-column-2 {

        // ---------- Nothing Makes Sense --------- //
        .sub-section-2-1 {
          left: 1.1rem;
        }

        // ---------- Where Are You Going --------- //  
        .sub-section-2-2 {
          left: 4.7rem;
        }

        // ---------- Eggs --------- //
        .sub-section-2-3 {
          left: 3.6rem;
        }

        // ---------- No Mother, Stay in the Rocket Ship --------- //
        .sub-section-2-4 {
          left: 10.5rem;
        }

        // ---------- Divas --------- //
        .sub-section-2-5 {
          left: 9.9rem;
        }

        // ---------- A Cold Wind --------- //
        .sub-section-2-6 {
          right: 7.6rem;
        }

        // ---------- Voices of Doom --------- //
        .sub-section-2-7 {
          right: 6.3rem;
        }
      }

      //----------------- COLUMN 5 ------------------//

      .stairwell-south-column-5 {

        // ---------- Going Downstairs --------- //
        .sub-section-5-2 {
          right: 11.5rem;
        }

        // ---------- The Paint HAdn't Even Dried --------- //
        .sub-section-5-3 {
          right: 6.2rem;
        }

        // ---------- The Heirophant --------- //
        .sub-section-5-4 {
          right: 1.3rem;
        }
      
        // ---------- Door --------- //
        .sub-section-5-5 {
          right: 0.6rem;      
        }
      }
    }
  }
}

// ----------------- Max-Width: 1760px ------------------- //

@media screen and (max-width: 1760px) {
  .stairwell-south-container {

    .stairwell-south-grid {
      // width: 86%;
      grid-template-columns: 2.2fr 2.35fr 1.1fr 0.85fr 1.3fr;

      //----------------- COLUMN 1 ------------------//

      .stairwell-south-column-1 {

        // ---------- Trip With My Brother --------- //
        .sub-section-1-3 {
          left: 0.9rem;
        }
        
        // ---------- Best of Show --------- //
        .sub-section-1-4 {
          left: 1.7rem;
        }
        
        // ---------- Sainted --------- //
        .sub-section-1-5 {
          left: 1.7rem;
        }
        
        // ---------- Six Dogs --------- //
        .sub-section-1-6 {
          left: 7.2rem;
        }
        
        // ---------- We Were Fighting --------- //
        .sub-section-1-7{
          left: 7.2rem;
        }
      }

      //----------------- COLUMN 3 ------------------//

    .stairwell-south-column-3 {

      .sub-section-3-3 {
        right: 0.6rem;
      }
    }

      //----------------- COLUMN 5 ------------------//

      .stairwell-south-column-5 {

        // ---------- Going Downstairs --------- //
        .sub-section-5-2 {
          right: 11.3rem;
        }

        // ---------- The Paint HAdn't Even Dried --------- //
        .sub-section-5-3 {
          right: 6rem;
        }

        // ---------- The Heirophant --------- //
        .sub-section-5-4 {
          right: 1.1rem;
        }
      }
    }
  }
}

// ----------------- Max-Width: 1650px ------------------- //

@media screen and (max-width: 1650px) {
  .stairwell-south-container {

    .stairwell-south-grid {
      grid-template-columns: 2.2fr 2.38fr 1.1fr 0.82fr 1.3fr;

      //----------------- COLUMN 1 ------------------//

      .stairwell-south-column-1 {

        // ---------- Trip With My Brother --------- //
        .sub-section-1-3 {
          left: 0.7rem;
        }
        
        // ---------- Best of Show --------- //
        .sub-section-1-4 {
          left: 1.5rem;
        }
        
        // ---------- Sainted --------- //
        .sub-section-1-5 {
          left: 1.5rem;
        }
        
        // ---------- Six Dogs --------- //
        .sub-section-1-6 {
          left: 7rem;
        }
        
        // ---------- We Were Fighting --------- //
        .sub-section-1-7{
          left: 7rem;
        }
      }

      //----------------- COLUMN 3 ------------------//

      .stairwell-south-column-3 {

        .sub-section-3-3 {
          right: 0.5rem;
        }
      }
    }
  }
}

// ----------------- Max-Width: 1400px ------------------- //

@media screen and (max-width: 1400px) {
  .stairwell-south-container {

    .stairwell-south-grid {
      width: 85%;
      height: 39rem;
      grid-template-columns: 2.19fr 2.42fr 1.09fr 0.8fr 1.35fr;

      //----------------- COLUMN 1 ------------------//

      .stairwell-south-column-1 {

        // ---------- Door --------- //
        .sub-section-1-1 {
          top: 1.5rem;
          right: 0.9rem;

          .white-door-frame {
            width: 13.7rem;
            height: 25rem;

            .white-door {
              width: 10.8rem;
              height: 23.6rem;
            }
          }       
        }

        // ---------- Stairs --------- //
        .stairs-container.sub-section-1-2 {
          bottom: 0;
          right: 0rem;

          .steps-container {
            height: 13.8rem;
            width: 16.2rem;

            .steps {
              width: 16.2rem;
              height: 2.3rem;
            }
            
            .step-1 {
              top: 0;
            }
            .step-2 {
              top: 2.3rem;
            }
            .step-3 {
              top: 4.6rem;
            }
            .step-4 {
              top: 6.9rem;
            }
            .step-5 {
              top: 9.2rem;
            }
            .step-6 {
              top: 11.5rem;
            }
          }
        }

        // ---------- Trip With My Brother --------- //
        .sub-section-1-3 {
          top: 4.5rem;
          left: 1.2rem;
          width: 9.8rem;
        }
          
        // ---------- Best of Show --------- //
        .sub-section-1-4 {
          top: 15rem;
          left: 2rem;
          width: 3.8rem;
        }
          
        // ---------- Sainted --------- //
        .sub-section-1-5 {
          top: 18.5rem;
          left: 2rem;
          width: 3.8rem;
        }
          
        // ---------- Six Dogs --------- //
        .sub-section-1-6 {
          top: 14.2rem;
          left: 6.7rem;
          width: 3.3rem;
        }
          
        // ---------- We Were Fighting --------- //
        .sub-section-1-7{
          top: 19.3rem;
          left: 6.7rem;
          width: 2.9rem;
        }
      }

      //----------------- COLUMN 2 ------------------//

      .stairwell-south-column-2 {

        // ---------- No Mother, Stay in the Rocket Ship --------- //
        .sub-section-2-4 {
          left: 10.7rem;
        }

        // ---------- Divas --------- //
        .sub-section-2-5 {
          left: 10rem;
        }

        // ---------- A Cold Wind --------- //
        .sub-section-2-6 {
          right: 7.7rem;
        }

        // ---------- Voices of Doom --------- //
        .sub-section-2-7 {
          right: 6.4rem;
        }
      }

      //----------------- COLUMN 3 ------------------//

      .stairwell-south-column-3 {
        
        // ---------- Peghead --------- //
        .sub-section-3-1 {
          top: 0.8rem;
          width: 5.8rem;
        }

        // ---------- Decoration --------- //
        .sub-section-3-2 {
          top: 8.9rem;
          width: 7.7rem;
        }

        .sub-section-3-3 {
          left: 1.1rem;

          .white-door {
            width: 12rem;
            height: 23.2rem;
          }
        }
      }

      //----------------- COLUMN 4 ------------------//
    
      .stairwell-south-column-4 {
        
        // ---------- Re-Entry was Rough --------- //
        .sub-section-4-1 {
          top: 4.6rem;
          width: 6.3rem;
        }
          
        // ---------- Older but Wiser --------- //
        .sub-section-4-2 {
          top: 10.3rem;
        }
          
        // ---------- Worker --------- //
        .sub-section-4-3 {
          top: 10.3rem;
          left: 3.9rem;
        }
          
        // ---------- Demo --------- //
        .sub-section-4-4 {
          top: 15.6rem;
          left: 2.6rem;
        }
          
        // ---------- Bent Note --------- //
        .sub-section-4-5 {
          top: 21.2rem;
          left: 2.6rem;
        }
      }

      //----------------- COLUMN 5 ------------------//

      .stairwell-south-column-5 {

        // ---------- No Smoking --------- //
        .sub-section-5-1 {
          top: 5.1rem;
          width: 9rem;
        }

        // ---------- Going Downstairs --------- //
        .sub-section-5-2 {
          top: 16.6rem;
          right: 11.5rem;
        }

        // ---------- The Paint HAdn't Even Dried --------- //
        .sub-section-5-3 {
          top: 15.3rem;
          right: 6.2rem;
        }

        // ---------- The Heirophant --------- //
        .sub-section-5-4 {
          top: 16.88rem;
          right: 1.3rem;
          width: 3.9rem;
        }
        
        // ---------- Door --------- //
        .sub-section-5-5 {
          right: 0.8rem;

          .white-door-frame {
            height: 17.3rem;
            
            .white-door {
              height: 15.9rem;
            }
          }       
        }
      }
    }
  }
}

// ----------------- Max-Width: 1000px ------------------- //

@media screen and (max-width: 1000px) {
  .stairwell-south-container {

    .stairwell-south-grid {
      width: 78.4%;
      height: 35.8rem;
      grid-template-columns: 2.2fr 2.25fr 1.1fr 0.81fr 1.35fr;

      //----------------- COLUMN 1 ------------------//

  .stairwell-south-column-1 {

    // ---------- Door --------- //
    .sub-section-1-1 {
      right: 0.8rem;

      .white-door-frame {
        width: 12.8rem;
        height: 26.3rem;

        .white-door {
          width: 10.2rem;
          height: 24.9rem;
        }
      }       
    }

      // ---------- Stairs --------- //
      .stairs-container.sub-section-1-2 {

        .steps-container {
          width: 15rem;

          .steps {
            width: 15rem;
          }
        }
      }

      // ---------- Trip With My Brother --------- //
      .sub-section-1-3 {
        top: 3.9rem;
        left: 1.1rem;
        width: 8.8rem;
      }
        
      // ---------- Best of Show --------- //
      .sub-section-1-4 {
        top: 13.5rem;
        left: 1.8rem;
        width: 3.6rem;
      }
        
      // ---------- Sainted --------- //
      .sub-section-1-5 {
        top: 16.9rem;
        left: 1.8rem;
        width: 3.6rem;
      }
        
      // ---------- Six Dogs --------- //
      .sub-section-1-6 {
        top: 12.9rem;
        left: 6.3rem;
        width: 3.1rem;
      }
        
      // ---------- We Were Fighting --------- //
      .sub-section-1-7{
        top: 17.8rem;
        left: 6.3rem;
        width: 2.8rem;
      }
    }

      //----------------- COLUMN 2 ------------------//
      
      .stairwell-south-column-2 {
        
        // ---------- Nothing Makes Sense --------- //
        .sub-section-2-1 {
          top: 5rem;
          left: 1.2rem;
          width: 2rem;
        }

        // ---------- Where Are You Going --------- //  
        .sub-section-2-2 {
          top: 4.7rem;
          left: 4.4rem;
          width: 3.1rem;
        }

        // ---------- Eggs --------- //
        .sub-section-2-3 {
          top: 8.7rem;
          left: 3.5rem;
          width: 4.6rem;
        }

        // ---------- No Mother, Stay in the Rocket Ship --------- //
        .sub-section-2-4 {
          top: 5.6rem;
          left: 9.4rem;
          width: 3.3rem;
        }

        // ---------- Divas --------- //
        .sub-section-2-5 {
          top: 10.6rem;
          left: 8.8rem;
          width: 4.4rem;
        }

        // ---------- A Cold Wind --------- //
        .sub-section-2-6 {
          top: 7.1rem;
          right: 6.5rem;
          width: 3.4rem;
        }

        // ---------- Voices of Doom --------- //
        .sub-section-2-7 {
          top: 13.5rem;
          right: 5.2rem;
          width: 5.9rem;
        }

        // ---------- Unholy Matrimony --------- //
        .sub-section-2-8 {
          top: 6.7rem;
          right: -0.8rem;
          width: 5.1rem;
        }

        // ---------- Anger --------- //
        .sub-section-2-9 {
          top: 10.6rem;
          right: 0.3rem;
          width: 3.1rem;
        }

        // ---------- Overqualified --------- //
        .sub-section-2-10 {
          top: 15.6rem;
          right: -0.5rem;
          width: 4.8rem;
        }
      }

      //----------------- COLUMN 3 ------------------//

    .stairwell-south-column-3 {
      
      // ---------- Peghead --------- //
      .sub-section-3-1 {
        top: 0.3rem;
        left: 4.7rem;
        width: 5.2rem;
      }
      // ---------- Decoration --------- //
      .sub-section-3-2 {
        top: 7.5rem;
        left: 3.8rem;
        width: 6.8rem;
      }

      .sub-section-3-3 {
        left: 1.3rem;

        .white-door {
          width: 12rem;
          height: 22.2rem;
        }
      }
    }

    //----------------- COLUMN 4 ------------------//
    
    .stairwell-south-column-4 {

      
      // ---------- Re-Entry was Rough --------- //
      .sub-section-4-1 {
        top: 3.3rem;
        left: 0.2rem;
        width: 5.5rem;
      }
        
      // ---------- Older but Wiser --------- //
      .sub-section-4-2 {
        top: 8.4rem;
        left: 0.5rem;
        width: 3.2rem;
      }
        
      // ---------- Worker --------- //
      .sub-section-4-3 {
        top: 8.4rem;
        left: 4.4rem;
        width: 3rem;
      }
        
      // ---------- Demo --------- //
      .sub-section-4-4 {
        top: 12.9rem;
        left: 3.1rem;
        width: 4.7rem;
      }
        
      // ---------- Bent Note --------- //
      .sub-section-4-5 {
        top: 17.8rem;
        left: 3.1rem;
        width: 4.7rem;
      }
    }

    //----------------- COLUMN 5 ------------------//

    .stairwell-south-column-5 {

      // ---------- No Smoking --------- //
      .sub-section-5-1 {
        top: 4.4rem;
        width: 8.4rem;
      }

      // ---------- Going Downstairs --------- //
      .sub-section-5-2 {
        top: 14.9rem;
        right: 10.5rem;
        width: 3.3rem;
      }

      // ---------- The Paint HAdn't Even Dried --------- //
      .sub-section-5-3 {
        top: 13.8rem;
        right: 5.8rem;
        width: 3.7rem;
      }

      // ---------- The Heirophant --------- //
      .sub-section-5-4 {
        top: 15rem;
        right: 1.4rem;
        width: 3.5rem;
      }
      
      // ---------- Door --------- //
      .sub-section-5-5 {
        right: 1.1rem;

        .white-door-frame {
          width: 13rem;
          height: 16.3rem;
          
          .white-door {
            width: 10.4rem;
            height: 14.9rem;
          }
        }       
      }
    } 
    
    }
  }
}