// ------------ Main Room West ----------- //
.main-room-west-container {
  display: flex;
  justify-content: center;

  .main-room-west-grid {
    display: grid;
    grid-template: 16rem 24rem / repeat(5, 1fr);
    width: 83%;
    height: 40rem;

    // .section {
    //   background-color: #fff;
    //   border: 1px solid #f3f3f3;
    // }

    // -------------------- Column 1 --------------------- //

    .west-column-1 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Probed --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 0;
        left: 5rem;
        width: 11.5rem;
      }
    }

    // -------------------- Column 2 --------------------- //

   .west-column-2 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Playing for the Devil's Ring --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 0;
        left: 0.5rem;
        width: 17.6rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .west-column-3 {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .exit-sign-container {
        top: 11.9rem;
        left: 8rem;
      }
      

      // ---------- Another Day at the Beach --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 0;
        width: 14.2rem;
      }
    }

    // -------------------- Column 4 --------------------- //

    .west-column-4 {
      position: relative;
      display: flex;
      justify-content: center;


      // ---------- Mutiny --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 0;
        right: -0.5rem;
        width: 18.5rem;
      }
    }

    // -------------------- Column 5 --------------------- //

    .west-column-5 {
      position: relative;
      display: flex;
      justify-content: center;


      // ---------- Catch and Release --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 0;
        right: 4.9rem;
        width: 11.4rem;
      }
    }

    // -------------------- Column 6 --------------------- //

    .west-column-6 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: span 2;
    }

    // -------------------- Column 7 --------------------- //

      // Door Frame Styles applied globally in index.scss //
    
    // -------------------- Column 8 --------------------- //

    .west-column-8 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: 4 / span 2;
    }
  }
}

// -------------------- Media Queries ---------------------- //

// --------------- Max-Width: 1728px ----------------- //

@media (max-width: 1728px) {
  .main-room-west-container {
    
    .main-room-west-grid {
      width: 87%;
    }
  }
}

// --------------- Max-Width: 1380px ----------------- //

@media (max-width: 1380px) {
  .main-room-west-container {

    .main-room-west-grid {
      width: 90%;
      height: 38.5rem;
      grid-template: 14.5rem 24rem / repeat(5, 1fr);

      // .section {
      //   border: 1px solid #d3d3d3;
      // }

      // -------------------- Column 1 --------------------- //

      .west-column-1 {

        // ---------- Probed --------- //
        .sub-section-1-1 {
          left: 4.2rem;
          width: 10.6rem;
        }
      }

      // -------------------- Column 2 --------------------- //

      .west-column-2 {

      // ---------- Playing for the Devil's Ring --------- //
        .sub-section-2-1 {
          top: 0;
          left: 0;
          width: 16.2rem;
        }
      }

      // -------------------- Column 3 --------------------- //
      
      .west-column-3 {
        .exit-sign-container {
          top: 11rem;
          left: 6.8rem;
        }

        // ---------- Another Day at the Beach --------- //
        .sub-section-3-1 {
          width: 13.5rem;
        }
      }

      // -------------------- Column 4 --------------------- //

      .west-column-4 {

        // ---------- Mutiny --------- //
        .sub-section-4-1 {
          right: -0.7rem;
          width: 16.9rem;
        }
      }

      // -------------------- Column 5 --------------------- //

      .west-column-5 {

        // ---------- Catch and Release --------- //
        .sub-section-5-1 {
          right: 3.8rem;
          width: 10.4rem;
        }
      }
    }
  }
}

// --------------- Max-Width: 1280px ----------------- //

@media (max-width: 1280px) {
  .main-room-west-container {

    .main-room-west-grid {
      width: 84%;
      height: 36rem;
      // grid-template: 12.7rem 22.8rem / repeat(5, 1fr);
      grid-template-rows: 13.2rem 22.8rem;

      // .section {
      //   border: 1px solid #d3d3d3;
      // }

      // -------------------- Column 1 --------------------- //

      .west-column-1 {

        // ---------- Probed --------- //
        .sub-section-1-1 {
          left: 3rem;
          width: 9.7rem;
        }
      }

      // -------------------- Column 2 --------------------- //

      .west-column-2 {

      // ---------- Playing for the Devil's Ring --------- //
        .sub-section-2-1 {
          left: -0.2rem;
          width: 14.8rem;
        }
      }

      // -------------------- Column 3 --------------------- //
      
      .west-column-3 {
        .exit-sign-container {
          top: 10.1rem;
          left: 6.8rem;
        }

        // ---------- Another Day at the Beach --------- //
        .sub-section-3-1 {
          width: 12.4rem;
        }
      }

      // -------------------- Column 4 --------------------- //

      .west-column-4 {

        // ---------- Mutiny --------- //
        .sub-section-4-1 {
          right: -0.8rem;
          width: 15.6rem;
        }
      }

      // -------------------- Column 5 --------------------- //

      .west-column-5 {

        // ---------- Catch and Release --------- //
        .sub-section-5-1 {
          right: 2.6rem;
          width: 9.6rem;
        }
      }

      // -------------------- Column 6 --------------------- //

      .west-column-6 {

        .window-frame {
          left: 0.6rem;
        }
      }

      // -------------------- Column 7 --------------------- //

      // Door Frame Styles applied globally in index.scss //
    
      // -------------------- Column 8 --------------------- //

      .west-column-8 {

        .window-frame {
          right: 0.6rem;
        }
      }
    }
  }
}

// --------------- Max-Width: 1220px ----------------- //

@media (max-width: 1220px) {
  .main-room-west-container {

    .main-room-west-grid {
      width: 84%;
      height: 35.6rem;
      grid-template-rows: 13rem 22.6rem;

      // .section {
      //   border: 1px solid #d3d3d3;
      // }

      // -------------------- Column 1 --------------------- //

      .west-column-1 {

        // ---------- Probed --------- //
        .sub-section-1-1 {
          left: 2.6rem;
          width: 9.5rem;
        }
      }

      // -------------------- Column 2 --------------------- //

      .west-column-2 {

      // ---------- Playing for the Devil's Ring --------- //
        .sub-section-2-1 {
          left: -0.3rem;
          width: 14.4rem;
        }
      }

      // -------------------- Column 3 --------------------- //
      
      .west-column-3 {
        .exit-sign-container {
          top: 9.8rem;
          left: 6.3rem;
        }

        // ---------- Another Day at the Beach --------- //
        .sub-section-3-1 {
          width: 12.1rem;
        }
      }

      // -------------------- Column 4 --------------------- //

      .west-column-4 {

        // ---------- Mutiny --------- //
        .sub-section-4-1 {
          right: -1rem;
          width: 15.1rem;
        }
      }

      // -------------------- Column 5 --------------------- //

      .west-column-5 {

        // ---------- Catch and Release --------- //
        .sub-section-5-1 {
          right: 2.6rem;
          width: 9.3rem;
        }
      }

      // -------------------- Column 6 --------------------- //

      .west-column-6 {

        .window-frame {
          left: 0.8rem;
        }
      }

      // -------------------- Column 7 --------------------- //

      // Door Frame Styles applied globally in index.scss //
    
      // -------------------- Column 8 --------------------- //

      .west-column-8 {

        .window-frame {
          right: 0.8rem;
        }
      }
    }
  }
}

