// ------------ Main Room West ----------- //
.main-room-west-container {
  display: flex;
  justify-content: center;

  .main-room-west-grid {
    width: 83%;
    height: 40rem;
    display: grid;
    grid-template: 16rem 24rem / repeat(5, 1fr);
    // border-bottom: 2px solid #b8b8b8;

    // .section {
    //   background-color: #fff;
    //   border: 1px solid #f3f3f3;
    // }

    // -------------------- Column 1 --------------------- //

    .west-column-1 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Probed --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 0;
        left: 5rem;
        width: 11.5rem;
      }
    }

    // -------------------- Column 2 --------------------- //

   .west-column-2 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Playing for the Devil's Ring --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 0;
        left: 0.5rem;
        width: 17.6rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .west-column-3 {
      position: relative;
      display: flex;
      justify-content: center;

      .exit-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 12.4rem;


        .exit-sign {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3.6rem;
          height: 2.4rem;
          background-color: #fdfdfd;
          border-radius: 4px;
          box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.08);
          color: rgba(255, 0, 0, 0.2);
          font-size: 1.3rem;
          font-weight: 800;
        }
      }
      

      // ---------- Another Day at the Beach --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 0;
        width: 14.2rem;
      }
    }

    // -------------------- Column 4 --------------------- //

    .west-column-4 {
      position: relative;
      display: flex;
      justify-content: center;


      // ---------- Mutiny --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 0;
        right: -0.5rem;
        width: 18.5rem;
      }
    }

    // -------------------- Column 5 --------------------- //

    .west-column-5 {
      position: relative;
      display: flex;
      justify-content: center;


      // ---------- Catch and Release --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 0;
        right: 4.9rem;
        width: 11.4rem;
      }
    }

    // -------------------- Column 6 --------------------- //

    .west-column-6 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: span 2;
    }

    // -------------------- Column 7 --------------------- //

      // Door Frame Styles applied globally in index.scss //
    
    // -------------------- Column 8 --------------------- //

    .west-column-8 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: 4 / span 2;
    }
  }
}

// -------------------- Media Queries ---------------------- //

@media (max-width: 1370px) {
  .main-room-west-container {

    .main-room-west-grid {
      width: 95%;

      // .section {
      //   background-color: #fff;
      //   border: 1px solid #f3f3f3;
      // }

      // -------------------- Column 1 --------------------- //

      .west-column-1 {

        // ---------- Probed --------- //
        .sub-section-1-1 {
          top: 0;
          left: 4rem;
          width: 11.3rem;
        }
      }

      // -------------------- Column 2 --------------------- //

      .west-column-2 {

      // ---------- Playing for the Devil's Ring --------- //
        .sub-section-2-1 {
          top: 0;
          left: -0.5rem;
          width: 17.3rem;
        }
      }

      // -------------------- Column 3 --------------------- //
      
      .west-column-3 {

        // ---------- Another Day at the Beach --------- //
        .sub-section-3-1 {
          top: 0;
          width: 14.2rem;
        }
      }

      // -------------------- Column 4 --------------------- //

      .west-column-4 {

        // ---------- Mutiny --------- //
        .sub-section-4-1 {
          top: 0;
          right: -1rem;
          width: 18.2rem;
        }
      }

      // -------------------- Column 5 --------------------- //

      .west-column-5 {

        // ---------- Catch and Release --------- //
        .sub-section-5-1 {
          top: 0;
          right: 4rem;
          width: 11.2rem;
        }
      }
    }
  }
}