// ------------ Main Room West ----------- //
.main-room-west-container {
  display: flex;
  justify-content: center;

  .main-room-west-grid {
    display: grid;
    grid-template: 16rem 24rem / repeat(5, 1fr);
    width: 81%;
    height: 40rem;

    // -------------------- Column 1 --------------------- //

    .west-column-1 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Probed --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 0;
        left: 5rem;
        width: 11.5rem;
      }
    }

    // -------------------- Column 2 --------------------- //

   .west-column-2 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Playing for the Devil's Ring --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 0;
        left: 0.5rem;
        width: 17.6rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .west-column-3 {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .exit-sign-container {
        top: 11.9rem;
        left: 8rem;
      }
      

      // ---------- Another Day at the Beach --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 0;
        width: 14.2rem;
      }
    }

    // -------------------- Column 4 --------------------- //

    .west-column-4 {
      position: relative;
      display: flex;
      justify-content: center;


      // ---------- Mutiny --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 0;
        right: -0.5rem;
        width: 18.5rem;
      }
    }

    // -------------------- Column 5 --------------------- //

    .west-column-5 {
      position: relative;
      display: flex;
      justify-content: center;


      // ---------- Catch and Release --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 0;
        right: 4.9rem;
        width: 11.4rem;
      }
    }

    // -------------------- Column 6 --------------------- //

    .west-column-6 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: span 2;
    }

    // -------------------- Column 7 --------------------- //

      // Door Frame Styles applied globally in index.scss //
    
    // -------------------- Column 8 --------------------- //

    .west-column-8 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: 4 / span 2;
    }
  }
}

// ======================= Media Queries ======================= //

// --------------- Max-Width: 1800px ----------------- //

@media screen and (max-width: 1800px) {
  .main-room-west-container {
    
    .main-room-west-grid {
      width: 83.5%;
    }
  }
}

// --------------- Max-Width: 1760px ----------------- //

@media screen and (max-width: 1760px) {
  .main-room-west-container {
    
    .main-room-west-grid {
      width: 84%;

      // -------------------- Column 1 --------------------- //

      .west-column-1 {

      // ---------- Probed --------- //
        .sub-section-1-1 {
          left: 4.6rem;
        }
      }

      // -------------------- Column 5 --------------------- //

      .west-column-5 {

        // ---------- Catch and Release --------- //
        .sub-section-5-1 {
          right: 4.3rem;
        }
      }
    }
  }
}

// --------------- Max-Width: 1728px ----------------- //

@media screen and (max-width: 1728px) {
  .main-room-west-container {
    
    .main-room-west-grid {
      width: 87%;
    }
  }
}

// --------------- Max-Width: 1400px ----------------- //

@media screen and (max-width: 1400px) {
  .main-room-west-container {
    
    .main-room-west-grid {
      width: 86%;
      height: 39rem;
      grid-template: 15.2rem 23.8rem / repeat(5, 1fr);

      // -------------------- Column 1 --------------------- //

      .west-column-1 {

      // ---------- Probed --------- //
        .sub-section-1-1 {
          left: 4.8rem;
          width: 11.3rem;
        }
      }

      // -------------------- Column 2 --------------------- //

      .west-column-2 {

      // ---------- Playing for the Devil's Ring --------- //
        .sub-section-2-1 {
          left: 0.4rem;
          width: 17.3rem;
        }
      }

      // -------------------- Column 3 --------------------- //

      .west-column-3 {

        .exit-sign-container {
          top: 11.5rem;
        }
        

        // ---------- Another Day at the Beach --------- //
        .sub-section-3-1 {
          width: 14.4rem;
        }
      }

      // -------------------- Column 4 --------------------- //

      .west-column-4 {


        // ---------- Mutiny --------- //
        .sub-section-4-1 {
          right: -0.7rem;
          width: 18.2rem;
        }
      }

      // -------------------- Column 5 --------------------- //

      .west-column-5 {


        // ---------- Catch and Release --------- //
        .sub-section-5-1 {
          right: 4.2rem;
          width: 11.18rem;
        }
      }
    }
  }
}

// --------------- Max-Width: 1280px ----------------- //

// @media (max-width: 1280px) {
//   .main-room-west-container {
//     margin-top: 0dvh;

//     .main-room-west-grid {
//       width: 84%;
//       height: 36rem;
//       grid-template-rows: 13.2rem 22.8rem;

//       // -------------------- Column 1 --------------------- //

//       .west-column-1 {

//         // ---------- Probed --------- //
//         .sub-section-1-1 {
//           left: 3rem;
//           width: 9.8rem;
//         }
//       }

//       // -------------------- Column 2 --------------------- //

//       .west-column-2 {

//       // ---------- Playing for the Devil's Ring --------- //
//         .sub-section-2-1 {
//           left: -0.2rem;
//           width: 14.9rem;
//         }
//       }

//       // -------------------- Column 3 --------------------- //
      
//       .west-column-3 {
//         .exit-sign-container {
//           top: 10.1rem;
//           left: 6.8rem;
//         }

//         // ---------- Another Day at the Beach --------- //
//         .sub-section-3-1 {
//           width: 12.5rem;
//         }
//       }

//       // -------------------- Column 4 --------------------- //

//       .west-column-4 {

//         // ---------- Mutiny --------- //
//         .sub-section-4-1 {
//           right: -0.9rem;
//           width: 15.7rem;
//         }
//       }

//       // -------------------- Column 5 --------------------- //

//       .west-column-5 {

//         // ---------- Catch and Release --------- //
//         .sub-section-5-1 {
//           right: 2.4rem;
//           width: 9.7rem;
//         }
//       }

//       // -------------------- Column 6 --------------------- //

//       .west-column-6 {

//         .window-frame {
//           left: 0.6rem;
//         }
//       }

//       // -------------------- Column 7 --------------------- //

//       // Door Frame Styles applied globally in index.scss //
    
//       // -------------------- Column 8 --------------------- //

//       .west-column-8 {

//         .window-frame {
//           right: 0.6rem;
//         }
//       }
//     }
//   }
// }

// --------------- Max-Width: 1220px ----------------- //

// @media (max-width: 1220px) {
//   .main-room-west-container {

//     .main-room-west-grid {
//       width: 84%;
//       height: 35.6rem;
//       grid-template-rows: 13rem 22.6rem;

//       // .section {
//       //   border: 1px solid #d3d3d3;
//       // }

//       // -------------------- Column 1 --------------------- //

//       .west-column-1 {

//         // ---------- Probed --------- //
//         .sub-section-1-1 {
//           left: 2.6rem;
//           width: 9.5rem;
//         }
//       }

//       // -------------------- Column 2 --------------------- //

//       .west-column-2 {

//       // ---------- Playing for the Devil's Ring --------- //
//         .sub-section-2-1 {
//           left: -0.3rem;
//           width: 14.4rem;
//         }
//       }

//       // -------------------- Column 3 --------------------- //
      
//       .west-column-3 {
//         .exit-sign-container {
//           top: 9.8rem;
//           left: 6.3rem;
//         }

//         // ---------- Another Day at the Beach --------- //
//         .sub-section-3-1 {
//           width: 12.1rem;
//         }
//       }

//       // -------------------- Column 4 --------------------- //

//       .west-column-4 {

//         // ---------- Mutiny --------- //
//         .sub-section-4-1 {
//           right: -1rem;
//           width: 15.1rem;
//         }
//       }

//       // -------------------- Column 5 --------------------- //

//       .west-column-5 {

//         // ---------- Catch and Release --------- //
//         .sub-section-5-1 {
//           right: 2.6rem;
//           width: 9.3rem;
//         }
//       }

//       // -------------------- Column 6 --------------------- //

//       .west-column-6 {

//         .window-frame {
//           left: 0.8rem;
//         }
//       }

//       // -------------------- Column 7 --------------------- //

//       // Door Frame Styles applied globally in index.scss //
    
//       // -------------------- Column 8 --------------------- //

//       .west-column-8 {

//         .window-frame {
//           right: 0.8rem;
//         }
//       }
//     }
//   }
// }

// --------------- Max-Width: 1200px ----------------- //

// @media (max-width: 1200px) {
//   .main-room-west-container {

//     .main-room-west-grid {
//       width: 84.5%;
//       height: 35.3rem;
//       grid-template-rows: 12.8rem 22.5rem;
//     }
//   }
// }

// --------------- Max-Width: 1185px ----------------- //

// @media (max-width: 1185px) {
//   .main-room-west-container {

//     .main-room-west-grid {

//       // .section {
//       //   border: 1px solid #d3d3d3;
//       // }

//       // -------------------- Column 1 --------------------- //

//       .west-column-1 {

//         // ---------- Probed --------- //
//         .sub-section-1-1 {
//           left: 2.1rem;
//         }
//       }

//       // -------------------- Column 2 --------------------- //

//       .west-column-2 {

//       // ---------- Playing for the Devil's Ring --------- //
//         .sub-section-2-1 {
//           left: -0.6rem;
//         }
//       }

//       // -------------------- Column 4 --------------------- //

//       .west-column-4 {

//         // ---------- Mutiny --------- //
//         .sub-section-4-1 {
//           right: -1.3rem;
//         }
//       }

//       // -------------------- Column 5 --------------------- //

//       .west-column-5 {

//         // ---------- Catch and Release --------- //
//         .sub-section-5-1 {
//           right: 2.1rem;
//         }
//       }

//       // -------------------- Column 6 --------------------- //

//       .west-column-6 {

//         .window-frame {
//           left: 0.5rem;
//         }
//       }

//       // -------------------- Column 7 --------------------- //

//       // Door Frame Styles applied globally in index.scss //
    
//       // -------------------- Column 8 --------------------- //

//       .west-column-8 {

//         .window-frame {
//           right: 0.5rem;
//         }
//       }
//     }
//   }
// }

// --------------- Max-Width: 1140px ----------------- //

// @media (max-width: 1140px) {
//   .main-room-west-container {

//     .main-room-west-grid {
//       width: 84%;
//       height: 33.8rem;
//       grid-template-rows: 12.7rem 21.1rem;

//       // .section {
//       //   border: 1px solid #d3d3d3;
//       // }

//       // -------------------- Column 1 --------------------- //

//       .west-column-1 {

//         // ---------- Probed --------- //
//         .sub-section-1-1 {
//           left: 2rem;
//           width: 9.35rem;
//         }
//       }

//       // -------------------- Column 2 --------------------- //

//       .west-column-2 {

//       // ---------- Playing for the Devil's Ring --------- //
//         .sub-section-2-1 {
//           left: -0.6rem;
//           width: 14.2rem;
//         }
//       }

//       // -------------------- Column 3 --------------------- //
      
//       .west-column-3 {
//         .exit-sign-container {
//           top: 9.9rem;
//         }

//         // ---------- Another Day at the Beach --------- //
//         .sub-section-3-1 {
//           width: 12.2rem;
//         }
//       }

//       // -------------------- Column 4 --------------------- //

//       .west-column-4 {

//         // ---------- Mutiny --------- //
//         .sub-section-4-1 {
//           right: -1.3rem;
//           width: 14.8rem;
//         }
//       }

//       // -------------------- Column 5 --------------------- //

//       .west-column-5 {

//         // ---------- Catch and Release --------- //
//         .sub-section-5-1 {
//           right: 2rem;
//           width: 9.2rem;
//         }
//       }

//       // -------------------- Column 6 --------------------- //

//       .west-column-6 {

//         .window-frame {
//           left: 0.3rem;
//         }
//       }

//       // -------------------- Column 7 --------------------- //

//       // Door Frame Styles applied globally in index.scss //
    
//       // -------------------- Column 8 --------------------- //

//       .west-column-8 {

//         .window-frame {
//           right: 0.3rem;
//         }
//       }
//     }
//   }
// }

// --------------- Max-Width: 960px ----------------- //

@media (max-width: 960px) {
  .main-room-west-container {

    .main-room-west-grid {
      // width: 84%;
      height: 30rem;
      grid-template-rows: 11.5rem 18.5rem;

      // .section {
      //   border: 1px solid #d3d3d3;
      // }

      // -------------------- Column 1 --------------------- //

      .west-column-1 {

        // ---------- Probed --------- //
        .sub-section-1-1 {
          left: 2.5rem;
          width: 8.6rem;
        }
      }

      // -------------------- Column 2 --------------------- //

      .west-column-2 {

      // ---------- Playing for the Devil's Ring --------- //
        .sub-section-2-1 {
          left: -0.4rem;
          width: 13rem;
        }
      }

      // -------------------- Column 3 --------------------- //
      
      .west-column-3 {

        .exit-sign-container {
          top: 8.9rem;
          left: 5.5rem;

          .exit-sign {
            width: 2.7rem;
            height: 1.8rem;
            font-size: 1.1rem;
            font-weight: 800;
            padding-top: 0.14rem;
          }
        }

        // ---------- Another Day at the Beach --------- //
        .sub-section-3-1 {
          width: 11.1rem;
        }
      }

      // -------------------- Column 4 --------------------- //

      .west-column-4 {

        // ---------- Mutiny --------- //
        .sub-section-4-1 {
          right: -0.9rem;
          width: 13.5rem;
        }
      }

      // -------------------- Column 5 --------------------- //

      .west-column-5 {

        // ---------- Catch and Release --------- //
        .sub-section-5-1 {
          right: 2.3rem;
          width: 8.4rem;
        }
      }

      // -------------------- Column 6 --------------------- //

      .west-column-6 {

        .window-frame {
          left: 1.1rem;
        }
      }

      // -------------------- Column 7 --------------------- //

      // Door Frame Styles applied globally in index.scss //
    
      // -------------------- Column 8 --------------------- //

      .west-column-8 {

        .window-frame {
          right: 1.1rem;
        }
      }
    }
  }
}
