.navigation-container {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 11.6dvh;
  margin-bottom: 0;
  z-index: 900;
  
  .navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 85rem;
    height: 100%;

    .logo-container {
      width: 14.6rem;
      height: auto;
      padding-top: 3rem;
      padding-right: 0.4rem;

      img {
        max-width: 96%;
        max-height: auto;
        transition: transform 0.4s ease, opacity 0.4s ease;
        transform: scale(1);
        opacity: 0.9;

        &:hover {
          transform: scale(1.04);
          opacity: 1;
        }
      }

      .home-icon {
        display: none;
      }
    }

    .nav-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 56rem;
      height: 6rem;
    }

    .svgs-container {
      display: flex;
      align-items: flex-start;
      padding-top: 3rem;
      padding-left: 2.3rem;
      width: 13.5rem;
      height: 7.6rem;

      .instagram {
        font-size: 3rem;
        color: var(--copper-yellow);
        transition: transform 0.4s ease, opacity 0.4s ease;
        transform: scale(1);
        opacity: 0.9;

        &:hover {
          transform: scale(1.1);
          opacity: 1;
        }
      }

      .w {
        width: 3.4rem;
        height: auto; 
        margin-left: 2.5rem;
        padding-top: 1rem;
        color: var(--copper-yellow);
        transition: transform 0.4s ease, opacity 0.4s ease;
        transform: scale(1);
        opacity: 0.95;

        &:hover {
          transform: scale(1.1);
          opacity: 1;
        }
      }
    }
  } 
}

.dropdown {
    position: absolute;
    top: 2.3dvh;
    left: 7.5dvh;
    z-index: 1000;
}

// =================== Media Queries =================== //

// -------------- Max-Width 1800px -------------- //

@media screen and (max-width: 1800px) {
  .navigation-container {
  
    .navigation {
      width: 83rem;

      .logo-container {
        width: 14.7rem;
        }

      .nav-center {
        width: 55rem;
      }

      .svgs-container {
        width: 12.7rem;
        padding-left: 1.5rem;

        .w {
          width: 3.5rem;
        }
      }
    }
  }
}

// --------------- Max-Width 1760px ---------------- //

@media screen and (max-width: 1760px) {
  .navigation-container {
    height: 11.3dvh;
  
    .navigation {
      width: 82rem;

      .logo-container {
        width: 14.5rem;
        padding-top: 3.5rem;
      }

      .nav-center {
        width: 54.5rem;
      }

      .svgs-container {
        width: 12.7rem;
        padding-top: 3.2rem;
        padding-left: 2rem;

        .instagram {
          font-size: 3.1rem;
        }

        .w {
          margin-left: 2.1rem;
        }
      }
    }
  }
}

// -------------- Max-Width 1730px -------------- //

@media screen and (max-width: 1730px) {
  .navigation-container {
    height: 11dvh;
  
    .navigation {
      width: 85rem;

      .logo-container {
        width: 14.4rem;
        padding-top: 5dvh;
        padding-right: 0rem;
      }

      .nav-center {
        width: 56.5rem;
        height: 9dvh;
      }

      .svgs-container {
        padding-top: 4.5dvh;
        padding-left: 1.7rem;

        .instagram {
          font-size: 3.2rem;
        }

        .w {
          // width: 3.5rem;
          margin-left: 2rem;
        }
      }
    }
  }
}

// -------------- Max-Width 1610px -------------- //

@media screen and (max-width: 1610px) {
  .navigation-container {
  
    .navigation {
      width: 83.8rem;

      .logo-container {
        width: 13.2rem;
      }

      .svgs-container {
        padding-left: 1.6rem;

        .instagram {
          font-size: 3.1rem;
        }

        .w {
          width: 3.4rem;
          margin-left: 1.8rem;
        }
      }
    }
  }
}

// -------------- Max-Width 1580px -------------- //

@media screen and (max-width: 1580px) {
  .navigation-container {
    height: 10.5dvh;
  
    .navigation {
      width: 83rem;

      .logo-container {
        width: 13.2rem;
        padding-top: 4.6dvh;
      }

      .nav-center {
        width: 55.7rem;
        height: 8.6dvh;
      }

      .svgs-container {
        padding-top: 4dvh;
        padding-left: 1.3rem;
      }
    }
  }
}

// -------------- Min-Height: 940px and Max-Width 1550px -------------- //

@media screen and (min-height: 940px) and (max-width: 1550px) {
  .navigation-container {
  
    .navigation {

      .logo-container {
        padding-top: 5.2dvh;
      }

      .svgs-container {
        padding-top: 4.5dvh;
      }
    }
  }
}

// -------------- Min-Height: 1000px and Max-Width 1550px -------------- //

@media screen and (min-height: 1000px) and (max-width: 1550px) {
  .navigation-container {
  
    .navigation {

      .logo-container {
        padding-top: 5.5dvh;
      }

      .svgs-container {
        padding-top: 4.8dvh;
      }
    }
  }
}

// -------------- Min-Height: 1100px and Max-Width 1550px -------------- //

@media screen and (min-height: 1100px) and (max-width: 1550px) {
  .navigation-container {
  
    .navigation {

      .logo-container {
        padding-top: 5.8dvh;
      }

      .svgs-container {
        padding-top: 5.1dvh;
      }
    }
  }
}

// -------------- Max-Width 1440px -------------- //

@media screen and (max-width: 1440px) {
  .navigation-container {
  
    .navigation {

      .logo-container {
        max-width: 12.9rem;
        padding-top: 5dvh;
      }

      .nav-center {
        width: 57rem;
      }

      .svgs-container {
        padding-top: 4dvh;
      }
    }
  }
}

// -------------- Min-Height: 870px and Max-Width 1440px -------------- //

@media screen and (min-height: 870px) and (max-width: 1440px) {
  .navigation-container {
  
    .navigation {
      width: 83.8rem;

      .logo-container {
        padding-top: 5.2dvh;
      }

      .svgs-container {
        padding-top: 4.5dvh;
      }
    }
  }
}

// -------------- Max-Width 1380px -------------- //

@media screen and (max-width: 1380px) {
  .navigation-container {
    height: 10dvh;

    .navigation {
      width: 78.4rem;

      .logo-container {
        width: 11.2rem;
        padding-top: 4.8dvh;
      }

      .nav-center {
        width: 55.2rem;
        height: 8.5dvh;
      }

      .svgs-container {
        width: 11rem;
        padding-top: 3.5dvh;
        padding-left: 1.2rem;

        .instagram {
          font-size: 3rem;
        }

        .w {
          width: 3.25rem;
          margin-left: 1.6rem;
        }
      }
    }
  }
}

// -------------- Min-Height: 840px and Max-Width 1380px -------------- //

@media screen and (min-height: 840px) and (max-width: 1380px) {
  .navigation-container {
    height: 10dvh;

    .navigation {

      .logo-container {
        padding-top: 4.3dvh;
      }

      .nav-center {
        height: 7.5dvh;
      }

      .svgs-container {
        padding-top: 3dvh;
      }
    }
  }
}

// -------------- Min-Height: 960px and Max-Width 1380px -------------- //

@media screen and (min-height: 960px) and (max-width: 1380px) {
  .navigation-container {

    .navigation {

      .logo-container {
        padding-top: 5dvh;
      }

      .svgs-container {
        padding-top: 3.5dvh;
      }
    }
  }
}

// -------------- Min-Height: 1000px and Max-Width 1380px -------------- //

@media screen and (min-height: 1000px) and (max-width: 1380px) {
  .navigation-container {

    .navigation {

      .logo-container {
        width: 11.5rem;
        padding-top: 5.4dvh;
      }

      .svgs-container {
        padding-top: 4dvh;
      }
    }
  }
}

// -------------- Max-Width 1370px -------------- //

@media screen and (max-width: 1370px) {
  .navigation-container {
    height: 10dvh;

    .navigation {
      width: 72.7rem;

      .logo-container {
        width: 10.4rem;
        padding-top: 5.2dvh;
      }

      .nav-center {
        width: 50.8rem;
        height: 8.5dvh;
      }

      .svgs-container {
        padding-top: 3.8dvh;
        padding-left: 1.1rem;

        .instagram {
          font-size: 2.8rem;
        }

        .w {
          width: 3rem;
          margin-left: 1.4rem;
          // padding-top: 0.9rem;
        }
      }
    }
  }
}

// -------------- Max-Height: 700px and Max-Width 1370px -------------- //

@media screen and (max-height: 700px) and (max-width: 1370px) {
  .navigation-container {
    height: 9.5dvh;

    .navigation {
      width: 72.6rem;

      .logo-container {
        width: 10rem;
        padding-top: 4.3dvh;
      }

      .nav-center {
        height: 8.2dvh;
      }

      .svgs-container {
        padding-top: 3dvh;
      }
    }
  }
}

// -------------- Min-Height: 820px and Max-Width 1370px -------------- //

@media screen and (min-height: 820px) and (max-width: 1370px) {
  .navigation-container {
    height: 10dvh;

    .navigation {
      width: 73.8rem;

      .logo-container {
        width: 10.6rem;
        padding-top: 5dvh;
      }

      .nav-center {
        width: 51.8rem;
        height: 7.8dvh;
      }

      .svgs-container {
        padding-top: 3.9dvh;

        .w {
          width: 3.1rem;
          padding-top: 0.9rem;
        }
      }
    }
  }
}

// -------------- Min-Height: 920px and Max-Width 1370px -------------- //

@media screen and (min-height: 920px) and (max-width: 1370px) {
  .navigation-container {

    .navigation {

      .logo-container {
        padding-top: 5.2dvh;
      }

      .svgs-container {
        padding-top: 4.1dvh;
      }
    }
  }
}

// -------------- Max-Width 1280px -------------- //

@media screen and (max-width: 1280px) {
  .navigation-container {
    height: 10.2dvh;

    .navigation {
      width: 76.2rem;

      .logo-container {
        width: 11.2rem;
        padding-top: 5.2dvh;
      }

      .nav-center {
        width: 55rem;
        height: 9dvh;
      }

      .svgs-container {
        width: 9rem;
        padding-top: 4.2dvh;
        padding-left: 1.2rem;

        .instagram {
          font-size: 2.8rem;
        }

        .w {
          width: 3.1rem;
        }
      }
    }
  }
}

// --------------- Min-Height: 770px and Max-Width 1280px ---------------- //

@media screen and (min-height: 770px) and (max-width: 1280px) {
  .navigation-container {
    height: 9.8dvh;

    .navigation {

      .nav-center {
        height: 8.2dvh;
      }
    }
  }
}

// --------------- Min-Height: 700px and Max-Width 1280px ---------------- //

// @media screen and (min-height: 700px) and (max-width: 1280px) {
//   .navigation-container {

//     .navigation {
//       // width: 76rem;

//       .logo-container {
//         // width: 11rem;
//         padding-top: 5.4dvh;
//       }

//       .nav-center {
//         // height: 11dvh;
//       }

//       .svgs-container {
//         // width: 9.4rem;
//         padding-top: 4.8dvh;
//         // padding-left: 1.2rem;

//         .instagram {
//           // font-size: 3rem;
//         }

//         .w {
//           // width: 3.2rem;
//         }
//       }
//     }
//   }
// }

// -------------- Max-Width 1220px -------------- //

@media screen and (max-width: 1220px) {
  .navigation-container {
    height: 10.4dvh;

    .navigation {
      width: 72.8rem;

      .logo-container {
        width: 11rem;
        padding-top: 4.7dvh;
      }

      .nav-center {
        width: 51.8rem;
      }

      .svgs-container {
        width: 8.7rem;
        padding-top: 3.8dvh;

        .instagram {
          font-size: 2.9rem;
        }

        .w {
          width: 3.2rem;
        }
      }
    }
  }
}

// -------------- Min-Height: 720px and Max-Width 1220px -------------- //

@media screen and (min-height: 720px) and (max-width: 1220px) {
  .navigation-container {
    height: 9.5dvh;

    .navigation {

      .logo-container {
        padding-top: 2.7rem;
      }

      .nav-center {
        height: 8dvh;
      }

      .svgs-container {
        padding-top: 3.6dvh;
      }
    }
  }
}

// -------------- Max-Width 1200px -------------- //

@media screen and (max-width: 1200px) {
  .navigation-container {
    height: 8.8dvh;

    .navigation {
      width: 71.6rem;

      .logo-container {
        width: 10.7rem;
        padding-top: 4.5dvh;
      }

      .nav-center {
        width: 51rem;
        height: 8.8dvh;
      }

      .svgs-container {
        width: 9rem;
        padding-top: 3.3dvh;
      }
    }
  }
}

// -------------- Min-Height: 720px and Max-Width 1200px -------------- //

@media screen and (min-height: 720px) and (max-width: 1200px) {
  .navigation-container {
    height: 8.4dvh;

    .navigation {

      .logo-container {
        padding-top: 5dvh;
      }

      .nav-center {
        height: 8.4dvh;
      }

      .svgs-container {
        padding-top: 3.8dvh;
      }
    }
  }
}

// -------------- Max-Width 1185px -------------- //

@media screen and (max-width: 1185px) {
  .navigation-container {
    height: 8.5dvh;

    .navigation {
      width: 71rem;

      .logo-container {
        width: 10.4rem;
        padding-top: 4dvh;
      }

      .nav-center {
        width: 50.6rem;
        height: 8.2dvh;
      }

      .svgs-container {
        // width: 9rem;
        padding-top: 2.8dvh;
        padding-left: 1rem;
      }
    }
  }
}

// -------------- Min-Height: 700px and Max-Width 1185px -------------- //

@media screen and (min-height: 700px) and (max-width: 1185px) {
  .navigation-container {

    .navigation {

      .logo-container {
        // width: 10.4rem;
        padding-top: 5dvh;
      }

      .svgs-container {
        padding-top: 3.3dvh;
      }
    }
  }
}

// -------------- Min-Height: 720px and Max-Width 1185px -------------- //

@media screen and (min-height: 720px) and (max-width: 1185px) {
  .navigation-container {

    .navigation {

      .logo-container {
        // width: 10.4rem;
        padding-top: 4.8dvh;
      }

      .svgs-container {
        padding-top: 3.5dvh;
      }
    }
  }
}

// -------------- Min-Height: 765px and Max-Width 1185px -------------- //

@media screen and (min-height: 765px) and (max-width: 1185px) {
  .navigation-container {

    .navigation {

      .logo-container {
        width: 10.6rem;
        padding-top: 5.2dvh;
      }

      .svgs-container {
        padding-top: 3.8dvh;
      }
    }
  }
}

// --------------- Min-Height: 630px and Max-Width 1140px ---------------- //

@media screen and (min-height: 630px) and (max-width: 1140px) {
  .navigation-container {

    .navigation {

      .logo-container {
        // width: 10.4rem;
        padding-top: 4.5dvh;
      }

      .svgs-container {
        padding-top: 3.1dvh;
      }
    }
  }
}

// -------------- Min-Height: 690px and Max-Width 1185px -------------- //

@media screen and (min-height: 690px) and (max-width: 1140px) {
  .navigation-container {

    .navigation {

      .logo-container {
        // width: 10.4rem;
        padding-top: 5dvh;
      }

      .svgs-container {
        padding-top: 3.6dvh;
      }
    }
  }
}

// -------------- Max-Width 1040px -------------- //

@media screen and (max-width: 1040px) {
  .navigation-container {
    height: 9dvh;

    .navigation {
      width: 70.8rem;

      .logo-container {
        width: 10.3rem;
        padding-top: 4.7dvh;
      }

      .nav-center {
        height: 8.8dvh;
      }

      .svgs-container {
        padding-top: 3dvh;
      }
    }
  }
}

// -------------- Min-Height: 630px and Max-Width 1040px -------------- //

@media screen and (min-height: 630px) and (max-width: 1040px) {
  .navigation-container {
    height: 8.8dvh;

    .navigation {
      width: 71.4rem;

      .logo-container {
        padding-top: 4.5dvh;
      }

      .nav-center {
        width: 51rem;
        height: 8dvh;
      }

      .svgs-container {
        padding-top: 3.3dvh;
      }
    }
  }
}

// ---------------- Max-Width: 1035px --------------- //

@media screen and (max-width: 1035px) {
  .navigation-container {
    height: 9.4dvh;

    .navigation {
      width: 73.8rem;

      .logo-container {
        width: 11rem;
        padding-top: 5dvh;
      }

      .nav-center {
        width: 53.2rem;
        height: 9.2dvh;
      }

      .svgs-container {
        padding-top: 3.5dvh;
      }
    }
  }
}

// ---------------- Min-Height: 625px and Max-Width: 1035px --------------- //

@media screen and (min-height: 625px) and (max-width: 1035px) {
  .navigation-container {

    .navigation {

      .logo-container {
        width: 11.3rem;
        padding-top: 2.8rem;
      }

      .nav-center {
        height: 8.8dvh;
      }

      .svgs-container {
        padding-top: 3.9dvh;
      }
    }
  }
}

// ---------------- Max-Height: 780px and Max-Width: 1035px --------------- //

// @media screen and (max-height: 780px) and (max-width: 1035px) {
//   .navigation-container {

//     .navigation {
//       width: 76rem;

//       .logo-container {
//         width: 11.8rem;
//         padding-top: 2.9rem;
//       }

//       .nav-center {
//         width: 54rem;
//       }

//       .svgs-container {
//         width: 9rem;
//         margin-top: 1.2rem;
//         padding-left: 0.9rem;

//         .instagram {
//           font-size: 3.1rem;
//         }

//         .w {
//           width: 3.4rem;
//         }
//       }
//     }
//   }
// }

// ---------------- Max-Height: 700px and Max-Width: 1035px --------------- //

// @media screen and (max-height: 700px) and (max-width: 1035px) {
//   .navigation-container {

//     .navigation {
//       width: 75.2rem;

//       .logo-container {
//         width: 11rem;
//       }

//       .svgs-container {
//         width: 9.4rem;
//         margin-top: 1rem;
//       }
//     }
//   }
// }

// ----------------------------- Max-Width: 96px ------------------------------ //
// ---- Dropdown menu on screen sizes wider than 1024px will not be displayed --- //

@media screen and (max-width: 960px) {
  .navigation-container {
    display: none;
  }
}

// ----------------------------- Min-Width: 960px ------------------------------ //
// ---- Dropdown menu on screen sizes wider than 1024px will not be displayed --- //

@media screen and (min-width: 960px) {
  .dropdown {
    display: none;
  }
}

// -------------- Max-Width 960px -------------- //

@media screen and (max-width: 960px) {
  .navigation-container {

    .navigation {
      width: 70.8rem;

      .logo-container {
        width: 9.9rem;
        padding-top: 1.7rem;
      }

      .nav-center {
        width: 50rem;
        height: 9.3dvh;
      }

      .svgs-container {
        width: 8.8rem;
        height: 5rem;
        margin-top: 0.1rem;
        padding-left: 0.4rem;

        .instagram {
          font-size: 2.8rem;
        }

        .w {
          width: 3rem;
        }
      }
    }
  }
}

// -------------- Max-Width 780px -------------- //

@media screen and (max-width: 780px) {
 .navigation-container {

    .navigation {
      width: 73rem;

      .nav-center {
        width: 52rem;
        height: 10dvh;
      }

      .logo-container {

        img {
          display: none;
        }
      }

      .egg-icon-container {

        .egg-icon {
          display: block;
          position: absolute;
          top: 2.2rem;
          left: 4.8rem;
          height: 4rem;
          width: auto;
          opacity: 0.95;
        }
      }

      .svgs-container {
        margin-top: 0.3rem;
        padding-left: 1.7rem;
      
        .instagram {
          font-size: 3.4rem;
        }

        .w {
          display: none;
        }
      }
    }
  }
}


