// ------------- Utility Classes ----------- //

.window-frame-s {
  position: absolute;
  bottom: 2.8rem;
  width: 32.1rem;
  height: 20.7rem;
  background-color: #b8b8b8;


  .window-pane-s {
    position: absolute;
    bottom: 0.7rem;
    width: 15rem;
    height: 19.3rem;
    background-color: #fdfdfd;
    box-shadow: inset 5px 5px 14px 10px rgba(0, 0, 0, 0.1);

  }

  .pane-s-left {
    left: 0.7rem;
  }

  .pane-s-right {
    right: 0.7rem;
  }
}

// ---------------------------------------------------------- //

.entry-room-container {
  display: flex;
  justify-content: center;

  .entry-south-grid {
    width: 85%;
    height: 40rem;
    display: grid;
    grid-template-columns: 2.2fr 1.1fr 2fr;

    // .section {
    //   background-color: #fff;
    //   border: 1px solid #f3f3f3;
    // }

    // -------------------- Column 1 --------------------- //

    .entry-south-column-1 {
      position: relative;
      display: flex;
      justify-content: center;
      background: linear-gradient(200deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.04));
      filter: blur(1.2px);
      opacity: 0.4;


     // ---------- It's Time --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 1.9rem;
        left: 2rem;
        width: 18.6rem;
        
        img {
          cursor: auto;
        }
      }

     // ---------- The Neptunes Confront --------- //
      .sub-section-1-2 {
        position: absolute;
        top: 1.2rem;
        right: 2rem;
        width: 17.8rem;
        
        img {
          cursor: auto;
        }
      }

     // ---------- Evan --------- //
      .sub-section-1-3 {
        position: absolute;
        top: 20.5rem;
        right: 1.3rem;
        width: 6.2rem;
        
        img {
          cursor: auto;
        }
      }

      .window-frame-s {
        left: 1.4rem;
      }
    }

    // -------------------- Column 2 --------------------- //

   .entry-south-column-2 {
      position: relative;
      display: flex;
      justify-content: center;
      border-right: 2px solid #ececec;
      border-left: 2px solid #ececec;

     // ---------- Wrong Note --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 15.7rem;
        width: 17.6rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .entry-south-column-3 {
      position: relative;
      display: flex;
      background: linear-gradient(160deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.04));
      filter: blur(1.2px);
      opacity: 0.4;

      // ---------- Another Arrival --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 1.2rem;
        left: 2.1rem;
        width: 17.5rem;

        img {
          cursor: auto;
        }
      }

      // ---------- Fast Getaway --------- //
      .sub-section-3-2 {
        position: absolute;
        top: 2.1rem;
        right: 2.5rem;
        width: 14.5rem;

        img {
          cursor: auto;
        }
      }

      .window-frame-s {
        right: 1.7rem;
      }
    }
  }
}

// -------------------- Media Queries ---------------------- //

@media (max-width: 1800px) {
  .entry-room-container {
    
    .entry-south-grid {
      width: 84%;

      .entry-south-column-1 {
        padding-right: 1.4rem;

        // ---------- It's Time --------- //
        .sub-section-1-1 {
          left: -2.5rem;
        }

        // ---------- Evan --------- //
      .sub-section-1-3 {
        right: 0.7rem;
      }
      }

      // -------------------- Column 3 --------------------- //

      .entry-south-column-3 {

        // ---------- Fast Getaway --------- //
        .sub-section-3-2 {
          right: 0;
        }
      }
    }
  }
}