button.toggle-box {
  background: none;
  border: none;
  outline: none;
  // z-index: 0;

  .screen-toggle {
    display: flex;
    align-items: center;
    width: 9rem;
    height: 3.2rem;
    gap: 4px;

    .screen-icon {
      display: flex;
      align-items: center;
      color: var(--copper-yellow);
      font-size: 2.8rem;
      width: 3.2rem;
    }

    .screen-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 5.8rem;
      padding-top: 0.2rem;
      // padding-left: 0.15rem;

      p {
        margin: 0rem;
        color: var(--dark-grey);
        font-size: 1.15rem;
        font-weight: 600;
        line-height: 1.18rem;
        opacity: 0.88;
      }
    } 
  }
}

// ===================== Media Queries ===================== //

// ---------------- Max-Height: 690px ---------------- //

@media screen and (max-height: 690px) {
  button.toggle-box {

    .screen-toggle {
      flex-direction: row-reverse;
      width: 10.2rem;
      gap: 1px;

      .screen-icon {
        color: var(--dark-grey);
        font-size: 2.75rem;
        width: 3.2rem;
        opacity: 0.9;
      }

      .screen-text {
        align-items: flex-end;
        width: 7rem;
        padding-top: 0rem;

        p {
          margin: 0rem;
          color: var(--copper-yellow);
          font-size: 1.33rem;
          font-weight: 500;
          line-height: 1.38rem;
          opacity: 1;
        }
      }
    }
  }
}

// ---------------- Max-Height: 690px and Max-Width: 1470px ---------------- //

// @media screen and (max-height: 690px) and (max-width: 1470px) {
//   button.toggle-box {

//     .screen-toggle {
//       // width: 11rem;

//       .screen-icon {
//         // width: 3.4rem;
//         font-size: 2.6rem;
//       }

//       .screen-text {
//         // width: 7.6rem;

//         p {
//           font-size: 1.1rem;
//           // line-height: 1.3rem;
//           opacity: 1;
//         }
//       }
//     }
//   }
// }

// ---------------- Max-Width: 1400px ---------------- //

@media screen and (max-width: 1400px) {
  button.toggle-box {

    .screen-toggle {
      width: 9.7rem;

      .screen-icon {
        font-size: 2.9rem;
      }

      .screen-text {
        width: 6.5rem;

        p {
          font-size: 1.23rem;
          line-height: 1.3rem;
        }
      }
    }
  }
}

@media screen and (max-height: 690px) and (max-width: 1400px) {
  button.toggle-box {

    .screen-toggle {
      width: 11rem;

      .screen-icon {
        width: 3.4rem;
        font-size: 2.8rem;
      }

      .screen-text {
        width: 7.6rem;

        p {
          font-size: 1.38rem;
          line-height: 1.33rem;
        }
      }
    }
  }
}

// ---------------- Max-Height: 690px and Max-Width: 1380px ---------------- //

// @media screen and (max-height: 690px) and (max-width: 1380px) {
//   button.toggle-box {

//     .screen-toggle {
//       width: 11rem;

//       .screen-icon {
//         width: 3.4rem;
//         font-size: 2.8rem;
//       }

//       .screen-text {
//         width: 7.6rem;

//         p {
//           font-size: 1.41rem;
//           line-height: 1.3rem;
//         }
//       }
//     }
//   }
// }

// ---------------- Max-Width: 1280px ---------------- //

@media screen and (min-height: 691px) and (max-width: 1280px) {
  button.toggle-box {

    .screen-toggle {
      width: 10.3rem;

      .screen-icon {
        width: 3.3rem;
        font-size: 3.2rem;
      }

      .screen-text {
        width: 7rem;

        p {
          font-size: 1.35rem;
          line-height: 1.34rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1240px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1240px) {
  button.toggle-box {

    .screen-toggle {

      .screen-icon {
        font-size: 2.98rem;
      }

      .screen-text {

        p {
          font-size: 1.43rem;
          line-height: 1.37rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1180px ---------------- //

@media screen and (max-width: 1180px) {
  button.toggle-box {

    .screen-toggle {

      .screen-icon {
        font-size: 3.3rem;
      }

      .screen-text {

        p {
          font-size: 1.41rem;
          line-height: 1.42rem;
        }
      }
    }
  }
}

// ---------------- Max-Height: 690px and Max-Width: 1180px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1180px) {
  button.toggle-box {

    .screen-toggle {

      .screen-icon {
        font-size: 3.05rem;
      }

      .screen-text {

        p {
          font-size: 1.48rem;
          line-height: 1.48rem;
        }
      }
    }
  }
}

// ---------------- Max-Height: 690px and Max-Width: 1115px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1115px) {
  button.toggle-box {

    .screen-toggle {

      .screen-icon {
        font-size: 3.14rem;
      }

      .screen-text {

        p {
          font-size: 1.52rem;
          line-height: 1.43rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1080px ---------------- //

@media screen and (max-width: 1080px) {
  button.toggle-box {

    .screen-toggle {
      width: 11.5rem;

      .screen-icon {
        width: 3.6rem;
        font-size: 3.32rem;
      }

      .screen-text {
        width: 7.9rem;

        p {
          font-size: 1.46rem;
          line-height: 1.48rem;
        }
      }
    }
  }
}

// ---------------- Max-Height: 690px and Max-Width: 998px ---------------- //

@media screen and (max-height: 690px) and (max-width: 998px) {
  button.toggle-box {

    .screen-toggle {
      width: 12rem;
      height: 3.4rem;
      gap: 3px;

      .screen-icon {
        width: 3.4rem;
        font-size: 3.25rem;
      }

      .screen-text {
        width: 8.6rem;

        p {
          font-size: 1.6rem;
          line-height: 1.46rem;
        }
      }
    }
  }
}
