button.toggle-box {
  background: none;
  border: none;
  outline: none;

  .screen-toggle {
    display: flex;
    align-items: center;
    width: 9rem;
    height: 3.2rem;
    gap: 4px;

    .screen-icon {
      display: flex;
      align-items: center;
      width: 3.2rem;
      font-size: 2.8rem;
      color: var(--copper-yellow);
    }

    .screen-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 5.8rem;
      padding-top: 0.2rem;

      p {
        margin: 0rem;
        color: var(--dark-grey);
        font-size: 1.15rem;
        font-weight: 600;
        line-height: 1.18rem;
        opacity: 0.88;
      }
    } 
  }
}

// ===================== Media Queries ===================== //

// ---------------- Max-Height: 690px ---------------- //

@media screen and (max-height: 690px) {
  button.toggle-box {

    .screen-toggle {
      flex-direction: row-reverse;
      width: 10.2rem;
      gap: 1px;

      .screen-icon {
        color: var(--dark-grey);
        font-size: 2.75rem;
        width: 3.2rem;
        opacity: 0.9;
      }

      .screen-text {
        align-items: flex-end;
        width: 7rem;
        padding-top: 0rem;

        p {
          margin: 0rem;
          color: var(--copper-yellow);
          font-size: 1.33rem;
          font-weight: 500;
          line-height: 1.38rem;
          opacity: 1;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1400px ---------------- //

@media screen and (max-width: 1400px) {
  button.toggle-box {

    .screen-toggle {
      width: 9.7rem;

      .screen-icon {
        font-size: 2.9rem;
      }

      .screen-text {
        width: 6.5rem;

        p {
          font-size: 1.23rem;
          line-height: 1.3rem;
        }
      }
    }
  }
}

@media screen and (max-height: 690px) and (max-width: 1400px) {
  button.toggle-box {

    .screen-toggle {
      width: 11rem;

      .screen-icon {
        width: 3.4rem;
        font-size: 2.8rem;
      }

      .screen-text {
        width: 7.6rem;

        p {
          font-size: 1.38rem;
          line-height: 1.33rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1280px ---------------- //

@media screen and (min-height: 691px) and (max-width: 1280px) {
  button.toggle-box {

    .screen-toggle {
      width: 10.3rem;

      .screen-icon {
        width: 3.3rem;
        font-size: 3.2rem;
      }

      .screen-text {
        width: 7rem;

        p {
          font-size: 1.35rem;
          line-height: 1.34rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1240px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1240px) {
  button.toggle-box {

    .screen-toggle {

      .screen-icon {
        font-size: 2.98rem;
      }

      .screen-text {

        p {
          font-size: 1.43rem;
          line-height: 1.37rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1180px ---------------- //

@media screen and (max-width: 1180px) {
  button.toggle-box {

    .screen-toggle {

      .screen-icon {
        font-size: 3.3rem;
      }

      .screen-text {

        p {
          font-size: 1.41rem;
          line-height: 1.42rem;
        }
      }
    }
  }
}

// ---------------- Max-Height: 690px and Max-Width: 1180px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1180px) {
  button.toggle-box {

    .screen-toggle {

      .screen-icon {
        font-size: 3.05rem;
      }

      .screen-text {

        p {
          font-size: 1.48rem;
          line-height: 1.48rem;
        }
      }
    }
  }
}

// ---------------- Max-Height: 690px and Max-Width: 1115px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1115px) {
  button.toggle-box {

    .screen-toggle {

      .screen-icon {
        font-size: 3.14rem;
      }

      .screen-text {

        p {
          font-size: 1.52rem;
          line-height: 1.43rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1080px ---------------- //

@media screen and (max-width: 1080px) {
  button.toggle-box {

    .screen-toggle {
      width: 11.5rem;

      .screen-icon {
        width: 3.6rem;
        font-size: 3.32rem;
      }

      .screen-text {
        width: 7.9rem;

        p {
          font-size: 1.46rem;
          line-height: 1.48rem;
        }
      }
    }
  }
}

// ---------------- Max-Height: 690px and Max-Width: 1000px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1000px) {
  button.toggle-box {

    .screen-toggle {
      width: 12.6rem;
      height: 3.6rem;
      gap: 3px;

      .screen-icon {
        width: 3.6rem;
        height: 3.6rem;
        font-size: 3.3rem;
      }

      .screen-text {
        width: 9.2rem;
        height: 3.6rem;

        p {
          font-size: 1.63rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}

// ---------------- Max-Height: 690px and Max-Width: 920px ---------------- //

@media screen and (max-height: 690px) and (max-width: 920px) {
  button.toggle-box {

    .screen-toggle {
      width: 13.3rem;
      height: 3.8rem;

      .screen-icon {
        width: 3.8rem;
        height: 3.8rem;
        font-size: 3.5rem;
      }

      .screen-text {
        width: 9.5rem;
        height: 3.8rem;

        p {
          font-size: 1.68rem;
          line-height: 1.65rem;
        }
      }
    }
  }
}

// ----------------  Max-Width: 840px ---------------- //

@media screen and (max-width: 840px) {
  button.toggle-box {

    .screen-toggle {
      flex-direction: row-reverse;
      width: 13.3rem;
      height: 3.8rem;

      .screen-icon {
        color: var(--dark-grey);
        width: 3.8rem;
        height: 3.8rem;
        font-size: 3.5rem;
      }

      .screen-text {
        align-items: flex-end;
        width: 9.5rem;
        height: 3.8rem;

        p {
          color: var(--copper-yellow);
          font-size: 1.8rem;
          line-height: 1.7rem;
        }
      }
    }
  }
}

// ----------------  Max-Width: 720px ---------------- //

@media screen and (max-width: 720px) {
  button.toggle-box {

    .screen-toggle {
      width: 13.8rem;
      height: 4rem;

      .screen-icon {
        width: 4rem;
        height: 4rem;
        font-size: 3.8rem;
      }

      .screen-text {
        width: 9.8rem;
        height: 4rem;

        p {
          font-size: 1.92rem;
          line-height: 1.78rem;
        }
      }
    }
  }
}

// ----------------  Max-Width: 640px ---------------- //

@media screen and (max-width: 640px) {
  button.toggle-box {

    .screen-toggle {

      .screen-icon {
        font-size: 4rem;
      }

      .screen-text {

        p {
          font-size: 2rem;
          line-height: 1.86rem;
        }
      }
    }
  }
}

// ----------------  Max-Width: 600px ---------------- //

@media screen and (max-width: 600px) {
  button.toggle-box {

    .screen-toggle {
      width: 14.8rem;
      height: 4.3rem;

      .screen-icon {
        width: 4.3rem;
        height: 4.3rem;
        font-size: 4rem;
      }

      .screen-text {
        width: 10.5rem;
        height: 4.3rem;

        p {
          font-size: 1.98rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}