// ------------ Main Room ----------- //
.main-room-north-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .main-room-north-grid {
    width: 89%;
    height: 40rem;
    display: grid;
    grid-template-columns: 1.8fr 5.5fr 5.8fr 5.5fr 5.9fr 4.8fr 1.5fr 4.7fr;
    gap: 0.8rem;

    // .section {
    //   background-color: #fff;
    //   border: 1px solid #f3f3f3;
    // }

    //----------------- COLUMN 1 ------------------//

    .north-column-1 {
      position: relative;
      display: flex;
      flex-direction: column;

      // ---------- Sam --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 3.8rem;
        left: 1.2rem;
        width: 3rem;
      }

      // ---------- Undershirt --------- //  
      .sub-section-1-2 {
        position: absolute;
        top: 8.5rem;
        left: 1.2rem;
        width: 3rem;
      }

      // ---------- Strength --------- //
      .sub-section-1-3 {
        position: absolute;
        top: 13.2rem;
        right: 0;
        width: 4.3rem;
      }

      // ---------- Working --------- //
      .sub-section-1-4 {
        position: absolute;
        top: 18.3rem;
        right: 0;
        width: 3.2rem;
      }

      // ---------- Dispatch --------- //
      .sub-section-1-5 {
        position: absolute;
        top: 23.2rem;
        right: 0;
        width: 5rem;
      }
    }

    //----------------- COLUMN 2 ------------------//

    .north-column-2 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // ---------- Chicken --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 0;
        width: 13.6rem;
      }
        
      // ---------- Hermit --------- //
      .sub-section-2-2 {
        position: absolute;
        top: 17.8rem;
        left: 0.7rem;
        width: 4rem;
      }
        
      // ---------- Empress --------- //
      .sub-section-2-3 {
        position: absolute;
        top: 18rem;
        width: 3.8rem;
      }
        
      // ---------- Emperor --------- //
      .sub-section-2-4 {
        position: absolute;
        top: 17.9rem;
        right: 0.6rem;
        width: 4.2rem;
      }
      
      // ---------- Divine --------- //
      .sub-section-2-5 {
        position: absolute;
        bottom: 1.5rem;
        width: 15rem;
     }  
    }
    
    //----------------- COLUMN 3 ------------------//
    
    .north-column-3 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      // ---------- Cupid --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 0;
        width: 15.7rem;
      }
        
      // ---------- Magician --------- //
      .sub-section-3-2 {
        position: absolute;
        top: 13.9rem;
        left: 0.1rem;
        width: 3.7rem;
      }
        
      // ---------- Ed --------- //
      .sub-section-3-3 {
        position: absolute;
        top: 18.15rem;
        left: 0.8rem;
        width: 2.5rem;
      }
        
      // ---------- Crayolas --------- //
      .sub-section-3-4 {
        position: absolute;
        top: 22.1rem;
        left: 0.1rem;
        width: 3.7rem;
      }
        
      // ---------- Launch --------- //
      .sub-section-3-5 {
        position: absolute;
        top: 14.5rem;
        width: 6.8rem;
      }
        
      // ---------- Reflection --------- //
       .sub-section-3-6 {
        position: absolute;
        top: 13.9rem;
        right: 0.1rem;
        width: 3.2rem;
      }
        
      // ---------- Violin Angel --------- //
      .sub-section-3-7 {
        position: absolute;
        top: 18rem;
        right: 0.5rem;
        width: 2.4rem;
      }
        
      // ---------- Priestess --------- //
      .sub-section-3-8 {
        position: absolute;
        top: 21.8rem;
        right: 0.1rem;
        width: 3.6rem;
      }
      
      // ---------- Smile --------- //
      .sub-section-3-9 {
        position: absolute;
        bottom: 0.7rem;
        width: 15.7rem;
      }
    }
    
    //----------------- COLUMN 4 ------------------//
    
    .north-column-4 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      // ---------- IceCream --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 0;
        width: 14.1rem;
      }
      
      // ---------- DrowningDevil --------- //
      .sub-section-4-2 {
        position: absolute;
        top: 11.8rem;
        width: 15rem;
      }
      
      // ---------- RetellingExodus --------- //
      .sub-section-4-3 {
        position: absolute;
        bottom: 0.7rem;
        width: 14.3rem;
      }
    }
    
    //----------------- COLUMN 5 ------------------/
    
    .north-column-5 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
        
      // ---------- Down --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 6.7rem;
      }
        
      // ---------- Jaded --------- //
      .sub-section-5-2 {
        position: absolute;
        top: 0;
        left: 7.5rem;
        width: 4.3rem;
      }
        
      // ---------- BlackRabbi --------- //
      .sub-section-5-3 {
        position: absolute;
        top: 6.3rem;
        left: 8rem;
        width: 3.5rem;
      }
        
      // ---------- NeverFeel --------- //
      .sub-section-5-4 {
        position: absolute;
        top: 0.8rem;
        right: 0.4rem;
        width: 3.4rem;
      }
        
      // ---------- Mystic --------- //
      .sub-section-5-5 {
        position: absolute;
        top: 5.2rem;
        right: 0;
        width: 4rem;
      }
      
      // ---------- LiftOff --------- //
      .sub-section-5-6 {
        position: absolute;
        top: 11.45rem;
        width: 16.3rem;
      }
      
      // ---------- Parallel --------- //
      .sub-section-5-7 {
        position: absolute;
        bottom: 1.6rem;
        width: 15.4rem;
      }
    }

    //----------------- COLUMN 6 ------------------/

    .north-column-6 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      // ---------- GoldenEgg --------- //
      .sub-section-6-1 {
        position: absolute;
        width: 13.2rem;
      }
      
      // ---------- Identity --------- //
      .sub-section-6-2 {
        position: absolute;
        top: 10.8rem;
        width: 13.2rem;
      }
      
      // ---------- Summer --------- //
      .sub-section-6-3 {
        position: absolute;
        bottom: 0.7rem;
        width: 11.9rem;
      }
    }

    //----------------- COLUMN 7 ------------------/

    .north-column-7 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      // ---------- Actor --------- //
      .sub-section-7-1 {
        position: absolute;
        top: 0;
        width: 3.9rem;
      }
      
      // ---------- KissMe --------- //
      .sub-section-7-2 {
        position: absolute;
        top: 6.1rem;
        width: 3rem;
      }
      
      // ---------- Remembering --------- //
      .sub-section-7-3 {
        position: absolute;
        top: 10.5rem;
        width: 3.9rem;
      }

      // ---------- TheFirstJob --------- //
      .sub-section-7-4 {
        position: absolute;
        top: 16.5rem;
        left: 0;
        width: 3rem;
      }

      // ---------- FirstNote --------- //
      .sub-section-7-5 {
        position: absolute;
        top: 20.8rem;
        left: 0;
        width: 3.2rem;
      }

      // ---------- Vacation --------- //
      .sub-section-7-6 {
        position: absolute;
        top: 25.4rem;
        left: 0;
        width: 3.2rem;
      }

      // ---------- JadedClown --------- //
      .sub-section-7-7 {
        position: absolute;
        bottom: 3.8rem;
        width: 3.9rem;
      }
    }


    //----------------- COLUMN 8 ------------------/

    .north-column-8 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      // ---------- Premonition --------- //
      .sub-section-8-1 {
        position: absolute;
        top: 3.6rem;
        left: 0.3rem;
        width: 7.3rem;
      }
      
      // ---------- DessertChef --------- //
      .sub-section-8-2 {
        position: absolute;
        top: 12rem;
        left: 1.2rem;
        width: 2.5rem;
      }
      
      // ---------- WhiteClown --------- //
      .sub-section-8-3 {
        position: absolute;
        top: 12rem;
        right: 6.5rem;
        width: 2.5rem;
      }

      // ---------- GalleryHeaven --------- //
      .sub-section-8-4 {
        position: absolute;
        top: 16.5rem;
        left: -0.7rem;
        width: 10.1rem;
      }

      // ---------- StopFollowing --------- //
      .sub-section-8-5 {
        position: absolute;
        bottom: 3.5rem;
        left: 0.2rem;
        width: 66px;
      }

      // ---------- Caryatids --------- //
      .sub-section-8-6 {
        position: absolute;
        bottom: 4rem;
        right: 1.5rem;
        width: 6.2rem;
      }

      // ---------- Dad and Three Eggs --------- //
      .sub-section-8-7 {
        position: absolute;
        bottom: 12.3rem;
        right: -1.2rem;
        width: 3.9rem;
      }
    }
  }
}