.entry-room-container {
  display: flex;
  justify-content: center;

  .entry-east-grid {
    width: 82%;
    height: 40rem;
    display: grid;
    grid-template: 16rem 24rem / repeat(5, 1fr);
    // border-bottom: 2px solid #b8b8b8;


    // .section {
    //   background-color: #fff;
    //   border: 1px solid #f3f3f3;
    // }

    // -------------------- Column 1 --------------------- //

    .entry-east-column-1 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Challenges --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 0;
        left: 5rem;
        width: 11.4rem;
      }
    }

    // -------------------- Column 2 --------------------- //

   .entry-east-column-2 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Marriage of Art and Science --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 18rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .entry-east-column-3 {
      position: relative;
      display: flex;
      justify-content: center;

      // ---------- Venus --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 1.8rem;
        width: 14.8rem;
      }
    }

    // -------------------- Column 4 --------------------- //

    .entry-east-column-4 {
      position: relative;
      display: flex;
      justify-content: center;


      // ---------- It's Time --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 1.4rem;
        right: 1rem;
        width: 17.5rem;
      }
    }

    // -------------------- Column 5 --------------------- //

    .entry-east-column-5 {
      position: relative;
      display: flex;
      justify-content: center;


      // ---------- Neptunes Confront Us About the Pollution --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 0.3rem;
        right: 0;
        width: 18rem;
      }
    }

    // -------------------- Column 6 --------------------- //

    .entry-east-column-6 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: span 2;
    }

    // -------------------- Column 7 --------------------- //

    // Door Frame Styles applied globally in index.scss //
    
    // -------------------- Column 8 --------------------- //

    .entry-east-column-8 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: 4 / span 2;   

      // ---------- The Dream --------- //
      .sub-section-8-1 {
        position: absolute;
        top: 8rem;
        left: 0rem;
        width: 3.2rem;
        z-index: 200;
      }

      // ---------- Evan --------- //
      .sub-section-8-2 {
        position: absolute;
        top: 5.5rem;
        right: -4.2rem;
        width: 6.4rem;
        z-index: 100;
      }
    }
  }
}

// -------------------- Media Queries ---------------------- //

@media (max-width: 1800px) {
  .entry-room-container {
    
    .entry-east-grid {
      width: 84%;
      margin-left: -3.5rem;

       // -------------------- Column 1 --------------------- //

      .entry-east-column-1 {

       // ---------- Challenges --------- //
        .sub-section-1-1 {
          left: 4rem;
          width: 11.4rem;
        }
      }

      // -------------------- Column 2 --------------------- //

      .entry-east-column-2 {

      // ---------- Marriage of Art and Science --------- //
        .sub-section-2-1 {
          left: -0.5rem;
          width: 18rem;
        }
      }

      // -------------------- Column 4 --------------------- //
      
      .entry-east-column-4 {
        
        // ---------- It's Time --------- //
        .sub-section-4-1 {
          right: 0.2rem;
        }
      }
      
      // -------------------- Column 5 --------------------- //
      
      .entry-east-column-5 {
        
        // ---- Neptunes Confront Us About the Pollution ----- //
        .sub-section-5-1 {
          right: -0.4rem;
          width: 17.8rem;
        }
      }
      
      // -------------------- Column 6 --------------------- //
      
      .entry-east-column-6 {
        padding-right: 1.4rem;
      }
      
      // -------------------- Column 8 --------------------- //

      .entry-east-column-8 {
        padding-left: 1.4rem;

        // ---------- The Dream --------- //
        .sub-section-8-1 {
          left: 0.2rem;
        }

        // ---------- Evan --------- //
        .sub-section-8-2 {
          right: -5rem;
          width: 6.2rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1380px ---------------- //

@media (max-width: 1380px) {
  .entry-room-container {
    
    .entry-east-grid {
      width: 90%;
      height: 38rem;
      grid-template: 14.3rem 23.7rem / repeat(5, 1fr);

      // -------------------- Column 1 --------------------- //

      .entry-east-column-1 {

      // ---------- Challenges --------- //
        .sub-section-1-1 {
          left: 4rem;
          width: 10rem;
        }
      }

    // -------------------- Column 2 --------------------- //

   .entry-east-column-2 {

     // ---------- Marriage of Art and Science --------- //
      .sub-section-2-1 {
        left: -0.4rem;
        width: 16rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .entry-east-column-3 {

      // ---------- Venus --------- //
      .sub-section-3-1 {
        top: 1.1rem;
        width: 13.9rem;
      }
    }

    // -------------------- Column 4 --------------------- //
    
    .entry-east-column-4 {
      
      // ---------- It's Time --------- //
      .sub-section-4-1 {
        top: 0.8rem;
        right: -0.4rem;
        width: 16.5rem;
      }
    }
    
    // -------------------- Column 5 --------------------- //
    
    .entry-east-column-5 {
      
      // ---- Neptunes Confront Us About the Pollution ----- //
      .sub-section-5-1 {
        top: 0.2rem;
        right: -0.8rem;
        width: 15.9rem;
      }
    }
    
      // -------------------- Column 6 --------------------- //
      
      .entry-east-column-6 {
        padding-right: 1.1rem;
      }
      
      // -------------------- Column 8 --------------------- //

      .entry-east-column-8 {
        padding-left: 1.4rem;

        // ---------- The Dream --------- //
        .sub-section-8-1 {
          left: 0.5rem;
          width: 3.1rem;
        }

        // ---------- Evan --------- //
        .sub-section-8-2 {
          right: -3.9rem;
          width: 5.7rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1280px ---------------- //

@media (max-width: 1280px) {
  .entry-room-container {
    
    .entry-east-grid {
      width: 86%;
      height: 36rem;
      grid-template: 13.4rem 22.6rem / repeat(5, 1fr);

      // -------------------- Column 1 --------------------- //

      .entry-east-column-1 {

      // ---------- Challenges --------- //
        .sub-section-1-1 {
          left: 3.6rem;
          width: 9.5rem;
        }
      }

    // -------------------- Column 2 --------------------- //

   .entry-east-column-2 {

     // ---------- Marriage of Art and Science --------- //
      .sub-section-2-1 {
        left: -0.2rem;
        width: 15rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .entry-east-column-3 {

      // ---------- Venus --------- //
      .sub-section-3-1 {
        top: 1.3rem;
        width: 12.8rem;
      }
    }

    // -------------------- Column 4 --------------------- //
    
    .entry-east-column-4 {
      
      // ---------- It's Time --------- //
      .sub-section-4-1 {
        top: 0.8rem;
        right: -0.4rem;
        width: 15.8rem;
      }
    }
    
    // -------------------- Column 5 --------------------- //
    
    .entry-east-column-5 {
      
      // ---- Neptunes Confront Us About the Pollution ----- //
      .sub-section-5-1 {
        top: 0.2rem;
        right: -1.6rem;
        width: 15.2rem;
      }
    }
    
      // -------------------- Column 6 --------------------- //
      
      .entry-east-column-6 {

        .window-frame {
          left: 1.1rem;
        }
      }
      
      // -------------------- Column 8 --------------------- //

      .entry-east-column-8 {

        .window-frame {
          right: 1.1rem;
        }

        // ---------- The Dream --------- //
        .sub-section-8-1 {
          top: 7rem;
          left: 0.3rem;
          width: 3rem;
        }

        // ---------- Evan --------- //
        .sub-section-8-2 {
          right: -5.2rem;
          width: 5.3rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1220px ---------------- //

@media (max-width: 1220px) {
  .entry-room-container {
    
    .entry-east-grid {
      width: 86%;
      height: 35.6rem;
      grid-template-rows: 13.2rem 22.4rem;

      // .section {
      //   border: 1px solid #d3d3d3;
      // }

      // -------------------- Column 1 --------------------- //

      .entry-east-column-1 {

      // ---------- Challenges --------- //
        .sub-section-1-1 {
          // left: 3.6rem;
          width: 9.4rem;
        }
      }

    // -------------------- Column 2 --------------------- //

   .entry-east-column-2 {

     // ---------- Marriage of Art and Science --------- //
      .sub-section-2-1 {
        // left: -0.2rem;
        width: 14.8rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .entry-east-column-3 {

      // ---------- Venus --------- //
      .sub-section-3-1 {
        // top: 1.3rem;
        width: 12.6rem;
      }
    }

    // -------------------- Column 4 --------------------- //
    
    .entry-east-column-4 {
      
      // ---------- It's Time --------- //
      .sub-section-4-1 {
        // top: 0.8rem;
        // right: -0.4rem;
        width: 15.5rem;
      }
    }
    
    // -------------------- Column 5 --------------------- //
    
    .entry-east-column-5 {
      
      // ---- Neptunes Confront Us About the Pollution ----- //
      .sub-section-5-1 {
        top: 0.3rem;
        right: -1.8rem;
        width: 14.9rem;
      }
    }
    
      // -------------------- Column 6 --------------------- //
      
      .entry-east-column-6 {

        .window-frame {
          // left: 1.1rem;
        }
      }
      
      // -------------------- Column 8 --------------------- //

      .entry-east-column-8 {

        .window-frame {
          // right: 1.1rem;
        }

        // ---------- The Dream --------- //
        .sub-section-8-1 {
          // top: 7rem;
          left: 0.1rem;
          width: 2.9rem;
        }

        // ---------- Evan --------- //
        .sub-section-8-2 {
          right: -4.9rem;
          width: 5.2rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1200px ---------------- //

@media (max-width: 1200px) {
  .entry-room-container {
    
    .entry-east-grid {
      width: 86.8%;

      // .section {
      //   border: 1px solid #d3d3d3;
      // }

    // -------------------- Column 4 --------------------- //
    
    .entry-east-column-4 {
      
      // ---------- It's Time --------- //
      .sub-section-4-1 {
        right: -0.5rem;
      }
    }
      
      // -------------------- Column 8 --------------------- //

      .entry-east-column-8 {

        // ---------- The Dream --------- //
        .sub-section-8-1 {
          width: 2.8rem;
        }

        // ---------- Evan --------- //
        .sub-section-8-2 {
          right: -4.7rem;
          width: 5.1rem;
        }
      }
    }
  }
}
// ---------------- Max-Width: 1185px ---------------- //

@media (max-width: 1185px) {
  .entry-room-container {
    
    .entry-east-grid {
      
      // -------------------- Column 8 --------------------- //

      .entry-east-column-8 {

        // ---------- The Dream --------- //
        .sub-section-8-1 {
          width: 2.6rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1140px ---------------- //

@media (max-width: 1140px) {
  .entry-room-container {
    
    .entry-east-grid {
      width: 86%;
      height: 33.8rem;
      grid-template-rows: 12.7rem 21.1rem;

      // .section {
      //   border: 1px solid #d3d3d3;
      // }

      // -------------------- Column 1 --------------------- //

      .entry-east-column-1 {

      // ---------- Challenges --------- //
        .sub-section-1-1 {
          left: 2.2rem;
          width: 9.1rem;
        }
      }

    // -------------------- Column 2 --------------------- //

   .entry-east-column-2 {

     // ---------- Marriage of Art and Science --------- //
      .sub-section-2-1 {
        left: -0.8rem;
        width: 14.4rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .entry-east-column-3 {

      // ---------- Venus --------- //
      .sub-section-3-1 {
        top: 1.1rem;
        width: 12.3rem;
      }
    }

    // -------------------- Column 4 --------------------- //
    
    .entry-east-column-4 {
      
      // ---------- It's Time --------- //
      .sub-section-4-1 {
        // top: 0.8rem;
        right: -1rem;
        width: 15.2rem;
      }
    }
    
    // -------------------- Column 5 --------------------- //
    
    .entry-east-column-5 {
      
      // ---- Neptunes Confront Us About the Pollution ----- //
      .sub-section-5-1 {
        right: -2.1rem;
        width: 14.3rem;
      }
    }
    
      // -------------------- Column 6 --------------------- //
      
      .entry-east-column-6 {

        .window-frame {
          left: 0.6rem;
        }
      }
      
      // -------------------- Column 8 --------------------- //

      .entry-east-column-8 {

        .window-frame {
          right: 0.6rem;
        }

        // ---------- The Dream --------- //
        .sub-section-8-1 {
          // top: 7rem;
          left: 0.1rem;
          width: 2.6rem;
        }

        // ---------- Evan --------- //
        .sub-section-8-2 {
          right: -5.2rem;
          width: 4.9rem;
        }
      }
    }
  }
}