// ------------- Utility Classes ----------- //



// ---------------------------------------------------------- //

.entry-room-container {
  display: flex;
  justify-content: center;

  .entry-east-grid {
    width: 82%;
    height: 40rem;
    display: grid;
    grid-template: 16rem 24rem / repeat(5, 1fr);
    // border-bottom: 2px solid #b8b8b8;


    // .section {
    //   background-color: #fff;
    //   border: 1px solid #f3f3f3;
    // }

    // -------------------- Column 1 --------------------- //

    .entry-east-column-1 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Challenges --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 0;
        left: 5rem;
        width: 11.4rem;
      }
    }

    // -------------------- Column 2 --------------------- //

   .entry-east-column-2 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Marriage of Art and Science --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 18rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .entry-east-column-3 {
      position: relative;
      display: flex;
      justify-content: center;

      // ---------- Venus --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 1.8rem;
        width: 14.8rem;
      }
    }

    // -------------------- Column 4 --------------------- //

    .entry-east-column-4 {
      position: relative;
      display: flex;
      justify-content: center;


      // ---------- Title Pending --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 1.4rem;
        right: 1.2rem;
        width: 17.5rem;
      }
    }

    // -------------------- Column 5 --------------------- //

    .entry-east-column-5 {
      position: relative;
      display: flex;
      justify-content: center;


      // ---------- Neptunes Confront Us About the Pollution --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 0rem;
        right: 1rem;
        width: 18rem;
      }
    }

    // -------------------- Column 6 --------------------- //

    .entry-east-column-6 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: span 2;
    }

    // -------------------- Column 7 --------------------- //

    // Door Frame Styles applied globally in index.scss //
    
    // -------------------- Column 8 --------------------- //

    .entry-east-column-8 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: 4 / span 2;   

      // ---------- The Dream --------- //
      .sub-section-8-1 {
        position: absolute;
        top: 8rem;
        left: 0rem;
        width: 3.2rem;
        z-index: 200;
      }

      // ---------- Evan --------- //
      .sub-section-8-2 {
        position: absolute;
        top: 5.5rem;
        right: -4.5rem;
        width: 6.6rem;
        z-index: 100;
      }
    }
  }
}

// -------------------- Media Queries ---------------------- //

@media (max-width: 1800px) {
  .entry-room-container {
    
    .entry-east-grid {
      width: 84%;
      margin-left: -3.5rem;

      .entry-east-column-5 {

        // ---- Neptunes Confront Us About the Pollution ----- //
        .sub-section-5-1 {
          right: 0.5rem;
        }
      }

      .entry-east-column-6 {
        padding-right: 1.4rem;
      }

      .entry-east-column-8 {
        padding-left: 1.4rem;

        // ---------- The Dream --------- //
        .sub-section-8-1 {
          left: 0.1rem;
        }

        // ---------- Evan --------- //
        .sub-section-8-2 {
          right: -5.2rem;
        }
      }
    }
  }
}

@media (max-width: 1370px) {
  .entry-room-container {
    
    .entry-east-grid {
      width: 91%;

      .entry-east-column-5 {

        // ---- Neptunes Confront Us About the Pollution ----- //
        .sub-section-5-1 {
          right: 0.5rem;
        }
      }

      .entry-east-column-6 {
        padding-right: 1.4rem;
      }

      .entry-east-column-8 {
        padding-left: 1.4rem;

        // ---------- The Dream --------- //
        .sub-section-8-1 {
          left: 0.5rem;
          width: 3rem;
        }

        // ---------- Evan --------- //
        .sub-section-8-2 {
          right: -4.5rem;
          width: 6rem;
        }
      }
    }
  }
}