

// ------------- Utility Classes ----------- //

.window-frame-w {
  position: absolute;
  bottom: 1.6rem;
  width: 34.2rem;
  height: 21rem;
  background-color: #b8b8b8;

  .window-pane-w {
    position: absolute;
    bottom: 0.8rem;
    width: 15.9rem;
    height: 19.4rem;
    background-color: #fdfdfd;
    box-shadow: inset 5px 5px 14px 10px rgba(0, 0, 0, 0.1);
  }

  .pane-w-left {
    left: 0.8rem;
  }

  .pane-w-right {
    right: 0.8rem;
  }
}

// ---------------------------------------------------------- //

.entry-room-container {
  display: flex;
  justify-content: center;

  .entry-west-grid {
    width: 80%;
    height: 40rem;
    display: grid;
    grid-template: 17rem 23rem / repeat(5, 1fr);

    // .section {
    //   background-color: #fff;
    //   border: 1px solid #f3f3f3;
    // }

    // -------------------- Column 1 --------------------- //

    .entry-west-column-1 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Arrival Through the Black Hole --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 0;
        width: 18.4rem;
      }
    }

    // -------------------- Column 2 --------------------- //

   .entry-west-column-2 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Fast Getaway --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 1rem;
        width: 15.4rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .entry-west-column-3 {
      position: relative;
      display: flex;
      justify-content: center;

      // ---------- Moving the Spotlight --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 0.7rem;
        width: 11.8rem;
      }
    }

    // -------------------- Column 4 --------------------- //

    .entry-west-column-4 {
      position: relative;
      display: flex;


      // ---------- Art --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 0.2rem;
        left: 2.9rem;
        width: 12.2rem;
      }
    }

    // -------------------- Column 5 --------------------- //

    .entry-west-column-5 {
      position: relative;
      display: flex;
      justify-content: center;


      // ---------- Mother's Turn --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 0rem;
        left: 0;
        width: 17.4rem;
      }
    }

    // -------------------- Column 6 --------------------- //

    .entry-west-column-6 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: span 2;
      
      .window-frame-w {
        left: 0.8rem;
        }
      }

    // -------------------- Column 7 --------------------- //
    // -------- Door Frame Styles applied globally in index.scss -------- //
   
    // -------------------- Column 8 --------------------- //

    .entry-west-column-8 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: 4 / span 2;
      
      .window-frame-w {
        right: 0.8rem;
      }
    }
  }
}