.entry-room-container {
  display: flex;
  justify-content: center;

  .entry-west-grid {
    width: 82%;
    height: 40rem;
    display: grid;
    grid-template: 16rem 24rem / repeat(5, 1fr);

    // .section {
    //   background-color: #fff;
    //   border: 1px solid #f3f3f3;
    // }

    // -------------------- Column 1 --------------------- //

    .entry-west-column-1 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Arrival Through the Black Hole --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 0.1rem;
        left: 3.4rem;
        width: 18rem;
      }
    }

    // -------------------- Column 2 --------------------- //

   .entry-west-column-2 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Fast Getaway --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 1.2rem;
        left: 3.8rem;
        width: 14.5rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .entry-west-column-3 {
      position: relative;
      display: flex;
      justify-content: center;

      // ---------- Moving the Spotlight --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 0.3rem;
        width: 13.8rem;
      }
    }

    // -------------------- Column 4 --------------------- //

    .entry-west-column-4 {
      position: relative;
      display: flex;


      // ---------- Art --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 0;
        right: 6rem;
        width: 11.7rem;
      }
    }

    // -------------------- Column 5 --------------------- //

    .entry-west-column-5 {
      position: relative;
      display: flex;
      justify-content: center;


      // ---------- Mother's Turn --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 0;
        right: 5.2rem;
        width: 16.5rem;
      }
    }

    // -------------------- Column 6 --------------------- //

    .entry-west-column-6 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: span 2;
      }

    // -------------------- Column 7 --------------------- //

    // Door Frame Styles applied globally in index.scss //
   
    // -------------------- Column 8 --------------------- //

    .entry-west-column-8 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: 4 / span 2;
    }
  }
}

// ====================== Media Queries ====================== //

// ---------------- Max-Width: 1800px ---------------- //

@media screen and (max-width: 1800px) {
  .entry-room-container {

    .entry-west-grid {
      width: 83%;

      // -------------------- Column 1 --------------------- //

      .entry-west-column-1 {

      // ---------- Arrival Through the Black Hole --------- //
        .sub-section-1-1 {
          top: 0.1rem;
          left: 2.4rem;
          width: 18rem;
        }
      }

      // -------------------- Column 2 --------------------- //

      .entry-west-column-2 {

        // ---------- Fast Getaway --------- //
        .sub-section-2-1 {
          top: 1.2rem;
          left: 3.2rem;
          width: 14.5rem;
        }
      }

      // -------------------- Column 4 --------------------- //

      .entry-west-column-4 {

        // ---------- Art --------- //
        .sub-section-4-1 {
          right: 5.7rem;
          width: 11.7rem;
        }
      }

      // -------------------- Column 5 --------------------- //

      .entry-west-column-5 {

        // ---------- Mother's Turn --------- //
        .sub-section-5-1 {
          right: 5rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1760px ---------------- //

@media screen and (max-width: 1760px) {
  .entry-room-container {

    .entry-west-grid {
      width: 84.5%;

      // -------------------- Column 2 --------------------- //

      .entry-west-column-2 {

        // ---------- Fast Getaway --------- //
        .sub-section-2-1 {
          top: 1.4rem;
          left: 3.4rem;
          width: 14.3rem;
        }
      }

      // -------------------- Column 5 --------------------- //

      .entry-west-column-5 {

        // ---------- Mother's Turn --------- //
        .sub-section-5-1 {
          right: 4.7rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1730px ---------------- //

@media screen and (max-width: 1730px) {
  .entry-room-container {

    .entry-west-grid {
      width: 85%;
    }
  }
}

// ---------------- Max-Width: 1400px ---------------- //

@media screen and (max-width: 1400px) {
  .entry-room-container {

    .entry-west-grid {
      height: 39rem;
      grid-template: 15.2rem 23.8rem / repeat(5, 1fr);

      // -------------------- Column 1 --------------------- //

      .entry-west-column-1 {

      // ---------- Arrival Through the Black Hole --------- //
        .sub-section-1-1 {
          top: 0rem;
          left: 2rem;
          width: 17.6rem;
        }
      }

      // -------------------- Column 2 --------------------- //

      .entry-west-column-2 {

        // ---------- Fast Getaway --------- //
        .sub-section-2-1 {
          top: 1.2rem;
          left: 3.1rem;
          width: 14.5rem;
        }
      }

      // -------------------- Column 3 --------------------- //

    .entry-west-column-3 {

      // ---------- Moving the Spotlight --------- //
      .sub-section-3-1 {
        top: 0.4rem;
        width: 13.4rem;
      }
    }

      // -------------------- Column 4 --------------------- //

      .entry-west-column-4 {

        // ---------- Art --------- //
        .sub-section-4-1 {
          top: 0rem;
          right: 5.5rem;
          width: 11.4rem;
        }
      }

      // -------------------- Column 5 --------------------- //

      .entry-west-column-5 {

        // ---------- Mother's Turn --------- //
        .sub-section-5-1 {
          right: 4.5rem;
          width: 16.1rem;
        }
      }
    }
  }
}

// ---------------- Max-Width: 1380px ---------------- //

@media screen and (max-width: 1380px) {
  .entry-room-container {

    .entry-west-grid {
      width: 85.7%;
    }
  }
}

// ---------------- Max-Width: 1000px ---------------- //

@media screen and (max-width: 1000px) {
  .entry-room-container {

    .entry-west-grid {
      width: 74.7%;
      height: 36rem;
      grid-template: 13.4rem 22.6rem / repeat(5, 1fr);

      // -------------------- Column 1 --------------------- //

      .entry-west-column-1 {

      // ---------- Arrival Through the Black Hole --------- //
        .sub-section-1-1 {
          left: 0.4rem;
          width: 15.2rem;
        }
      }

      // -------------------- Column 2 --------------------- //

      .entry-west-column-2 {

        // ---------- Fast Getaway --------- //
        .sub-section-2-1 {
          top: 0.8rem;
          left: 2rem;
          width: 12.9rem;
        }
      }

      // -------------------- Column 3 --------------------- //

      .entry-west-column-3 {

        // ---------- Moving the Spotlight --------- //
        .sub-section-3-1 {
          width: 11.8rem;
        }
      }

      // -------------------- Column 4 --------------------- //

      .entry-west-column-4 {

        // ---------- Art --------- //
        .sub-section-4-1 {
          right: 4.6rem;
          width: 9.7rem;
        }
      }

      // -------------------- Column 5 --------------------- //

      .entry-west-column-5 {

        // ---------- Mother's Turn --------- //
        .sub-section-5-1 {
          right: 3.8rem;
          width: 13.8rem;
        }
      }

      // -------------------- Column 6 --------------------- //

      .entry-west-column-6 {

        .window-frame {
          left: 0.8rem;
        }
      }
   
      // -------------------- Column 8 --------------------- //

      .entry-west-column-8 {

        .window-frame {
          right: 0.8rem;
        }
      }
    }
  }
}