

// ------------- Utility Classes ----------- //


// ---------------------------------------------------------- //

.entry-room-container {
  display: flex;
  justify-content: center;

  .entry-west-grid {
    width: 83%;
    height: 40rem;
    display: grid;
    grid-template: 16rem 24rem / repeat(5, 1fr);
    // border-bottom: 2px solid #b8b8b8;

    // .section {
    //   background-color: #fff;
    //   border: 1px solid #f3f3f3;
    // }

    // -------------------- Column 1 --------------------- //

    .entry-west-column-1 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Arrival Through the Black Hole --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 0.1rem;
        left: 3.4rem;
        width: 18rem;
      }
    }

    // -------------------- Column 2 --------------------- //

   .entry-west-column-2 {
      position: relative;
      display: flex;
      justify-content: center;


     // ---------- Fast Getaway --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 1.2rem;
        left: 3.8rem;
        width: 14.5rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .entry-west-column-3 {
      position: relative;
      display: flex;
      justify-content: center;

      // ---------- Moving the Spotlight --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 0.4rem;
        width: 11.8rem;
      }
    }

    // -------------------- Column 4 --------------------- //

    .entry-west-column-4 {
      position: relative;
      display: flex;


      // ---------- Art --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 0;
        right: 6rem;
        width: 11.7rem;
      }
    }

    // -------------------- Column 5 --------------------- //

    .entry-west-column-5 {
      position: relative;
      display: flex;
      justify-content: center;


      // ---------- Mother's Turn --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 0;
        right: 5.2rem;
        width: 16.5rem;
      }
    }

    // -------------------- Column 6 --------------------- //

    .entry-west-column-6 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: span 2;
      }

    // -------------------- Column 7 --------------------- //

    // Door Frame Styles applied globally in index.scss //
   
    // -------------------- Column 8 --------------------- //

    .entry-west-column-8 {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: 4 / span 2;
    }
  }
}