  .modal-backdrop.show {
    opacity: 0.6;
  }

.custom-modal-width {
  display: flex;
  justify-content: center;
  max-width: fit-content !important;
  width: auto !important;

  .modal-content {
    background-color: #262626;
    border-radius: 3px;
  }

  .modal-header {
    height: 2.7rem;
    padding: 0;

    .btn-close {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      height: 2.2rem;
      width: 2.2rem;
    }

    .btn-close:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .modal-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    padding-top: 0;
  
    .modal-img-constrained {
      height: 81dvh;
      width: auto;
      max-width: 90dvw;
      object-fit: contain;
      display: block;
      margin: 0.5rem;
      cursor: auto;
    }
    
    .modal-title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.3rem;
      margin-top: 0.4rem;
      font-size: 1.3rem;
      
      p {
        margin-bottom: 0;
        font-weight: 300;
        text-align: center;
        padding-left: 0.5rem;
        color: #dbdbdb;
        
        span {
          margin-right: 0.5rem;
          // font-size: 1.3rem;
          font-weight: 400;
          color: var(--copper-yellow);
          letter-spacing: 0.02rem;
        }
      }

      span.audio {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;

        .audio-content {
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            font-family: 'Story Script', sans-serif;
            font-size: 1.3rem;
            font-weight: 500;
            color: var(--copper-yellow);
          }
        }

        .audio-card button {
          height: 2.9rem;
          width: auto;
        }
      }
    }
  }
}

// ------------------- Media Queries -------------------- //

// -------------- Max-Width 1800px -------------- //

// -------------- Max-Width 1728px -------------- //

// -------------- Max-Width 1650px -------------- //

// -------------- Max-Width 1440px -------------- //

// -------------- Max-Width 1380px -------------- //

@media screen and (max-width: 1380) {
  
}.custom-modal-width {

  .modal-body {
    
    .modal-title {
      
      p {
        font-size: 1.4rem;
      }

      span.audio {

        .audio-card button {
          height: 3.4rem;
          width: 3.4rem;
        }
      }
    }
}
}
// -------------- Max-Width 1180px -------------- //

// -------------- Max-Width 1024px -------------- //

// -------------- Max-Width 820px -------------- //

// @media screen and (max-width: 820px) {
//   .modal-backdrop.show {
//     width: 100%;
//     height: 100%;
//   }
 
// .custom-modal-width {
//   display: flex;
//   justify-content: center;
//   max-width: fit-content !important;
//   width: auto !important;

//   .modal-content {
//     background-color: #262626;
//     border-radius: 3px;
//   }

//   .modal-img-constrained {
//     max-height: auto;
//     width: auto;
//     max-width: 80vw;
//   }
// }

// .footer-content {

//   .modal-title {
//     font-size: 1.8rem;

//     span {
//       margin-right: 0.4rem;
//     }
//   }

//   button {
//     background: none;
//     margin: 0 0.8rem;
//   } 
  
//   button.audio {
//     margin: 0 1.5rem;
//     color: #DCA738;
//     font-size: 1.85rem;
//     background: none;
//     border: none;
//   }
// }
// }
