  .modal-backdrop.show {
    opacity: 0.6;
  }

.custom-modal-width {
  display: flex;
  justify-content: center;
  max-width: fit-content !important;
  width: auto !important;

  .modal-content {
    background-color: #262626;
    border-radius: 3px;
  }

  .modal-header {
    height: 2.7rem;
    padding: 0;

    button.btn-close {
      position: absolute;
      top: 0.9rem;
      right: 2rem;
      font-size: 1.25rem;
    }

    button.btn-close:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .modal-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    padding-top: 0;
  
    .modal-img-constrained {
      height: 81dvh;
      width: auto;
      max-width: 90dvw;
      object-fit: contain;
      display: block;
      margin: 0.5rem;
      cursor: auto;
    }
    
    .modal-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.3rem;
      margin-top: 0.4rem;
      margin-left: 1.7rem;
      overflow: visible;
      
      p {
        margin-bottom: 0;
        font-size: 1.35rem;
        font-weight: 300;
        color: var(--off-white);
        
        span {
          margin-right: 0.5rem;
          font-size: 1.3rem;
          font-weight: 400;
          color: var(--copper-yellow);
          letter-spacing: 0.02rem;
        }
      }

      span.audio {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.4rem;

        .audio-content {
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            margin-left: 1.2rem;
            font-family: 'Story Script', sans-serif;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--copper-yellow);
          }

          .audio-card button {
            position: relative;
            width: 3.5rem;
            height: auto;
            z-index: 500;
            -webkit-appearance: none;
            appearance: none;
            visibility: visible !important;
            opacity: 1 !important;
            display: inline-block !important; // Forces Safari to calculate dimensions
            isolation: isolate;
          }
        }
      }
    }
  }
}

// ------------------- Media Queries -------------------- //

// -------------- Max-Width 1800px -------------- //

@media screen and (max-width: 1800px) {
  .custom-modal-width {

    .modal-header {
      height: 2.7rem;

      button.btn-close {
        top: 1rem;
      }
    }

    .modal-body {
    
      .modal-title {
        
        p {
          font-size: 1.45rem;
        
          span {
            font-size: 1.35rem;
          }
        }

        span.audio {

          .audio-content {

            p {
              font-size: 1.45rem;
              letter-spacing: 0.03rem;
            }

            .audio-card button {
              width: 3.6rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 1650px -------------- //

@media screen and (max-width: 1650px) {
  .custom-modal-width {

    .modal-body {
    
      .modal-title {
        
        p {
          font-size: 1.6rem;
        
          span {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

// -------------- Max-Width 1550px -------------- //

@media screen and (max-width: 1550px) {
  .custom-modal-width {

    .modal-body {
    
      .modal-title {

        p {
          font-size: 1.55rem;
        
          span {
            font-size: 1.4rem;
          }
        }

        span.audio {

          .audio-content {

            p {
              font-size: 1.55rem;
            }

            .audio-card button {
              width: 3.8rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 1380px -------------- //

@media screen and (max-width: 1380px) {
  .custom-modal-width {

    .modal-header {
      height: 2.8rem;
    }

    .modal-body {

      .modal-title {
        height: 2.2rem;
        margin-top: 0.6rem;

        p {
        font-size: 1.6rem;

          span {
            font-size: 1.5rem;
          }
        }

        span.audio {

          .audio-content {

            p {
            font-size: 1.6rem;
            }

            .audio-card button {
              width: 4rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 1370px -------------- //

@media screen and (max-width: 1330px) {
  .custom-modal-width {

    .modal-body {

      .modal-title {

        p {
        font-size: 1.62rem;

          span {
            font-size: 1.52rem;
          }
        }

        span.audio {

          .audio-content {

            p {
            font-size: 1.68rem;
            }

            .audio-card button {
              width: 4.15rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 1280px -------------- //

@media screen and (max-width: 1280px) {
  .custom-modal-width {

    .modal-body {

      .modal-title {

        p {
        font-size: 1.67rem;

          span {
            font-size: 1.57rem;
          }
        }

        span.audio {

          .audio-content {

            p {
            font-size: 1.77rem;
            }

            .audio-card button {
              width: 4.33rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-height: 620px and Max-Width 1280px -------------- //

@media screen and (max-height: 620px) and (max-width: 1280px) {
  .custom-modal-width {
    margin-top: 2dvh;
  }
}

// -------------- Max-Width 1200px -------------- //

@media screen and (max-width: 1200px) {
  .custom-modal-width {

    .modal-body {

      .modal-title {

        p {
        font-size: 1.71rem;

          span {
            font-size: 1.61rem;
          }
        }

        span.audio {

          .audio-content {

            p {
            font-size: 1.82rem;
            }

            .audio-card button {
              width: 4.5rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 1140px -------------- //

@media screen and (max-width: 1140px) {
  .custom-modal-width {

    .modal-header {
      height: 3rem;

      button.btn-close {
        right: 2.3rem;
        font-size: 1.55rem;
      }
    }

    .modal-body {

      .modal-img-constrained {
        height: 80dvh;
        max-width: 88dvw;
      }

      .modal-title {
        height: 2.6rem;

        p {
        font-size: 1.75rem;

          span {
            font-size: 1.65rem;
          }
        }

        span.audio {

          .audio-content {

            p {
            font-size: 1.9rem;
            }

            .audio-card button {
              width: 4.68rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 1130px -------------- //

@media screen and (max-width: 1130px) {
  .custom-modal-width {
    margin-top: 1.9dvh;

    .modal-header {
      height: 1.5rem;

      button.btn-close {
        top: 0.47rem;
        right: 1.4rem;
        font-size: 1.05rem;
      }
    }

    .modal-body {
      padding: 0.55rem;
      padding-top: 0;
    
      .modal-img-constrained {
        height: 79.5dvh;
        max-width: 90dvw;
      }
      
      .modal-title {
        height: 1.8rem;
        margin-top: 0.13rem;
        margin-bottom: 0.13rem;
        margin-left: 0rem;
        
        p {
          margin-left: 0.6rem;
          font-size: 1.24rem;
          
          span {
            margin-right: 0.4rem;
            font-size: 1.14rem;
            letter-spacing: 0.04rem;
          }
        }

        span.audio {
          margin-right: 0.1rem;

          .audio-content {

            p {
              font-size: 1.21rem;
            }

            .audio-card button {
              width: 3.1rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 1080px -------------- //

@media screen and (max-width: 1080px) {
  .custom-modal-width {

    .modal-body {

      .modal-title {
        height: 1.85rem;

        p {
        font-size: 1.26rem;

          span {
            margin-right: 0.3rem;
            font-size: 1.16rem;
          }
        }

        span.audio {

          .audio-content {

            p {
            font-size: 1.25rem;
            }

            .audio-card button {
              width: 3.12rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 1050px -------------- //

@media screen and (max-width: 1050px) {
  .custom-modal-width {
    margin-top: 3dvh;

    .modal-body {

      .modal-title {
        height: 1.9rem;

        p {
        font-size: 1.28rem;

          span {
            font-size: 1.18rem;
          }
        }

        span.audio {

          .audio-content {

            p {
            font-size: 1.3rem;
            }

            .audio-card button {
              width: 3.25rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 1050px -------------- //

@media screen and (max-height: 580px) and (max-width: 1050px) {
  .custom-modal-width {
    margin-top: 1.8dvh;
  }
}

// -------------- Max-Width 1025px -------------- //

@media screen and (max-width: 1025px) {
  .custom-modal-width {

    .modal-header {

      button.btn-close {
        // top: 0.85rem;
        font-size: 1.1rem;
      }
    }

    .modal-body {

      .modal-title {

        p {
        font-size: 1.28rem;

          span {
            margin-right: 0.2rem;
            font-size: 1.18rem;
          }
        }

        span.audio {

          .audio-content {

            p {
            font-size: 1.33rem;
            }

            .audio-card button {
              width: 3.3rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 1000px -------------- //

@media screen and (max-width: 1000px) {
  .custom-modal-width {
    margin-top: 1.7dvh;

    .modal-body {

      .modal-img-constrained {
        height: 79.2dvh;
      }

      .modal-title {
        height: 2rem;
        margin-left: 0.1rem;

        p {
        font-size: 1.25rem;

          span {
            display: none;
          }
        }

        span.audio {
          margin-right: 0.18rem;

          .audio-content {

            p {
            font-size: 1.28rem;
            }

            .audio-card button {
              width: 3.3rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 920px -------------- //

@media screen and (max-width: 920px) {
  .custom-modal-width {

    .modal-body {

      .modal-img-constrained {
        height: 79dvh;
      }

      .modal-title {

        span.audio {

          .audio-content {

            p {
              padding-top: 0.7dvh;
              font-size: 1.25rem;
            }

            .audio-card button {
              width: 3.4rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 880px -------------- //

@media screen and (max-width: 880px) {
  .custom-modal-width {

    .modal-body {

      .modal-title {

        p {
        font-size: 1.3rem;
        }

        span.audio {

          .audio-content {

            p {
            font-size: 1.35rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 840px -------------- //

@media screen and (max-width: 840px) {
  .custom-modal-width {

    .modal-body {

      .modal-img-constrained {
        height: 78dvh;
      }

      .modal-title {
        height: 2.1rem;

        p {
          font-size: 1.35rem;
        }

        span.audio {

          .audio-content {

            .audio-card button {
              width: 3.6rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 800px -------------- //

@media screen and (max-width: 800px) {
  .custom-modal-width {

    .modal-body {

      .modal-title {

        p {
          font-size: 1.42rem;
        }

        span.audio {

          .audio-content {

            p {
            display: none;
            }

            .audio-card button {
              width: 3.85rem;
            }
          }
        }
      }
    }
  }
}














// -------------- Max-Width 740px -------------- //

@media screen and (max-width: 740px) {
  .custom-modal-width {

    .modal-header {

      button.btn-close {
        top: 0.8rem;
        font-size: 1.8rem;
      }
    }

    .modal-body {

      .modal-title {

        p {
        font-size: 2.25rem;
        }

        span.audio {

          .audio-content {

            .audio-card button {
              width: 5.9rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 700px -------------- //

@media screen and (max-width: 700px) {
  .custom-modal-width {

    .modal-body {

      .modal-img-constrained {
        height: 77dvh;
        max-width: 85dvw;
      }

      .modal-title {
        height: 3rem;

        p {
        font-size: 2.35rem;
        }

        span.audio {

          .audio-content {

            .audio-card button {
              width: 6.25rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 650px -------------- //

@media screen and (max-width: 650px) {
  .custom-modal-width {

    .modal-body {

      .modal-title {

        p {
        font-size: 2.38rem;
        }

        span.audio {

          .audio-content {

            .audio-card button {
              width: 6.3rem;
            }
          }
        }
      }
    }
  }
}

// -------------- Max-Width 600px -------------- //

@media screen and (max-width: 600px) {
  .custom-modal-width {

    .modal-header {
      height: 3.2rem;
    }

    .modal-body {

      .modal-title {
        height: 3.2rem;

        p {
        font-size: 2.45rem;
        }

        span.audio {

          .audio-content {

            .audio-card button {
              width: 6.5rem;
            }
          }
        }
      }
    }
  }
}