.click-info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 8.8dvh;
  width: 100%;
  
  .click-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .fish {
      font-size: 1.75rem;
      color: var(--dark-grey);
    }

    .mirrored-fish {
      transform: scaleX(-1);
    }

    .line {
      width: 23rem;
      height: 1px;
      background-color: var(--copper-yellow);
      margin: 0 1.2rem;
      border: none;
      opacity: 1;
    }

    p {
      margin: 0;
      font-family: 'Story Script', sans-serif;
      font-size: 1.38rem;
      color: var(--dark-grey);
      text-align: center;
    }
  }
}

// ======================== Media Queries ========================= //

// ---------------- Min-Height: 990px and Min-Width: 1850px --------------- //

@media screen and (min-height: 990px) and (max-width: 1940px) {
  .click-info-container {
    bottom: 10.8dvh;
    height: 5dvh;
  }
}

// ---------------- Min-Height: 980px and Min-Width: 1850px --------------- //

@media screen and (min-height: 980px) and (max-width: 1850px) {
  .click-info-container {
    bottom: 11.8dvh;
    height: 5.4dvh;
  }
}

// ----------------- Max-Width 1800px ----------------- //

@media screen and (max-width: 1800px) {
  .click-info-container {

    .click-info {
      
      .line {
        width: 22.3rem;
      }

      p {
        font-size: 1.42rem;
      }
    }
  }
}

// ----------------- Min-Height: 980px and Max-Width 1800px ----------------- //

@media screen and (min-height: 980px) and (max-width: 1800px) {
  .click-info-container {
    bottom: 11dvh;
    height: 6dvh;
  }
}

// --------------- Max-Width 1760px ---------------- //

@media screen and (max-width: 1760px) {
  .click-info-container {

    .click-info {

      .fish {
        font-size: 1.85rem;
      }

      p {
        font-size: 1.52rem;
      }
    }
  }
}

// ----------------- Min-Height: 980px and Max-Width 1760px ----------------- //

@media screen and (min-height: 980px) and (max-width: 1760px) {
  .click-info-container {
    bottom: 10.6dvh;
  }
}

// ----------------- Max-Width 1730px ----------------- //

@media screen and (max-width: 1730px) {
  .click-info-container {

    .click-info {

      .fish {
        font-size: 1.75rem;
      }

      p {
        font-size: 1.47rem;
      }

    }
  }
}

// --------------- Min-Height: 980px and Max-Width 1730px ---------------- //

@media screen and (min-height: 980px) and (max-width: 1730px) {
  .click-info-container {
    bottom: 11.2dvh;
    height: 5.6dvh;
  }
}

// --------------- Max-Width 1690px ---------------- //

@media screen and (max-width: 1690px) {
  .click-info-container {
    height: 8dvh;
  }
}

// --------------- Min-Height: 950px and Max-Width 1690px ---------------- //

@media screen and (min-height: 950px) and (max-width: 1690px) {
  .click-info-container {
    bottom: 12dvh;
    height: 5.7dvh;
  }
}

// --------------- Max-Width 1610px ---------------- //

@media screen and (max-width: 1610px) {
 .click-info-container {
    height: 8.5dvh;

    .click-info {

      .fish {
        font-size: 1.78rem;
      }

      p {
        font-size: 1.56rem;
      }
    }
  }
}

// --------------- Min-Height: 950px and Max-Width 1610px ---------------- //

@media screen and (min-height: 950px) and (max-width: 1610px) {
  .click-info-container {
    bottom: 12.5dvh;
    height: 6.2dvh;
  }
}

// --------------- Min-height: 925px and Max-Width 1580px ---------------- //

@media screen and (min-height: 925px) and (max-width: 1580px) {
  .click-info-container {
    bottom: 12dvh;
    height: 6.2dvh;
  }
}

// ----------------- Max-Width 1550px ----------------- //

@media screen and (max-width: 1550px) {
  .click-info-container {

    .click-info {

      .line {
        width: 22rem;
      }

      p {
        font-size: 1.55rem;
      }

    }
  }
}

// ----------------- Min-Height: 910px and Max-Width 1550px ----------------- //

@media screen and (min-height: 910px) and (max-width: 1550px) {
  .click-info-container {
    bottom: 12.5dvh;
    height: 6.2dvh;
  }
}

// ----------------- Max-Width 1500px ----------------- //

@media screen and (max-width: 1500px) {
  .click-info-container {
    height: 8.2dvh;

    .click-info {

      p {
        font-size: 1.6rem;
      }

    }
  }
}

// ---------------- Min-Height: 900px and Max-Width: 1500px --------------- //

@media screen and (min-height: 900px) and (max-width: 1500px) {
  .click-info-container {
    bottom: 12.8dvh;
    height: 6dvh;
  }
}

// ----------------- Max-Width 1440px ----------------- //

@media screen and (max-width: 1440px) {
  .click-info-container {

    .click-info {

      .fish {
        font-size: 1.88rem;
      }

      p {
        font-size: 1.66rem;
      }
    }
  }
}

// ----------------- Max-Height: 870px and Max-Width 1440px ----------------- //

@media screen and (min-height: 870px) and (max-width: 1440px) {
  .click-info-container {
    bottom: 12.8dvh;
    height: 6dvh;
  }

}

// ----------------- Max-Width 1400px ----------------- //

@media screen and (max-width: 1400px) {
  .click-info-container {
    height: 9dvh;
  }
}

// -------------- Max-Height: 690px and Max-Width 1400px -------------- //

@media screen and (max-height: 690px) and (max-width: 1400px) {
  .click-info-container {
    height: 8.8dvh;
  }
}

// ---------------- Min-Height: 820px and Max-Width: 1400px --------------- //

@media screen and (min-height: 820px) and (max-width: 1400px) {
  .click-info-container {
    bottom: 12.4dvh;
    height: 6dvh;
  }
}

// -------------- Max-Width 1380px -------------- //

@media screen and (max-width: 1380px) {
  .click-info-container {
    height: 8.5dvh;
  }
}

// -------------- Min-Height: 820px and Max-Width 1380px -------------- //

@media screen and (min-height: 820px) and (max-width: 1380px) {
  .click-info-container {
    bottom: 13dvh;
    height: 6.8dvh;

    .click-info {

      .fish {
        font-size: 1.88rem;
      }

      .line {
        width: 20.5rem;
      }

      p {
        font-size: 1.68rem;
      }

    }
  }
}

// -------------- Max-Width 1370px -------------- //

@media screen and (max-width: 1370px) {
  .click-info-container {

    .click-info {

      .fish {
        font-size: 1.8rem;
      }

      .line {
        width: 19.8rem;
      }

      p {
        font-size: 1.75rem;
      }
    }
  }
}

// ---------------- Min-Height: 840px and Max-Width: 1370px --------------- //

@media screen and (min-height: 820px) and (max-width: 1370px) {
  .click-info-container {
    bottom: 13.5dvh;
    height: 6.2dvh;
  }
}

// -------------- Max-Width 1280px -------------- //

@media screen and (max-width: 1280px) {
  .click-info-container {

    .click-info {

      .fish {
        font-size: 1.95rem;
      }

      .line {
        width: 20.4rem;
      }

      p {
        font-size: 1.84rem;
      }
    }
  }
}

// ----------------- Min-Height 750px and Max-Width 1280px ----------------- //

@media screen and (min-height: 750px) and (max-width: 1280px) {
  .click-info-container {
    bottom: 14dvh;
    height: 6.3dvh;
  }
}

// ----------------- Max-Width 1220px ----------------- //

@media screen and (max-width: 1220px) {
  .click-info-container {

    .click-info {

      .fish {
        font-size: 2rem;
      }

      p {
        font-size: 1.9rem;
      }
    }
  }
}

// ---------------- Min-Height: 725px and Max-Width: 1220px --------------- //

@media screen and (min-height: 725px) and (max-width: 1220px) {
  .click-info-container {
    bottom: 13.5dvh;
    height: 6.2dvh;
  }
}

// ----------------- Max-Width 1200px ----------------- //

@media screen and (max-width: 1200px) {
  .click-info-container {
    height: 9.5dvh;
  }
}

// ----------------- Min-Height: 725px and Max-Width 1200px ----------------- //

@media screen and (min-height: 725px) and (max-width: 1200px) {
  .click-info-container {
    height: 6.8dvh;
  }
}

// ----------------- Max-Width 1180px ----------------- //

@media screen and (max-width: 1180px) {
  .click-info-container {
    height: 9.2dvh;

    .click-info {

      p {
        font-size: 1.98rem;
      }
    }
  }
}

// ----------------- Min-Height: 725px and Max-Width 1180px ----------------- //

@media screen and (min-height: 725px) and (max-width: 1180px) {
  .click-info-container {
    height: 6.8dvh;
  }
}

// ----------------- Min-Height: 691px and Max-Width 1140px ----------------- //

@media screen and (min-height: 691px) and (max-width: 1140px) {
  .click-info-container {
    bottom: 13.8dvh;
    height: 6.8dvh;
  }
}

// ----------------- Max-Width 1130px ----------------- //

@media screen and (max-width: 1130px) {
  .click-info-container {
    height: 9.2dvh;
    
    .click-info {

      .fish {
        font-size: 1.25rem;
      }

      .line {
        width: 12.8rem;
        margin: 0 0.9rem;
      }

      p {
        font-size: 1.25rem;
      }
    }
  }
}

// ----------------- Min-Height: 691px and Max-Width 1130px ----------------- //

@media screen and (min-height: 691px) and (max-width: 1130px) {
  .click-info-container {
    bottom: 13.8dvh;
    height: 6.8dvh;
  }
}

// ----------------- Min-Height: 691px and Max-Width 1115px ----------------- //

@media screen and (min-height: 691px) and (max-width: 1115px) {
  .click-info-container {
    bottom: 14dvh;
    height: 6.2dvh;
  }
}

// ----------------- Max-Width 1040px ----------------- //

@media screen and (max-width: 1040px) {
  .click-info-container {

    .click-info {

      .fish {
        font-size: 2.15rem;
      }

      .line {
        width: 17.2rem;
      }

      p {
        font-size: 2.05rem;
      }
    }
  }
}

// ----------------- Min-Height: 640px and Max-Width 1040px ----------------- //

@media screen and (min-height: 640px) and (max-width: 1040px) {
  .click-info-container {
    bottom: 14dvh;
    height: 6.5dvh;
  }
}

// ----------------- Max-Width 1000px ----------------- //

@media screen and (max-width: 1000px) {
  .click-info-container {
    height: 11dvh;

    .click-info {

      .fish {
        font-size: 2.28rem;
      }

      .line {
        width: 17rem;
      }

      p {
        font-size: 2.1rem;
      }
    }
  }
}

// ----------------- Max-Height: 413px and Max-Width 1000px ----------------- //

@media screen and (max-height: 413px) and (max-width: 1000px) {
  .click-info-container {
    display: none;
  }
}

// ----------------- Min-Height: 630px and Max-Width 1000px ----------------- //

@media screen and (min-height: 630px) and (max-width: 1000px) {
  .click-info-container {
    bottom: 14.8dvh;
    height: 6.8dvh;
  }
}

// ----------------- Max-Width 980px ----------------- //

@media screen and (max-width: 980px) {
  .click-info-container {
    display: block;
  }
}

// ----------------- Max-Width 980px ----------------- //

@media screen and (max-height: 404px) and (max-width: 980px) {
  .click-info-container {
    display: none;
  }
}

// ----------------- Max-Width 940px ----------------- //

@media screen and (max-width: 940px) {
  .click-info-container {
    display: block;

    .click-info {

      .fish {
        font-size: 2.4rem;
      }

      .line {
        width: 16.7rem;
      }

      p {
        font-size: 2.16rem;
      }
    }
  }
}

// ----------------- Max-Height: 390px and Max-Width 940px ----------------- //

@media screen and (max-height: 390px) and (max-width: 940px) {
  .click-info-container {
    display: none;
  }
}

// ----------------- Max-Width 900px ----------------- //

@media screen and (max-width: 900px) {
  .click-info-container {
    display: block;
  }
}

// ----------------- Max-Height: 370px and Max-Width 900px ----------------- //

@media screen and (max-height: 370px) and (max-width: 900px) {
  .click-info-container {
    display: none;
  }
}

// --------------- Max-Height: 960px and Max-Width 880px ---------------- //

@media screen and (max-height: 960px) and (max-width: 880px) {
  .click-info-container {

    .click-info {

      .fish {
        font-size: 2.5rem;
      }

      .line {
        width: 16.5rem;
      }

      p {
        font-size: 2.26rem;
      }
    }
  }
}

// ----------------- Max-Width 860px ----------------- //

@media screen and (max-width: 860px) {
  .click-info-container {
    display: block;
  }
}

// ----------------- Max-Height: 350px and Max-Width 860px ----------------- //

@media screen and (max-height: 350px) and (max-width: 860px) {
  .click-info-container {
    display: none;
  }
}

// ----------------- Max-Width 820px ----------------- //

@media screen and (max-width: 820px) {
  .click-info-container {
    display: block;
  }
}

// ----------------- Max-Height: 335px and Max-Width 820px ----------------- //

@media screen and (max-height: 335px) and (max-width: 820px) {
  .click-info-container {
    display: none;
  }
}

// --------------- Max-Width 880px ---------------- //

@media screen and (max-width: 800px) {
  .click-info-container {

    .click-info {

      .fish {
        font-size: 2.45rem;
      }

      .line {
        width: 16.2rem;
      }

      p {
        font-size: 2.33rem;
      }
    }
  }
}

// ----------------- Max-Width 780px ----------------- //

@media screen and (max-width: 780px) {
  .click-info-container {
    display: block;
  }
}

// ----------------- Max-Height: 322px and Max-Width 780px ----------------- //

@media screen and (max-height: 322px) and (max-width: 780px) {
  .click-info-container {
    display: none;
  }
}

// --------------- Max-Width 760px ---------------- //

@media screen and (max-width: 760px) {
  .click-info-container {

    .click-info {

      .fish {
        font-size: 2.58rem;
      }

      .line {
        width: 16.8rem;
      }

      p {
        font-size: 2.45rem;
      }
    }
  }
}

// ----------------- Max-Width 740px ----------------- //

@media screen and (max-width: 740px) {
  .click-info-container {
    display: block;
  }
}

// ----------------- Max-Height: 305px and Max-Width 740px ----------------- //

@media screen and (max-height: 305px) and (max-width: 740px) {
  .click-info-container {
    display: none;
  }
}

// --------------- Max-Width 700px ---------------- //

@media screen and (max-width: 700px) {
  .click-info-container {
    display: block;

    .click-info {

      .fish {
        font-size: 2.65rem;
      }

      .line {
        width: 17.2rem;
      }

      p {
        font-size: 2.58rem;
      }
    }
  }
}

// ----------------- Max-Height: 290px and Max-Width 700px ----------------- //

@media screen and (max-height: 290px) and (max-width: 700px) {
  .click-info-container {
    display: none;
  }
}

// --------------- Max-Width 660px ---------------- //

@media screen and (max-width: 660px) {
  .click-info-container {
    display: block;

    .click-info {

      .fish {
        font-size: 2.75rem;
      }

      .line {
        width: 17rem;
      }

      p {
        font-size: 2.68rem;
      }
    }
  }
}

// ----------------- Max-Height: 273px and Max-Width 660px ----------------- //

@media screen and (max-height: 273px) and (max-width: 660px) {
  .click-info-container {
    display: none;
  }
}

// --------------- Max-Width 640px ---------------- //

@media screen and (max-width: 640px) {
  .click-info-container {

    .click-info {

      .fish {
        font-size: 2.82rem;
      }

      .line {
        width: 18rem;
      }

      p {
        font-size: 2.75rem;
      }
    }
  }
}

// --------------- Max-Width 620px ---------------- //

@media screen and (max-width: 620px) {
  .click-info-container {
    display: block;

    .click-info {

      .fish {
        font-size: 2.88rem;
      }

      .line {
        width: 17.3rem;
      }

      p {
        font-size: 2.82rem;
      }
    }
  }
}

// ----------------- Max-Height: 255px and Max-Width 620px ----------------- //

@media screen and (max-height: 255px) and (max-width: 620px) {
  .click-info-container {
    display: none;
  }
}

// --------------- Max-Width 580px ---------------- //

@media screen and (max-width: 580px) {
  .click-info-container {
    display: block;

    .click-info {

      .fish {
        font-size: 2.86rem;
      }

      .line {
        width: 17rem;
      }

      p {
        font-size: 2.8rem;
      }
    }
  }
}

// ----------------- Max-Height: 242px and Max-Width 580px ----------------- //

@media screen and (max-height: 242px) and (max-width: 580px) {
  .click-info-container {
    display: none;
  }
}

// --------------- Max-Width 550px ---------------- //

@media screen and (max-width: 550px) {
  .click-info-container {
    display: block;
  }
}

// ----------------- Max-Height: 228px and Max-Width 550px ----------------- //

@media screen and (max-height: 228px) and (max-width: 550px) {
  .click-info-container {
    display: none;
  }
}

// --------------- Max-Width 520px ---------------- //

@media screen and (max-width: 520px) {
  .click-info-container {
    display: block;
  }
}

// ----------------- Max-Height: 218px and Max-Width 520px ----------------- //

@media screen and (max-height: 218px) and (max-width: 520px) {
  .click-info-container {
    display: none;
  }
}

// --------------- Max-Width 500px ---------------- //

@media screen and (max-width: 500px) {
  .click-info-container {
    // border-top: 1px solid var(--dark-grey);
    display: block;
  }
}

// ----------------- Max-Height: 210px and Max-Width 500px ----------------- //

@media screen and (max-height: 210px) and (max-width: 500px) {
  .click-info-container {
    display: none;
  }
}

// --------------- Max-Width 490px ---------------- //

// @media screen and (max-height: 210px) and (max-width: 490px) {
//   .click-info-container {
//     display: none;
//   }
// }

// --------------- Max-Height: 220px and Max-Width 480px ---------------- //

@media screen and (max-height: 220px) and (max-width: 480px) {
  .click-info-container {
    // border-top: 1px solid var(--dark-grey);
    // border-bottom: 1px solid var(--dark-grey);
    display: none;
  }
}

// ----------------- Max-Height: 205px and Max-Width 480px ----------------- //

// @media screen and (max-height: 205px) and (max-width: 480px) {
//   .click-info-container {
//     display: none;
//   }
// }