.click-info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  .click-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10.5dvh;
    width: 100%;
    padding-bottom: 0.6rem;

    .fish {
      font-size: 1.75rem;
      color: var(--dark-grey);
    }

    .mirrored-fish {
      transform: scaleX(-1);
    }

    .line {
      width: 23rem;
      height: 1px;
      background-color: var(--copper-yellow);
      margin: 0 1.2rem;
      border: none;
      opacity: 1;
    }

    p {
      margin: 0;
      font-family: 'Story Script', sans-serif;
      font-size: 1.38rem;
      color: var(--dark-grey);
      text-align: center;
    }
  }

  .color-base {
    display: none;
  }
}

// ======================== Media Queries ========================= //

// ----------------- Max-Width 1800px ----------------- //

@media screen and (max-width: 1800px) {
  .click-info-container {

    .click-info {
      height: 13dvh;
      // border-bottom: 1px solid var(--dark-grey);
      
      .line {
        width: 22.3rem;
      }

      p {
        font-size: 1.42rem;
      }
    }
  }
}

// --------------- Max-Width 1760px ---------------- //

@media screen and (max-width: 1760px) {
  .click-info-container {

    .click-info {

      .fish {
        font-size: 1.85rem;
      }

      p {
        font-size: 1.52rem;
      }
    }
  }
}

// ----------------- Max-Width 1730px ----------------- //

@media screen and (max-width: 1730px) {
  .click-info-container {
    flex-direction: column;
    align-items: flex-end;

    .click-info {
      display: flex;
      height: 8.5dvh;

      .fish {
        font-size: 2rem;
      }

      p {
        font-size: 1.5rem;
      }

    }

    .color-base {
      display: block;
      height: 4.5dvh;
      width: 100%;
      border-top: 4px solid var(--copper-yellow);
      background-color: var(--dark-grey);
    }
  }
}

// ----------------- Max-Width 1650px ----------------- //

@media screen and (max-width: 1650px) {
  .click-info-container {

    .click-info {
      height: 8dvh;

      .fish {
        font-size: 1.9rem;
      }

      p {
        font-size: 1.45rem;
      }

    }
  }
}

// ---------------- Min-Height: 1100px and Max-Width: 1550px --------------- //

@media screen and (min-height: 1100px) and (max-width: 1550px) {
  .click-info-container {
    bottom: 14dvh;

    .color-base {
      display: none;
    }
  }
}

// ---------------- Max-Height: 1099px and Max-Width: 1550px --------------- //

@media screen and (max-height: 1099px) and (max-width: 1550px) {
  .click-info-container {
    bottom: 12.6dvh;

    .color-base {
      display: none;
    }
  }
}

// ----------------- Max-Height: 980px and Max-Width 1550px ----------------- //

@media screen and (max-height: 980px) and (max-width: 1550px) {
  .click-info-container {
    bottom: 0rem;

    .click-info {

      .line {
        width: 22rem;
      }

      p {
        font-size: 1.55rem;
      }

    }

    .color-base {
      display: block;
      height: 5dvh;
    }
  }
}

// ----------------- Max-Width 1440px ----------------- //

@media screen and (max-width: 1440px) {
  .click-info-container {
    bottom: 0;

    .click-info {
      height: 5.5dvh;

      .fish {
        font-size: 1.9rem;
      }

      p {
        font-size: 1.7rem;
      }
    }
  }
}

// ----------------- Max-Height: 830px and Max-Width 1440px ----------------- //

@media screen and (max-height: 830px) and (max-width: 1440px) {
  .click-info-container {

    .click-info {
      height: 12dvh;
    }

    .color-base {
      display: none;
    }
  }

}

// ----------------- Max-Width 1400px ----------------- //

@media screen and (max-width: 1400px) {
  .click-info-container {
    bottom: 0;

    .click-info {
      height: 11.4dvh;
    }
  }
}

// ---------------- Min-Height: 820px and Max-Width: 1400px --------------- //

@media screen and (min-height: 820px) and (max-width: 1400px) {
  .click-info-container {
    bottom: 12.4dvh;

    .color-base {
      display: none;
    }
  }
}

// ----------------- Max-Width 1380px ----------------- //

@media screen and (max-width: 1380px) {
  .click-info-container {
    bottom: 0dvh;

    .click-info {
      height: 11.3dvh;

      .fish {
        font-size: 1.8rem;
      }

      .line {
        width: 20.8rem;
      }

      p {
        font-size: 1.48rem;
      }

    }

    .color-base {
      display: none;
    }
  }
}

// -------------- Min-Height: 840px and Max-Width 1380px -------------- //

@media screen and (min-height: 840px) and (max-width: 1380px) {
  .click-info-container {
    bottom: 11.8dvh;

    .click-info {
      height: 7.5dvh;

      .fish {
        font-size: 1.8rem;
      }

      .line {
        width: 20.8rem;
      }

      p {
        font-size: 1.48rem;
      }

    }
  }
}

// -------------- Max-Width 1370px -------------- //

@media screen and (max-width: 1370px) {
  .click-info-container {

    .click-info {
      height: 11dvh;

      .line {
        width: 19rem;
      }
    }

    .color-base {
      display: none;
    }
  }
}

// ---------------- Max-Height: 839px and Max-Width: 1370px --------------- //

@media screen and (max-height: 839px) and (max-width: 1370px) {
  .click-info-container {
    bottom: 0;

    .click-info {
      height: 12dvh;

      .line {
        width: 20rem;
      }

      p {
        font-size: 1.45rem;
      }
    }
  }
}

// -------------- Max-Height: 700px and Max-Width 1370px -------------- //

@media screen and (max-height: 700px) and (max-width: 1370px) {
  .click-info-container {

    .click-info {
      height: 8.5dvh;

      p {
        // font-size: 1.45rem;
      }
    }
  }
}

// ---------------- Min-Height: 840px and Max-Width: 1370px --------------- //

@media screen and (min-height: 840px) and (max-width: 1370px) {
  .click-info-container {

    .click-info {
      height: 8dvh;

      .line {
        width: 18.5rem;
      }

      p {
        font-size: 1.48rem;
      }
    }
  }
}

// ----------------- Max-Width 1280px ----------------- //

@media screen and (max-width: 1280px) {
  .click-info-container {

    .click-info {
      height: 12dvh;

      .fish {
        font-size: 1.8rem;
      }

      .line {
        width: 18.5rem;
      }

      p {
        font-size: 1.55rem;
      }
    }
  }
}

// ----------------- Min-Height 700px and Max-Width 1280px ----------------- //

@media screen and (min-height: 700px) and (max-width: 1280px) {
  .click-info-container {
    bottom: 0dvh;

    .click-info {
      height: 6.2dvh;
    }

    .color-base {
      display: block;
    }
  }
}

// ----------------- Min-Height 770px and Max-Width 1280px ----------------- //

@media screen and (min-height: 770px) and (max-width: 1280px) {
  .click-info-container {
    bottom: 12dvh;

    .click-info {
      height: 7.5dvh;
    }

    .color-base {
      display: none;
    }
  }
}

// ----------------- Max-Width 1220px ----------------- //

@media screen and (max-width: 1220px) {
  .click-info-container {
    bottom: 0dvh;

    .click-info {
      height: 11.6dvh;

      .fish {
        font-size: 1.9rem;
      }

      p {
        font-size: 1.55rem;
      }
    }

    .color-base {
      display: none;
    }
  }
}

// ---------------- Min-Height: 720px and Max-Width: 1220px --------------- //

@media screen and (min-height: 720px) and (max-width: 1220px) {
  .click-info-container {
    bottom: 12dvh;

    .click-info {
      height: 6.5dvh;

      .fish {
        font-size: 1.85rem;
      }
    }
  }
}

// ----------------- Max-Width 1200px ----------------- //

@media screen and (max-width: 1200px) {
  .click-info-container {

    .click-info {
      height: 11dvh;

      .line {
        width: 17.5rem;
      }

      p {
        font-size: 1.55rem;
      }
    }
  }
}

// ----------------- Min-Height: 720px and Max-Width 1200px ----------------- //

@media screen and (min-height: 720px) and (max-width: 1200px) {
  .click-info-container {
    bottom: 12.5dvh;

    .click-info {
      height: 6.5dvh;
    }
  }
}

// ----------------- Max-Width 1185px ----------------- //

@media screen and (max-width: 1185px) {
  .click-info-container {

    .click-info {
      height: 9.8dvh;

      .fish {
        font-size: 1.75rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}

// ----------------- Min-Height: 720px and Max-Width 1185px ----------------- //

@media screen and (min-height: 720px) and (max-width: 1185px) {
  .click-info-container {

    .click-info {
      height: 7.2dvh;
    }
  }
}

// ----------------- Max-Width 1140px ----------------- //

@media screen and (max-width: 1140px) {
  .click-info-container {
    bottom: 0dvh;

    .click-info {
      height: 10.5dvh;
      // border-bottom: 1px solid var(--dark-grey);
    }
  }
}

// ----------------- Min-Height: 690px and Max-Width 1140px ----------------- //

@media screen and (min-height: 690px) and (max-width: 1140px) {
  .click-info-container {
    bottom: 12.5dvh;

    .click-info {
      height: 5.8dvh;
    }
  }
}

// ----------------- Max-Width 1040px ----------------- //

@media screen and (max-width: 1040px) {
  .click-info-container {
    bottom: 0dvh;

    .click-info {
      height: 10.5dvh;
      // border-bottom: 1px solid var(--dark-grey);

      .fish {
        font-size: 1.78rem;
      }

      .line {
        width: 17.2rem;
      }

      p {
        font-size: 1.6rem;
      }
    }
  }
}

// ----------------- Min-Height: 630px and Max-Width 1040px ----------------- //

@media screen and (min-height: 630px) and (max-width: 1040px) {
  .click-info-container {
    bottom: 13.5dvh;

    .click-info {
      height: 6dvh;
    }
  }
}

// ---------------- Max-Width: 1035px --------------- //

@media screen and (max-width: 1035px) {
  .click-info-container {
    bottom: 0dvh;

    .click-info {
      height: 10.5dvh;

      .fish {
        font-size: 1.9rem;
      }

      .line {
        width: 17rem;
      }

      p {
        font-size: 1.6rem;
      }
    }
  }
}

// ---------------- Min-Height: 625px and Max-Width: 1035px --------------- //

@media screen and (min-height: 625px) and (max-width: 1035px) {
  .click-info-container {
    bottom: 14dvh;

    .click-info {
      height: 6.8dvh;

      .fish {
        font-size: 1.95rem;
      }

      // .line {
      //   width: 17.5rem;
      // }

      p {
        font-size: 1.65rem;
      }
    }
  }
}

// ---------------- Max-Height: 780px and Max-Width: 1035px --------------- //

// @media screen and (max-height: 780px) and (max-width: 1035px) {
//   .click-info-container {
//     bottom: 15dvh;

//     .click-info {
//       height: 6.8dvh;

//       .fish {
//         font-size: 2rem;
//       }

//       .line {
//         width: 17.5rem;
//       }

//       p {
//         font-size: 1.65rem;
//       }
//     }
//   }
// }

// ---------------- Max-Height: 700px and Max-Width: 1035px --------------- //

// @media screen and (max-height: 700px) and (max-width: 1035px) {
//   .click-info-container {
//     bottom: 12.8dvh;

//     .click-info {
//       // height: 6.8dvh;

//       .fish {
//         font-size: 1.9rem;
//       }

//       .line {
//         width: 17.5rem;
//       }

//       p {
//         font-size: 1.53rem;
//       }
//     }
//   }
// }

// ----------------- Max-Width 960px ----------------- //

// @media screen and (max-width: 960px) {
//   .click-info-container {
//     bottom: 0;

//     .click-info {
//       height: 5.8dvh;

//       .line {
//         width: 17.2rem;
//         margin: 0 0.9rem;
//       }
//     }

//     .color-base {
//       display: block;
//       height: 5dvh;
//       border-top: 3px solid var(--copper-yellow);
//     }
//   }
// }

// ----------------- Max-Width 960px ----------------- //

// @media screen and (min-height: 1110px) and (max-width: 1925px) {
//   .click-info-container {
//     // bottom: 0;

//     .click-info {

//       .line {
//       }

//       p {
//         font-size: 1.8rem;
//       }
//     }

//     .color-base {
//       display: block;
//       height: 5dvh;
//       border-top: 3px solid var(--copper-yellow);
//     }
//   }
// }

// ----------------- Max-Width 780px ----------------- //

// @media screen and (max-width: 780px) {
//   .click-info-container {
//     bottom: 6.8rem;
//     // border-bottom: 1px solid var(--copper-yellow);

//     .click-info {
//       height: 7dvh;

//       .line {
//         width: 16rem;
//         margin: 0 0.9rem;
//       }

//       .fish {
//         font-size: 1.9rem;
//       }

//       p {
//         font-size: 1.45rem;
//       }
//     }

//     .color-base {
//       display: none;
//     }
//   }
// }