.main-nav-options {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  width: 55rem;
  height: 9.5dvh;
  // background-color: #d3d3d3;
  border-bottom: 3px solid var(--copper-yellow);

  .navlink-container {
    margin: 0 1.6rem;
    
    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      
      a {
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 600;
        transition: transform 0.4s ease, color 0.4s ease, text-shadow 0.4s ease;
        transform: scale(1);
        cursor: pointer;

        &:hover {
          transform: scale(1.25);
          color: var(--copper-yellow);
          text-shadow: 0.5px 0 0 var(--copper-yellow);
        }
      }
      
    }
    
    .nav-link.active a {
      transform: scale(1.25);
      color: #DCA738;
      text-shadow: 0.5px 0 0 var(--copper-yellow);
    }
  }
}

// ------------------- Media Queries -------------------- //

@media (max-width: 1800px) {
  .main-nav-options {
    width: 54rem;

    .navlink-container {
      margin: 0 1.65rem;

      .nav-link {

        a {
          font-size: 1.15rem;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .main-nav-options {
    width: 51rem;
    height: 5rem;

    .navlink-container {
      margin: 0 1.4rem;
      padding-bottom: 1rem;

      .nav-link {

        a {
          font-size: 1.13rem;
        }
      }
    }
  }
}

// -------------- Max-Width 1380px -------------- //

@media (max-width: 1380px) {
  .main-nav-options {
    width: 54rem;
    height: 6.5dvh;

    .navlink-container {
      margin: 0 1.45rem;
      padding-bottom: 1rem;

      .nav-link {

        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}

// -------------- Max-Width 1280px -------------- //

@media (max-width: 1280px) {
  .main-nav-options {
    width: 55rem;
    height: 5.2dvh;

    .navlink-container {
      margin: 0 1.45rem;
      padding-bottom: 1.5rem;

      .nav-link {

        a {
          font-size: 1.25rem;
        }
      }
    }
  }
}

// -------------- Max-Width 820px -------------- //

@media (max-width: 820px) {
  .main-nav-options {
    width: 50rem;
    height: 4rem;
    border-bottom: 2px solid var(--copper-yellow);

  .navlink-container {
    margin: 0 1.5rem;
    padding-bottom: 1rem;

    .nav-link {

      a {
        font-size: 1.3rem;
      }
    }
    }
  }
}
