.main-nav-options {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55rem;
  height: 9dvh;
  padding-top: 0.6rem;
  border-bottom: 3px solid var(--copper-yellow);

  .navlink-container {
    margin: 0 1.62rem;
    
    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      display: inline-block;
      font-size: 1.2rem;
      font-weight: 600;
      transition: transform 0.4s ease, color 0.4s ease, text-shadow 0.4s ease;
      transform: scale(1);
      cursor: pointer;

      &:hover {
        transform: scale(1.25);
        color: var(--copper-yellow);
        text-shadow: 0.5px 0 0 var(--copper-yellow);
      }
    }
    
    .nav-link.active {
      transform: scale(1.25);
      color: var(--copper-yellow);
      text-shadow: 0.5px 0 0 var(--copper-yellow);
    }
  }

  .navlink-container:first-child {
    margin-left: 0rem;
  }

  .navlink-container:last-child {
    margin-right: 0rem;
  }
}

// ===================== Media Queries ===================== //

// -------------- Max-Width 1800px -------------- //

@media screen and (max-width: 1800px) {
  .main-nav-options {
    padding-bottom: 0rem;

    .navlink-container {
      margin: 0 1.76rem;

      .nav-link {
        font-size: 1.22rem;
      }
    }
  }
}

// -------------- Max-Width 1440px -------------- //

@media screen and (max-width: 1440px) {
  .main-nav-options {
    width: 58rem;

    .navlink-container {

      .nav-link {
        font-size: 1.32rem;
      }
    }
  }
}

// -------------- Max-Width 1280px -------------- //

@media screen and (max-width: 1280px) {
  .main-nav-options {
    width: 59rem;

    .navlink-container {
      margin: 0 1.55rem;

      .nav-link {
        font-size: 1.4rem;
      }
    }
  }
}

// -------------- Max-Width 1220px -------------- //

@media screen and (max-width: 1220px) {
  .main-nav-options {

    .navlink-container {
      margin: 0 1.45rem;

      .nav-link {
        font-size: 1.44rem;
      }
    }
  }
}

// -------------- Max-Width 1140px -------------- //

@media screen and (max-width: 1140px) {
  .main-nav-options {
    width: 59rem;

    .navlink-container {

      .nav-link {
        font-size: 1.46rem;
      }
    }
  }
}

// -------------- Max-Width 1130px -------------- //

@media screen and (max-width: 1130px) {
  .main-nav-options {
    width: 38.3rem;
    height: 8.7dvh;
    padding-top: 0rem;

    .navlink-container {
      margin: 0 1rem;
      
      .nav-link {
        font-size: 0.92rem;
      }
    }
  }
}

// -------------- Max-Width 1080px -------------- //

@media screen and (max-width: 1080px) {
  .main-nav-options {
    width: 39rem;
    padding-top: 0.3rem;

    .navlink-container {
      margin: 0 0.92rem;

      .nav-link {
        font-size: 0.97rem;
      }
    }
  }
}
