.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9.8rem;
    width: 100%;
    background-color: var(--dark-grey);
    border-top: 4px solid var(--copper-yellow);
    // opacity: 0.92;

    .footer-box {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 96%;

      .logo {
        height: 5.1rem;
        width: auto;
  
        img {
          max-height: 96%;
          width: auto;
          transition: transform 0.4s ease;
          transform: scale(1);
  
          &:hover {
            transform: scale(1.08);
          }
        }
      }
  
      .copyrights {
        display: flex;
        align-items: center;
        justify-content: center;
  
        .copyright {
          margin-right: 0.2rem;
          margin-top: 0.1rem;
          font-size: 1.8rem;
          color: var(--copper-yellow);
        }
          
        p {
          margin: 0;
          font-size: 1.15rem;
          color: var(--off-white);

          .divider {
            margin: 0 0.4rem;
            color: var(--copper-yellow);
          }
        }     
      }
  
      .address {
        display: flex;
        align-items: center;
        
        p {
          margin: 0;
          font-size: 1.15rem;
          color: var(--off-white);
        }
  
        .rocket {
          margin-left: 0.5rem;
          font-size: 1.8rem;
          color: var(--copper-yellow);
        }
      }
    }
  }
}

// ---------------------- Media Queries ---------------------- //
@media screen and (max-width: 1800px) {
  .footer-container {

    .footer {

      .footer-box {

        .copyrights {
  
          .copyright {
            margin-right: 0.3rem;
            font-size: 2rem;
          }
  
          p {
            font-size: 1.2rem;
          }
        }

        .address {
  
          p {
            font-size: 1.2rem;
          }
  
          .rocket {
            margin-left: 0.6rem;
            font-size: 2.1rem;
          }
        }
      }
    }
  }
}

// ----------------- Min-Height: 940px and Max-Width 1380px ----------------- //

@media screen and (min-height: 940px) and (max-width: 1380px) {
  .footer-container {

    .footer {

      .footer-box {
        width: 92%;

        .copyrights {

          .copyright {
            margin-top: 0;
          }
  
          p {
            font-size: 1.25rem;
          }
        }

        .address {
  
          p {
            font-size: 1.25rem;
          }
  
          .rocket {
            margin-left: 0.6rem;
            font-size: 2.1rem;
          }
        }
      }
    }
  }
}

// ----------------- Footer is displayed conditionally on smaller screens. Styles situated in App.scss ------------- // 