
.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.2rem;

  .list-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
    width: 84%;
    padding-left: 0;
    list-style-type: none;
    // border: 1px solid #aaa;

    li {
      display: flex;
      justify-content: center;
      width: 100%;

      .list-items-container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 23rem;
        height: 9rem;
        margin-bottom: 2.8rem;
        background-color: #fff;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.18);
        border-bottom: 4px solid #DCA738;
        border-radius: 5px;
        
        .audio-icon {
          position: absolute;
          top: 0.5rem;
          right: 1.9rem;
          font-size: 2rem;
          color: #DCA738;
          cursor: pointer;
        }
      
        .image-container {
         display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          background-size: cover;
          background-position: center;
          max-width: 7.7rem;
          max-height: 6.8rem;
          z-index: 100;
          margin-left: 1.2rem;
          border-radius: 3px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        
        
          .image {
            max-height: 6.8rem;
            width: auto;
            object-fit: cover;
            border: none;
          }
        }

        .info-container {
          display: flex;
          flex-direction: column;
          // overflow: hidden;
          width: 13.9rem;
          height: 6.2rem;
          padding-left: 0.6rem;
        
          .id-area {
            display: flex;
            width: 5.2rem;
            height: 2.6rem;
            justify-content: flex-start;
            align-items: center;
            padding-left: 0.2rem;
          
            h3 { 
              font-family: 'Story Script', sans-serif;
              font-optical-sizing: auto;
              font-weight: 700;
              font-style: normal;
              font-size: 2.6rem;
              // color: #cfcfcf;
              color: #dfdfdf;
            }
          }
      
          .title-area {
            display: flex;
            flex-direction: column; 
            justify-content: flex-start;
            width: 13.2rem;
            color: #5c5c5c;
            height: 3.4rem;
  
            p {
              margin: 0;
              padding-top: 0.3rem;
              padding-left: 0.1rem;
              font-size: 1.05rem;
              font-weight: 500;
              line-height: 1.15rem;
            }
          }
        }
      }
    }
  }
}

// ------------------- Media Queries -------------------- //

// -------------- Max-Width 1800px -------------- //

@media screen and (max-width: 1800px) {
  .list-container {
    
    .list-grid {
      column-gap: 2rem;
      
      li {
        
        .list-items-container {
          margin-bottom: 2rem;
          
          .info-container {
            width: 13.2rem;
            
          }
        }
      }
    }
  }
}

// -------------- Max-Width 1728px -------------- //

@media screen and (max-width: 1728px) {
  
}

// -------------- Max-Width 1650px -------------- //

@media (max-width: 1650px) {
  .list-container {
    
    .list-grid {
      width: 75%;
      grid-template-columns: repeat(3, 1fr);

      li {

        .list-items-container {
          width: 24.5rem;
          height: 9rem;
          margin-bottom: 2.4rem;

          .info-container {
            width: 14.7rem;

            .title-area {
              width: 14.7rem;
            }
          }
        }
      }
      
    }
  }
}

// -------------- Max-Width 1440px -------------- //

@media (max-width: 1440px) {
  .list-container {
    
    .list-grid {
      // width: 78%;

      li {

        .list-items-container {
          width: 24rem;

          .info-container {
            width: 13.8rem;

            .title-area {
              width: 13.8rem;
            }
          }
        }
      }
      
    }
  }
}

// -------------- Max-Width 1370px -------------- //

@media (max-width: 1370px) {
  .list-container {
  
    .list-grid {
      grid-template-columns: repeat(3, 1fr);

    li {

        .list-items-container {
          width: 24.1rem;

          .info-container {
            width: 14.8rem;

            .title-area {
              width: 14.2rem;
            }
          }
        }
      }
      
    }
  }
}

// -------------- Max-Width 1180px -------------- //

@media (max-width: 1180px) {
  .list-container {
  
    .list-grid {
      grid-template-columns: repeat(3, 1fr);

    li {

        .list-items-container {
          width: 22.2rem;
          margin-bottom: 2.2rem;

          .image-container{
            max-width: 6.4rem;
          }

          .info-container {
            width: 14rem;
            padding-left: 0.5rem;

            .title-area {
              width: 13.8rem;

              p {
                font-size: 1.15rem;
              }
            }
          }
        }
      }
      
    }
  }
}

// -------------- Max-Width 1024px -------------- //

@media (max-width: 1024px) {
  .list-container {
  
    .list-grid {
      width: 79%;
      grid-template-columns: repeat(2, 1fr);

    li {

        .list-items-container {
          width: 25.5rem;
          height: 10.8rem;
          margin-bottom: 3rem;
          border-bottom: 5px solid #DCA738;


          .audio-icon {
            top: 0.8rem;
            right: 2rem;
            font-size: 2.5rem;
          }

          .image-container{
            max-width: 7.5rem;
            max-height: 8rem;

            .image {
              max-height: 8rem;
            }
          }

          .info-container {
            width: 15.5rem;
            padding-left: 0.8rem;

            .id-area {
              margin-top: -0.4rem;
              h3 {
                font-size: 3rem;
              }
            }

            .title-area {
              width: 15.3rem;
              padding-top: 0.8rem;

              p {
                font-size: 1.3rem;
              }
            }
          }
        }
      }     
    }
  }
}

// -------------- Max-Width 820px -------------- //

@media (max-width: 820px) {
  .list-container {

    .list-grid {
      width: 80%;
      grid-template-columns: repeat(2, 1fr);

    li {

        .list-items-container {
          width: 23rem;
          height: 10.8rem;
          margin-bottom: 2.2rem;
          border-bottom: 5px solid #DCA738;


          .audio-icon {
            top: 0.5rem;
            right: 2rem;
            font-size: 2.6rem;
          }

          .image-container{
            max-width: 7.1rem;
            max-height: 8rem;

            .image {
              max-height: 8rem;
            }
          }

          .info-container {
            width: 13.8rem;
            padding-left: 0.4rem;

            .id-area {
              margin-top: -0.4rem;
              padding-left: 0.5rem;
              h3 {
                font-size: 3.2rem;
              }
            }

            .title-area {
              width: 13.6rem;
              padding-top: 0.8rem;

              p {
                font-size: 1.15rem;
              }
            }
          }
        }
      }     
    }
  }
}
  