
.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.2rem;

  .list-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.6rem;
    width: 86%;
    padding-left: 0;
    list-style-type: none;
    // border: 1px solid #aaa;

    li {
      display: flex;
      justify-content: center;
      width: 100%;

      .list-items-container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 25rem;
        height: 9rem;
        margin-bottom: 2.8rem;
        background-color: #fff;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.18);
        border-bottom: 4px solid #DCA738;
        border-radius: 8px;
        
        .audio-icon {
          position: absolute;
          top: 0.7rem;
          right: 2.2rem;
          font-size: 2rem;
          color: #DCA738;
          cursor: pointer;
        }
      
        .image-container {
         display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          background-size: cover;
          background-position: center;
          max-width: 7.7rem;
          max-height: 6.2rem;
          z-index: 100;
         margin-left: 1.3rem;
          border-radius: 3px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        
        
          .image {
            max-height: 6.2rem;
            width: auto;
            object-fit: cover;
             border: none;
          }
        }

       .info-container {
          display: flex;
          flex-direction: column;
          // overflow: hidden;
          width: 15.5rem;
          height: 6.2rem;
          padding-left: 0.6rem;
        
          .id-area {
            display: flex;
            width: 5.2rem;
            height: 2.8rem;
            justify-content: flex-start;
            align-items: center;
            padding-top: 0.3rem;
            padding-left: 0.2rem;
            // margin-bottom: 1.5rem;
          
            h3 { 
              font-family: 'Story Script', sans-serif;
              font-optical-sizing: auto;
              font-weight: 700;
              font-style: normal;
              font-size: 2.6rem;
              // color: #cfcfcf;
              color: #dfdfdf;
            }
          }
      
          .title-area {
            display: flex;
            flex-direction: column; 
            justify-content: flex-start;
            width: 14rem;
            color: #5c5c5c;
            height: 3.4rem;
  
            p {
              margin: 0;
              padding-top: 0.3rem;
              font-size: 1.05rem;
              font-weight: 500;
              line-height: 1.15rem;
            }
          }
        }
      }
    }
  }
}

// ------------------- Media Queries -------------------- //

@media (max-width: 1800px) {
  .list-container {
  
    .list-grid {
      column-gap: 2rem;

      li {

        .list-items-container {
          width: 23.8rem;
          height: 9.4rem;
          margin-bottom: 2rem;
      
          .image-container {
            max-width: 7.7rem;
            max-height: 6.6rem;
                
            .image {
             max-height: 6.6rem;
            }
          }

          .info-container {
            width: 15.5rem;
            height: 6.2rem;
            padding-left: 0.7rem;
      
            .title-area {
              width: 13.6rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1370px) {
  .list-container {
  
    .list-grid {
    grid-template-columns: repeat(3, 1fr);
      
    }
  }
}
  