.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  .main-content {
    flex-grow: 1;
  }
}

.vertical-layout {
  overflow-y: auto;
  overflow-x: hidden;
}

.horizontal-layout {
  overflow-y: hidden;
  overflow-x: auto;
  height: 100dvh;

  .footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .footer {
      height: 12dvh;

      .footer-box {

        .logo {
          height: 4.3rem;
          width: auto;
        }
  
        .copyrights {
          display: flex;
          
          p {
            font-size: 1.1rem;
          }     
        }
  
        .address {
        
          p {
            font-size: 1.1rem;
          }

          .rocket {
            font-size: 1.9rem;
          }
        }
      }
    }
  }
}

// --------------------- Media Queries -------------------- //

// ---------------- Max-Width: 1280px --------------- //

@media screen and (max-width: 1280px) {
  .horizontal-layout {

    .footer-container {
      display: none;
    }
  }
}

// ---------------- Max-Width: 1280px --------------- //

@media screen and (min-height: 800px) and (max-width: 1280px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 13dvh;
      }
    }
  }
}

// ---------------- Max-Width: 1220px --------------- //

@media screen and (max-width: 1220px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 11.5dvh;
      }
    }
  }
}

// ---------------- Max-Width: 1140px --------------- //

@media screen and (max-width: 1140px) {
  .horizontal-layout {

    .footer-container {

      .footer {
        height: 11dvh;

        .footer-box {
          width: 98%;

          .logo {
            height: 3.98rem;
          }
  
          .copyrights {
          
            p {
              font-size: 1.07rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.07rem;
            }

            .rocket {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}