.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  .main-content {
    flex-grow: 1;
  }
}

.vertical-layout {
  overflow-y: auto;
  overflow-x: hidden;
}

.horizontal-layout {
  overflow-y: hidden;
  overflow-x: auto;
  height: 100dvh;

  .footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .footer {
      height: 12dvh;

      .footer-box {

        .logo {
          height: 4.3rem;
          width: auto;
        }
  
        .copyrights {
          display: flex;
          
          p {
            font-size: 1.1rem;
          }     
        }
  
        .address {
        
          p {
            font-size: 1.1rem;
          }

          .rocket {
            font-size: 1.9rem;
          }
        }
      }
    }
  }
}

// ======================== Media Queries ======================== //

// ---------------- Max-Width: 1550px --------------- //

@media screen and (max-width: 1550px) {
  .horizontal-layout {

    .footer-container {
      display: none;
    }
  }
}

// ---------------- Min-Height: 1100px and Max-Width: 1550px --------------- //

@media screen and (min-height: 1100px) and (max-width: 1550px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 14dvh;

        .footer-box {

          .logo {
            height: 5.65rem;
            width: auto;
          }
    
          .copyrights {

            .copyright {
              font-size: 2.15rem;
            }
            
            p {
              font-size: 1.28rem;
            }     
          }
    
          .address {
          
            p {
              font-size: 1.28rem;
            }

            .rocket {
              font-size: 2.1rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Max-Height: 1099px and Max-Width: 1550px --------------- //

@media screen and (max-height: 1099px) and (max-width: 1550px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 12.6dvh;

        .footer-box {

          .logo {
            height: 5.15rem;
          }
    
          .copyrights {

            .copyright {
              margin-top: 0rem;
              font-size: 2.1rem;
            }
            
            p {
              font-size: 1.28rem;
            }     
          }
    
          .address {
          
            p {
              font-size: 1.28rem;
            }

            .rocket {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Max-Width: 1440px --------------- //

@media screen and (max-width: 1440px) {
  .horizontal-layout {

    .footer-container {
      display: none;
    }
  }
}

// ---------------- Min-Height: 820px and Max-Width: 1400px --------------- //

@media screen and (min-height: 820px) and (max-width: 1400px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 12.4dvh;
      }
    }
  }
}

// ---------------- Max-Width: 1380px --------------- //

@media screen and (max-width: 1380px) {
  .horizontal-layout {

    .footer-container {
      display: none;
    }
  }
}

// ---------------- Min-Height: 840px and Max-Width: 1380px --------------- //

@media screen and (min-height: 840px) and (max-width: 1380px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 11.8dvh;

        .footer-box {

          .logo {
            height: 4.3rem;
          }
    
          .copyrights {

            .copyright {
              font-size: 1.85rem;
            }
            
            p {
              font-size: 1.18rem;
            }     
          }
    
          .address {
          
            p {
              font-size: 1.18rem;
            }

            .rocket {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Max-Width: 1370px --------------- //

@media screen and (max-width: 1370px) {
  .horizontal-layout {

    .footer-container {
      display: block;
    }
  }
}

// ---------------- Max-Height: 840px and Max-Width: 1370px --------------- //

@media screen and (max-height: 840px) and (max-width: 1370px) {
  .horizontal-layout {

    .footer-container {
      display: none;
    }
  }
}

// ---------------- Max-Width: 1280px --------------- //

@media screen and (max-width: 1280px) {
  .horizontal-layout {

    .footer-container {
      display: none;
    }
  }
}

// ---------------- Max-Width: 1280px --------------- //

@media screen and (min-height: 800px) and (max-width: 1280px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 13dvh;

        .footer-box {

          .copyrights {
    
            p {
              font-size: 1.2rem;
            }
          }

          .address {
    
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Max-Width: 1220px --------------- //

@media screen and (max-width: 1220px) {
  .horizontal-layout {

    .footer-container {
      display: none;
    }
  }
}

// ---------------- Min-Height: 720px and Max-Width: 1220px --------------- //

@media screen and (min-height: 720px) and (max-width: 1220px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 12dvh;

        .footer-box {

          .logo {
            height: 3.9rem;
          }

          .copyrights {

            .copyright {
              font-size: 1.9rem;
            }
    
            p {
              font-size: 1.15rem;
            }
          }

          .address {
    
            p {
              font-size: 1.15rem;
            }

            .rocket {
              font-size: 1.9rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Max-Width: 1140px --------------- //

@media screen and (max-width: 1140px) {
  .horizontal-layout {

    .footer-container {

      .footer {
        height: 11dvh;

        .footer-box {
          width: 98%;

          .logo {
            height: 3.98rem;
          }
  
          .copyrights {
          
            p {
              font-size: 1.07rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.07rem;
            }

            .rocket {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Max-Height: 780px and Max-Width: 1035px --------------- //

@media screen and (max-height: 780px) and (max-width: 1035px) {
  .horizontal-layout {

    .footer-container {

      .footer {
        height: 15dvh;

        .footer-box {

          .logo {
            height: 5rem;
          }
  
          .copyrights {

            .copyright {
              margin-right: 0.4rem;
              font-size: 2.2rem;
            }
          
            p {
              font-size: 1.28rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.28rem;
            }

            .rocket {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Max-Height: 700px and Max-Width: 1035px --------------- //

@media screen and (max-height: 700px) and (max-width: 1035px) {
  .horizontal-layout {

    .footer-container {

      .footer {
        height: 12.8dvh;

        .footer-box {

          .logo {
            height: 4.2rem;
          }
  
          .copyrights {
          
            p {
              font-size: 1.18rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.18rem;
            }

            .rocket {
              font-size: 1.9rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 510px and Max-Width: 960px --------------- //

@media screen and (min-height: 510px) and (max-width: 960px) {
  .horizontal-layout {

    .footer-container {
      display: none;
    }
  }
}

// ---------------- Max-Width: 780px --------------- //

@media screen and (max-width: 780px) {
  .horizontal-layout {

    .footer-container {

      .footer {
        height: 13dvh;
        border-top: 3px solid var(--copper-yellow);

        .footer-box {
          width: 98.5%;

          .logo {
            height: 4.1rem;
          }
  
          .copyrights {
          
            p {
              font-size: 1.14rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.14rem;
            }

            .rocket {
              font-size: 1.9rem;
            }
          }
        }
      }
    }
  }
}