.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  .main-content {
    flex-grow: 1;
  }
}

.vertical-layout {
  overflow-y: auto;
  overflow-x: hidden;
}

.horizontal-layout {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  overflow-y: hidden;
  overflow-x: auto;
  height: 100dvh;

  .footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .footer {
      height: 12dvh;

      .footer-box {

        .logo {
          height: 4.3rem;
          width: auto;
        }
  
        .copyrights {
          display: flex;
          
          p {
            font-size: 1.1rem;
          }     
        }
  
        .address {
        
          p {
            font-size: 1.1rem;
          }

          .rocket {
            font-size: 1.9rem;
          }
        }
      }
    }
  }
}

// ======================== Media Queries ======================== //

@media screen and (max-width: 3000px) {
    .horizontal-layout {

    .footer-container {
      display: none;
    }
  }
}

// ---------------- Min-Height: 990px and Min-Width: 1940px --------------- //

@media screen and (min-height: 990px) and (max-width: 1940px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 10.8dvh;

        .footer-box {

          .logo {
            height: 4rem;
          }
    
          .copyrights {

            .copyright {
              margin-top: 0.2rem;
              font-size: 1.58rem;
            }
            
            p {
              font-size: 1rem;
            }     
          }
    
          .address {
          
            p {
              font-size: 1rem;
            }

            .rocket {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 980px and Min-Width: 1850px --------------- //

@media screen and (min-height: 980px) and (max-width: 1850px) {
  .horizontal-layout {

    .footer-container {
      display: block;
    }
  }
}

// ---------------- Min-Height: 980px and Min-Width: 1800px --------------- //

@media screen and (min-height: 980px) and (max-width: 1800px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 11dvh;

        .footer-box {

          .logo {
            height: 4rem;
          }
    
          .copyrights {

            .copyright {
              font-size: 1.65rem;
            }
            
            p {
              font-size: 1.05rem;
            }     
          }
    
          .address {
          
            p {
              font-size: 1.05rem;
            }

            .rocket {
              font-size: 1.65rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 980px and Min-Width: 1760px --------------- //

@media screen and (min-height: 980px) and (max-width: 1760px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 11.2dvh;

        .footer-box {

          .logo {
            height: 4.15rem;
          }
        }
      }
    }
  }
}

// --------------- Min-Height: 950px and Max-Width 1690px ---------------- //

@media screen and (min-height: 950px) and (max-width: 1690px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 12dvh;

        .footer-box {

          .logo {
            height: 4.14rem;
          }

          .copyrights {

            .copyright {
              font-size: 1.65rem;
            }
            
            p {
              font-size: 1.08rem;
            }     
          }
    
          .address {
          
            p {
              font-size: 1.08rem;
            }

            .rocket {
              font-size: 1.65rem;
            }
          }
        }
      }
    }
  }
}

// --------------- Min-Height: 950px and Max-Width 1690px ---------------- //

@media screen and (min-height: 950px) and (max-width: 1650px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 12.5dvh;

        .footer-box {

          .logo {
            height: 4.28rem;
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 925px and Max-Width: 1580px --------------- //

@media screen and (min-height: 925px) and (max-width: 1580px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 12dvh;

        .footer-box {

          .logo {
            height: 4.55rem;
          }

          .copyrights {
        
            .copyright {
              margin-right: 0.3rem;
              font-size: 2rem;
            }
        
            p {
              font-size: 1.2rem;
            }
          }

          .address {
      
            p {
              font-size: 1.2rem;
            }
      
            .rocket {
              margin-left: 0.6rem;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 910px and Max-Width: 1550px --------------- //

@media screen and (min-height: 910px) and (max-width: 1550px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 12.5dvh;

        .footer-box {

          .logo {
            height: 4.5rem;
          }

          .copyrights {
        
            .copyright {
              margin-right: 0.3rem;
              font-size: 2rem;
            }
        
            p {
              font-size: 1.2rem;
            }
          }

          .address {
      
            p {
              font-size: 1.2rem;
            }
      
            .rocket {
              margin-left: 0.6rem;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 900px and Max-Width: 1500px --------------- //

@media screen and (min-height: 900px) and (max-width: 1500px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 12.8dvh;

        .footer-box {

          .logo {
            height: 4.6rem;
          }

          .copyrights {
        
            p {
              font-size: 1.2rem;
            }
          }

          .address {
      
            p {
              font-size: 1.2rem;
            }
      
            .rocket {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 870px and Max-Width: 1440px --------------- //

@media screen and (min-height: 870px) and (max-width: 1440px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 12.8dvh;

        .footer-box {

          .logo {
            height: 4.53rem;
          }

          .copyrights {
        
            p {
              font-size: 1.22rem;
            }
          }

          .address {
      
            p {
              font-size: 1.22rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 820px and Max-Width: 1400px --------------- //

@media screen and (min-height: 820px) and (max-width: 1400px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 12.4dvh;
      }
    }
  }
}

// ---------------- Min-Height: 820px and Max-Width: 1380px --------------- //

@media screen and (min-height: 820px) and (max-width: 1380px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 13dvh;

        .footer-box {

          .logo {
            height: 4.3rem;
          }
    
          .copyrights {

            .copyright {
              font-size: 1.85rem;
            }
            
            p {
              font-size: 1.18rem;
            }     
          }
    
          .address {
          
            p {
              font-size: 1.18rem;
            }

            .rocket {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 820px and Max-Width: 1370px --------------- //

@media screen and (min-height: 820px) and (max-width: 1370px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 13.5dvh;

        .footer-box {

          .logo {
            height: 4.6rem;
          }
    
          .copyrights {

            .copyright {
              font-size: 1.9rem;
            }
            
            p {
              font-size: 1.2rem;
            }     
          }
    
          .address {
          
            p {
              font-size: 1.2rem;
            }

            .rocket {
              font-size: 1.9rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 770px and Max-Width: 1280px --------------- //

@media screen and (min-height: 750px) and (max-width: 1280px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 14dvh;

        .footer-box {

          .logo {
            height: 4.7rem;
          }

          .copyrights {

            .copyright {
              font-size: 2.2rem;
            }
    
            p {
              font-size: 1.28rem;
            }
          }

          .address {
    
            p {
              font-size: 1.28rem;
            }

            .rocket {
              font-size: 2.1rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 725px and Max-Width: 1220px --------------- //

@media screen and (min-height: 725px) and (max-width: 1220px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 13.5dvh;

        .footer-box {

          .logo {
            height: 4.55rem;
          }

          .copyrights {

            .copyright {
              font-size: 2.1rem;
            }
    
            p {
              font-size: 1.29rem;
            }
          }

          .address {
    
            p {
              font-size: 1.29rem;
            }

            .rocket {
              font-size: 2.05rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 780px and Max-Width: 1220px --------------- //

@media screen and (min-height: 780px) and (max-width: 1220px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 4.75rem;
          }

          .copyrights {

            .copyright {
              font-size: 2.2rem;
            }
    
            p {
              font-size: 1.3rem;
            }
          }

          .address {
    
            p {
              font-size: 1.3rem;
            }

            .rocket {
              font-size: 2.2rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 691px and Max-Width: 1140px --------------- //

@media screen and (min-height: 691px) and (max-width: 1140px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 13.8dvh;

        .footer-box {
          width: 98%;

          .logo {
            height: 4.8rem;
          }
  
          .copyrights {

            .copyright {
              font-size: 2.23rem;
            }
          
            p {
              font-size: 1.35rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.35rem;
            }

            .rocket {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 691px and Max-Width: 1115px --------------- //

@media screen and (min-height: 691px) and (max-width: 1115px) {
  .horizontal-layout {

    .footer-container {

      .footer {
        height: 14dvh;

        .footer-box {

          .logo {
            height: 5rem;
          }
  
          .copyrights {
          
            p {
              font-size: 1.38rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.38rem;
            }

            .rocket {
              font-size: 2.2rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 800px and Max-Width: 1115px --------------- //

@media screen and (min-height: 800px) and (max-width: 1115px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 5.55rem;
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 691px and Max-Width: 1080px --------------- //

@media screen and (min-height: 691px) and (max-width: 1080px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 4.9rem;
          }
  
          .copyrights {

            .copyright {
              font-size: 2.3rem;
            }
          
            p {
              font-size: 1.4rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.4rem;
            }

            .rocket {
              font-size: 2.15rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 780px and Max-Width: 1080px --------------- //

@media screen and (min-height: 780px) and (max-width: 1080px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 5.5rem;
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 640px and Max-Width: 1040px --------------- //

@media screen and (min-height: 640px) and (max-width: 1040px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 14dvh;

        .footer-box {
          width: 98%;

          .logo {
            height: 5rem;
          }
  
          .copyrights {

            .copyright {
              font-size: 2.5rem;
            }
          
            p {
              font-size: 1.48rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.48rem;
            }

            .rocket {
              font-size: 2.28rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 691px and Max-Width: 1040px --------------- //

@media screen and (min-height: 691px) and (max-width: 1040px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 5.5rem;
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 640px and Max-Width: 1028px --------------- //

@media screen and (min-height: 640px) and (max-width: 1028px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 5.1rem;
          }

          .copyrights {
          
            p {
              font-size: 1.5rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 630px and Max-Width: 1000px --------------- //

@media screen and (min-height: 630px) and (max-width: 1000px) {
  .horizontal-layout {

    .footer-container {
      display: block;

      .footer {
        height: 14.8dvh;

        .footer-box {
          width: 100%;

          .logo {
            height: 5.3rem;
          }
  
          .copyrights {

            .copyright {
              font-size: 2.2rem;
            }
          
            p {
              font-size: 1.48rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.48rem;
            }

            .rocket {
              font-size: 2.18rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 740px and Max-Width: 1000px --------------- //

@media screen and (min-height: 740px) and (max-width: 1000px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 6rem;
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 630px and Max-Width: 860px --------------- //

@media screen and (min-height: 630px) and (max-width: 860px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 5.73rem;
          }
  
          .copyrights {

            .copyright {
              font-size: 2.45rem;
            }
          
            p {
              font-size: 1.58rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.58rem;
            }

            .rocket {
              font-size: 2.45rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 630px and Max-Width: 800px --------------- //

@media screen and (min-height: 630px) and (max-width: 800px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 6.2rem;
          }
  
          .copyrights {

            .copyright {
              font-size: 2.75rem;
            }
          
            p {
              font-size: 1.66rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.66rem;
            }

            .rocket {
              font-size: 2.75rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 630px and Max-Width: 780px --------------- //

@media screen and (min-height: 630px) and (max-width: 780px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 6.5rem;
          }
  
          .copyrights {

            .copyright {
              font-size: 2.75rem;
            }
          
            p {
              font-size: 1.75rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.75rem;
            }

            .rocket {
              font-size: 2.75rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-height: 690px and Max-Width: 780px --------------- //

@media screen and (min-height: 690px) and (max-width: 780px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 6.8rem;
          }
        }
      }
    }
  }
}

// ---------------- Min-Height: 630px and Max-Width: 760px --------------- //

@media screen and (min-height: 630px) and (max-width: 760px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 6.65rem;
          }
  
          .copyrights {

            .copyright {
              font-size: 2.9rem;
            }
          
            p {
              font-size: 1.8rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.8rem;
            }

            .rocket {
              font-size: 2.9rem;
            }
          }
        }
      }
    }
  }
}

// ---------------- Min-height: 700px and Max-Width: 760px --------------- //

@media screen and (min-height: 700px) and (max-width: 760px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 6.9rem;
          }
        }
      }
    }
  }
}

// ---------------- Max-Width: 700px --------------- //

@media screen and (max-width: 700px) {
  .horizontal-layout {

    .footer-container {

      .footer {

        .footer-box {

          .logo {
            height: 6.9rem;
          }
  
          .copyrights {

            .copyright {
              font-size: 2.95rem;
            }
          
            p {
              font-size: 1.88rem;
            }     
          }
  
          .address {
        
            p {
              font-size: 1.88rem;
            }

            .rocket {
              font-size: 2.95rem;
            }
          }
        }
      }
    }
  }
}