* {
  box-sizing: border-box;
}

html body {
  margin: 0;
  font-family: 'Outfit',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #fefdf8;
  color: #5f5f5f;
  // text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #5f5f5f;

  &:focus {
    outline: none;
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  cursor: pointer;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* ------ Page Animation on First Render ------ */

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-fade-in {
  animation: slideIn 0.4s ease-in forwards;
}

/* ----------------- Utility Styles ----------------- */

/* --------- Painting Shadows --------- */
.border-shadow-sm {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);
}

.border-shadow-lg {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

/* --------- Windows --------- */
.window-frame {
  position: absolute;
  top: 0rem;
  width: 32.1rem;
  height: 20.7rem;
  background-color: #b8b8b8;


  .window-pane {
    position: absolute;
    bottom: 0.7rem;
    width: 15rem;
    height: 19.3rem;
    background-color: #fdfdfd;
    box-shadow: inset 5px 5px 14px 10px rgba(0, 0, 0, 0.1);
  }

  .pane-left {
    left: 0.7rem;
  }

  .pane-right {
    right: 0.7rem;
  }
}

/* --------- Doors Styles --------- */

.door-frame-container {
  position: relative;
  display: flex;
  justify-content: center;

  .door-frame {
    position: absolute;
    bottom: 0;
    width: 18.8rem;
    height: 23.9rem;
    background-color: #b8b8b8;
    --shadow: inset 5px 5px 14px 10px rgba(0, 0, 0, 0.1);

    .door-window-pane-top {
      position: absolute;
      top: 0.7rem;
      left: 0.7rem;
      width: 17.4rem;
      height: 3.3rem;
      background-color: #fdfdfd;
      box-shadow: var(--shadow);
    }

    .door-window-pane-left {
      position: absolute;
      bottom: 0.9rem;
      left: 0.7rem;
      width: 8.35rem;
      height: 18.3rem;
      background-color: #fdfdfd;
      box-shadow: var(--shadow);
    }

    .door-window-pane-right {
      position: absolute;
      bottom: 0.9rem;
      right: 0.7rem;
      width: 8.35rem;
      height: 18.3rem;
      background-color: #fdfdfd;
      box-shadow: var(--shadow);
    }

    .door-crossbar {
      position: absolute;
      bottom: 9.4rem;
      right: 0;
      width: 18.8rem;
      height: 0.6rem;
      background-color: #bdbdbd;
      box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
    }
  }
}

/* ----------- Carousel Stylings ------------- */

div.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55rem;
    margin-bottom: 3.6rem;
    
    .arrow {
      padding-bottom: 0.5rem;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: #DCA738;
    }

    .page-button {
      background: none;
      margin: 0 1.8rem;
      font-family: 'Outfit',sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 1.15rem;
      font-weight: 400;
      color: #5f5f5f;
      border: none;
      transition: transform 0.4s ease, color 0.4s ease, font-weight 0.4s ease;
      transform: scale(1);

      &:hover {
        transform: scale(1.2);
        color: #DCA738;
        text-shadow: 0.5px 0 0 #DCA738;
      }
    }
    
    .active-button {
      transform: scale(1.2);
      color: #DCA738;
      text-shadow: 0.5px 0 0 #DCA738;
    }
  }

  ul.gallery-container {
    position: relative;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100vw;
    max-height: 80vh;

    .wall-item {
      flex: 0 0 100vw;
      min-width: 100vw;
      flex-shrink: 0;
      scroll-snap-align: start;
    }
  }

  .itemSnapPoint {
    scroll-snap-align: start;
  }
}

// ------------------- Global Media Queries -------------------- //

@media (max-width: 1800px) {
  html {
    font-size: 98%;
  }

  div.carousel-container {
    .controls {
      margin-bottom: 4.5rem;
    }
  }
}

@media (max-width: 1370px) {
  html {
    font-size: 90%;
  }

  div.carousel-container {

    .controls {
      margin-top: 1.5rem;
      margin-bottom: 4.5rem;
      width: 58rem;

      .arrow {
        font-size: 1.8rem;
      }

      .page-button {
        font-size: 1.25rem;
      }
    }
  }
  
  /* --------- Windows --------- */

.window-frame {
  width: 28.5rem;
  height: 19.3rem;


  .window-pane {
    width: 13.2rem;
    height: 17.9rem;
  }
}

  /* --------- Doors Styles --------- */

.door-frame-container {

  .door-frame {
    width: 18rem;

    .door-window-pane-top {
      width: 16.6rem;
    }

    .door-window-pane-left {
      width: 7.95rem;
    }

    .door-window-pane-right {
      width: 7.95rem;
    }

    .door-crossbar {
      width: 18rem;
    }
  }
}
}
