* {
  box-sizing: border-box;
}

:root {
  // --dark-grey: #585f64;
  --dark-grey: #545b5f;
  --copper-yellow: #DCA738;
  --off-white: #F9F8F2;
  --shadow: inset 5px 5px 14px 10px rgba(0, 0, 0, 0.1);
}

html body {
  margin: 0;
  font-family: 'Outfit',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--off-white);
  color: var(--dark-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------ Page Animation on First Render ------ */

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-fade-in {
  animation: slideIn 0.4s ease-in forwards;
}

/* ----------------- Utility Styles ----------------- */

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  cursor: pointer;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.home-icon .cls-1 {
  fill: var(--copper-yellow) !important;
}

/* --------- Painting Shadows --------- */
.border-shadow-sm {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);
}

.border-shadow-lg {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

/* --------- Windows --------- */
.window-frame {
  position: absolute;
  top: 0;
  width: 32.1rem;
  height: 20.7rem;
  background-color: #b8b8b8;


  .window-pane {
    position: absolute;
    bottom: 0.7rem;
    width: 15rem;
    height: 19.3rem;
    background-color: #fdfdfd;
    box-shadow: inset 5px 5px 14px 10px rgba(0, 0, 0, 0.1);
  }

  .pane-left {
    left: 0.7rem;
  }

  .pane-right {
    right: 0.7rem;
  }
}

/* --------- Grey Entrance/Exit Door Styles --------- */

.door-frame-container {
  position: relative;
  display: flex;
  justify-content: center;

  .door-frame {
    position: absolute;
    bottom: 0;
    width: 18.8rem;
    height: 23.9rem;
    background-color: #b8b8b8;
    box-shadow: var(--shadow);

    .door-window-pane-top {
      position: absolute;
      top: 0.7rem;
      left: 0.7rem;
      width: 17.4rem;
      height: 3.3rem;
      background-color: #fdfdfd;
      box-shadow: var(--shadow);
    }

    .door-window-pane-left {
      position: absolute;
      bottom: 0.9rem;
      left: 0.7rem;
      width: 8.35rem;
      height: 18.3rem;
      background-color: #fdfdfd;
      box-shadow: var(--shadow);
    }

    .door-window-pane-right {
      position: absolute;
      bottom: 0.9rem;
      right: 0.7rem;
      width: 8.35rem;
      height: 18.3rem;
      background-color: #fdfdfd;
      box-shadow: var(--shadow);
    }

    .door-crossbar {
      position: absolute;
      bottom: 9.4rem;
      right: 0;
      width: 18.8rem;
      height: 0.6rem;
      background-color: #bdbdbd;
      box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
    }
  }
}

// ------------------ Gallery White Door Styles ------------------ //

.white-door-frame {
  display: flex;
  justify-content: center;
  width: 15rem;
  height: 25.6rem;
  margin-left: 0.8rem;
  background-color: #f6f6f6;
  border-top: 1px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.1);

  .white-door {
    position: absolute;
    bottom: 0;
    width: 12.2rem;
    height: 24.3rem;
    background: linear-gradient(195deg, rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.04));
    border-top: 3px solid #dcdcdc;
    border-left: 2px solid #e3e3e3;
  }
}

.steps {
  position: absolute;
  height: 2.5rem;
  width: 15.6rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.04));
  border-bottom: 1px solid #8f8f8f;
}

/* ----------- Exit Sign Styles ------------- */

.exit-sign-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

    .exit-sign {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 2.5rem;
      background-color: #fdfdfd;
      border-radius: 4px;
      box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.12);
      color: rgba(255, 0, 0, 0.2);
      font-size: 1.5rem;
      font-weight: 800;
    }
}

/* ----------- Carousel Styles ------------- */

div.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55rem;
    height: 2.4rem;
    margin-bottom: 2.5rem;
    
    .arrow {
      padding-bottom: 0.5rem;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: var(--copper-yellow);
    }

    .page-button {
      background: none;
      margin: 0 1.7rem;
      font-size: 1.1rem;
      font-weight: 400;
      color: var(--dark-grey);
      border: none;
      transition: transform 0.4s ease, color 0.4s ease, font-weight 0.4s ease;
      transform: scale(1);

      &:hover {
        transform: scale(1.23);
        color: var(--copper-yellow);
        text-shadow: 0.5px 0 0 var(--copper-yellow);
      }
    }
    
    .active-button {
      transform: scale(1.23);
      color: var(--copper-yellow);
      text-shadow: 0.5px 0 0 var(--copper-yellow);
    }
  }

  ul.gallery-container {
    position: relative;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100vw;
    max-height: 80dvh;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .wall-item {
      flex: 0 0 100vw;
      min-width: 100vw;
      flex-shrink: 0;
      scroll-snap-align: start;
    }
  }

  ul.gallery-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .itemSnapPoint {
    scroll-snap-align: start;
  }
}

// ========================= Global Media Queries ========================= //

// -------------- Min-Height: 940px and Max-Width 1930px -------------- //

@media screen and (min-height: 940px) and (max-width: 1930px){
  div.carousel-container {
    .controls {
      margin-bottom: 3.2rem;
    }
  }
}

// --------------- Max-Width 1800px ---------------- //

@media screen and (max-width: 1800px) {
  html {
    font-size: 98%;
  }
  
  div.carousel-container {
    .controls {
      margin-bottom: 6dvh;

      .page-button {
        margin: 0 1.55rem;
        font-size: 1.2rem;
      }
    }
  }
}

// -------------- Min-Height: 980px and Max-Width 1800px -------------- //

@media screen and (min-height: 980px) and (max-width: 1800px) {
  div.carousel-container {
    .controls {
      margin-bottom: 5.5rem;
    }
  }
}

// --------------- Max-Width 1760px ---------------- //

@media screen and (max-width: 1760px) {
  
  div.carousel-container {
    .controls {
      margin-bottom: 4.4vh;

      .page-button {
        margin: 0 1.35rem;
        font-size: 1.23rem;
      }
    }
  }
}

// --------------- Min-height: 930px and Max-Width 1760px ---------------- //

@media screen and (min-height: 930px) and (max-width: 1760px) {
  
  div.carousel-container {
    .controls {
      margin-bottom: 5.5dvh;
    }
  }
}

// --------------- Min-height: 980px and Max-Width 1760px ---------------- //

@media screen and (min-height: 980px) and (max-width: 1760px) {
  
  div.carousel-container {
    .controls {
      margin-bottom: 4dvh;
    }
  }
}

// --------------- Min-height: 1000px and Max-Width 1760px ---------------- //

@media screen and (min-height: 1000px) and (max-width: 1760px) {
  
  div.carousel-container {
    .controls {
      margin-bottom: 5.8dvh;
    }
  }
}

// --------------- Max-Width 1745px ---------------- //

@media screen and (max-width: 1745px) {
  html {
    font-size: 97.5%;
  }
}

// --------------- Max-Width 1730px ---------------- //

@media screen and (max-width: 1730px) {
  html {
    font-size: 97%;
  }
  
  div.carousel-container {
    .controls {
      margin-bottom: 3.4dvh;

      .arrow {
        padding-bottom: 0.7rem;
        font-size: 1.8rem;
      }

      .page-button {
        margin: 0 1.35rem;
        font-size: 1.25rem;
      }
    }
  }
}

// --------------- Min-Height: 960px and Max-Width 1730px ---------------- //

@media screen and (min-height: 960px) and (max-width: 1730px) {
  
  div.carousel-container {

    .controls {
      margin-bottom: 6.5dvh;
    }
  }
}

// --------------- Min-Height: 1000px and Max-Width 1730px ---------------- //

@media screen and (min-height: 1000px) and (max-width: 1730px) {
  
  div.carousel-container {

    .controls {
      margin-bottom: 3.7dvh;
    }
  }
}

// --------------- Min-Height: 1075px and Max-Width 1730px ---------------- //

@media screen and (min-height: 1075px) and (max-width: 1730px) {
  
  div.carousel-container {

    .controls {
      margin-bottom: 6dvh;
    }
  }
}

// --------------- Max-Width 1710px ---------------- //

@media screen and (max-width: 1710px) {
  html {
    font-size: 96%;
  }
}

// --------------- Max-Width 1690px ---------------- //

@media screen and (max-width: 1690px) {
  html {
    font-size: 95%;
  }
}

// --------------- Max-Width 1670px ---------------- //

@media screen and (max-width: 1670px) {
  html {
    font-size: 94%;
  }
}

// --------------- Max-Width 1650px ---------------- //

@media screen and (max-width: 1650px) {
  html {
    font-size: 93%;
  }

  div.carousel-container {
    .controls {
      margin-bottom: 3.5dvh;

      .page-button {
        margin: 0 1.3rem;
      }
    }
  }
}

// --------------- Min-Height: 910px and Max-Width 1650px ---------------- //

@media screen and (min-height: 910px) and (max-width: 1650px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 5.8dvh;
    }
  }
}

// --------------- Min-Height: 960px and Max-Width 1650px ---------------- //

@media screen and (min-height: 960px) and (max-width: 1650px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 4dvh;
    }
  }
}

// --------------- Min-Height: 1010px and Max-Width 1650px ---------------- //

@media screen and (min-height: 1010px) and (max-width: 1650px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 5dvh;
    }
  }
}

// --------------- Max-Width 1630px ---------------- //

@media screen and (max-width: 1630px) {
  html {
    font-size: 91.5%;
  }
}

// --------------- Max-Width 1610px ---------------- //

@media screen and (max-width: 1610px) {
  html {
    font-size: 90.4%;
  }

  div.carousel-container {
    
    .controls {
      margin-bottom: 2.6dvh;
    }
  }
}

// --------------- Min-Height: 860px and Max-Width 1610px ---------------- //

@media screen and (min-height: 860px) and (max-width: 1610px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 4.6dvh;
    }
  }
}

// --------------- Min-Height: 895px and Max-Width 1610px ---------------- //

@media screen and (min-height: 895px) and (max-width: 1610px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 6dvh;
    }
  }
}

// --------------- Min-Height: 980px and Max-Width 1610px ---------------- //

@media screen and (min-height: 980px) and (max-width: 1610px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 4.5dvh;
    }
  }
}

// --------------- Max-Width 1595px ---------------- //

@media screen and (max-width: 1595px) {
  html {
    font-size: 89.2%;
  }
}

// --------------- Max-Width 1580px ---------------- //

@media screen and (max-width: 1580px) {
  html {
    font-size: 88.5%;
  }

  div.carousel-container {
    
    .controls {
      margin-bottom: 3.5dvh;
    }
  }
}

// --------------- Min-height: 875px and Max-Width 1580px ---------------- //

@media screen and (min-height: 875px) and (max-width: 1580px) {
  
  div.carousel-container {
    
    .controls {
      margin-bottom: 6dvh;
    }
  }
}

// --------------- Min-height: 965px and Max-Width 1580px ---------------- //

@media screen and (min-height: 965px) and (max-width: 1580px) {
  
  div.carousel-container {
    
    .controls {
      margin-bottom: 5.5dvh;
    }
  }
}

// --------------- Max-Width 1550px ---------------- //

@media screen and (max-width: 1550px) {
  html {
    font-size: 87%;
  }

  div.carousel-container {
    .controls {
      margin-bottom: 3.2dvh;

      .arrow {
        padding-bottom: 0.5rem;
        font-size: 1.9rem;
      }

      .page-button {
        margin: 0 1.25rem;
        font-size: 1.32rem;
      }
    }
  }
}

// -------------- Min-Height: 850px and Max-Width 1550px -------------- //

@media screen and (min-height: 850px) and (max-width: 1550px) {
  div.carousel-container {
    .controls {
      margin-bottom: 6dvh;
    }
  }
}

// -------------- Min-Height: 940px and Max-Width 1550px -------------- //

@media screen and (min-height: 940px) and (max-width: 1550px) {
  div.carousel-container {
    .controls {
      margin-bottom: 5dvh;
    }
  }
}

// --------------- Max-Width 1550px ---------------- //

@media screen and (min-height: 1000px) and (max-width: 1550px) {

  div.carousel-container {
    .controls {
      margin-bottom: 7.6dvh;
    }
  }
}

// --------------- Max-Width 1540px ---------------- //

@media screen and (max-width: 1540px) {
  html {
    font-size: 86.5%;
  }
}

// --------------- Max-Width 1520px ---------------- //

@media screen and (max-width: 1520px) {
  html {
    font-size: 85.25%;
  }
}

// --------------- Max-Width 1500px ---------------- //

@media screen and (max-width: 1500px) {
  html {
    font-size: 84%;
  }

  div.carousel-container {
    .controls {
      margin-bottom: 3.5dvh;
    }
  }
}

// --------------  Min-Height 830px and Max-Width 1500px -------------- //

@media screen and (min-height: 830px) and (max-width: 1500px) {
  div.carousel-container {
    .controls {
      margin-bottom: 6.2dvh;
    }
  }
}

// --------------  Min-Height 900px and Max-Width 1500px -------------- //

@media screen and (min-height: 900px) and (max-width: 1500px) {
  div.carousel-container {
    .controls {
      margin-bottom: 5dvh;
    }
  }
}

// --------------- Max-Width 1470px ---------------- //

@media screen and (max-width: 1470px) {
  html {
    font-size: 82.4%;
  }

  div.carousel-container {
    .controls {
      margin-bottom: 3dvh;
    }
  }
}

// --------------  Min-Height 810px and Max-Width 1470px -------------- //

@media screen and (min-height: 810px) and (max-width: 1470px) {
  div.carousel-container {
    .controls {
      margin-bottom: 6.4dvh;
    }
  }
}

// --------------  Min-Height 900px and Max-Width 1470px -------------- //

@media screen and (min-height: 900px) and (max-width: 1470px) {
  div.carousel-container {
    .controls {
      margin-bottom: 6dvh;
    }
  }
}

// --------------- Max-Width 1455px ---------------- //

@media screen and (max-width: 1455px) {
  html {
    font-size: 81.2%;
  }
}

// --------------- Max-Width 1440px ---------------- //

@media screen and (max-width: 1440px) {
  html {
    font-size: 80.9%;
  }

  div.carousel-container {
    .controls {
      margin-bottom: 3.2dvh;

      .arrow {
        padding-bottom: 0.7rem;
        font-size: 2rem;
      }

      .page-button {
        margin: 0 1.18rem;
        font-size: 1.38rem;
      }
    }
  }
}

// --------------- Min-Height: 780px and Max-Width 1440px ---------------- //

@media screen and (min-height: 780px) and (max-width: 1440px) {
  div.carousel-container {
    .controls {
      margin-bottom: 5.6dvh;
    }
  }
}

// ---------------- Min-Height: 870px and Max-Width: 1440px --------------- //

// @media screen and (min-height: 870px) and (max-width: 1440px) {
//   div.carousel-container {

//     .controls {
//       margin-bottom: 6dvh;
//     }
//   }
// }

// --------------- Max-Height: 830px and Max-Width 1440px ---------------- //

// @media screen and (max-height: 830px) and (max-width: 1440px) {

//   div.carousel-container {
//     .controls {
//       margin-bottom: 5.5dvh;
//     }
//   }
// }

// --------------- Max-Width 1400px ---------------- //

@media screen and (max-width: 1400px) {
  html {
    font-size: 78.7%;
  }

  div.carousel-container {
    .controls {
      margin-bottom: 3.8dvh;
    }
  }
}

// -------------- Max-Height: 690px and Max-Width 1400px -------------- //

@media screen and (max-height: 690px) and (max-width: 1400px) {
  div.carousel-container {
    .controls {
      margin-top: 4.5dvh;
      margin-bottom: 4.8dvh;

      .arrow {
        padding-bottom: 0.7rem;
        font-size: 2.25rem;
      }

      .page-button {
        margin: 0 1.23rem;
        font-size: 1.55rem;
      }
    }
  }
}

// -------------- Min-Height: 755px and Max-Width: 1400px -------------- //

@media screen and (min-height: 755px) and (max-width: 1400px) {
  div.carousel-container {
    .controls {
      margin-bottom: 5.3dvh;
    }
  }
}

// ---------------- Min-Height: 820px and Max-Width: 1400px --------------- //

@media screen and (min-height: 820px) and (max-width: 1400px) {
  div.carousel-container {
    .controls {
      margin-bottom: 5.2dvh;
    }
  }
}

// --------------- Max-Width 1380px ---------------- //

@media screen and (max-width: 1380px) {
  html {
    font-size: 89%;
  }

  div.carousel-container {

    .controls {
      margin-bottom: 2.2dvh;
      width: 58rem;

      .arrow {
        font-size: 1.8rem;
      }

      .page-button {
        margin: 0 1rem;
        font-size: 1.25rem;
      }
    }
  }
  
  /* --------- Windows --------- */

  .window-frame {
    width: 28.5rem;
    height: 19.3rem;


    .window-pane {
      width: 13.2rem;
      height: 17.9rem;
    }
  }

  /* --------- Doors Styles --------- */

  .door-frame-container {

    .door-frame {
      width: 18rem;

      .door-window-pane-top {
        width: 16.6rem;
      }

      .door-window-pane-left {
        width: 7.95rem;
      }

      .door-window-pane-right {
        width: 7.95rem;
      }

      .door-crossbar {
        width: 18rem;
      }
    }
  }
}

// -------------- Max-Height: 690px and Max-Width 1380px -------------- //

@media screen and (max-height: 690px) and (max-width: 1380px) {
  div.carousel-container {

    .controls {
      margin-top: 3dvh;
      margin-bottom: 3.2dvh;
    }
  }
}

// -------------- Min-Height: 760px and Max-Width 1380px -------------- //

@media screen and (min-height: 760px) and (max-width: 1380px) {
  div.carousel-container {

    .controls {
      margin-bottom: 3.4dvh;
    }
  }
}

// ---------------- Min-Height: 840px and Max-Width: 1380px --------------- //

@media screen and (min-height: 840px) and (max-width: 1380px) {
  div.carousel-container {

    .controls {
      margin-bottom: 2.8dvh;
    }
  }
}

// ---------------- Min-Height: 960px and Max-Width: 1380px --------------- //

@media screen and (min-height: 960px) and (max-width: 1380px) {
  div.carousel-container {

    .controls {
      margin-bottom: 5.5dvh;
    }
  }
}

// ---------------- Max-Width: 1370px -------------- //

@media screen and (max-width: 1370px) {
  html {
    font-size: 86.5%;
  }

  div.carousel-container {

    .controls {
      margin-bottom: 3dvh;

      .page-button {
        margin: 0 0.9rem;
        font-size: 1.2rem;
      }
    }
  }

  /* --------- Windows --------- */

  .window-frame {
    width: 29.2rem;
    height: 18.6rem;


    .window-pane {
      width: 13.5rem;
      height: 17.3rem;
    }
  }

  /* --------- Doors Styles --------- */

  .door-frame-container {

    .door-frame {
      width: 17.2rem;
      height: 22rem;

      .door-window-pane-top {
        width: 15.8rem;
        height: 2.8rem;
      }

      .door-window-pane-left {
        width: 7.55rem;
        height: 16.9rem;
      }
      
      .door-window-pane-right {
        width: 7.55rem;
        height: 16.9rem;
      }

      .door-crossbar {
        bottom: 9rem;
        width: 17.2rem;
      }
    }
  }

   /* ----------- Exit Sign Styles ------------- */

  .exit-sign-container {

    .exit-sign {
      width: 3.4rem;
      height: 2rem;
      font-size: 1.3rem;
    }
  }
}

// -------------- Max-Height: 690px and Max-Width 1370px -------------- //

@media screen and (max-height: 690px) and (max-width: 1370px) {

  div.carousel-container {

    .controls {
      // margin-bottom: 2.8dvh;
      margin-bottom: 4.5dvh;
    }
  }
}

// -------------- Min-Height: 820px and Max-Width 1370px -------------- //

@media screen and (min-height: 820px) and (max-width: 1370px) {

  div.carousel-container {

    .controls {
      margin-bottom: 4.8dvh;
      width: 52rem;

      .page-button {
        margin: 0 1rem;
        font-size: 1.16rem;
      }
    }
  }
}

// -------------- Min-Height: 840px and Max-Width 1370px -------------- //

@media screen and (min-height: 840px) and (max-width: 1370px) {

  div.carousel-container {

    .controls {
      margin-bottom: 2.7dvh;
    }
  }
}

// ---------------- Min-Height: 880px and Max-Width: 1370px --------------- //

@media screen and (min-height: 880px) and (max-width: 1370px) {
  div.carousel-container {

    .controls {
      margin-bottom: 5dvh;
    }
  }
}

// ---------------- Min-Height: 980px and Max-Width: 1370px --------------- //

@media screen and (min-height: 980px) and (max-width: 1370px) {
  div.carousel-container {

    .controls {
      margin-bottom: 7.5dvh;
    }
  }
}

// --------------- Max-Width 1348px ---------------- //

@media screen and (max-width: 1348px) {
  html {
    font-size: 84.25%;
  }
}

// --------------- Max-Width 1325px ---------------- //

@media screen and (max-width: 1325px) {
  html {
    font-size: 85%;
  }
}

// --------------- Max-Width 1303px ---------------- //

@media screen and (max-width: 1303px) {
  html {
    font-size: 83.5%;
  }
}

// --------------- Max-Width 1280px ---------------- //

@media screen and (max-width: 1280px) {
  html {
    font-size: 82%;
  }

  /* ----------- Exit Sign Styles ------------- */

  .exit-sign-container {

      .exit-sign {
        width: 3.4rem;
        height: 2.2rem;
        font-size: 1.3rem;
        font-weight: 800;
      }
  }

  /* ----------- Carousel Styles ------------- */

  div.carousel-container {  

    .controls {
      // margin-top: 1rem;
      margin-bottom: 4.2dvh;

      .arrow {
        // padding-bottom: 0.8rem;
      }

      .page-button {
        font-size: 1.26rem;
      }
    }
  }

  /* --------- Windows --------- */
  .window-frame {
    width: 29rem;
    height: 19.6rem;

    .window-pane {
      bottom: 0.6rem;
      width: 13.6rem;
      height: 18.4rem;
    }

    .pane-left {
      left: 0.6rem;
    }

    .pane-right {
      right: 0.6rem;
    }
  }

  /* --------- Grey Entrance/Exit Door Styles --------- */

  .door-frame-container {

    .door-frame {
      width: 17rem;
      height: 22.6rem;

      .door-window-pane-top {
        top: 0.6rem;
        left: 0.6rem;
        width: 15.8rem;
        height: 2.6rem;
      }

      .door-window-pane-left {
        bottom: 0.7rem;
        left: 0.6rem;
        width: 7.6rem;
        height: 18.2rem;
      }

      .door-window-pane-right {
        bottom: 0.7rem;
        right: 0.6rem;
        width: 7.6rem;
        height: 18.2rem;
      }

      .door-crossbar {
        bottom: 9.4rem;
        width: 17rem;
      }
    }
  }
}

// --------------- Min-Height: 650px and Max-Width 1280px ---------------- //

@media screen and (min-height: 650px) and (max-width: 1280px) {
  div.carousel-container {  

    .controls {
      margin-bottom: 5.5dvh;
    }
  }
}

// --------------- Min-Height: 900px and Max-Width 1280px ---------------- //

@media screen and (min-height: 900px) and (max-width: 1280px) {
  div.carousel-container {  

    .controls {
      margin-bottom: 6.8dvh;
    }
  }
}

// --------------- Max-Width 1250px ---------------- //

@media screen and (max-width: 1250px) {
  html {
    font-size: 80.5%;
  }
}

// --------------- Max-Width 1220px ---------------- //

@media screen and (max-width: 1220px) {
  html {
    font-size: 81%;
  }

  div.carousel-container {

    .controls {
      margin-bottom: 2.6dvh;

      .arrow {
        padding-bottom: 0.4rem;
      }

      .page-button {
        margin: 0 0.9rem;
        font-size: 1.25rem;
      }
    }
  }

  /* --------- Windows --------- */
  .window-frame {
    width: 27.8rem;
    height: 18.8rem;

    .window-pane {
      width: 13rem;
      height: 17.6rem;
    }
  }

  /* --------- Doors Styles --------- */

  .door-frame-container {

    .door-frame {
      width: 15.8rem;
      height: 22.5rem;

      .door-window-pane-top {
        top: 0.55rem;
        width: 14.65rem;
      }

      .door-window-pane-left {
        width: 7rem;
        height: 18.1rem;
      }

      .door-window-pane-right {
        width: 7rem;
        height: 18.1rem;
      }

      .door-crossbar {
        bottom: 9.7rem;
        width: 15.8rem;
        height: 0.5rem;
      }
    }
  }
}

// --------------- Min-Height: 610px and Max-Width 1220px ---------------- //

@media screen and (min-height: 610px) and (max-width: 1220px) {
  div.carousel-container {

    .controls {
      margin-bottom: 5dvh;
    }
  }
}

// --------------- Min-Height: 720px and Max-Width 1220px ---------------- //

@media screen and (min-height: 720px) and (max-width: 1220px) {
  div.carousel-container {

    .controls {
      margin-bottom: 3.2dvh;
    }
  }
}

// --------------- Min-Height: 745px and Max-Width 1220px ---------------- //

@media screen and (min-height: 745px) and (max-width: 1220px) {
  div.carousel-container {

    .controls {
      margin-bottom: 4.6dvh;
    }
  }
}

// --------------- Min-Height: 840px and Max-Width 1220px ---------------- //

@media screen and (min-height: 840px) and (max-width: 1220px) {
  div.carousel-container {

    .controls {
      margin-bottom: 6dvh;
    }
  }
}

// --------------- Min-Height: 890px and Max-Width 1220px ---------------- //

@media screen and (min-height: 890px) and (max-width: 1220px) {
  div.carousel-container {

    .controls {
      margin-bottom: 7.5dvh;
    }
  }
}

// --------------- Max-Width 1215px ---------------- //

@media screen and (max-width: 1215px) {
  div.carousel-container {

    .controls {
      margin-bottom: 3.8dvh;
    }
  }
}

// --------------- Min-Height: 800px and Max-Width 12150px ---------------- //

@media screen and (min-height: 800px) and (max-width: 1215px) {
  div.carousel-container {

    .controls {
      margin-bottom: 6.8dvh;
    }
  }
}

// --------------- Max-Width 1200px ---------------- //

@media screen and (max-width: 1200px) {

  div.carousel-container {

    .controls {
      margin-top: 1rem;
      margin-bottom: 2.5dvh;

      .arrow {
        padding-bottom: 0.6rem;
      }

      .page-button {
        font-size: 1.23rem;
      }
    }
  }
}

// --------------- Min-Height: 595px and Max-Width 1200px ---------------- //

@media screen and (min-height: 595px) and (max-width: 1200px) {

  div.carousel-container {

    .controls {
      margin-top: 3.5dvh;
      margin-bottom: 3.5dvh;
    }
  }
}

// --------------- Min-Height: 620px and Max-Width 1200px ---------------- //

@media screen and (min-height: 620px) and (max-width: 1200px) {

  div.carousel-container {

    .controls {
      margin-bottom: 6dvh;
    }
  }
}

// --------------- Min-Height: 650px and Max-Width 1200px ---------------- //

@media screen and (min-height: 650px) and (max-width: 1200px) {

  div.carousel-container {

    .controls {
      margin-bottom: 6dvh;
    }
  }
}

// --------------- Min-Height: 720px and Max-Width 1200px ---------------- //

@media screen and (min-height: 720px) and (max-width: 1200px) {

  div.carousel-container {

    .controls {
      // margin-top: 1rem;
      margin-bottom: 3dvh;
    }
  }
}

// --------------- Min-Height: 800px and Max-Width 1200px ---------------- //

@media screen and (min-height: 800px) and (max-width: 1200px) {

  div.carousel-container {

    .controls {
      margin-bottom: 6.5dvh;
    }
  }
}

// --------------- Max-Width 1185px ---------------- //

@media screen and (max-width: 1185px) {
  html {
    font-size: 80.6%;
    }

  div.carousel-container {
    
    .controls {
      margin-bottom: 2.4dvh;
    }
  }
}

// --------------- Min-Height: 700px and Max-Width 1185px ---------------- //

@media screen and (min-height: 700px) and (max-width: 1185px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 7.5dvh;
    }
  }
}

// --------------- Min-Height: 725px and Max-Width 1185px ---------------- //

@media screen and (min-height: 725px) and (max-width: 1185px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 3dvh;
    }
  }
}

// --------------- Min-Height: 770px and Max-Width 1185px ---------------- //

@media screen and (min-height: 770px) and (max-width: 1185px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 5dvh;
    }
  }
}

// --------------- Min-Height: 800px and Max-Width 1185px ---------------- //

@media screen and (min-height: 800px) and (max-width: 1185px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 6dvh;
    }
  }
}

// --------------- Max-Width 1163px ---------------- //

@media screen and (max-width: 1163px) {
  html {
    font-size: 79.8%;
    }
}

// --------------- Max-Width 1140px ---------------- //

@media screen and (max-width: 1140px) {
  html {
    font-size: 79%;
    }

  div.carousel-container {
    
    .controls {
      margin-bottom: 3dvh;
    }
  }

  .exit-sign-container {
    
    .exit-sign {
      width: 3.1rem;
      height: 2rem;
      font-size: 1.28rem;
      font-weight: 800;
    }
}

  /* --------- Windows --------- */
  .window-frame {
    width: 27.4rem;
    height: 18rem;

    .window-pane {
      bottom: 0.55rem;
      width: 12.85rem;
      height: 16.95rem;
    }

    .pane-left {
      left: 0.55rem;
    }

    .pane-right {
      right: 0.55rem;
    }
  }

  /* --------- Doors Styles --------- */

  .door-frame-container {

    .door-frame {
      width: 15.2rem;
      height: 21rem;

      .door-window-pane-top {
        top: 0.55rem;
        left: 0.55rem;
        width: 14.15rem;
        height: 2.4rem;
      }

      .door-window-pane-left {
        bottom: 0.6rem;
        width: 6.75rem;
        left: 0.55rem;
        height: 16.9rem;
      }

      .door-window-pane-right {
        bottom: 0.6rem;
        width: 6.75rem;
        right: 0.55rem;
        height: 16.9rem;
      }

      .door-crossbar {
        bottom: 9rem;
        width: 15.2rem;
        height: 0.45rem;
      }
    }
  }
}

// --------------- Min-Height: 630px and Max-Width 1140px ---------------- //

@media screen and (min-height: 630px) and (max-width: 1140px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 5.5dvh;
    }
  }
}

// --------------- Min-Height: 690px and Max-Width 1140px ---------------- //

@media screen and (min-height: 690px) and (max-width: 1140px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 4.2dvh;
    }
  }
}

// --------------- Min-Height: 720px and Max-Width 1140px ---------------- //

@media screen and (min-height: 720px) and (max-width: 1140px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 5.5dvh;
    }
  }
}

// --------------- Max-Width 1115px ---------------- //

@media screen and (max-width: 1115px) {
  html {
    font-size: 77.1%;
    }
}

// --------------- Max-Width 1090px ---------------- //

@media screen and (max-width: 1090px) {
  html {
    font-size: 75.2%;
    }
}

// --------------- Max-Width 1065px ---------------- //

@media screen and (max-width: 1065px) {
  html {
    font-size: 73.2%;
    }
}

// --------------- Max-Width 1040px ---------------- //

@media screen and (max-width: 1040px) {
  html {
    font-size: 71.4%;
    }

  div.carousel-container {
    
    .controls {
      margin-bottom: 2.6dvh;
    }
  }
}

// --------------- Max-Height: 630px and Max-Width 1040px ---------------- //

@media screen and (min-height: 630px) and (max-width: 1040px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 4.2dvh;
    }
  }
}

// ---------------- Max-Width: 1035px --------------- //

@media screen and (max-width: 1035px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 2.2dvh;

      .page-button {
        font-size: 1.28rem;
      }
    }
  }
}

// ---------------- Min-Height: 625px and Max-Width: 1035px --------------- //

@media screen and (min-height: 625px) and (max-width: 1035px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 3.2dvh;

      .page-button {
        font-size: 1.3rem;
      }
    }
  }
}

// ---------------- Max-Height: 780px and Max-Width: 1035px --------------- //

// @media screen and (max-height: 780px) and (max-width: 1035px) {

//   div.carousel-container {
    
//     .controls {
//       margin-top: 0.5dvh;
//       margin-bottom: 5.8dvh;

//       .page-button {
//         font-size: 1.3rem;
//       }
//     }
//   }
// }

// ---------------- Max-Height: 700px and Max-Width: 1035px --------------- //

// @media screen and (max-height: 700px) and (max-width: 1035px) {

//   div.carousel-container {
    
//     .controls {
//       margin-top: 2dvh;
//       margin-bottom: 3.4dvh;

//       .page-button {
//         font-size: 1.24rem;
//       }
//     }
//   }
// }

// --------------- Max-Width 1028px ---------------- //

@media screen and (max-width: 1028px) {
  html {
    font-size: 70.5%;
    }

  div.carousel-container {
    
    .controls {
      margin-bottom: 2.6dvh;
    }
  }
}

// --------------- Min-Height: 610px and Max-Width 1028px ---------------- //

@media screen and (min-height: 610px) and (max-width: 1028px) {

  div.carousel-container {
    
    .controls {
      margin-bottom: 3.2dvh;
    }
  }
}

// --------------- Max-Width 998px ---------------- //

@media screen and (max-width: 998px) {
  html {
    font-size: 68.5%;
    }

}

// --------------- Min-Height: 520px and Max-Width 998px ---------------- //

@media screen and (max-height: 514px) and (max-width: 998px) {
  div.carousel-container {
    
    .controls {
      margin-top: 2rem;
      margin-bottom: 4.8dvh;

      .arrow {
        font-size: 2.1rem;
      }

      .page-button {
        margin: 0 1.1rem;
        font-size: 1.45rem;
        font-weight: 500;
      }
    }
  }
}


// --------------- Min-Height: 520px and Max-Width 998px ---------------- //

@media screen and (min-height: 515px) and (max-width: 998px) {
  div.carousel-container {
    
    .controls {
      // margin-top: 0.5rem;
      margin-bottom: 4dvh;
    }
  }
}

// --------------- Max-Width 960px ---------------- //

@media screen and (max-width: 960px) {
  html {
    font-size: 70%;
    }

  div.carousel-container {
    
    .controls {
      margin-top: 0.5rem;
      margin-bottom: 4.8dvh;
    }
  }

  /* --------- Windows --------- */
  .window-frame {
    width: 24.5rem;
    height: 15.5rem;

    .window-pane {
      bottom: 0.55rem;
      width: 11.4rem;
      height: 14.45rem;
    }

    .pane-left {
      left: 0.55rem;
    }

    .pane-right {
      right: 0.55rem;
    }
  }

  /* --------- Doors Styles --------- */

  .door-frame-container {

    .door-frame {
      width: 14.2rem;
      height: 18.5rem;

      .door-window-pane-top {
        width: 13.1rem;
        height: 2rem;
      }

      .door-window-pane-left {
        width: 6.25rem;
        height: 14.8rem;
      }

      .door-window-pane-right {
        width: 6.25rem;
        height: 14.8rem;
      }

      .door-crossbar {
        bottom: 7.8rem;
        width: 14.2rem;
      }
    }
  }
}

// --------------- Max-Width 920px ---------------- //

@media screen and (max-width: 920px) {
  html {
    font-size: 68.7%;
    }

  // div.carousel-container {
    
  //   .controls {
  //     margin-top: 0.5rem;
  //     margin-bottom: 4.8dvh;
  //   }
  // }
}

// --------------- Max-Width 870px ---------------- //

@media screen and (max-width: 870px) {
  html {
    font-size: 64.3%;
  }
}

// --------------- Max-Width 810px ---------------- //

@media screen and (max-width: 810px) {
  html {
    font-size: 60.2%;
  }
}

// --------------- Max-Width 780px ---------------- //

@media screen and (max-width: 780px) {
  html {
    font-size: 58.5%;
    }

  .border-shadow-lg {
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.3);
  }

  div.carousel-container {
    
    .controls {
      margin-top: 4.5dvh;
      margin-bottom: 3.6dvh;

      .arrow {
        padding-bottom: 0.6rem;
        font-size: 2.2rem;
      }

      .page-button {
        margin: 0 0.75rem;
        font-size: 1.5rem;
      }
    }
  }
}

// --------------- Max-Width 740px ---------------- //

@media screen and (max-width: 740px) {
  html {
    font-size: 56.3%;
    }
}

// --------------- Max-Width 725px ---------------- //

@media screen and (max-width: 725px) {
  html {
    font-size: 54.4%;
    }

  // div.carousel-container {
    
  //   .controls {
  //     margin-top: 7dvh;
  //     margin-bottom: 4dvh;
  //   }
  // }
}

// --------------- Max-Width 680px ---------------- //

@media screen and (max-width: 680px) {
  html {
    font-size: 50%;
    }
}

// --------------- Max-Width 600px ---------------- //

@media screen and (max-width: 600px) {
  html {
    font-size: 44.7%;
    }
}
