* {
  box-sizing: border-box;
}

:root {
  --dark-grey: #545b5f;
  --copper-yellow: #DCA738;
  --off-white: #F9F8F2;
  --shadow: inset 5px 5px 14px 10px rgba(0, 0, 0, 0.1);
}

html body {
  width: 100% !important;
  max-width: 100% !important;
  overflow-x: hidden !important;
  margin: 0;
  font-family: 'Outfit',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--off-white);
  color: var(--dark-grey);
  -webkit-text-size-adjust: 100%;
}

html[data-fullscreen="true"] {
  /* Lock the base document to prevent iOS rubber-banding bounce */
  overflow: hidden !important;
  height: 100dvh !important;

  body {
    overflow: hidden !important;
    height: 100dvh !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #app-viewport-wrapper {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100vw !important;
    
    /* Fits the element between the browser bars */
    height: 100dvh !important; 
    
    /* Keeps your presentation layer above all else */
    z-index: 999999 !important; 
    background: var(--off-white) !important; 
    
    /* Allows user to scroll naturally *inside* your app layout box */
    overflow-y: auto !important; 
    -webkit-overflow-scrolling: touch !important; 
    
    /* Fixes iOS subpixel calculation lag */
    box-sizing: border-box !important; 
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------ Page Animation on First Render ------ */

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-fade-in {
  animation: slideIn 0.4s ease-in forwards;
}

/* ----------------- Utility Styles ----------------- */

button, a {
  -webkit-tap-highlight-color: transparent;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  cursor: pointer;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.home-icon .cls-1 {
  fill: var(--copper-yellow) !important;
}

/* --------- Painting Shadows --------- */
.border-shadow-sm {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);
}

.border-shadow-lg {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

/* --------- Windows --------- */
.window-frame {
  position: absolute;
  top: 0;
  width: 32.1rem;
  height: 20.7rem;
  background-color: #b8b8b8;


  .window-pane {
    position: absolute;
    bottom: 0.7rem;
    width: 15rem;
    height: 19.3rem;
    background-color: #fdfdfd;
    box-shadow: inset 5px 5px 14px 10px rgba(0, 0, 0, 0.1);
  }

  .pane-left {
    left: 0.7rem;
  }

  .pane-right {
    right: 0.7rem;
  }
}

/* --------- Grey Entrance/Exit Door Styles --------- */

.door-frame-container {
  position: relative;
  display: flex;
  justify-content: center;

  .door-frame {
    position: absolute;
    bottom: 0;
    width: 18.8rem;
    height: 23.9rem;
    background-color: #b8b8b8;
    box-shadow: var(--shadow);

    .door-window-pane-top {
      position: absolute;
      top: 0.7rem;
      left: 0.7rem;
      width: 17.4rem;
      height: 3.3rem;
      background-color: #fdfdfd;
      box-shadow: var(--shadow);
    }

    .door-window-pane-left {
      position: absolute;
      bottom: 0.9rem;
      left: 0.7rem;
      width: 8.35rem;
      height: 18.3rem;
      background-color: #fdfdfd;
      box-shadow: var(--shadow);
    }

    .door-window-pane-right {
      position: absolute;
      bottom: 0.9rem;
      right: 0.7rem;
      width: 8.35rem;
      height: 18.3rem;
      background-color: #fdfdfd;
      box-shadow: var(--shadow);
    }

    .door-crossbar {
      position: absolute;
      bottom: 9.4rem;
      right: 0;
      width: 18.8rem;
      height: 0.6rem;
      background-color: #bdbdbd;
      box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
    }
  }
}

// ------------------ Gallery White Door Styles ------------------ //

.white-door-frame {
  display: flex;
  justify-content: center;
  width: 15rem;
  height: 25.6rem;
  margin-left: 0.8rem;
  background-color: #f6f6f6;
  border-top: 1px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.1);

  .white-door {
    position: absolute;
    bottom: 0;
    width: 12.2rem;
    height: 24.3rem;
    background: linear-gradient(195deg, rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.04));
    border-top: 3px solid #dcdcdc;
    border-left: 2px solid #e3e3e3;
  }
}

.steps {
  position: absolute;
  height: 2.5rem;
  width: 15.6rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.04));
  border-bottom: 1px solid #8f8f8f;
}

/* ----------- Exit Sign Styles ------------- */

.exit-sign-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

    .exit-sign {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 2.5rem;
      background-color: #fdfdfd;
      border-radius: 4px;
      box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.12);
      color: rgba(255, 0, 0, 0.2);
      font-size: 1.5rem;
      font-weight: 800;
    }
}

/* ----------- Carousel Styles ------------- */

div.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80dvh;

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55rem;
    height: 2.4rem;
    margin-bottom: auto;
    
    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: var(--copper-yellow);
    }

    .page-button {
      background: none;
      margin: 0 1.7rem;
      font-size: 1.1rem;
      font-weight: 400;
      color: var(--dark-grey);
      border: none;
      transition: transform 0.4s ease, color 0.4s ease, font-weight 0.4s ease;
      transform: scale(1);

      &:hover {
        transform: scale(1.23);
        color: var(--copper-yellow);
        text-shadow: 0.5px 0 0 var(--copper-yellow);
      }
    }
    
    .active-button {
      transform: scale(1.23);
      color: var(--copper-yellow);
      text-shadow: 0.5px 0 0 var(--copper-yellow);
    }
  }

  ul.gallery-container {
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100vw;
    margin-bottom: auto;
    padding: 0rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .wall-item {
      flex: 0 0 100vw;
      min-width: 100vw;
      flex-shrink: 0;
      scroll-snap-align: start;
    }
  }

  ul.gallery-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .itemSnapPoint {
    scroll-snap-align: start;
  }
}

// ========================= Global Media Queries ========================= //

// -------------- Min-Height: 990px and Max-Width 1940px -------------- //

@media screen and (min-height: 990px) and (max-width: 1940px){
  div.carousel-container {
    min-height: 72.8dvh;
  }
}

// --------------- Max-Width 1900px ---------------- //

@media screen and (max-width: 1900px) {
  html {
    font-size: 99.5%;
  }
}

// --------------- Max-Width 1890px ---------------- //

@media screen and (max-width: 1890px) {
  html {
    font-size: 99.2%;
  }
}

// --------------- Max-Width 1880px ---------------- //

@media screen and (max-width: 1880px) {
  html {
    font-size: 98.7%;
  }
}

// --------------- Max-Width 1870px ---------------- //

@media screen and (max-width: 1870px) {
  html {
    font-size: 98.2%;
  }
}

// --------------- Max-Width 1860px ---------------- //

@media screen and (max-width: 1860px) {
  html {
    font-size: 97.7%;
  }
}

// --------------- Max-Width 1850px ---------------- //

@media screen and (max-width: 1850px) {
  html {
    font-size: 97.2%;
  }
}

// --------------- Min-Height: 980px and Max-Width 1850px ---------------- //

@media screen and (min-height: 980px) and (max-width: 1850px) {
  div.carousel-container {
    min-height: 72.4dvh;
  }
}

// --------------- Max-Width 1840px ---------------- //

@media screen and (max-width: 1840px) {
  html {
    font-size: 96.5%;
  }
}

// --------------- Max-Width 1830px ---------------- //

@media screen and (max-width: 1830px) {
  html {
    font-size: 95.9%;
  }
}
// --------------- Max-Width 1810px ---------------- //

@media screen and (max-width: 1820px) {
  html {
    font-size: 95.4%;
  }
}

// --------------- Max-Width 1810px ---------------- //

@media screen and (max-width: 1810px) {
  html {
    font-size: 94.9%;
  }
}

// --------------- Max-Width 1800px ---------------- //

@media screen and (max-width: 1800px) {
  html {
    font-size: 98%;
  }
  
  div.carousel-container {
    min-height: 80.5dvh;

    .controls {

      .page-button {
        margin: 0 1.55rem;
        font-size: 1.2rem;
      }
    }
  }
}

// -------------- Min-Height: 980px and Max-Width 1800px -------------- //

@media screen and (min-height: 980px) and (max-width: 1800px) {
  div.carousel-container {
    min-height: 71.2dvh;
  }
}
// --------------- Max-Width 1790px ---------------- //

@media screen and (max-width: 1790px) {
  html {
    font-size: 97.4%;
  }
}

// --------------- Max-Width 1780px ---------------- //

@media screen and (max-width: 1780px) {
  html {
    font-size: 97%;
  }
}

// --------------- Max-Width 1770px ---------------- //

@media screen and (max-width: 1770px) {
  html {
    font-size: 96.5%;
  }
}

// --------------- Max-Width 1760px ---------------- //

@media screen and (max-width: 1760px) {
  html {
    font-size: 98%;
  }

  div.carousel-container {
    .controls {

      .page-button {
        margin: 0 1.35rem;
        font-size: 1.23rem;
      }
    }
  }
}

// --------------- Min-height: 980px and Max-Width 1760px ---------------- //

@media screen and (min-height: 980px) and (max-width: 1760px) {
  
  div.carousel-container {
    min-height: 74.2dvh;
  }
}

// --------------- Max-Width 1750px ---------------- //

@media screen and (max-width: 1750px) {
  html {
    font-size: 97.5%;
  }
}

// --------------- Max-Width 1750px ---------------- //

@media screen and (max-width: 1750px) {
  html {
    font-size: 97%;
  }
}

// --------------- Max-Width 1740px ---------------- //

@media screen and (max-width: 1740px) {
  html {
    font-size: 96.5%;
  }
}

// --------------- Max-Width 1730px ---------------- //

@media screen and (max-width: 1730px) {
  html {
    font-size: 97%;
  }
  
  div.carousel-container {
    .controls {

      .arrow {
        font-size: 1.8rem;
      }

      .page-button {
        margin: 0 1.35rem;
        font-size: 1.25rem;
      }
    }
  }
}

// --------------- Min-Height: 980px and Max-Width 1730px ---------------- //

@media screen and (min-height: 980px) and (max-width: 1730px) {
  
  div.carousel-container {
    min-height: 72.8dvh;
  }
}

// --------------- Max-Width 1720px ---------------- //

@media screen and (max-width: 1720px) {
  html {
    font-size: 96.5%;
  }
}

// --------------- Max-Width 1710px ---------------- //

@media screen and (max-width: 1710px) {
  html {
    font-size: 96%;
  }
}

// --------------- Max-Width 1700px ---------------- //

@media screen and (max-width: 1700px) {
  html {
    font-size: 95.5%;
  }
}

// --------------- Max-Width 1690px ---------------- //

@media screen and (max-width: 1690px) {
  html {
    font-size: 95%;
  }

  div.carousel-container {
    min-height: 81.8dvh;
  }
}

// --------------- Min-Height: 950px and Max-Width 1690px ---------------- //

@media screen and (min-height: 950px) and (max-width: 1690px) {
  div.carousel-container {
    min-height: 72dvh;
  }
}

// --------------- Max-Width 1680px ---------------- //

@media screen and (max-width: 1680px) {
  html {
    font-size: 94.5%;
  }
}

// --------------- Max-Width 1670px ---------------- //

@media screen and (max-width: 1670px) {
  html {
    font-size: 94%;
  }
}

// --------------- Max-Width 1660px ---------------- //

@media screen and (max-width: 1660px) {
  html {
    font-size: 93.5%;
  }
}

// --------------- Max-Width 1650px ---------------- //

@media screen and (max-width: 1650px) {
  html {
    font-size: 93%;
  }

  div.carousel-container {

    .controls {

      .page-button {
        margin: 0 1.3rem;
      }
    }
  }
}

// --------------- Max-Width 1640px ---------------- //

@media screen and (max-width: 1640px) {
  html {
    font-size: 92.3%;
  }
}

// --------------- Max-Width 1630px ---------------- //

@media screen and (max-width: 1630px) {
  html {
    font-size: 91.5%;
  }
}

// --------------- Max-Width 1620px ---------------- //

@media screen and (max-width: 1620px) {
  html {
    font-size: 91%;
  }
}

// --------------- Max-Width 1610px ---------------- //

@media screen and (max-width: 1610px) {
  html {
    font-size: 90.4%;
  }

  div.carousel-container {
    min-height: 81.6dvh;
  }
}

// --------------- Min-Height: 950px and Max-Width 1610px ---------------- //

@media screen and (min-height: 950px) and (max-width: 1610px) {

  div.carousel-container {
    min-height: 71.5dvh;
  }
}

// --------------- Max-Width 1600px ---------------- //

@media screen and (max-width: 1600px) {
  html {
    font-size: 89.8%;
  }
}

// --------------- Max-Width 1590px ---------------- //

@media screen and (max-width: 1590px) {
  html {
    font-size: 89.2%;
  }
}

// --------------- Max-Width 1580px ---------------- //

@media screen and (max-width: 1580px) {
  html {
    font-size: 88.5%;
  }
}

// --------------- Min-height: 925px and Max-Width 1580px ---------------- //

@media screen and (min-height: 925px) and (max-width: 1580px) {
  
  div.carousel-container {
    min-height: 71.8dvh;
  }
}

// --------------- Max-Width 1570px ---------------- //

@media screen and (max-width: 1570px) {
  html {
    font-size: 88%;
  }
}

// --------------- Max-Width 1560px ---------------- //

@media screen and (max-width: 1560px) {
  html {
    font-size: 87.5%;
  }
}

// --------------- Max-Width 1550px ---------------- //

@media screen and (max-width: 1550px) {
  html {
    font-size: 87%;
  }

  div.carousel-container {
    .controls {

      .arrow {
        font-size: 1.9rem;
      }

      .page-button {
        margin: 0 1.25rem;
        font-size: 1.32rem;
      }
    }
  }
}

// -------------- Min-Height: 910px and Max-Width 1550px -------------- //

@media screen and (min-height: 910px) and (max-width: 1550px) {
  div.carousel-container {
    min-height: 70.6dvh;
  }
}

// --------------- Max-Width 1540px ---------------- //

@media screen and (max-width: 1540px) {
  html {
    font-size: 86.5%;
  }
}

// --------------- Max-Width 1530px ---------------- //

@media screen and (max-width: 1530px) {
  html {
    font-size: 86%;
  }
}

// --------------- Max-Width 1520px ---------------- //

@media screen and (max-width: 1520px) {
  html {
    font-size: 85.5%;
  }
}

// --------------- Max-Width 1500px ---------------- //

@media screen and (max-width: 1500px) {
  html {
    font-size: 84%;
  }

  div.carousel-container {
    min-height: 82.5dvh;

    .controls {

      .arrow {
        font-size: 2rem;
      }

      .page-button {
        margin: 0 1.23rem;
        font-size: 1.37rem;
      }
    }
  }
}

// --------------  Min-Height 900px and Max-Width 1500px -------------- //

@media screen and (min-height: 900px) and (max-width: 1500px) {
  div.carousel-container {
    min-height: 70.8dvh;
  }
}

// --------------- Max-Width 1490px ---------------- //

@media screen and (max-width: 1490px) {
  html {
    font-size: 83.5%;
  }
}

// --------------- Max-Width 1480px ---------------- //

@media screen and (max-width: 1480px) {
  html {
    font-size: 83%;
  }
}

// --------------- Max-Width 1470px ---------------- //

@media screen and (max-width: 1470px) {
  html {
    font-size: 82.8%;
  }

}

// -------------- Max-Height: 690px and Max-Width 1470px -------------- //

@media screen and (max-height: 690px) and (max-width: 1470px) {
  div.carousel-container {
    min-height: 91.5dvh;

    .controls {
      margin-top: 4dvh;

      .arrow {
        font-size: 2.25rem;
      }

      .page-button {
        margin: 0 1.15rem;
        font-size: 1.45rem;
      }
    }
  }
}

// --------------- Max-Width 1460px ---------------- //

@media screen and (max-width: 1460px) {
  html {
    font-size: 82.2%;
  }
}

// --------------- Max-Width 1450px ---------------- //

@media screen and (max-width: 1450px) {
  html {
    font-size: 81.5%;
  }
}

// --------------- Max-Width 1440px ---------------- //

@media screen and (max-width: 1440px) {
  html {
    font-size: 80.9%;
  }

  div.carousel-container {
    .controls {

      .arrow {
        font-size: 2rem;
      }

      .page-button {
        margin: 0 1.18rem;
        font-size: 1.38rem;
      }
    }
  }
}

// ---------------- Min-Height: 870px and Max-Width: 1440px --------------- //

@media screen and (min-height: 870px) and (max-width: 1440px) {
  div.carousel-container {
    min-height: 71.2dvh;
  }
}

// --------------- Max-Width 14330px ---------------- //

@media screen and (max-width: 1430px) {
  html {
    font-size: 80.3%;
  }
}

// --------------- Max-Width 1420px ---------------- //

@media screen and (max-width: 1420px) {
  html {
    font-size: 79.5%;
  }
}

// --------------- Max-Width 1410px ---------------- //

@media screen and (max-width: 1410px) {
  html {
    font-size: 78.7%;
  }
}

// --------------- Max-Width 1400px ---------------- //

@media screen and (max-width: 1400px) {
  html {
    font-size: 77.8%;
  }

  div.carousel-container {
    min-height: 82dvh;
  }
}

// -------------- Max-Height: 690px and Max-Width 1400px -------------- //

@media screen and (max-height: 690px) and (max-width: 1400px) {
  div.carousel-container {
    min-height: 91.5dvh;

    .controls {

      .arrow {
        font-size: 2.28rem;
      }

      .page-button {
        margin: 0 1.16rem;
        font-size: 1.52rem;
      }
    }
  }
}

// ---------------- Min-Height: 820px and Max-Width: 1400px --------------- //

@media screen and (min-height: 820px) and (max-width: 1400px) {
  div.carousel-container {
    min-height: 71.8dvh;
  }
}

// --------------- Max-Width 1390px ---------------- //

@media screen and (max-width: 1390px) {
  html {
    font-size: 77.4%;
  }
}

// --------------- Max-Width 1380px ---------------- //

@media screen and (max-width: 1380px) {
  html {
    font-size: 77%;
  }

  div.carousel-container {
    min-height: 82.2dvh;
  }
}

// -------------- Min-Height: 690px and Max-Width 1380px -------------- //

@media screen and (max-height: 690px) and (max-width: 1380px) {
  div.carousel-container {
    min-height: 91.5dvh;
  }
}

// ---------------- Min-Height: 820px and Max-Width: 1380px --------------- //

@media screen and (min-height: 820px) and (max-width: 1380px) {
  div.carousel-container {
    min-height: 70.4dvh;
  }
}

// ---------------- Max-Width: 1370px -------------- //

@media screen and (max-width: 1370px) {
  html {
    font-size: 76.6%;
  }

  div.carousel-container {
    min-height: 82.5dvh;
  }
}

// -------------- Max-Height: 690px and Max-Width 1370px -------------- //

@media screen and (max-height: 690px) and (max-width: 1370px) {

  div.carousel-container {
    min-height: 92.8dvh;

    .controls {

      .page-button {
        margin: 0 1.12rem;
        font-size: 1.58rem;
      }
    }
  }
}

// -------------- Min-Height: 820px and Max-Width 1370px -------------- //

@media screen and (min-height: 820px) and (max-width: 1370px) {

  div.carousel-container {
    min-height: 71.4dvh;
  }
}

// --------------- Max-Width 1360px ---------------- //

@media screen and (max-width: 1360px) {
  html {
    font-size: 76.2%;
  }
}

// --------------- Max-Width 1350px ---------------- //

@media screen and (max-width: 1350px) {
  html {
    font-size: 75.6%;
  }
}

// --------------- Max-Width 1340px ---------------- //

@media screen and (max-width: 1340px) {
  html {
    font-size: 75%;
  }
}

// --------------- Max-Width 1330px ---------------- //

@media screen and (max-width: 1330px) {
  html {
    font-size: 74.3%;
  }
}

// --------------- Max-Width 1325px ---------------- //

@media screen and (max-width: 1325px) {
  html {
    font-size: 74.1%;
  }
}

// --------------- Max-Height: 690px and Max-Width 1325px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1325px) {

  div.carousel-container {

    .controls {

      .arrow {
        font-size: 2.3rem;
      }

      .page-button {
        margin: 0 1.04rem;
        font-size: 1.64rem;
      }
    }
  }
}

// --------------- Max-Width 1320px ---------------- //

@media screen and (max-width: 1320px) {
  html {
    font-size: 73.8%;
  }
}

// --------------- Max-Width 1310px ---------------- //

@media screen and (max-width: 1310px) {
  html {
    font-size: 73.3%;
  }
}

// --------------- Max-Width 1300px ---------------- //

@media screen and (max-width: 1300px) {
  html {
    font-size: 72.8%;
  }

  div.carousel-container {

    .controls {

      .arrow {
        font-size: 2.1rem;
      }

      .page-button {
        margin: 0 0.95rem;
        font-size: 1.48rem;
      }
    }
  }
}

// --------------- Max-Height: 690px and Max-Width 1300px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1300px) {

  div.carousel-container {

    .controls {

      .arrow {
        font-size: 2.3rem;
      }

      .page-button {
        margin: 0 1.04rem;
        font-size: 1.64rem;
      }
    }
  }
}

// --------------- Max-Width 1290px ---------------- //

@media screen and (max-width: 1290px) {
  html {
    font-size: 72.2%;
  }
}

// --------------- Max-Width 1280px ---------------- //

@media screen and (max-width: 1280px) {
  html {
    font-size: 71.6%;
  }

  div.carousel-container {

    .controls {

      .arrow {
        font-size: 2.05rem;
      }

      .page-button {
        font-size: 1.46rem;
      }
    }
  }
}

// --------------- Max-Height: 690px and Max-Width 1280px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1280px) {
  div.carousel-container {  

    .controls {

      .page-button {
        margin: 0 1.05rem;
        font-size: 1.67rem;
      }
    }
  }
}

// --------------- Min-Height: 750px and Max-Width 1280px ---------------- //

@media screen and (min-height: 750px) and (max-width: 1280px) {
  div.carousel-container {  
    min-height: 71dvh;
  }
}

// --------------- Max-Width 1270px ---------------- //

@media screen and (max-width: 1270px) {
  html {
    font-size: 71.1%;
  }
}

// --------------- Max-Width 1260px ---------------- //

@media screen and (max-width: 1260px) {
  html {
    font-size: 70.6%;
  }
}

// --------------- Max-Width 1250px ---------------- //

@media screen and (max-width: 1250px) {
  html {
    font-size: 70.1%;
  }
}

// --------------- Max-Width 1240px ---------------- //

@media screen and (max-width: 1240px) {
  html {
    font-size: 69.6%;
  }
}

// --------------- Max-Height: 690px and Max-Width 1240px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1240px) {
  div.carousel-container {

    .controls {

      .page-button {
        margin: 0 1.05rem;
        font-size: 1.65rem;
      }
    }
  }
}

// --------------- Max-Width 1220px ---------------- //

@media screen and (max-width: 1220px) {
  html {
    font-size: 68.4%;
  }
}

// --------------- Max-Height: 690px and Max-Width 1220px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1220px) {
  div.carousel-container {

    .controls {

      .arrow {
        font-size: 2.4rem;
      }

      .page-button {
        margin: 0 0.97rem;
        font-size: 1.7rem;
      }
    }
  }
}

// --------------- Min-Height: 725px and Max-Width 1220px ---------------- //

@media screen and (min-height: 725px) and (max-width: 1220px) {
  div.carousel-container {
    min-height: 71.2dvh;
    
  }
}

// --------------- Max-Width 1215px ---------------- //

@media screen and (max-width: 1215px) {
  html {
    font-size: 68%;
  }
}

// --------------- Max-Width 1210px ---------------- //

@media screen and (max-width: 1210px) {
  html {
    font-size: 67.8%;
  }
}

// --------------- Max-Width 1200px ---------------- //

@media screen and (max-width: 1200px) {
  html {
    font-size: 67.2%;
  }

  div.carousel-container {  
    min-height: 91.8dvh;
  }
}

// --------------- Min-Height: 691px and Max-Width 1200px ---------------- //

@media screen and (min-height: 691px) and (max-width: 1200px) {

  div.carousel-container {
    min-height: 80.4dvh;
  }
}

// --------------- Min-Height: 725px and Max-Width 1200px ---------------- //

@media screen and (min-height: 725px) and (max-width: 1200px) {

  div.carousel-container {
    min-height: 69.8dvh;
  }
}

// --------------- Max-Width 1190px ---------------- //

@media screen and (max-width: 1190px) {
  html {
    font-size: 66.7%;
    }
}

// --------------- Max-Width 1185px ---------------- //

@media screen and (max-width: 1185px) {
  html {
    font-size: 66.4%;
    }
}

// --------------- Max-Width 1180px ---------------- //

@media screen and (max-width: 1180px) {
  html {
    font-size: 66.2%;
    }

  div.carousel-container {
    min-height: 80.8dvh;

    .controls {

      .arrow {
        font-size: 2.22rem;
      }

      .page-button {
        margin: 0 0.8rem;
        font-size: 1.52rem;
      }
    }
  }
}

// --------------- Max-Height: 690px and Max-Width 1180px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1180px) {
  div.carousel-container {
    min-height: 92.2dvh;

    .controls {

      .page-button {
        margin: 0 0.97rem;
        font-size: 1.71rem;
      }
    }
  }
}

// --------------- Min-Height: 725px and Max-Width 1180px ---------------- //

@media screen and (min-height: 725px) and (max-width: 1180px) {
  div.carousel-container {
    min-height: 69.8dvh;
  }
}

// --------------- Max-Width 1170px ---------------- //

@media screen and (max-width: 1170px) {
  html {
    font-size: 65.3%;
    }
}

// --------------- Max-Width 1163px ---------------- //

@media screen and (max-width: 1165px) {
  html {
    font-size: 65%;
    }
}

// --------------- Max-Width 1170px ---------------- //

@media screen and (max-width: 1170px) {
  html {
    font-size: 64.7%;
    }
}

// --------------- Max-Width 1160px ---------------- //

@media screen and (max-width: 1160px) {
  html {
    font-size: 64.2%;
    }
}

// --------------- Max-Width 1140px ---------------- //

@media screen and (max-width: 1140px) {
  html {
    font-size: 63.7%;
    }
}

// --------------- Max-Height: 690px and Max-Width 1140px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1140px) {

  div.carousel-container {
    min-height: 91.6dvh;
  }
}

// --------------- Min-Height: 691px and Max-Width 1140px ---------------- //

@media screen and (min-height: 691px) and (max-width: 1140px) {

  div.carousel-container {
    min-height: 70dvh;
    
    .controls {

      .page-button {
        margin: 0 1rem;
        font-size: 1.55rem;
      }
    }
  }
}

// --------------- Max-Width 1135px ---------------- //

@media screen and (max-width: 1135px) {
  html {
    font-size: 63.4%;
    }
}

// --------------- Max-Width 1130px ---------------- //

@media screen and (max-width: 1130px) {
  html {
    font-size: 63.2%;
    }
}

// --------------- Max-Width 1120px ---------------- //

@media screen and (max-width: 1120px) {
  html {
    font-size: 62.6%;
    }
}

// --------------- Max-Width 1115px ---------------- //

@media screen and (max-width: 1115px) {
  html {
    font-size: 62.3%;
    }

  div.carousel-container {
    min-height: 70.2dvh;
    
    .controls {

      .page-button {
        margin: 0 0.95rem;
        font-size: 1.6rem;
      }
    }
  }
}

// --------------- Max-Height: 690px and Max-Width 1115px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1115px) {

  div.carousel-container {
    min-height: 92.2dvh;
    
    .controls {
      width: 56rem;

      .arrow {
        font-size: 2.35rem;
      }

      .page-button {
        margin: 0 0.85rem;
        font-size: 1.8rem;
      }
    }
  }
}

// --------------- Max-Width 1110px ---------------- //

@media screen and (max-width: 1110px) {
  html {
    font-size: 62.1%;
    }
}

// --------------- Max-Width 1000px ---------------- //

@media screen and (max-width: 1100px) {
  html {
    font-size: 61.6%;
    }
}

// --------------- Max-Width 1095px ---------------- //

@media screen and (max-width: 1095px) {
  html {
    font-size: 61.3%;
    }
}

// --------------- Max-Width 1000px ---------------- //

@media screen and (max-width: 1090px) {
  html {
    font-size: 61%;
    }
}

// --------------- Max-Width 1080px ---------------- //

@media screen and (max-width: 1080px) {
  html {
    font-size: 60.4%;
    }
}

// --------------- Max-Width 1070px ---------------- //

@media screen and (max-width: 1070px) {
  html {
    font-size: 59.9%;
    }
}

// --------------- Max-Width 1065px ---------------- //

@media screen and (max-width: 1065px) {
  html {
    font-size: 59.6%;
    }
}

// --------------- Max-Width 1060px ---------------- //

@media screen and (max-width: 1060px) {
  html {
    font-size: 59.4%;
    }
}

// --------------- Max-Width 1050px ---------------- //

@media screen and (max-width: 1050px) {
  html {
    font-size: 58.9%;
    }
}

// --------------- Max-Width 1040px ---------------- //

@media screen and (max-width: 1040px) {
  html {
    font-size: 58.4%;
    }
}

// --------------- Max-Height: 640px and Max-Width 1040px ---------------- //

@media screen and (min-height: 640px) and (max-width: 1040px) {

  div.carousel-container {
    min-height: 81dvh;
  }
}

// --------------- Max-Height: 691px and Max-Width 1040px ---------------- //

@media screen and (min-height: 691px) and (max-width: 1040px) {

  div.carousel-container {
    min-height: 70.2dvh;
  }
}

// ---------------- Max-Width: 1035px --------------- //

@media screen and (max-width: 1035px) {
  html {
    font-size: 58.1%;
  }
}

// ---------------- Max-Width: 1030px --------------- //

@media screen and (max-width: 1030px) {
  html {
    font-size: 57.9%;
  }
}

// --------------- Max-Width 1028px ---------------- //

@media screen and (max-width: 1028px) {
  html {
    font-size: 57.8%;
    }
}

// --------------- Max-Width 1021px ---------------- //

@media screen and (max-width: 1021px) {
  html {
    font-size: 57.3%;
    }

}

// --------------- Max-Width 1013px ---------------- //

@media screen and (max-width: 1013px) {
  html {
    font-size: 56.9%;
    }

}

// --------------- Max-Width 998px ---------------- //

@media screen and (max-width: 1007px) {
  html {
    font-size: 56.5%;
    }

}

// --------------- Max-Width 1000px ---------------- //

@media screen and (max-width: 1000px) {
  html {
    font-size: 56.1%;
    }

  div.carousel-container {
    
    .controls {
      width: 58rem;

      .arrow {
        font-size: 2.4rem;
      }

      .page-button {
        margin: 0 0.9rem;
        font-size: 1.65rem;
      }
    }
  }

    // ------------------ Gallery White Door Styles ------------------ //

  .white-door-frame {
    width: 14.8rem;
    height: 24.6rem;

    .white-door {
      width: 11.6rem;
      height: 23rem;
    }
  }

  //   /* --------- Windows --------- */
  .window-frame {
    width: 29rem;
    height: 19.6rem;

    .window-pane {
      bottom: 0.6rem;
      width: 13.6rem;
      height: 18.4rem;
    }

    .pane-left {
      left: 0.6rem;
    }

    .pane-right {
      right: 0.6rem;
    }
  }

  /* --------- Grey Entrance/Exit Door Styles --------- */

  .door-frame-container {

    .door-frame {
      width: 17rem;
      height: 22.6rem;

      .door-window-pane-top {
        top: 0.6rem;
        left: 0.6rem;
        width: 15.8rem;
        height: 2.6rem;
      }

      .door-window-pane-left {
        bottom: 0.7rem;
        left: 0.6rem;
        width: 7.6rem;
        height: 18.2rem;
      }

      .door-window-pane-right {
        bottom: 0.7rem;
        right: 0.6rem;
        width: 7.6rem;
        height: 18.2rem;
      }

      .door-crossbar {
        bottom: 9.4rem;
        width: 17rem;
      }
    }
  }
}

// ----------------- Max-Height: 413px and Max-Width 1000px ----------------- //

@media screen and (max-height: 413px) and (max-width: 1000px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Max-Height: 690px and Max-Width 1000px ---------------- //

@media screen and (max-height: 690px) and (max-width: 1000px) {
  div.carousel-container {
    
    .controls {
      width: 60rem;
      margin-top: 5dvh;
      margin-left: 2dvw;

      .arrow {
        font-size: 2.6rem;
      }

      .page-button {
        margin: 0 1.12rem;
        font-size: 1.78rem;
      }
    }
  }
}

// --------------- Min-Height: 630px and Max-Width 1000px ---------------- //

@media screen and (min-height: 630px) and (max-width: 1000px) {
  div.carousel-container {
    min-height: 79.8dvh;
  }
}

// --------------- Min-Height: 691px and Max-Width 1000px ---------------- //

@media screen and (min-height: 691px) and (max-width: 1000px) {
  div.carousel-container {
    min-height: 68.2dvh;
  }
}

// --------------- Max-Width 990px ---------------- //

@media screen and (max-width: 990px) {
  html {
    font-size: 55.6%;
    }
}

// --------------- Max-Width 980px ---------------- //

@media screen and (max-width: 980px) {
  html {
    font-size: 55.1%;
    }

  div.carousel-container {
    min-height: 92dvh;
  }
}

// ----------------- Max-Height: 404px and Max-Width 980px ----------------- //

@media screen and (max-height: 404px) and (max-width: 980px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Min-Height: 630px and Max-Width 980px ---------------- //

@media screen and (min-height: 630px) and (max-width: 980px) {
  div.carousel-container {
    min-height: 79.8dvh;
  }
}
// --------------- Min-Height: 691px and Max-Width 980px ---------------- //

@media screen and (min-height: 691px) and (max-width: 980px) {
  div.carousel-container {
    min-height: 68.2dvh;
  }
}

// --------------- Max-Width 979px ---------------- //

@media screen and (max-width: 970px) {
  html {
    font-size: 54.6%;
    }
}

// --------------- Max-Width 960px ---------------- //

@media screen and (max-width: 960px) {
  html {
    font-size: 54.1%;
  }
}
// --------------- Max-Width 950px ---------------- //

@media screen and (max-width: 950px) {
  html {
    font-size: 53.5%;
  }
}

// --------------- Max-Width 940px ---------------- //

@media screen and (max-width: 940px) {
  html {
    font-size: 53%;
  }

  div.carousel-container {
    min-height: 92dvh;
    
    .controls {
      width: 64rem;

      .arrow {
        font-size: 2.45rem;
      }

      .page-button {
        margin: 0 0.85rem;
        font-size: 1.9rem;
      }
    }
  }
}

// ----------------- Max-Height: 390px and Max-Width 940px ----------------- //

@media screen and (max-height: 390px) and (max-width: 940px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Min-Height: 630px and Max-Width 940px ---------------- //

@media screen and (min-height: 630px) and (max-width: 940px) {
  div.carousel-container {
    min-height: 81.5dvh;
  }
}

// --------------- Min-Height: 691px and Max-Width 940px ---------------- //

@media screen and (min-height: 691px) and (max-width: 940px) {
  div.carousel-container {
    min-height: 68.2dvh;

    .controls {

      .arrow {
        font-size: 2.45rem;
      }

      .page-button {
        font-size: 1.7rem;
      }
    }
  }
}

// --------------- Max-Width 930px ---------------- //

@media screen and (max-width: 930px) {
  html {
    font-size: 52.5%;
  }
}

// --------------- Max-Width 920px ---------------- //

@media screen and (max-width: 920px) {
  html {
    font-size: 51.9%;
    }
}

// --------------- Max-Height: 690px and Max-Width 920px ---------------- //

@media screen and (max-height: 690px) and (max-width: 920px) {
 div.carousel-container {
    
    .controls {
      width: 65rem;

      .arrow {
        font-size: 2.75rem;
      }

      .page-button {
        margin: 0 1rem;
        font-size: 1.85rem;
      }
    }
  }
}

// --------------- Max-Width 910px ---------------- //

@media screen and (max-width: 910px) {
  html {
    font-size: 51.3%;
  }
}

// --------------- Max-Width 900px ---------------- //

@media screen and (max-width: 900px) {
  html {
    font-size: 50.8%;
  }

  div.carousel-container {
    min-height: 92dvh;
  }
}

// ----------------- Max-Height: 370px and Max-Width 900px ----------------- //

@media screen and (max-height: 370px) and (max-width: 900px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Min-Height: 630px and Max-Width 900px ---------------- //

@media screen and (min-height: 630px) and (max-width: 900px) {
  div.carousel-container {
    min-height: 80.8dvh;
  }
}

// --------------- Min-Height: 691px and Max-Width 900px ---------------- //

@media screen and (min-height: 691px) and (max-width: 900px) {
  div.carousel-container {
    min-height: 68.5dvh;
  }
}

// --------------- Max-Width 880px ---------------- //

@media screen and (max-width: 890px) {
  html {
    font-size: 50.25%;
  }
}

// --------------- Max-Width 880px ---------------- //

@media screen and (max-width: 880px) {
  html {
    font-size: 49.7%;
  }
}

// --------------- Max-Width 870px ---------------- //

@media screen and (max-width: 870px) {
  html {
    font-size: 49.1%;
  }
}

// --------------- Max-Width 865px ---------------- //

@media screen and (max-width: 865px) {
  html {
    font-size: 48.8%;
  }
}

// --------------- Max-Width 860px ---------------- //

@media screen and (max-width: 860px) {
  html {
    font-size: 48.6%;
  }

  div.carousel-container {
    min-height: 92dvh;
  }
}

// ----------------- Max-Height: 350px and Max-Width 860px ----------------- //

@media screen and (max-height: 350px) and (max-width: 860px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Min-Height: 630px and Max-Width 860px ---------------- //

@media screen and (min-height: 630px) and (max-width: 860px) {
  div.carousel-container {
    min-height: 80.8dvh;
  }
}

// --------------- Min-Height: 691px and Max-Width 860px ---------------- //

@media screen and (min-height: 691px) and (max-width: 860px) {
  div.carousel-container {
    min-height: 68.5dvh;
  }
}

// --------------- Max-Width 855px ---------------- //

@media screen and (max-width: 855px) {
  html {
    font-size: 48.3%;
  }
}

// --------------- Max-Width 850px ---------------- //

@media screen and (max-width: 850px) {
  html {
    font-size: 48%;
  }
}

// --------------- Max-Width 845px ---------------- //

@media screen and (max-width: 845px) {
  html {
    font-size: 47.7%;
  }
}

// --------------- Max-Width 840px ---------------- //

@media screen and (max-width: 840px) {
  html {
    font-size: 47.4%;
  }

  div.carousel-container {
    
    .controls {
      width: 68rem;
      margin-top: 4.8dvh;
      margin-left: 2dvw;

      .arrow {
        font-size: 2.8rem;
      }

      .page-button {
        margin: 0 0.9rem;
        font-size: 1.9rem;
      }
    }
  }
}

// --------------- Min-Height: 630px and Max-Width 840px ---------------- //

@media screen and (min-height: 630px) and (max-width: 840px) {
  div.carousel-container {
    min-height: 80.8dvh;
  }
}

// --------------- Max-Width 830px ---------------- //

@media screen and (max-width: 830px) {
  html {
    font-size: 46.8%;
  }
}

// --------------- Max-Width 825px ---------------- //

@media screen and (max-width: 825px) {
  html {
    font-size: 46.5%;
  }
}

// --------------- Max-Width 820px ---------------- //

@media screen and (max-width: 820px) {
  html {
    font-size: 46.3%;
  }

  div.carousel-container {
    min-height: 92dvh;
  }
}

// ----------------- Max-Height: 335px and Max-Width 820px ----------------- //

@media screen and (max-height: 335px) and (max-width: 820px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Min-Height: 630px and Max-Width 820px ---------------- //

@media screen and (min-height: 630px) and (max-width: 820px) {
  div.carousel-container {
    min-height: 80.8dvh;
  }
}

// --------------- Max-Width 815px ---------------- //

@media screen and (max-width: 815px) {
  html {
    font-size: 46%;
  }
}

// --------------- Max-Width 810px ---------------- //

@media screen and (max-width: 810px) {
  html {
    font-size: 45.7%;
  }
}

// --------------- Max-Width 805px ---------------- //

@media screen and (max-width: 805px) {
  html {
    font-size: 45.4%;
  }
}

// --------------- Max-Width 800px ---------------- //

@media screen and (max-width: 800px) {
  html {
    font-size: 45.2%;
  }

  div.carousel-container {
    
    .controls {
      margin-top: 4.8dvh;
      margin-left: 2.5dvw;

      .arrow {
        font-size: 2.8rem;
      }

      .page-button {
        margin: 0 0.86rem;
        font-size: 1.93rem;
      }
    }
  }
}

// --------------- Max-Width 795px ---------------- //

@media screen and (max-width: 795px) {
  html {
    font-size: 44.9%;
    }
}

// --------------- Max-Width 790px ---------------- //

@media screen and (max-width: 790px) {
  html {
    font-size: 44.6%;
    }
}

// --------------- Max-Width 785px ---------------- //

@media screen and (max-width: 785px) {
  html {
    font-size: 44.3%;
    }
}

// --------------- Max-Width 780px ---------------- //

@media screen and (max-width: 780px) {
  html {
    font-size: 44.1%;
  }

  .border-shadow-lg {
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.3);
  }

  div.carousel-container {
    min-height: 92dvh;
    
    .controls {
      margin-left: 2.8dvw;

      .arrow {
        font-size: 2.9rem;
      }

      .page-button {
        margin: 0 0.72rem;
        font-size: 1.98rem;
      }
    }
  }
}

// ----------------- Max-Height: 322px and Max-Width 780px ----------------- //

@media screen and (max-height: 322px) and (max-width: 780px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Min-Height: 630px and Max-Width 780px ---------------- //

@media screen and (min-height: 630px) and (max-width: 780px) {
  div.carousel-container {
    min-height: 80.8dvh;
  }
}

// --------------- Max-Width 770px ---------------- //

@media screen and (max-width: 770px) {
  html {
    font-size: 43.5%;
    }
}

// --------------- Max-Width 760px ---------------- //

@media screen and (max-width: 760px) {
  html {
    font-size: 42.9%;
    }
}

// --------------- Max-Width 750px ---------------- //

@media screen and (max-width: 750px) {
  html {
    font-size: 42.3%;
    }
}

// --------------- Max-Width 740px ---------------- //

@media screen and (max-width: 740px) {
  html {
    font-size: 41.7%;
    }

  div.carousel-container {
    min-height: 92dvh;
  }
}

// ----------------- Max-Height: 305px and Max-Width 740px ----------------- //

@media screen and (max-height: 305px) and (max-width: 740px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Min-Height: 630px and Max-Width 740px ---------------- //

@media screen and (min-height: 630px) and (max-width: 740px) {
  div.carousel-container {
    min-height: 80.8dvh;
  }
}

// --------------- Max-Width 730px ---------------- //

@media screen and (max-width: 730px) {
  html {
    font-size: 41.1%;
    }
}

// --------------- Max-Width 725px ---------------- //

@media screen and (max-width: 725px) {
  html {
    font-size: 40.8%;
    }
}

// --------------- Max-Width 720px ---------------- //

@media screen and (max-width: 720px) {
  html {
    font-size: 40.5%;
  }

  div.carousel-container {
    
    .controls {
      margin-left: 3.2dvw;

      .arrow {
        font-size: 3rem;
      }

      .page-button {
        margin: 0 0.65rem;
        font-size: 2.1rem;
      }
    }
  }
}

// --------------- Max-Width 710px ---------------- //

@media screen and (max-width: 710px) {
  html {
    font-size: 39.9%;
    }
}

// --------------- Max-Width 700px ---------------- //

@media screen and (max-width: 700px) {
  html {
    font-size: 39.3%;
    }

  div.carousel-container {
    min-height: 92dvh;
  }
}

// ----------------- Max-Height: 290px and Max-Width 700px ----------------- //

@media screen and (max-height: 290px) and (max-width: 700px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Min-Height: 630px and Max-Width 700px ---------------- //

@media screen and (min-height: 630px) and (max-width: 700px) {
  div.carousel-container {
    min-height: 80.8dvh;
  }
}

// --------------- Max-Width 690px ---------------- //

@media screen and (max-width: 690px) {
  html {
    font-size: 38.7%;
    }
}

// --------------- Max-Width 680px ---------------- //

@media screen and (max-width: 680px) {
  html {
    font-size: 38.2%;
    }
}

// --------------- Max-Width 670px ---------------- //

@media screen and (max-width: 670px) {
  html {
    font-size: 37.6%;
    }
}

// --------------- Max-Width 660px ---------------- //

@media screen and (max-width: 660px) {
  html {
    font-size: 37.1%;
  }

  .border-shadow-sm {
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
  }

  .border-shadow-lg {
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  }

  div.carousel-container {
    min-height: 92dvh;
    
    .controls {
      margin-top: 5.3dvh;

      .arrow {
        font-size: 2.8rem;
      }

      .page-button {
        margin: 0 0.6rem;
        font-size: 2.05rem;
      }
    }
  }
}

// ----------------- Max-Height: 273px and Max-Width 660px ----------------- //

@media screen and (max-height: 273px) and (max-width: 660px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Min-Height: 630px and Max-Width 660px ---------------- //

@media screen and (min-height: 630px) and (max-width: 660px) {
  div.carousel-container {
    min-height: 80.8dvh;
  }
}

// --------------- Max-Width 650px ---------------- //

@media screen and (max-width: 650px) {
  html {
    font-size: 36.5%;
    }
}

// --------------- Max-Width 640px ---------------- //

@media screen and (max-width: 640px) {
  html {
    font-size: 36%;
    }
}

// --------------- Max-Width 630px ---------------- //

@media screen and (max-width: 630px) {
  html {
    font-size: 35.4%;
    }
}

// --------------- Max-Width 620px ---------------- //

@media screen and (max-width: 620px) {
  html {
    font-size: 34.8%;
    }

  div.carousel-container {
    min-height: 92dvh;
    
    .controls {
      margin-left: 3.8dvw;

      .arrow {
        font-size: 3rem;
      }

      .page-button {
        margin: 0 0.5rem;
        font-size: 2.1rem;
      }
    }
  }
}

// ----------------- Max-Height: 255px and Max-Width 620px ----------------- //

@media screen and (max-height: 255px) and (max-width: 620px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Max-Width 610px ---------------- //

@media screen and (max-width: 610px) {
  html {
    font-size: 34.2%;
  }
}

// --------------- Max-Width 600px ---------------- //

@media screen and (max-width: 600px) {
  html {
    font-size: 33.6%;
  }

  .border-shadow-sm {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .border-shadow-lg {
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
  }

  div.carousel-container {
    
    .controls {
      width: 74rem;
      margin-top: 5.2dvh;
      margin-left: 0rem;

      .arrow {
        font-size: 3.25rem;
      }

      .page-button {
        margin: 0 0.5rem;
        font-size: 2.25rem;
      }
    }
  }
}

// --------------- Max-Width 595px ---------------- //

@media screen and (max-width: 595px) {
  html {
    font-size: 33.3%;
  }
}

// --------------- Max-Width 590px ---------------- //

@media screen and (max-width: 590px) {
  html {
    font-size: 33%;
  }
}

// --------------- Max-Width 585px ---------------- //

@media screen and (max-width: 585px) {
  html {
    font-size: 32.7%;
  }
}

// --------------- Max-Width 580px ---------------- //

@media screen and (max-width: 580px) {
  html {
    font-size: 32.4%;
    }

  div.carousel-container {
    min-height: 92dvh;
    
    .controls {
      margin-top: 5.8dvh;
    }
  }
}

// ----------------- Max-Height: 242px and Max-Width 580px ----------------- //

@media screen and (max-height: 242px) and (max-width: 580px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Max-Width 575px ---------------- //

@media screen and (max-width: 575px) {
  html {
    font-size: 32.1%;
  }
}

// --------------- Max-Width 570px ---------------- //

@media screen and (max-width: 570px) {
  html {
    font-size: 31.8%;
  }
}

// --------------- Max-Width 565px ---------------- //

@media screen and (max-width: 565px) {
  html {
    font-size: 31.5%;
  }
}

// --------------- Max-Width 560px ---------------- //

@media screen and (max-width: 560px) {
  html {
    font-size: 31.2%;
  }

  div.carousel-container {
    
    .controls {

      .page-button {
        margin: 0 0.42rem;
      }
    }
  }
}

// --------------- Max-Width 555px ---------------- //

@media screen and (max-width: 555px) {
  html {
    font-size: 30.9%;
  }
}

// --------------- Max-Width 550px ---------------- //

@media screen and (max-width: 550px) {
  html {
    font-size: 30.7%;
  }

  div.carousel-container {
    min-height: 92dvh;
    
    .controls {
      margin-top: 6.2dvh;

      .arrow {
        padding: 0rem 0.8rem;
      }
    }
  }
}

// ----------------- Max-Height: 228px and Max-Width 550px ----------------- //

@media screen and (max-height: 228px) and (max-width: 550px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Max-Width 545px ---------------- //

@media screen and (max-width: 545px) {
  html {
    font-size: 30.4%;
    }
}

// --------------- Max-Width 540px ---------------- //

@media screen and (max-width: 540px) {
  html {
    font-size: 30.2%;
    }
}

// --------------- Max-Width 535px ---------------- //

@media screen and (max-width: 535px) {
  html {
    font-size: 29.9%;
    }
}

// --------------- Max-Width 530px ---------------- //

@media screen and (max-width: 530px) {
  html {
    font-size: 29.7%;
    }
}
// --------------- Max-Width 525px ---------------- //

@media screen and (max-width: 525px) {
  html {
    font-size: 29.4%;
    }
}

// --------------- Max-Width 520px ---------------- //

@media screen and (max-width: 520px) {
  html {
    font-size: 29.1%;
  }

  div.carousel-container {
    min-height: 92dvh;
  }
}

// ----------------- Max-Height: 218px and Max-Width 520px ----------------- //

@media screen and (max-height: 218px) and (max-width: 520px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Max-Width 515px ---------------- //

@media screen and (max-width: 515px) {
  html {
    font-size: 28.8%;
  }
}

// --------------- Max-Width 510px ---------------- //

@media screen and (max-width: 510px) {
  html {
    font-size: 28.5%;
  }
}

// --------------- Max-Width 505px ---------------- //

@media screen and (max-width: 505px) {
  html {
    font-size: 28.2%;
  }
}


// --------------- Max-Width 500px ---------------- //

@media screen and (max-width: 500px) {
  html {
    font-size: 27.9%;
  }

  div.carousel-container {
    min-height: 92dvh;

    .controls {
      margin-top: 6.5dvh;

      .arrow {
        padding: 0rem 0.5rem;
      }
    }
  }
}

// ----------------- Max-Height: 210px and Max-Width 500px ----------------- //

@media screen and (max-height: 210px) and (max-width: 500px) {
  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Max-Width 495px ---------------- //

@media screen and (max-width: 495px) {
  html {
    font-size: 27.6%;
    }
}

// --------------- Max-Width 490px ---------------- //

@media screen and (max-width: 490px) {
  html {
    font-size: 27.4%;
  }
}

// --------------- Max-Width 490px ---------------- //

@media screen and (max-height: 210) and (max-width: 490px) {

  div.carousel-container {
    min-height: 100dvh;
  }
}

// --------------- Max-Width 485px ---------------- //

@media screen and (max-width: 485px) {
  html {
    font-size: 27.1%;
    }
}

// --------------- Max-Width 480px ---------------- //

@media screen and (max-width: 480px) {
  html {
    font-size: 26.8%;
  }

  div.carousel-container {
    min-height: 100dvh;
    
    .controls {
      margin-top: 7dvh;

      .arrow {
        padding: 0rem 0.3rem;
      }

      .page-button {
        margin: 0 0.35rem;
      }
    }
  }
}

// ----------------- Max-Height: 205px and Max-Width 480px ----------------- //

@media screen and (min-height: 221px) and (max-width: 480px) {
  div.carousel-container {
    min-height: 92dvh;
  }
}

// --------------- Max-Width 475px ---------------- //

@media screen and (max-width: 475px) {
  html {
    font-size: 26.5%;
    }
}

// --------------- Max-Width 470px ---------------- //

@media screen and (max-width: 470px) {
  html {
    font-size: 26.2%;
    }
}

// --------------- Max-Width 465px ---------------- //

@media screen and (max-width: 465px) {
  html {
    font-size: 25.9%;
    }
}

// --------------- Max-Width 460px ---------------- //

@media screen and (max-width: 460px) {
  html {
    font-size: 25.6%;
    }
}

// --------------- Max-Width 455px ---------------- //

@media screen and (max-width: 455px) {
  html {
    font-size: 25.3%;
    }
}

// --------------- Max-Width 450px ---------------- //

@media screen and (max-width: 450px) {
  html {
    font-size: 25%;
    }
}

// --------------- Max-Width 445px ---------------- //

@media screen and (max-width: 445px) {
  html {
    font-size: 24.7%;
    }
}

// --------------- Max-Width 440px ---------------- //

@media screen and (max-width: 440px) {
  html {
    font-size: 24.4%;
    }
}

// --------------- Max-Width 435px ---------------- //

@media screen and (max-width: 435px) {
  html {
    font-size: 24.1%;
    }
}

// --------------- Max-Width 430px ---------------- //

@media screen and (max-width: 430px) {
  html {
    font-size: 23.8%;
    }
}

// --------------- Max-Width 425px ---------------- //

@media screen and (max-width: 425px) {
  html {
    font-size: 23.5%;
    }
}

// --------------- Max-Width 420px ---------------- //

@media screen and (max-width: 420px) {
  html {
    font-size: 23.2%;
    }
}

// --------------- Max-Width 415px ---------------- //

@media screen and (max-width: 415px) {
  html {
    font-size: 22.9%;
    }
}

// --------------- Max-Width 410px ---------------- //

@media screen and (max-width: 410px) {
  html {
    font-size: 22.6%;
    }
}

// --------------- Max-Width 405px ---------------- //

@media screen and (max-width: 405px) {
  html {
    font-size: 22.3%;
    }
}

// --------------- Max-Width 400px ---------------- //

@media screen and (max-width: 400px) {
  html {
    font-size: 22%;
    }
}

// --------------- Max-Width 395px ---------------- //

@media screen and (max-width: 395px) {
  html {
    font-size: 21.7%;
    }
}

// --------------- Max-Width 390px ---------------- //

@media screen and (max-width: 390px) {
  html {
    font-size: 21.4%;
    }
}

// --------------- Max-Width 385px ---------------- //

@media screen and (max-width: 385px) {
  html {
    font-size: 21.1%;
    }
}

// --------------- Max-Width 380px ---------------- //

@media screen and (max-width: 380px) {
  html {
    font-size: 20.8%;
    }
}

// --------------- Max-Width 375px ---------------- //

@media screen and (max-width: 375px) {
  html {
    font-size: 20.5%;
    }
}

// --------------- Max-Width 370px ---------------- //

@media screen and (max-width: 370px) {
  html {
    font-size: 20.2%;
    }
}

// --------------- Max-Width 365px ---------------- //

@media screen and (max-width: 365px) {
  html {
    font-size: 19.9%;
    }
}

// --------------- Max-Width 360px ---------------- //

@media screen and (max-width: 360px) {
  html {
    font-size: 19.6%;
    }
}

// --------------- Max-Width 355px ---------------- //

@media screen and (max-width: 355px) {
  html {
    font-size: 19.3%;
    }
}

// --------------- Max-Width 350px ---------------- //

@media screen and (max-width: 350px) {
  html {
    font-size: 19%;
    }
}

// --------------- Max-Width 345px ---------------- //

@media screen and (max-width: 345px) {
  html {
    font-size: 18.7%;
    }
}

// --------------- Max-Width 340px ---------------- //

@media screen and (max-width: 340px) {
  html {
    font-size: 18.4%;
    }
}

html[data-fullscreen="true"] {
  overflow: hidden !important;
  height: 100dvh !important;
  width: 100vw !important;

  body {
    overflow: hidden !important;
    height: 100dvh !important;
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #app-viewport-wrapper {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100dvh !important;
    
    z-index: 9999999 !important;
    background-color: var(--off-white) !important;
    
    transform: translate3d(0, 0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;

    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch !important;
    box-sizing: border-box !important;
  }
}