.entry-room-container {
  display: flex;
  justify-content: center;

  .entry-north-grid {
    width: 85%;
    height: 40rem;
    display: grid;
    grid-template-columns: 2fr 1.3fr 2fr;

    // .section {
    //   background-color: #fff;
    //   border: 1px solid #f3f3f3;
    // }

    // -------------------- Column 1 --------------------- //

    .entry-north-column-1 {
      position: relative;
      display: flex;
      justify-content: center;
      background: linear-gradient(200deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.04));
      filter: blur(1.2px);
      opacity: 0.4;

      img {
          cursor: auto;
        }

     // ---------- Art--------- //
      .sub-section-1-1 {
        position: absolute;
        top: 1rem;
        left: 3rem;
        width: 11.8rem;
      }

     // ---------- Mother's Turn --------- //
      .sub-section-1-2 {
        position: absolute;
        top: 1rem;
        right: 2.9rem;
        width: 16.8rem;
      }

      .window-frame {
        top: 17.3rem;
      }
    }

    // -------------------- Column 2 --------------------- //

   .entry-north-column-2 {
      position: relative;
      display: flex;
      justify-content: center;
      border-right: 2px solid #ececec;
      border-left: 2px solid #ececec;

     // ---------- Intelligence, Beauty, Love --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 4.2rem;
        width: 14rem;
      }

     // ---------- Dogs Rule the World --------- //
      .sub-section-2-2 {
        position: absolute;
        top: 20.5rem;
        width: 12.8rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .entry-north-column-3 {
      position: relative;
      display: flex;
      justify-content: center;
      background: linear-gradient(160deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.04));
      filter: blur(1.2px);
      opacity: 0.4;

      img {
          cursor: auto;
        }

      // ---------- Challenges --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 1rem;
        left: 2.3rem;
        width: 11.7rem;
      }

      // ---------- Marriage of Art and Science --------- //
      .sub-section-3-2 {
        position: absolute;
        top: 1rem;
        right: 2.1rem;
        width: 18.5rem;
      }

      .window-frame {
        top: 17.3rem;
      }
    }
  }
}

// --------------------- Media Queries --------------------- //

@media screen and (max-width: 1800px) {
  .entry-room-container {

    .entry-north-grid {

      .entry-north-column-1 {

        // ---------- Art--------- //
        .sub-section-1-1 {
          left: 2.4rem;
        }

        // ---------- Mother's Turn --------- //
        .sub-section-1-2 {
          right: 2.3rem;
        }
      }

      .entry-north-column-3 {

        // ---------- Challenges --------- //
        .sub-section-3-1 {
          left: 1.7rem;
        }

        // ---------- Marriage of Art and Science --------- //
        .sub-section-3-2 {
          right: 1.6rem;
        }
      }
    }
  }
}



@media screen and (max-width: 1380px) {
  .entry-room-container {

    .entry-north-grid {
      width: 88%;
      height: 38rem;
      grid-template-columns: 2fr 1.25fr 2fr;

      // -------------------- Column 1 --------------------- //

      .entry-north-column-1 {

        // ---------- Art--------- //
        .sub-section-1-1 {
          top: 1.2rem;
          left: 2.3rem;
          width: 10.8rem;
        }
        
        // ---------- Mother's Turn --------- //
        .sub-section-1-2 {
          top: 1.2rem;
          right: 2.1rem;
          width: 15.3rem;
        }

        .window-frame {
          top: 16.2rem;
        }
      }

      // -------------------- Column 2 --------------------- //

   .entry-north-column-2 {

     // ---------- Intelligence, Beauty, Love --------- //
      .sub-section-2-1 {
        top: 3.7rem;
        width: 13.2rem;
      }

     // ---------- Dogs Rule the World --------- //
      .sub-section-2-2 {
        top: 18.9rem;
        width: 12rem;
      }
    }

    // -------------------- Column 3 --------------------- //

      .entry-north-column-3 {

        // ---------- Challenges --------- //
        .sub-section-3-1 {
          top: 1.3rem;
          left: 1.8rem;
          width: 10.6rem;
        }
        
        // ---------- Marriage of Art and Science --------- //
        .sub-section-3-2 {
          top: 1.3rem;
          right: 1.2rem;
          width: 16.7rem;
        }

        .window-frame {
          top: 16.2rem;
        }
      }
    }
  }
}