// ------------- Utility Classes ----------- //

.window-frame-n {
  position: absolute;
  bottom: 2rem;
  width: 32.1rem;
  height: 20.7rem;
  background-color: #b8b8b8;


  .window-pane-n {
    position: absolute;
    bottom: 0.7rem;
    width: 15rem;
    height: 19.3rem;
    background-color: #fdfdfd;
    box-shadow: inset 5px 5px 14px 10px rgba(0, 0, 0, 0.1);

  }

  .pane-n-left {
    left: 0.7rem;
  }

  .pane-n-right {
    right: 0.7rem;
  }
}

// ---------------------------------------------------------- //

.entry-room-container {
  display: flex;
  justify-content: center;

  .entry-north-grid {
    width: 84%;
    height: 40rem;
    display: grid;
    grid-template-columns: 2fr 1.4fr 2fr;

    // .section {
    //   background-color: #fff;
    //   border: 1px solid #f3f3f3;
    // }

    // -------------------- Column 1 --------------------- //

    .entry-north-column-1 {
      position: relative;
      display: flex;
      justify-content: center;
      background: linear-gradient(200deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.04));
      filter: blur(1.2px);
      opacity: 0.4;


     // ---------- Art--------- //
      .sub-section-1-1 {
        position: absolute;
        top: 1rem;
        left: 2.2rem;
        width: 11.8rem;
        
        img {
          cursor: auto;
        }
      }

     // ---------- Mother's Turn --------- //
      .sub-section-1-2 {
        position: absolute;
        top: 1rem;
        right: 3.2rem;
        width: 16.8rem;
        
        img {
          cursor: auto;
        }
      }

      .window-frame-n {
        left: 3rem;
      }
    }

    // -------------------- Column 2 --------------------- //

   .entry-north-column-2 {
      position: relative;
      display: flex;
      justify-content: center;
      border-right: 2px solid #ececec;
      border-left: 2px solid #ececec;

     // ---------- Intelligence, Beauty, Love --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 4.5rem;
        width: 14rem;
      }

     // ---------- Dogs Rule the World --------- //
      .sub-section-2-2 {
        position: absolute;
        top: 21rem;
        width: 12.8rem;
      }
    }

    // -------------------- Column 3 --------------------- //

    .entry-north-column-3 {
      position: relative;
      display: flex;
      background: linear-gradient(160deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.04));
      filter: blur(1.2px);
      opacity: 0.4;

      // ---------- Challenges --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 1rem;
        left: 3.4rem;
        width: 11.7rem;

        img {
          cursor: auto;
        }
      }

      // ---------- Marriage of Art and Science --------- //
      .sub-section-3-2 {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        width: 18.5rem;

        img {
          cursor: auto;
        }
      }

      .window-frame-n {
        right: 3rem;
      }
    }
  }
}