// ------------ Main Room Stage/East ----------- //
.main-room-stage-container {
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100vh;
  // position: relative;
  display: flex;
  justify-content: center;

  .main-room-stage-grid {
    width: 90%;
    height: 39rem;
    display: grid;
    grid-template: 30rem 9rem / 1.6fr 6.2fr 3.5fr 5.4fr 1.3fr;

    // .section {
    //   background-color: #fff;
    //   border: 1px solid #f3f3f3;
    // }

    //----------------- COLUMN 1 ------------------//

    .stage-column-1 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 1;
      grid-row: span 2;

      .past-behind-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 38%;

        // ---------- Leave Past Behind --------- //
        .sub-section-1-1 {
          width: 8.2rem;
          margin-left: -5px;
        }
      }

      .north-exit-container {
        width: 100%;
        height: 62%;
        background: linear-gradient(195deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.08));
        
        .inset {
          position: relative;
          display: flex;
          justify-content: center;
          filter: blur(1px);
          opacity: 0.5;

          img {
            cursor: auto;
          }

          // ---------- America --------- //  
          .sub-section-1-2 {
            position: absolute;
            top: 1.9rem;
            width: 5.7rem;
          }
  
          // ---------- Look At Me! --------- //
          .sub-section-1-3 {
            position: absolute;
            top: 8.8rem;
            width: 7rem;
          }
        }
      }
    }

    //----------------- COLUMN 2 ------------------//
    
    .stage-column-2 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-left: 2px solid #eaeaea;
      border-right: 2px solid #eaeaea;

      // ---------- Beatrice --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 3.3rem;
        left: 1.9rem;
        width: 3.2rem;
      }
        
      // ---------- Marge --------- //
      .sub-section-2-2 {
        position: absolute;
        top: 3.3rem;
        left: 6.35rem;
        width: 2.4rem;
      }
        
      // ---------- Take Your Medicine --------- //
      .sub-section-2-3 {
        position: absolute;
        top: 3.3rem;
        left: 10rem;
        width: 3.25rem;
      }
        
      // ---------- Different Realities --------- //
      .sub-section-2-4 {
        position: absolute;
        top: 9.3rem;
        left: 1.9rem;
        width: 11.3rem;
      }
      
      // ---------- River Styx --------- //
      .sub-section-2-5 {
        position: absolute;
        top: 1.9rem;
        right: 7.6rem;
        width: 11.4rem;
      }

      // ---------- Dorothy --------- //
      .sub-section-2-6 {
        position: absolute;
        top: 15.2rem;
        right: 0.9rem;
        width: 3.6rem;
      }

      .alcove-entrance-container {
        position: absolute;
        top: 12.3rem;
        right: 5.5rem;
        width: 15.5rem;
        height: 19.5rem;
        overflow: hidden;
        border-radius: 4px;
        background: linear-gradient(195deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.05));

        .alcove-entrance {
          position: relative;
          filter: blur(1px);
          opacity: 0.5;

          img {
            cursor: auto;
          }

          // ------------ Installing the Music App ------------ //
          .sub-section-2-7 {
            position: absolute;
            top: -4.2rem;
            left: 1.8rem;
            width: 11.8rem;
          }

          // ------------ Social Distancing ------------ //
          .sub-section-2-8 {
            position: absolute;
            top: 5.8rem;
            left: -0.1rem;
            width: 3.05rem;
          }
          
          // ------------ Time to Feed the Frog ------------ //
          .sub-section-2-9 {
            position: absolute;
            top: 9.25rem;
            left: -0.3rem;
            width: 3.3rem;
          }
          
          // ------------ Leaving the House of Horrors ------------ //
          .sub-section-2-10 {
            position: absolute;
            top: 5.9rem;
            left: 3.9rem;
            width: 3.5rem;
          }
          
          // ------------ Much Needed Surgery ------------ //
          .sub-section-2-11 {
            position: absolute;
            top: 9.25rem;
            left: 3.8rem;
            width: 2.35rem;
          }
          
          // ------------ Arrival Through the Black Hole ------------ //
          .sub-section-2-12 {
            position: absolute;
            top: 5.9rem;
            right: 3.7rem;
            width: 3.4rem;
          }
          
          // ------------ Safe travel ------------ //
          .sub-section-2-13 {
            position: absolute;
            top: 9.25rem;
            right: 6rem;
            width: 2.75rem;
          }
          
          // ------------ Martian Mary Poppins ------------ //
          .sub-section-2-14 {
            position: absolute;
            top: 9.25rem;
            right: 3.05rem;
            width: 2.25rem;
          }
          
          // ------------ The Fool In Recent Times ------------ //
          .sub-section-2-15 {
            position: absolute;
            top: 5.9rem;
            right: -0.25rem;
            width: 2.9rem;
          }
          
          // ------------ Homecoming for Tambourine ------------ //
          .sub-section-2-16 {
            position: absolute;
            top: 9.25rem;
            right: -0.7rem;
            width: 3.1rem;
          }
        }
     }
    }
    
    //----------------- COLUMN 3 ------------------//
    
    .stage-column-3 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      // ---------- Sunny Side Up --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 3.5rem;
        width: 17.6rem;
      }
    }
    
    //----------------- COLUMN 4 ------------------//
    
    .stage-column-4 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-left: 2px solid #eaeaea;
      border-right: 2px solid #eaeaea;
      
      // ---------- Jacob's Dream --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 6.4rem;
        left: 1.6rem;
        width: 16rem;
      }
      
      // ---------- Lunch Is Ready --------- //
      .sub-section-4-2 {
        position: absolute;
        top: 2.6rem;
        right: 6.4rem;
        width: 6.4rem;
      }
      
      // ---------- Red Rope --------- //
      .sub-section-4-3 {
        position: absolute;
        top: 12.8rem;
        right: 6.9rem;
        width: 5.3rem;
      }
      // ---------- Can You See Me? --------- //
      .sub-section-4-4 {
        position: absolute;
        top: 4.8rem;
        right: 1.4rem;
        width: 2.3rem;
      }
      
      // ---------- Into the Unknown --------- //
      .sub-section-4-5 {
        position: absolute;
        top: 10rem;
        right: 1.2rem;
        width: 2.5rem;
      }
      
      // ---------- No Friends --------- //
      .sub-section-4-6 {
        position: absolute;
        top: 13.5rem;
        right: 1.2rem;
        width: 2.5rem;
      }

      // ---------- Butterfly Woman --------- //
      .sub-section-4-7 {
        position: absolute;
        top: 16.95rem;
        right: 1.2rem;
        width: 2.5rem;
      }
    }
    
    //----------------- COLUMN 5 ------------------/
    
    .stage-column-5 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 5;
      grid-row: span 2;
        
      // ---------- Gifts --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 4.3rem;
        right: 0.4rem;
        width: 5.4rem;
      }
        
      // ---------- Guardian --------- //
      .sub-section-5-2 {
        position: absolute;
        top: 18rem;
        right: 0;
        width: 5.8rem;
      }
    }

    .stage-column-6 {
      position: relative;
      display: flex;
      align-items: center;
      grid-row: 2;
      grid-column: 2 / 5;
      background-color: #fff;
      // border: 2px solid #eaeaea;

      .platform-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: linear-gradient(183deg, #FFE4AD, #F3EED7);
        box-shadow: 5px -6px 10px rgba(0, 0, 0, 0.1);
        opacity: 0.9;
        z-index: 100;

        .step {
          width: 12%;
          height: 100%;
          background: linear-gradient(190deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
          z-index: 200;
        }
      }
    }
  }
}

// -------------------- Media Queries ---------------------- //

@media (max-width: 1800px) {
  .main-room-stage-container {

    .main-room-stage-grid {
      grid-template-columns: 1.6fr 6.3fr 3.5fr 5.4fr 1.2fr;

      .stage-column-4 {
      
        // ---------- Lunch Is Ready --------- //
        .sub-section-4-2 {
          right: 5.6rem;
        }
      
        // ---------- Red Rope --------- //
        .sub-section-4-3 {
          right: 6.1rem;
        }
      }
    }
  }
}

@media (max-width: 1370px) {
  .main-room-stage-container {

  .main-room-stage-grid {
    width: 93%;
    height: 38rem;
    grid-template: 30rem 8rem / 1.7fr 6.4fr 3.4fr 5.4fr 1.1fr;

    // .section {
    //   background-color: #fff;
    //   border: 1px solid #f3f3f3;
    // }

    //----------------- COLUMN 1 ------------------//

    .stage-column-1 {

      .past-behind-container {
        width: 100%;
        height: 40%;

        // ---------- Leave Past Behind --------- //
        .sub-section-1-1 {
          width: 7.7rem;
          margin-left: -5.5px;
        }
      }

        .north-exit-container {
          height: 60%;
        
          .inset {

            // ---------- America --------- //  
            .sub-section-1-2 {
              top: 2.2rem;
              width: 5.5rem;
            }
  
            // ---------- Look At Me! --------- //
            .sub-section-1-3 {
              top: 8.8rem;
              width: 6.7rem;
            }
          }
        }
      }

      //----------------- COLUMN 2 ------------------//
    
      .stage-column-2 {

        // ---------- Beatrice --------- //
        .sub-section-2-1 {
          top: 3.8rem;
          left: 1rem;
          width: 2.9rem;
        }
        
        // ---------- Marge --------- //
        .sub-section-2-2 {
          top: 3.8rem;
          left: 4.85rem;
          width: 2.1rem;
        }
        
        // ---------- Take Your Medicine --------- //
        .sub-section-2-3 {
          top: 3.8rem;
          left: 6.8rem;
          width: 2.9rem;
        }
        
        // ---------- Different Realities --------- //
        .sub-section-2-4 {
          top: 9.7rem;
          left: 1rem;
          width: 9.9rem;
        }
      
        // ---------- River Styx --------- //
        .sub-section-2-5 {
          top: 2.2rem;
          right: 6.4rem;
          width: 11rem;
        }

        // ---------- Dorothy --------- //
        .sub-section-2-6 {
          top: 15.6rem;
          right: 0.6rem;
          width: 3.1rem;
        }

        .alcove-entrance-container {
          top: 13rem;
          right: 4.4rem;
          width: 14.8rem;
          height: 19.5rem;
          overflow: hidden;

          .alcove-entrance {

            // ------------ Installing the Music App ------------ //
            .sub-section-2-7 {
              top: -4.4rem;
              left: 1.55rem;
              width: 11.8rem;
            }
          }
        }
      }
    
      //----------------- COLUMN 3 ------------------//
    
      .stage-column-3 {
      
        // ---------- Sunny Side Up --------- //
        .sub-section-3-1 {
          top: 4.5rem;
          width: 15.2rem;
        }
      }
    
      //----------------- COLUMN 4 ------------------//
    
      .stage-column-4 {
      
        // ---------- Jacob's Dream --------- //
        .sub-section-4-1 {
          top: 7.3rem;
          left: 0.8rem;
          width: 14.3rem;
        }
      
        // ---------- Lunch Is Ready --------- //
        .sub-section-4-2 {
          top: 3rem;
          right: 4.2rem;
          width: 5.6rem;
        }
      
        // ---------- Red Rope --------- //
        .sub-section-4-3 {
          top: 12.8rem;
          right: 4.7rem;
          width: 4.6rem;
        }

        // ---------- Can You See Me? --------- //
        .sub-section-4-4 {
          top: 5.3rem;
          right: 0.9rem;
          width: 2.1rem;
        }
      
        // ---------- Into the Unknown --------- //
        .sub-section-4-5 {
          top: 10.3rem;
          right: 0.7rem;
          width: 2.3rem;
        }
      
        // ---------- No Friends --------- //
        .sub-section-4-6 {
          top: 13.7rem;
          right: 0.7rem;
          width: 2.3rem;
        }

        // ---------- Butterfly Woman --------- //
        .sub-section-4-7 {
          top: 16.9rem;
          right: 0.7rem;
          width: 2.3rem;
        }
      }
    
      //----------------- COLUMN 5 ------------------/
      
      .stage-column-5 {
        
        // ---------- Gifts --------- //
        .sub-section-5-1 {
          top: 4.6rem;
          right: -0.4rem;
          width: 4.7rem;
        }
        
        // ---------- Guardian --------- //
        .sub-section-5-2 {
          top: 18rem;
          right: -0.5rem;
          width: 5rem;
        }
      }

      //----------------- COLUMN 5 ------------------/

      .stage-column-6 {

      .platform-container {

        .step {
          width: 13%;
        }
      }
    }
    }
  }
}