// ------------ Main Room Stage/East ----------- //
.main-room-stage-container {
  display: flex;
  justify-content: center;

  .main-room-stage-grid {
    width: 89%;
    height: 39rem;
    display: grid;
    grid-template: 30rem 9rem / 1.6fr 6.2fr 3.5fr 5.4fr 1.3fr;

    //----------------- COLUMN 1 ------------------//

    .stage-column-1 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 1;
      grid-row: span 2;

      .past-behind-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 38%;

        // ---------- Leave Past Behind --------- //
        .sub-section-1-1 {
          width: 8.2rem;
          margin-left: -5px;
        }
      }

      .north-exit-container {
        width: 100%;
        height: 62%;
        background: linear-gradient(195deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.08));
        
        .inset {
          position: relative;
          display: flex;
          justify-content: center;
          filter: blur(1px);
          opacity: 0.5;

          img {
            cursor: auto;
          }

          // ---------- America --------- //  
          .sub-section-1-2 {
            position: absolute;
            top: 1.9rem;
            width: 5.7rem;
          }
  
          // ---------- Look At Me! --------- //
          .sub-section-1-3 {
            position: absolute;
            top: 8.8rem;
            width: 7rem;
          }
        }
      }
    }

    //----------------- COLUMN 2 ------------------//
    
    .stage-column-2 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-left: 2px solid #eaeaea;
      border-right: 2px solid #eaeaea;

      // ---------- Sad --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 3.3rem;
        left: 1.9rem;
        width: 2.7rem;
      }
        
      // ---------- Lost between the Planets --------- //
      .sub-section-2-2 {
        position: absolute;
        top: 3.3rem;
        left: 5.95rem;
        width: 3.1rem;
      }
        
      // ---------- Untitled 92 --------- //
      .sub-section-2-3 {
        position: absolute;
        top: 3.3rem;
        left: 10.4rem;
        width: 2.8rem;
      }
        
      // ---------- Different Realities --------- //
      .sub-section-2-4 {
        position: absolute;
        top: 9.3rem;
        left: 1.9rem;
        width: 11.3rem;
      }
      
      // ---------- River Styx --------- //
      .sub-section-2-5 {
        position: absolute;
        top: 1.9rem;
        right: 7.6rem;
        width: 11.4rem;
      }

      // ---------- Dorothy --------- //
      .sub-section-2-6 {
        position: absolute;
        top: 14.7rem;
        right: 0.9rem;
        width: 3.8rem;
      }

      .alcove-entrance-container {
        position: absolute;
        top: 12.3rem;
        right: 5.5rem;
        width: 15.5rem;
        height: 19.5rem;
        overflow: hidden;
        border-radius: 4px;
        background: linear-gradient(195deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.05));

          .alcove-entrance {
            position: relative;
            filter: blur(1px);
            opacity: 0.5;

            img {
              cursor: auto;
            }

          // ------------ Installing the Music App ------------ //
          .sub-section-2-7 {
            position: absolute;
            top: -4.2rem;
            left: 1.8rem;
            width: 11.8rem;
          }

          // ------------ Social Distancing ------------ //
          .sub-section-2-8 {
            position: absolute;
            top: 5.8rem;
            left: -0.1rem;
            width: 3.05rem;
          }
          
          // ------------ Time to Feed the Frog ------------ //
          .sub-section-2-9 {
            position: absolute;
            top: 9.25rem;
            left: -0.3rem;
            width: 3.3rem;
          }
          
          // ------------ Leaving the House of Horrors ------------ //
          .sub-section-2-10 {
            position: absolute;
            top: 5.9rem;
            left: 3.9rem;
            width: 3.5rem;
          }
          
          // ------------ Much Needed Surgery ------------ //
          .sub-section-2-11 {
            position: absolute;
            top: 9.25rem;
            left: 3.8rem;
            width: 2.35rem;
          }
          
          // ------------ Arrival Through the Black Hole ------------ //
          .sub-section-2-12 {
            position: absolute;
            top: 5.9rem;
            right: 3.7rem;
            width: 3.4rem;
          }
          
          // ------------ Safe travel ------------ //
          .sub-section-2-13 {
            position: absolute;
            top: 9.25rem;
            right: 6rem;
            width: 2.75rem;
          }
          
          // ------------ Martian Mary Poppins ------------ //
          .sub-section-2-14 {
            position: absolute;
            top: 9.25rem;
            right: 3.05rem;
            width: 2.25rem;
          }
          
          // ------------ The Fool In Recent Times ------------ //
          .sub-section-2-15 {
            position: absolute;
            top: 5.9rem;
            right: -0.25rem;
            width: 2.9rem;
          }
          
          // ------------ Homecoming for Tambourine ------------ //
          .sub-section-2-16 {
            position: absolute;
            top: 9.25rem;
            right: -0.7rem;
            width: 3.1rem;
          }
        }
      } 
    }
    
    //----------------- COLUMN 3 ------------------//
    
    .stage-column-3 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      // ---------- Sunny Side Up --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 3.5rem;
        width: 17.6rem;
      }
    }
    
    //----------------- COLUMN 4 ------------------//
    
    .stage-column-4 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-left: 2px solid #eaeaea;
      border-right: 2px solid #eaeaea;
      
      // ---------- Jacob's Dream --------- //
      .sub-section-4-1 {
        position: absolute;
        top: 6.4rem;
        left: 1.6rem;
        width: 16rem;
      }
      
      // ---------- Lunch Is Ready --------- //
      .sub-section-4-2 {
        position: absolute;
        top: 2.6rem;
        right: 6.4rem;
        width: 6.4rem;
      }
      
      // ---------- Red Rope --------- //
      .sub-section-4-3 {
        position: absolute;
        top: 12.8rem;
        right: 6.9rem;
        width: 5.3rem;
      }

      // ---------- Can You See Me? --------- //
      .sub-section-4-4 {
        position: absolute;
        top: 4.8rem;
        right: 1.4rem;
        width: 2.3rem;
      }
      
      // ---------- Into the Unknown --------- //
      .sub-section-4-5 {
        position: absolute;
        top: 10rem;
        right: 1.2rem;
        width: 2.5rem;
      }
      
      // ---------- No Friends --------- //
      .sub-section-4-6 {
        position: absolute;
        top: 13.5rem;
        right: 1.2rem;
        width: 2.5rem;
      }

      // ---------- Butterfly Woman --------- //
      .sub-section-4-7 {
        position: absolute;
        top: 16.95rem;
        right: 1.2rem;
        width: 2.5rem;
      }
    }
    
    //----------------- COLUMN 5 ------------------/
    
    .stage-column-5 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 5;
      grid-row: span 2;
        
      // ---------- Gifts --------- //
      .sub-section-5-1 {
        position: absolute;
        top: 4.3rem;
        right: 0.4rem;
        width: 5.4rem;
      }
        
      // ---------- Guardian --------- //
      .sub-section-5-2 {
        position: absolute;
        top: 18rem;
        right: 0;
        width: 5.8rem;
      }
    }

    .stage-column-6 {
      position: relative;
      display: flex;
      align-items: center;
      grid-row: 2;
      grid-column: 2 / 5;
      background-color: var(--off-white);

      .platform-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: linear-gradient(183deg, #FFE4AD, #F3EED7);
        box-shadow: 5px -6px 10px rgba(0, 0, 0, 0.1);
        opacity: 0.9;
        z-index: 100;

        .step {
          width: 12%;
          height: 100%;
          background: linear-gradient(190deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
          z-index: 200;
        }
      }
    }
  }
}

// -------------------- Media Queries ---------------------- //

// -------------------- Max-Width: 1800px --------------------- //

@media screen and (max-width: 1800px) {
  .main-room-stage-container {

    .main-room-stage-grid {
      grid-template-columns: 1.6fr 6.3fr 3.5fr 5.4fr 1.2fr;

      .stage-column-4 {
      
        // ---------- Lunch Is Ready --------- //
        .sub-section-4-2 {
          right: 5.6rem;
        }
      
        // ---------- Red Rope --------- //
        .sub-section-4-3 {
          right: 6.1rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 1760px --------------------- //

@media screen and (max-width: 1760px) {
  .main-room-stage-container {

    .main-room-stage-grid {

      //----------------- COLUMN 2 ------------------//
    
      .stage-column-2 {

        // ---------- Sad --------- //
        .sub-section-2-1 {
          left: 1.4rem;
        }
          
        // ---------- Lost between the Planets --------- //
        .sub-section-2-2 {
          left: 5.45rem;
        }
          
        // ---------- Untitled 92 --------- //
        .sub-section-2-3 {
          left: 9.9rem;
        }
          
        // ---------- Different Realities --------- //
        .sub-section-2-4 {
          left: 1.4rem;
        }
      }

      //----------------- COLUMN 4 ------------------//

      .stage-column-4 {

        // ---------- Jacob's Dream --------- //
        .sub-section-4-1 {
          width: 15.8rem;
        }
      
        // ---------- Lunch Is Ready --------- //
        .sub-section-4-2 {
          right: 5rem;
          width: 6.3rem;
        }
      
        // ---------- Red Rope --------- //
        .sub-section-4-3 {
          right: 5.6rem;
          width: 5.3rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 1730px --------------------- //

@media screen and (max-width: 1730px) {
  .main-room-stage-container {

    .main-room-stage-grid {

      //----------------- COLUMN 2 ------------------//
    
      .stage-column-2 {

        // ---------- Sad --------- //
        .sub-section-2-1 {
          left: 1.4rem;
        }
          
        // ---------- Lost between the Planets --------- //
        .sub-section-2-2 {
          left: 5.45rem;
        }
          
        // ---------- Untitled 92 --------- //
        .sub-section-2-3 {
          left: 9.9rem;
        }
          
        // ---------- Different Realities --------- //
        .sub-section-2-4 {
          left: 1.4rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 1650px --------------------- //

@media screen and (max-width: 1650px) {
  .main-room-stage-container {

    .main-room-stage-grid {

      //----------------- COLUMN 2 ------------------//
    
      .stage-column-2 {

        // ---------- Sad --------- //
        .sub-section-2-1 {
          left: 1.3rem;
        }
          
        // ---------- Lost between the Planets --------- //
        .sub-section-2-2 {
          left: 5.35rem;
        }
          
        // ---------- Untitled 92 --------- //
        .sub-section-2-3 {
          left: 9.8rem;
        }
          
        // ---------- Different Realities --------- //
        .sub-section-2-4 {
          left: 1.3rem;
        }
      }

      //----------------- COLUMN 4 ------------------//

      .stage-column-4 {

        // ---------- Jacob's Dream --------- //
        .sub-section-4-1 {
          left: 1.2rem;
        }
      
        // ---------- Lunch Is Ready --------- //
        .sub-section-4-2 {
          right: 5.2rem;
        }
      
        // ---------- Red Rope --------- //
        .sub-section-4-3 {
          right: 5.8rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 1400px --------------------- //

@media screen and (max-width: 1400px) {
  .main-room-stage-container {

    .main-room-stage-grid {
      width: 88%;

      //----------------- COLUMN 2 ------------------//
    
      .stage-column-2 {

        // ---------- Sad --------- //
        .sub-section-2-1 {
          left: 1.2rem;
        }
          
        // ---------- Lost between the Planets --------- //
        .sub-section-2-2 {
          left: 5.25rem;
        }
          
        // ---------- Untitled 92 --------- //
        .sub-section-2-3 {
          left: 9.7rem;
        }
          
        // ---------- Different Realities --------- //
        .sub-section-2-4 {
          left: 1.2rem;
        }

        // ---------- River Styx --------- //
        .sub-section-2-5 {
          right: 7.3rem;
          width: 11.5rem;
        }

        // ---------- Dorothy --------- //
        .sub-section-2-6 {
          top: 14.3rem;
          right: 0.7rem;
          width: 3.9rem;
        }

        .alcove-entrance-container {
          top: 12rem;
          right: 5.3rem;
        }
      }

      //----------------- COLUMN 4 ------------------//

      .stage-column-4 {

        // ---------- Jacob's Dream --------- //
        .sub-section-4-1 {
          left: 1.1rem;
        }
      
        // ---------- Lunch Is Ready --------- //
        .sub-section-4-2 {
          right: 5.1rem;
        }
      
        // ---------- Red Rope --------- //
        .sub-section-4-3 {
          right: 5.7rem;
        }

        // ---------- Can You See Me? --------- //
        .sub-section-4-4 {
          right: 1rem;
        }
        
        // ---------- Into the Unknown --------- //
        .sub-section-4-5 {
          right: 0.8rem;
        }
        
        // ---------- No Friends --------- //
        .sub-section-4-6 {
          right: 0.8rem;
        }

        // ---------- Butterfly Woman --------- //
        .sub-section-4-7 {
          right: 0.8rem;
        }
      }

      //----------------- COLUMN 5 ------------------/
    
      .stage-column-5 {
          
        // ---------- Gifts --------- //
        .sub-section-5-1 {
          right: -0.1rem;
        }
          
        // ---------- Guardian --------- //
        .sub-section-5-2 {
          right: -0.3rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 1380px --------------------- //

@media screen and (max-width: 1380px) {
  .main-room-stage-container {

    .main-room-stage-grid {
      width: 88.8%;
    }
  }
}

// -------------------- Max-Width: 1280px --------------------- //

// @media screen and (max-width: 1280px) {
//   .main-room-stage-container {
//     margin-top: 0dvh;
    
//     .main-room-stage-grid {
//       width: 92%;
//       height: 35rem;
//       grid-template-rows: 27.8rem 7.2rem;

//       //----------------- COLUMN 1 ------------------//

//       .stage-column-1 {

//         .past-behind-container {
//           height: 37%;

//           // ---------- Leave Past Behind --------- //
//           .sub-section-1-1 {
//             width: 7.3rem;
//             margin-left: -0.1rem;
//           }
//         }

//         .north-exit-container {
//           height: 63%;
        
//           .inset {

//             // ---------- America --------- //  
//             .sub-section-1-2 {
//               top: 1.7rem;
//               width: 4.9rem;
//             }
  
//             // ---------- Look At Me! --------- //
//             .sub-section-1-3 {
//               top: 7.4rem;
//               width: 6rem;
//             }
//           }
//         }
//       }

//       //----------------- COLUMN 2 ------------------//
    
//       .stage-column-2 {

//         // ---------- Sad --------- //
//         .sub-section-2-1 {
//           top: 2.6rem;
//           left: 1.2rem;
//           width: 2.3rem;
//         }
        
//         // ---------- Between Two Planets --------- //
//         .sub-section-2-2 {
//           top: 2.6rem;
//           left: 4.6rem;
//           width: 2.7rem;
//         }
        
//         // ---------- Untitled 92 --------- //
//         .sub-section-2-3 {
//           top: 2.6rem;
//           left: 8.3rem;
//           width: 2.3rem;
//         }
        
//         // ---------- Different Realities --------- //
//         .sub-section-2-4 {
//           top: 8.2rem;
//           left: 1.2rem;
//           width: 9.5rem;
//         }
      
//         // ---------- River Styx --------- //
//         .sub-section-2-5 {
//           top: 0.8rem;
//           right: 6.4rem;
//           width: 10.8rem;
//         }

//         // ---------- Dorothy --------- //
//         .sub-section-2-6 {
//           top: 13.4rem;
//           right: 0.6rem;
//           width: 3.3rem;
//         }

//         .alcove-entrance-container {
//           top: 10.5rem;
//           right: 4.5rem;
//           width: 14.6rem;

//           .alcove-entrance {

//             // ------------ Installing the Music App ------------ //
//             .sub-section-2-7 {
//               top: -4.6rem;
//               left: 1.4rem;
//             }

//             // ------------ Social Distancing ------------ //
//             .sub-section-2-8 {
//               top: 5.7rem;
//               left: -0.4rem;
//             }
          
//             // ------------ Time to Feed the Frog ------------ //
//             .sub-section-2-9 {
//               left: -0.6rem;
//             }
          
//             // ------------ Leaving the House of Horrors ------------ //
//             .sub-section-2-10 {
//               top: 5.7rem;
//               left: 3.5rem;
//             }
          
//             // ------------ Much Needed Surgery ------------ //
//             .sub-section-2-11 {
//               left: 3.4rem;
//             }
          
//             // ------------ Arrival Through the Black Hole ------------ //
//             .sub-section-2-12 {
//               top: 5.7rem;
//               right: 3.2rem;
//             }
          
//             // ------------ Safe travel ------------ //
//             .sub-section-2-13 {
//               right: 5.4rem;
//               width: 2.75rem;
//             }
          
//             // ------------ Martian Mary Poppins ------------ //
//             .sub-section-2-14 {
//               right: 2.4rem;
//             }
          
//             // ------------ The Fool In Recent Times ------------ //
//             .sub-section-2-15 {
//               top: 5.7rem;
//               right: -0.55rem;
//             }
          
//             // ------------ Homecoming for Tambourine ------------ //
//             .sub-section-2-16 {
//               right: -1.4rem;
//             }
//           }
//         }
//       }
    
//       //----------------- COLUMN 3 ------------------//
    
//       .stage-column-3 {
      
//         // ---------- Sunny Side Up --------- //
//         .sub-section-3-1 {
//           top: 4.1rem;
//           width: 14.9rem;
//         }
//       }
    
//       //----------------- COLUMN 4 ------------------//
    
//       .stage-column-4 {
      
//         // ---------- Jacob's Dream --------- //
//         .sub-section-4-1 {
//           width: 14.2rem;
//         }
//       }
    
//       //----------------- COLUMN 5 ------------------/
      
//       .stage-column-5 {
        
//         // ---------- Gifts --------- //
//         .sub-section-5-1 {
//           top: 5.2rem;
//           right: 0rem;
//           width: 4.6rem;
//         }
        
//         // ---------- Guardian --------- //
//         .sub-section-5-2 {
//           top: 17.5rem;
//           right: 0rem;
//           width: 4.7rem;
//         }
//       }
//     }
//   }
// }

// -------------------- Max-Width: 1220px --------------------- //

@media screen and (max-width: 1220px) {
  .main-room-stage-container {

    .main-room-stage-grid {
      // width: 92%;
      // height: 35rem;
      // grid-template-rows: 27.8rem 7.2rem;
      grid-template: 27.8rem 7.2rem / 1.6fr 6.3fr 3.45fr 5.35fr 1.3fr;

      //----------------- COLUMN 1 ------------------//

      .stage-column-1 {

        .past-behind-container {
          height: 38%;

          // ---------- Leave Past Behind --------- //
          .sub-section-1-1 {
            width: 7.4rem;
            margin-left: -0.3rem;
          }
        }

        .north-exit-container {
          height: 62%;
        }
      }

      //----------------- COLUMN 2 ------------------//
    
      .stage-column-2 {

        // ---------- Sad --------- //
        .sub-section-2-1 {
          top: 2.9rem;
          left: 1.1rem;
          width: 2.1rem;
        }
        
        // ---------- Between Two Planets --------- //
        .sub-section-2-2 {
          top: 2.9rem;
          left: 4.35rem;
          width: 2.6rem;
        }
        
        // ---------- Untitled 92 --------- //
        .sub-section-2-3 {
          top: 2.9rem;
          left: 8rem;
          width: 2.2rem;
        }
        
        // ---------- Different Realities --------- //
        .sub-section-2-4 {
          top: 8.5rem;
          left: 1.1rem;
          width: 9.3rem;
        }
      
        // ---------- River Styx --------- //
        .sub-section-2-5 {
          top: 1rem;
          right: 5.9rem;
          width: 10.8rem;
        }

        // ---------- Dorothy --------- //
        .sub-section-2-6 {
          // top: 14rem;
          right: 0.4rem;
          width: 3rem;
        }

        .alcove-entrance-container {
          top: 10.6rem;
          right: 4rem;
          width: 14.4rem;

          .alcove-entrance {
          
            // ------------ Safe travel ------------ //
            .sub-section-2-13 {
              right: 5.2rem;
            }
          }
        }
      }
    
      //----------------- COLUMN 3 ------------------//
    
      .stage-column-3 {
      
        // ---------- Sunny Side Up --------- //
        .sub-section-3-1 {
          top: 4.1rem;
          width: 14.7rem;
        }
      }
    
      //----------------- COLUMN 4 ------------------//
    
      .stage-column-4 {
      
        // ---------- Jacob's Dream --------- //
        .sub-section-4-1 {
          top: 7.7rem;
          left: 1rem;
          width: 13.8rem;
        }

        // ---------- Lunch Is Ready --------- //
        .sub-section-4-2 {
          top: 4.5rem;
          right: 4.1rem;
          width: 5.4rem;
        }
      
        // ---------- Red Rope --------- //
        .sub-section-4-3 {
          top: 13.3rem;
          right: 4.6rem;
          width: 4.5rem;
        }

        // ---------- Can You See Me? --------- //
        .sub-section-4-4 {
          top: 6rem;
          right: 0.8rem;
          width: 1.8rem;
        }
      
        // ---------- Into the Unknown --------- //
        .sub-section-4-5 {
          top: 10.8rem;
          right: 0.5rem;
          width: 2.1rem;
        }
      
        // ---------- No Friends --------- //
        .sub-section-4-6 {
          top: 13.9rem;
          right: 0.5rem;
          width: 2.1rem;
        }

        // ---------- Butterfly Woman --------- //
        .sub-section-4-7 {
          top: 16.8rem;
          right: 0.5rem;
          width: 2.1rem;
        }
      }
    
      //----------------- COLUMN 5 ------------------/
      
      .stage-column-5 {
        
        // ---------- Gifts --------- //
        .sub-section-5-1 {
          top: 5.6rem;
          right: 0.2rem;
          width: 4.5rem;
        }
        
        // ---------- Guardian --------- //
        .sub-section-5-2 {
          right: 0.2rem;
          width: 4.6rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 1200px --------------------- //

@media screen and (max-width: 1200px) {
  .main-room-stage-container {

    .main-room-stage-grid {
      height: 34.7rem;
      grid-template-rows: 27.6rem 7.1rem;

      //----------------- COLUMN 2 ------------------//
    
      .stage-column-2 {

        // ---------- Sad --------- //
        .sub-section-2-1 {
          left: 1rem;
        }
        
        // ---------- Between Two Planets --------- //
        .sub-section-2-2 {
          left: 4.25rem;
        }
        
        // ---------- Untitled 92 --------- //
        .sub-section-2-3 {
          left: 7.9rem;
        }
        
        // ---------- Different Realities --------- //
        .sub-section-2-4 {
          left: 1rem;
        }
      
        // ---------- River Styx --------- //
        .sub-section-2-5 {
          right: 5.7rem;
        }

        .alcove-entrance-container {
          width: 14.3rem;
        }
      }
    
      //----------------- COLUMN 4 ------------------//
    
      .stage-column-4 {

        // ---------- Lunch Is Ready --------- //
        .sub-section-4-2 {
          right: 3.8rem;
        }
      
        // ---------- Red Rope --------- //
        .sub-section-4-3 {
          right: 4.3rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 1185px --------------------- //

@media screen and (max-width: 1185px) {
  .main-room-stage-container {

    .main-room-stage-grid {

      //----------------- COLUMN 2 ------------------//
    
      .stage-column-2 {

        // ---------- Sad --------- //
        .sub-section-2-1 {
          left: 0.8rem;
        }
        
        // ---------- Between Two Planets --------- //
        .sub-section-2-2 {
          left: 4.05rem;
        }
        
        // ---------- Untitled 92 --------- //
        .sub-section-2-3 {
          left: 7.7rem;
        }
        
        // ---------- Different Realities --------- //
        .sub-section-2-4 {
          left: 0.8rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 1140px --------------------- //

@media screen and (max-width: 1140px) {
  .main-room-stage-container {

    .main-room-stage-grid {
      width: 91%;
      height: 33.6rem;
      grid-template: 26.6rem 7rem / 1.6fr 6.35fr 3.45fr 5.35fr 1.15fr;

      // .section {
      //   border: 1px solid #d3d3d3;
      // }

      //----------------- COLUMN 1 ------------------//

      .stage-column-1 {

        .past-behind-container {
          // height: 38%;

          // ---------- Leave Past Behind --------- //
          .sub-section-1-1 {
            width: 7.2rem;
            margin-left: 0rem;
          }
        }

          .north-exit-container {
            // height: 62%;

            .inset {

              // ---------- America --------- //  
              .sub-section-1-2 {
                top: 1.8rem;
                width: 4.6rem;
              }
  
              // ---------- Look At Me! --------- //
              .sub-section-1-3 {
                top: 7.2rem;
                width: 5.8rem;
              }
            }
          }
        }

        //----------------- COLUMN 2 ------------------//
    
        .stage-column-2 {

          // ---------- Sad --------- //
          .sub-section-2-1 {
            top: 3.1rem;
            left: 1.1rem;
            width: 2rem;
          }
        
          // ---------- Between Two Planets --------- //
          .sub-section-2-2 {
            top: 3.1rem;
            left: 4.3rem;
            width: 2.5rem;
          }
        
          // ---------- Untitled 92 --------- //
          .sub-section-2-3 {
            top: 3.1rem;
            left: 7.9rem;
            width: 2.1rem;
          }
        
          // ---------- Different Realities --------- //
          .sub-section-2-4 {
            top: 8.5rem;
            left: 1.1rem;
            width: 9rem;
          }
      
          // ---------- River Styx --------- //
          .sub-section-2-5 {
            top: 1.5rem;
            right: 5.5rem;
            width: 10.2rem;
          }

          // ---------- Dorothy --------- //
          .sub-section-2-6 {
            top: 13rem;
            // right: 0.4rem;
            width: 2.85rem;
          }

          .alcove-entrance-container {
            // top: 10.6rem;
            right: 3.7rem;
            width: 13.8rem;

            .alcove-entrance {

              // ------------ Installing the Music App ------------ //
              .sub-section-2-7 {
                top: -4rem;
                left: 1.45rem;
                width: 11rem;
              }

            // ------------ Social Distancing ------------ //
            .sub-section-2-8 {
              top: 5.6rem;
              left: -0.3rem;
              width: 2.7rem;
            }
          
            // ------------ Time to Feed the Frog ------------ //
            .sub-section-2-9 {
              top: 8.8rem;
              left: -0.5rem;
              width: 2.9rem;
            }
          
            // ------------ Leaving the House of Horrors ------------ //
            .sub-section-2-10 {
              top: 5.6rem;
              left: 3.2rem;
              width: 3.2rem;
            }
          
            // ------------ Much Needed Surgery ------------ //
            .sub-section-2-11 {
              top: 8.8rem;
              left: 3.1rem;
              width: 2rem;
            }
          
            // ------------ Arrival Through the Black Hole ------------ //
            .sub-section-2-12 {
              top: 5.6rem;
              right: 3.5rem;
              width: 3.1rem;
            }
          
            // ------------ Safe travel ------------ //
            .sub-section-2-13 {
              top: 8.8rem;
              right: 5.6rem;
              width: 2.4rem;
            }
          
            // ------------ Martian Mary Poppins ------------ //
            .sub-section-2-14 {
              top: 8.9rem;
              right: 3.2rem;
              width: 1.7rem;
            }
          
            // ------------ The Fool In Recent Times ------------ //
            .sub-section-2-15 {
              top: 5.6rem;
              right: 0rem;
              width: 2.6rem;
            }
          
            // ------------ Homecoming for Tambourine ------------ //
            .sub-section-2-16 {
              top: 8.8rem;
              right: -0.3rem;
              width: 2.8rem;
            }
          }
        }
      }
    
      //----------------- COLUMN 3 ------------------//
    
      .stage-column-3 {
      
        // ---------- Sunny Side Up --------- //
        .sub-section-3-1 {
          top: 4.4rem;
          width: 14.2rem;
        }
      }
    
      //----------------- COLUMN 4 ------------------//
    
      .stage-column-4 {
      
        // ---------- Jacob's Dream --------- //
        .sub-section-4-1 {
          top: 7rem;
          // left: 1rem;
          width: 13.1rem;
        }

        // ---------- Lunch Is Ready --------- //
        .sub-section-4-2 {
          top: 4.3rem;
          right: 3.9rem;
          width: 5.1rem;
        }
      
        // ---------- Red Rope --------- //
        .sub-section-4-3 {
          top: 12.6rem;
          right: 4.4rem;
          width: 4.2rem;
        }

        // ---------- Can You See Me? --------- //
        .sub-section-4-4 {
          top: 6rem;
          // right: 0.8rem;
          width: 1.7rem;
        }
      
        // ---------- Into the Unknown --------- //
        .sub-section-4-5 {
          top: 10.2rem;
          // right: 0.5rem;
          width: 2rem;
        }
      
        // ---------- No Friends --------- //
        .sub-section-4-6 {
          top: 13.1rem;
          // right: 0.5rem;
          width: 2rem;
        }

        // ---------- Butterfly Woman --------- //
        .sub-section-4-7 {
          top: 15.9rem;
          // right: 0.5rem;
          width: 2rem;
        }
      }
    
      //----------------- COLUMN 5 ------------------/
      
      .stage-column-5 {
        
        // ---------- Gifts --------- //
        .sub-section-5-1 {
          top: 5.6rem;
          right: 0rem;
          width: 4.3rem;
        }
        
        // ---------- Guardian --------- //
        .sub-section-5-2 {
          top: 16.8rem;
          right: 0rem;
          width: 4.4rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 1035px --------------------- //

@media screen and (max-width: 1035px) {
  .main-room-stage-container {

    .main-room-stage-grid {
      width: 90%;

      //----------------- COLUMN 2 ------------------//
    
      .stage-column-2 {

        .alcove-entrance-container {
          top: 10.3rem;
        }
      }
    }
  }
}

// -------------------- Max-Width: 960px --------------------- //

@media screen and (max-width: 960px) {
  .main-room-stage-container {

    .main-room-stage-grid {
      width: 91%;
      height: 30rem;
      grid-template: 23.4rem 6.6rem / 1.6fr 6.35fr 3.45fr 5.35fr 1.15fr;

      // .section {
      //   border: 1px solid #d3d3d3;
      // }

      //----------------- COLUMN 1 ------------------//

      .stage-column-1 {

        .past-behind-container {
          // height: 38%;

          // ---------- Leave Past Behind --------- //
          .sub-section-1-1 {
            width: 6.4rem;
            // margin-left: 0rem;
          }
        }

          .north-exit-container {
            // height: 62%;

            .inset {

              // ---------- America --------- //  
              .sub-section-1-2 {
                top: 1.5rem;
                width: 4rem;
              }
  
              // ---------- Look At Me! --------- //
              .sub-section-1-3 {
                top: 6.2rem;
                width: 5.2rem;
              }
            }
          }
        }

        //----------------- COLUMN 2 ------------------//
    
        .stage-column-2 {

          // ---------- Sad --------- //
          .sub-section-2-1 {
            top: 2.5rem;
            left: 1rem;
            width: 1.9rem;
          }
        
          // ---------- Between Two Planets --------- //
          .sub-section-2-2 {
            top: 2.5rem;
            left: 4rem;
            width: 2.3rem;
          }
        
          // ---------- Untitled 92 --------- //
          .sub-section-2-3 {
            top: 2.5rem;
            left: 7.3rem;
            width: 1.9rem;
          }
        
          // ---------- Different Realities --------- //
          .sub-section-2-4 {
            top: 7.2rem;
            left: 1rem;
            width: 8.2rem;
          }
      
          // ---------- River Styx --------- //
          .sub-section-2-5 {
            top: 1.2rem;
            right: 5.2rem;
            width: 9.2rem;
          }

          // ---------- Dorothy --------- //
          .sub-section-2-6 {
            top: 11.8rem;
            right: 0.35rem;
            width: 2.6rem;
          }

          .alcove-entrance-container {
            top: 9.4rem;
            right: 3.6rem;
            width: 12.8rem;
            height: 14.8rem;

            .alcove-entrance {

              // ------------ Installing the Music App ------------ //
              .sub-section-2-7 {
                top: -3.6rem;
                left: 1.5rem;
                width: 10rem;
              }

            // ------------ Social Distancing ------------ //
            .sub-section-2-8 {
              top: 5.4rem;
              left: 0.2rem;
              width: 2.5rem;
            }
          
            // ------------ Time to Feed the Frog ------------ //
            .sub-section-2-9 {
              top: 8.4rem;
              left: 0rem;
              width: 2.7rem;
            }
          
            // ------------ Leaving the House of Horrors ------------ //
            .sub-section-2-10 {
              top: 5.4rem;
              left: 3.3rem;
              width: 3rem;
            }
          
            // ------------ Much Needed Surgery ------------ //
            .sub-section-2-11 {
              top: 8.4rem;
              left: 3.2rem;
              width: 1.8rem;
            }
          
            // ------------ Arrival Through the Black Hole ------------ //
            .sub-section-2-12 {
              top: 5.4rem;
              right: 3.1rem;
              width: 2.8rem;
            }
          
            // ------------ Safe travel ------------ //
            .sub-section-2-13 {
              top: 8.4rem;
              right: 5.1rem;
              width: 2.2rem;
            }
          
            // ------------ Martian Mary Poppins ------------ //
            .sub-section-2-14 {
              top: 8.6rem;
              right: 3.2rem;
              width: 1.5rem;
            }
          
            // ------------ The Fool In Recent Times ------------ //
            .sub-section-2-15 {
              top: 5.4rem;
              right: 0.2rem;
              width: 2.4rem;
            }
          
            // ------------ Homecoming for Tambourine ------------ //
            .sub-section-2-16 {
              top: 8.4rem;
              right: 0rem;
              width: 2.6rem;
            }
          }
        }
      }
    
      //----------------- COLUMN 3 ------------------//
    
      .stage-column-3 {
      
        // ---------- Sunny Side Up --------- //
        .sub-section-3-1 {
          top: 3.6rem;
          width: 12.9rem;
        }
      }
    
      //----------------- COLUMN 4 ------------------//
    
      .stage-column-4 {
      
        // ---------- Jacob's Dream --------- //
        .sub-section-4-1 {
          top: 6rem;
          left: 0.9rem;
          width: 11.8rem;
        }

        // ---------- Lunch Is Ready --------- //
        .sub-section-4-2 {
          top: 2.8rem;
          right: 3.9rem;
          width: 4.6rem;
        }
      
        // ---------- Red Rope --------- //
        .sub-section-4-3 {
          top: 11rem;
          right: 4.4rem;
          width: 3.7rem;
        }

        // ---------- Can You See Me? --------- //
        .sub-section-4-4 {
          top: 4.8rem;
          right: 0.9rem;
          width: 1.5rem;
        }
      
        // ---------- Into the Unknown --------- //
        .sub-section-4-5 {
          top: 8.5rem;
          right: 0.6rem;
          width: 1.8rem;
        }
      
        // ---------- No Friends --------- //
        .sub-section-4-6 {
          top: 11.2rem;
          right: 0.6rem;
          width: 1.8rem;
        }

        // ---------- Butterfly Woman --------- //
        .sub-section-4-7 {
          top: 13.8rem;
          right: 0.6rem;
          width: 1.8rem;
        }
      }
    
      //----------------- COLUMN 5 ------------------/
      
      .stage-column-5 {
        
        // ---------- Gifts --------- //
        .sub-section-5-1 {
          top: 4.3rem;
          right: -0.2rem;
          width: 4rem;
        }
        
        // ---------- Guardian --------- //
        .sub-section-5-2 {
          top: 14.5rem;
          right: -0.2rem;
          width: 4rem;
        }
      }
    }
  }
}

// --------------- Max-Width 780px ---------------- //

@media screen and (max-width: 780px) {
  .main-room-stage-container {
  
    .main-room-stage-grid {
      width: 91.5%;
    }
  }
}