// ------------ Alcove North ----------- //
.alcove-east-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .alcove-east-grid {
    width: 74%;
    height: 39rem;
    display: grid;
    grid-template-columns: 1.27fr 1fr 1.27fr;
    gap: 0;

    // .section {
    //   border: 1px solid #d5d5d5;
    // }

    //----------------- COLUMN 1 ------------------//

    .alcove-east-column-1 {
      position: relative;
      display: flex;
      justify-content: center;
      background: linear-gradient(200deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.04));
      filter: blur(1px);
      opacity: 0.4;

      img {
        cursor: auto;
      }

      // ---------- Installing the Music App --------- //
      .sub-section-1-1 {
        position: absolute;
        top: 1.4rem;
        width: 17.8rem;
      }
        
      // ---------- Social Distancing --------- //
      .sub-section-1-2 {
        position: absolute;
        top: 17rem;
        left: 5.1rem;
        width: 4.6rem;
      }
        
      // ---------- Time to Feed the Frog --------- //
      .sub-section-1-3 {
        position: absolute;
        top: 22.1rem;
        left: 5.1rem;
        width: 4.6rem;
      }
        
      // ---------- Leavng the House of Horrors --------- //
      .sub-section-1-4 {
        position: absolute;
        top: 17.2rem;
        left: 10.6rem;
        width: 5.2rem;
      }
        
      // ---------- A Much Needed Surgery --------- //
      .sub-section-1-5 {
        position: absolute;
        top: 22.1rem;
        left: 10.65rem;
        width: 3.1rem;
      }
        
      // ---------- Safe Travel --------- //
       .sub-section-1-6 {
        position: absolute;
        top: 22rem;
        left: 14.6rem;
        width: 3.6rem;
      }
        
      // ---------- Arrival Through the Black Hole --------- //
      .sub-section-1-7 {
        position: absolute;
        top: 17.1rem;
        right: 10.1rem;
        width: 5.2rem;
      }
        
      // ---------- Martian Mary Poppins --------- //
      .sub-section-1-8 {
        position: absolute;
        top: 22.2rem;
        right: 10.2rem;
        width: 2.7rem;
      }
      
      // ---------- Fool In Recent Times --------- //
      .sub-section-1-9 {
        position: absolute;
        top: 17.1rem;
        right: 5rem;
        width: 4.3rem;
      }

      // ---------- Homecoming for Lost tambourine --------- //
      .sub-section-1-10 {
        position: absolute;
        top: 22rem;
        right: 5rem;
        width: 4.3rem;
      }
  }
    
    //----------------- COLUMN 2 ------------------//
    
    .alcove-east-column-2 {
      position: relative;
      display: flex;
      justify-content: center;
      border-right: 2px solid #ececec;

      // ---------- Kindred Spirits --------- //
      .sub-section-2-1 {
        position: absolute;
        top: 4.2rem;
        width: 14.5rem;
      }
        
      // ---------- Flip --------- //
      .sub-section-2-2 {
        position: absolute;
        top: 18.8rem;
        left: 3.6rem;
        width: 3.6rem;
      }
        
      // ---------- You First --------- //
      .sub-section-2-3 {
        position: absolute;
        top: 22rem;
        left: 3.6rem;
        width: 3.6rem;
      }
        
      // ---------- Another Afternoon at Lucille's --------- //
      .sub-section-2-4 {
        position: absolute;
        top: 19.01rem;
        width: 8.9rem;
      }
        
      // ---------- Bird Sanctuary --------- //
      .sub-section-2-5 {
        position: absolute;
        top: 18.8rem;
        right: 4.1rem;
        width: 3.1rem;
      }

      // ---------- Neptunes Confront Us --------- //
      .sub-section-2-6 {
        position: absolute;
        top: 22.5rem;
        right: 3.9rem;
        width: 3.3rem;
      }   
    }
  }

  .alcove-east-column-3 {
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.04));
    filter: blur(1px);
    opacity: 0.5;

    img {
          cursor: auto;
        }

    // ---------- Jacob Wrestling the Angel --------- //
      .sub-section-3-1 {
        position: absolute;
        top: 1rem;
        width: 16.4rem;
      }
        
      .alcove-exit-container {
        position: absolute;
        bottom: 0;
        width: 21rem;
        height: 22.4rem;
        overflow: hidden;
        border-radius: 4px;
        background: linear-gradient(195deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.04));

        .alcove-exit {
          position: relative;
          filter: blur(1px);
          opacity: 0.4;

          img {
            cursor: auto;
          }

          // ------------ Jacob's Dream ------------ //
          .sub-section-3-2 {
            position: absolute;
            top: 1.5rem;
            left: -6rem;
            width: 15rem;
          }

          // ------------ Lunch Time ------------ //
          .sub-section-3-3 {
            position: absolute;
            top: -0.5rem;
            left: 11.1rem;
            width: 4.8rem;
          }
          
          // ------------ Red Rope ------------ //
          .sub-section-3-4 {
            position: absolute;
            top: 7.9rem;
            left: 11.3rem;
            width: 4.3rem;
          }
          
          // ------------ Can You See Me? ------------ //
          .sub-section-3-5 {
            position: absolute;
            top: 1.4rem;
            right: 1.4rem;
            width: 1.8rem;
          }
          
          // ------------ Into the Unknown ------------ //
          .sub-section-3-6 {
            position: absolute;
            top: 5.9rem;
            right: 1.3rem;
            width: 2rem;
          }
          
          // ------------ No Friends ------------ //
          .sub-section-3-7 {
            position: absolute;
            top: 8.8rem;
            right: 1.3rem;
            width: 2rem;
          }
          
          // ------------ Butterfly Woman ------------ //
          .sub-section-3-8 {
            position: absolute;
            top: 11.6rem;
            right: 1.3rem;
            width: 2rem;
          }
        }
      }
  }
}

// -------------------- Media Queries -------------------- //

@media screen and (max-width: 1800px) {
  .alcove-east-container {

    .alcove-east-grid {
      width: 75%;

      .alcove-east-column-1 {
        
      // ---------- Social Distancing --------- //
      .sub-section-1-2 {
        left: 4.9rem;
      }
        
      // ---------- Time to Feed the Frog --------- //
      .sub-section-1-3 {
        left: 4.9rem;
      }
        
      // ---------- Leavng the House of Horrors --------- //
      .sub-section-1-4 {
        left: 10.2rem;
      }
        
      // ---------- A Much Needed Surgery --------- //
      .sub-section-1-5 {
        left: 10.2rem;
      }
        
      // ---------- Safe Travel --------- //
       .sub-section-1-6 {
        left: 14rem;
      }
        
      // ---------- Arrival Through the Black Hole --------- //
      .sub-section-1-7 {
        right: 9.6rem;
      }
        
      // ---------- Martian Mary Poppins --------- //
      .sub-section-1-8 {
        right: 9.8rem;
      }
      
      // ---------- Fool In Recent Times --------- //
      .sub-section-1-9 {
        right: 4.7rem;
      }

      // ---------- Homecoming for Lost tambourine --------- //
      .sub-section-1-10 {
        right: 4.7rem;
      }
  }

      //----------------- COLUMN 2 ------------------//
    
      .alcove-east-column-2 {

        // ---------- Kindred Spirits --------- //
        .sub-section-2-1 {
          top: 4.2rem;
        }
        
        // ---------- Flip --------- //
        .sub-section-2-2 {
          left: 3.2rem;
        }
        
        // ---------- You First --------- //
        .sub-section-2-3 {
          left: 3.2rem;
        }
        
        // ---------- Bird Sanctuary --------- //
        .sub-section-2-5 {
          right: 3.7rem;
        }

        // ---------- Neptunes Confront Us --------- //
        .sub-section-2-6 {
          right: 3.5rem;
        }   
      }
    }
  }
}

// --------------- Max-Width: 1380px --------------- //

@media screen and (max-width: 1380px) {
  .alcove-east-container {

    .alcove-east-grid {
      width: 78%;
      height: 38rem;

      //----------------- COLUMN 1 ------------------//

      .alcove-east-column-1 {

        // ---------- Installing the Music App --------- //
        .sub-section-1-1 {
          top: 1.6rem;
          width: 17.5rem;
        }
        
        // ---------- Social Distancing --------- //
        .sub-section-1-2 {
          left: 3.5rem;
          width: 4.4rem;
        }
        
        // ---------- Time to Feed the Frog --------- //
        .sub-section-1-3 {
          top: 22rem;
          left: 3.6rem;
          width: 4.4rem;
        }
        
        // ---------- Leavng the House of Horrors --------- //
        .sub-section-1-4 {
          top: 17rem;
          left: 8.6rem;
          width: 5.1rem;
        }
        
        // ---------- A Much Needed Surgery --------- //
        .sub-section-1-5 {
          top: 22rem;
          left: 8.8rem;
          width: 2.95rem;
        }
        
        // ---------- Safe Travel --------- //
        .sub-section-1-6 {
          top: 22rem;
          left: 12.5rem;
          width: 3.4rem;
        }
        
        // ---------- Arrival Through the Black Hole --------- //
        .sub-section-1-7 {
          top: 17rem;
          right: 8rem;
          width: 5rem;
        }
        
        // ---------- Martian Mary Poppins --------- //
        .sub-section-1-8 {
          top: 22.2rem;
          right: 8.1rem;
          width: 2.5rem;
        }
      
        // ---------- Fool In Recent Times --------- //
        .sub-section-1-9 {
          top: 17rem;
          right: 3.1rem;
          width: 4.2rem;
        }

        // ---------- Homecoming for Lost tambourine --------- //
        .sub-section-1-10 {
          top: 22rem;
          right: 3.1rem;
          width: 4.2rem;
        }
      }

      //----------------- COLUMN 2 ------------------//
    
      .alcove-east-column-2 {

        // ---------- Kindred Spirits --------- //
        .sub-section-2-1 {
          top: 4.6rem;
          width: 14rem;
        }
        
        // ---------- Flip --------- //
        .sub-section-2-2 {
          top: 18.4rem;
          left: 1.8rem;
          width: 3.4rem;
        }
        
        // ---------- You First --------- //
        .sub-section-2-3 {
          top: 21.7rem;
          left: 1.8rem;
          width: 3.4rem;
        }
        
        // ---------- Another Afternoon at Lucille's --------- //
        .sub-section-2-4 {
          top: 18.7rem;
          width: 8.5rem;
        }
        
        // ---------- Bird Sanctuary --------- //
        .sub-section-2-5 {
          top: 18.4rem;
          right: 2.4rem;
          width: 2.9rem;
        }

        // ---------- Neptunes Confront Us --------- //
        .sub-section-2-6 {
          top: 22rem;
          right: 2.2rem;
          width: 3.1rem;
        }   
      }
    }

    //----------------- COLUMN 3 ------------------//

    .alcove-east-column-3 {

      // ---------- Jacob Wrestling the Angel --------- //
      .sub-section-3-1 {
        top: 1.2rem;
        width: 16rem;
      }

      .alcove-exit-container {
        width: 20.5rem;
        height: 21.4rem;

        .alcove-exit {

          // ------------ Lunch Time ------------ //
          .sub-section-3-3 {
            left: 10.6rem;
            width: 5rem;
          }
          
            // ------------ Red Rope ------------ //
            .sub-section-3-4 {
              left: 10.7rem;
              width: 4.5rem;
            }
          
            // ------------ Can You See Me? ------------ //
            .sub-section-3-5 {
              right: 1.2rem;
            }
          
            // ------------ Into the Unknown ------------ //
            .sub-section-3-6 {
              right: 1.1rem;
            }
          
            // ------------ No Friends ------------ //
            .sub-section-3-7 {
              right: 1.1rem;
            }
          
            // ------------ Butterfly Woman ------------ //
            .sub-section-3-8 {
              right: 1.1rem;
            }
          }
        }
      }
    }
  }

// --------------- Max-Width: 1280px --------------- //

@media screen and (max-width: 1280px) {
  .alcove-east-container {

    .alcove-east-grid {
      width: 79%;
      height: 36rem;

      //----------------- COLUMN 1 ------------------//

      .alcove-east-column-1 {

        // ---------- Installing the Music App --------- //
        .sub-section-1-1 {
          top: 1.5rem;
          width: 16.6rem;
        }
        
        // ---------- Social Distancing --------- //
        .sub-section-1-2 {
          top: 16.2rem;
          left: 4.2rem;
          width: 4rem;
        }
        
        // ---------- Time to Feed the Frog --------- //
        .sub-section-1-3 {
          top: 20.7rem;
          left: 4.2rem;
          width: 4.1rem;
        }
        
        // ---------- Leavng the House of Horrors --------- //
        .sub-section-1-4 {
          top: 16.2rem;
          left: 8.9rem;
          width: 4.8rem;
        }
        
        // ---------- A Much Needed Surgery --------- //
        .sub-section-1-5 {
          top: 20.7rem;
          left: 9rem;
          width: 2.65rem;
        }
        
        // ---------- Safe Travel --------- //
        .sub-section-1-6 {
          top: 20.7rem;
          left: 12.4rem;
          width: 3.3rem;
        }
        
        // ---------- Arrival Through the Black Hole --------- //
        .sub-section-1-7 {
          top: 16.2rem;
          right: 8.7rem;
          width: 4.7rem;
        }
        
        // ---------- Martian Mary Poppins --------- //
        .sub-section-1-8 {
          top: 20.9rem;
          right: 8.9rem;
          width: 2.2rem;
        }
      
        // ---------- Fool In Recent Times --------- //
        .sub-section-1-9 {
          top: 16.2rem;
          right: 4.2rem;
          width: 3.9rem;
        }

        // ---------- Homecoming for Lost tambourine --------- //
        .sub-section-1-10 {
          top: 20.7rem;
          right: 4.2rem;
          width: 3.9rem;
        }
      }

      //----------------- COLUMN 2 ------------------//
    
      .alcove-east-column-2 {

        // ---------- Kindred Spirits --------- //
        .sub-section-2-1 {
          top: 3.4rem;
        }
        
        // ---------- Flip --------- //
        .sub-section-2-2 {
          top: 17.2rem;
          left: 2rem;
        }
        
        // ---------- You First --------- //
        .sub-section-2-3 {
          top: 20.5rem;
          left: 2rem;
        }
        
        // ---------- Another Afternoon at Lucille's --------- //
        .sub-section-2-4 {
          top: 17.5rem;
        }
        
        // ---------- Bird Sanctuary --------- //
        .sub-section-2-5 {
          top: 17.3rem;
          right: 2.6rem;
          width: 2.9rem;
        }

        // ---------- Neptunes Confront Us --------- //
        .sub-section-2-6 {
          top: 20.9rem;
          right: 2.4rem;
          width: 3.1rem;
        }   
      }
    }

    //----------------- COLUMN 3 ------------------//

    .alcove-east-column-3 {

      // ---------- Jacob Wrestling the Angel --------- //
      .sub-section-3-1 {
        top: 0.9rem;
        width: 14.9rem;
      }

      .alcove-exit-container {
        height: 21rem;

        .alcove-exit {

          // ------------ Lunch Time ------------ //
          .sub-section-3-3 {
            left: 10.9rem;
          }
          
            // ------------ Red Rope ------------ //
            .sub-section-3-4 {
              left: 11rem;
            }
          }
        }
      }
    }
  }

// --------------- Max-Width: 1220px --------------- //

@media screen and (max-width: 1220px) {
  .alcove-east-container {

    .alcove-east-grid {
      // width: 79%;
      height: 35.5rem;
      grid-template-columns: 1.3fr 1fr 1.3fr;

      //----------------- COLUMN 1 ------------------//

      .alcove-east-column-1 {

        // ---------- Installing the Music App --------- //
        .sub-section-1-1 {
          top: 1.5rem;
          width: 16.4rem;
        }
        
        // ---------- Social Distancing --------- //
        .sub-section-1-2 {
          // top: 16.2rem;
          left: 4rem;
          width: 3.9rem;
        }
        
        // ---------- Time to Feed the Frog --------- //
        .sub-section-1-3 {
          top: 20.6rem;
          left: 4rem;
          width: 4rem;
        }
        
        // ---------- Leavng the House of Horrors --------- //
        .sub-section-1-4 {
          // top: 16.2rem;
          left: 8.5rem;
          width: 4.7rem;
        }
        
        // ---------- A Much Needed Surgery --------- //
        .sub-section-1-5 {
          top: 20.7rem;
          left: 8.6rem;
          width: 2.55rem;
        }
        
        // ---------- Safe Travel --------- //
        .sub-section-1-6 {
          top: 20.6rem;
          left: 11.9rem;
          width: 3.2rem;
        }
        
        // ---------- Arrival Through the Black Hole --------- //
        .sub-section-1-7 {
          // top: 16.2rem;
          right: 8.3rem;
          width: 4.6rem;
        }
        
        // ---------- Martian Mary Poppins --------- //
        .sub-section-1-8 {
          // top: 20.9rem;
          right: 8.5rem;
          // width: 2.2rem;
        }
      
        // ---------- Fool In Recent Times --------- //
        .sub-section-1-9 {
          // top: 16.2rem;
          right: 3.9rem;
          width: 3.8rem;
        }

        // ---------- Homecoming for Lost tambourine --------- //
        .sub-section-1-10 {
          top: 20.6rem;
          right: 3.9rem;
          width: 3.8rem;
        }
      }

      //----------------- COLUMN 2 ------------------//
    
      .alcove-east-column-2 {

        // ---------- Kindred Spirits --------- //
        .sub-section-2-1 {
          // top: 3.4rem;
        }
        
        // ---------- Flip --------- //
        .sub-section-2-2 {
          // top: 17.2rem;
          left: 1.9rem;
        }
        
        // ---------- You First --------- //
        .sub-section-2-3 {
          // top: 20.5rem;
          left: 1.9rem;
        }
        
        // ---------- Another Afternoon at Lucille's --------- //
        .sub-section-2-4 {
          // top: 17.5rem;
        }
        
        // ---------- Bird Sanctuary --------- //
        .sub-section-2-5 {
          // top: 17.3rem;
          right: 2.4rem;
          // width: 2.9rem;
        }

        // ---------- Neptunes Confront Us --------- //
        .sub-section-2-6 {
          // top: 20.9rem;
          right: 2.2rem;
          // width: 3.1rem;
        }   
      }
    }

    //----------------- COLUMN 3 ------------------//

    .alcove-east-column-3 {

      // ---------- Jacob Wrestling the Angel --------- //
      .sub-section-3-1 {
        // top: 0.9rem;
        width: 14.6rem;
      }

      .alcove-exit-container {
        height: 20.8rem;

        .alcove-exit {

          // ------------ Lunch Time ------------ //
          .sub-section-3-3 {
            // left: 10.9rem;
          }
          
            // ------------ Red Rope ------------ //
            .sub-section-3-4 {
              // left: 11rem;
            }
          }
        }
      }
    }
  }

  // --------------- Max-Width: 1200px --------------- //

@media screen and (max-width: 1200px) {
  .alcove-east-container {

    .alcove-east-grid {

      //----------------- COLUMN 1 ------------------//

      .alcove-east-column-1 {
        
        // ---------- Social Distancing --------- //
        .sub-section-1-2 {
          left: 3.8rem;
        }
        
        // ---------- Time to Feed the Frog --------- //
        .sub-section-1-3 {
          left: 3.8rem;
        }
        
        // ---------- Leavng the House of Horrors --------- //
        .sub-section-1-4 {
          left: 8.3rem;
        }
        
        // ---------- Arrival Through the Black Hole --------- //
        .sub-section-1-7 {
          right: 8.1rem;
        }
        
        // ---------- Martian Mary Poppins --------- //
        .sub-section-1-8 {
          right: 8.25rem;
        }
      
        // ---------- Fool In Recent Times --------- //
        .sub-section-1-9 {
          right: 3.7rem;
        }

        // ---------- Homecoming for Lost tambourine --------- //
        .sub-section-1-10 {
          right: 3.7rem;
        }
      }

      //----------------- COLUMN 2 ------------------//
    
      .alcove-east-column-2 {
        
        // ---------- Flip --------- //
        .sub-section-2-2 {
          left: 1.6rem;
        }
        
        // ---------- You First --------- //
        .sub-section-2-3 {
          left: 1.6rem;
        }
        
        
        // ---------- Bird Sanctuary --------- //
        .sub-section-2-5 {
          right: 2.1rem;
        }

        // ---------- Neptunes Confront Us --------- //
        .sub-section-2-6 {
          right: 1.9rem;
        }   
      }
    }
  }
}

  // --------------- Max-Width: 1185px --------------- //

@media screen and (max-width: 1185px) {
  .alcove-east-container {

    .alcove-east-grid {

      //----------------- COLUMN 1 ------------------//

      .alcove-east-column-1 {
        
        // ---------- Social Distancing --------- //
        .sub-section-1-2 {
          left: 3.7rem;
        }
        
        // ---------- Time to Feed the Frog --------- //
        .sub-section-1-3 {
          left: 3.7rem;
        }
        
        // ---------- Leavng the House of Horrors --------- //
        .sub-section-1-4 {
          left: 8.2rem;
        }

        // ---------- A Much Needed Surgery --------- //
        .sub-section-1-5 {
          left: 8.5rem;
        }
        
        // ---------- Safe Travel --------- //
        .sub-section-1-6 {
          left: 11.8rem;
        }
      }
    }
  }
}

// --------------- Max-Width: 1140px --------------- //

@media screen and (max-width: 1140px) {
  .alcove-east-container {

    .alcove-east-grid {
      height: 33.8rem;
      grid-template-columns: 1.3fr 1fr 1.3fr;

      //----------------- COLUMN 1 ------------------//

      .alcove-east-column-1 {

        // ---------- Installing the Music App --------- //
        .sub-section-1-1 {
          // top: 1.5rem;
          right: 4.4rem;
          // width: 16.4rem;
        }
        
        // ---------- Social Distancing --------- //
        .sub-section-1-2 {
          // top: 16.2rem;
          left: 3.6rem;
          // width: 3.9rem;
        }
        
        // ---------- Time to Feed the Frog --------- //
        .sub-section-1-3 {
          top: 20.6rem;
          left: 3.6rem;
          width: 4rem;
        }
        
        // ---------- Leavng the House of Horrors --------- //
        .sub-section-1-4 {
          // top: 16.2rem;
          left: 8.1rem;
          width: 4.7rem;
        }
        
        // ---------- A Much Needed Surgery --------- //
        .sub-section-1-5 {
          // top: 20.7rem;
          left: 8.2rem;
          // width: 2.55rem;
        }
        
        // ---------- Safe Travel --------- //
        .sub-section-1-6 {
          // top: 20.6rem;
          left: 11.5rem;
          // width: 3.2rem;
        }
        
        // ---------- Arrival Through the Black Hole --------- //
        .sub-section-1-7 {
          // top: 16.2rem;
          right: 7.6rem;
          // width: 4.6rem;
        }
        
        // ---------- Martian Mary Poppins --------- //
        .sub-section-1-8 {
          // top: 20.9rem;
          right: 7.9rem;
          // width: 2.2rem;
        }
      
        // ---------- Fool In Recent Times --------- //
        .sub-section-1-9 {
          // top: 16.2rem;
          right: 3.3rem;
          // width: 3.8rem;
        }

        // ---------- Homecoming for Lost tambourine --------- //
        .sub-section-1-10 {
          // top: 20.6rem;
          right: 3.3rem;
          // width: 3.8rem;
        }
      }

      //----------------- COLUMN 2 ------------------//
    
      .alcove-east-column-2 {

        // ---------- Kindred Spirits --------- //
        .sub-section-2-1 {
          // top: 3.4rem;
        }
        
        // ---------- Flip --------- //
        .sub-section-2-2 {
          // top: 17.2rem;
          left: 1.3rem;
        }
        
        // ---------- You First --------- //
        .sub-section-2-3 {
          // top: 20.5rem;
          left: 1.3rem;
        }
        
        // ---------- Another Afternoon at Lucille's --------- //
        .sub-section-2-4 {
          // top: 17.5rem;
        }
        
        // ---------- Bird Sanctuary --------- //
        .sub-section-2-5 {
          // top: 17.3rem;
          right: 1.8rem;
          // width: 2.9rem;
        }

        // ---------- Neptunes Confront Us --------- //
        .sub-section-2-6 {
          // top: 20.9rem;
          right: 1.7rem;
          // width: 3.1rem;
        }   
      }
    }

    //----------------- COLUMN 3 ------------------//

    .alcove-east-column-3 {

      // ---------- Jacob Wrestling the Angel --------- //
      .sub-section-3-1 {
        top: 0.5rem;
        width: 14rem;
      }

      .alcove-exit-container {
        height: 20.2rem;

        .alcove-exit {

          // ------------ Jacob's Dream ------------ //
          .sub-section-3-2 {
            left: -5rem;
            width: 14.5rem;
          }

          // ------------ Lunch Time ------------ //
          .sub-section-3-3 {
            left: 11rem;
            width: 4.7rem;
          }
          
          // ------------ Red Rope ------------ //
          .sub-section-3-4 {
            top: 8.2rem;
            left: 11.2rem;
            width: 4.2rem;
          }
          
          // ------------ Can You See Me? ------------ //
          .sub-section-3-5 {
            right: 1rem;
            width: 1.7rem;
          }
            
          // ------------ Into the Unknown ------------ //
          .sub-section-3-6 {
            right: 0.8rem;
            width: 1.9rem;
          }
            
          // ------------ No Friends ------------ //
          .sub-section-3-7 {
            right: 0.8rem;
            width: 1.9rem;
          }
            
          // ------------ Butterfly Woman ------------ //
          .sub-section-3-8 {
            right: 0.8rem;
            width: 1.9rem;
          }
        }
      }
    }
  }
}

// --------------- Max-Width: 960px --------------- //

@media screen and (max-width: 960px) {
  .alcove-east-container {

    .alcove-east-grid {
      height: 30rem;
      grid-template-columns: 1.3fr 1fr 1.3fr;

      //----------------- COLUMN 1 ------------------//

      .alcove-east-column-1 {
      
        // ---------- Installing the Music App --------- //
        .sub-section-1-1 {
          top: 1.3rem;
          width: 15rem;
        }
        
        // ---------- Social Distancing --------- //
        .sub-section-1-2 {
          top: 14.8rem;
          left: 3rem;
          width: 3.7rem;
        }
        
        // ---------- Time to Feed the Frog --------- //
        .sub-section-1-3 {
          top: 19rem;
          left: 3rem;
          width: 3.7rem;
        }
        
        // ---------- Leavng the House of Horrors --------- //
        .sub-section-1-4 {
          top: 14.8rem;
          left: 7.2rem;
          width: 4.4rem;
        }
        
        // ---------- A Much Needed Surgery --------- //
        .sub-section-1-5 {
          top: 19rem;
          left: 7.4rem;
          width: 2.6rem;
        }
        
        // ---------- Safe Travel --------- //
        .sub-section-1-6 {
          top: 19rem;
          left: 10.7rem;
          width: 3.1rem;
        }
        
        // ---------- Arrival Through the Black Hole --------- //
        .sub-section-1-7 {
          top: 14.8rem;
          right: 7.2rem;
          width: 4.4rem;
        }
        
        // ---------- Martian Mary Poppins --------- //
        .sub-section-1-8 {
          top: 19.3rem;
          right: 7.3rem;
          width: 2.1rem;
        }
      
        // ---------- Fool In Recent Times --------- //
        .sub-section-1-9 {
          top: 14.8rem;
          right: 2.8rem;
          width: 3.8rem;
        }
        
        // ---------- Homecoming for Lost tambourine --------- //
        .sub-section-1-10 {
          top: 19rem;
          right: 2.8rem;
          width: 3.7rem;
        }
      }

      //----------------- COLUMN 2 ------------------//
    
      .alcove-east-column-2 {

        // ---------- Kindred Spirits --------- //
        .sub-section-2-1 {
          top: 3.2rem;
          // left: 3.9rem;
          width: 12.8rem;
        }
        
        // ---------- Flip --------- //
        .sub-section-2-2 {
          top: 15.8rem;
          // left: 2.5rem;
          width: 3.1rem;
        }
        
        // ---------- You First --------- //
        .sub-section-2-3 {
          top: 18.9rem;
          // left: 2.5rem;
          width: 3.1rem;
        }
        
        // ---------- Another Afternoon at Lucille's --------- //
        .sub-section-2-4 {
          top: 16rem;
          // left: 6.5rem;
          width: 8rem;
        }
        
        // ---------- Bird Sanctuary --------- //
        .sub-section-2-5 {
          top: 15.8rem;
          left: 13.7rem;
          width: 2.7rem;
        }
        
        // ---------- Neptunes Confront Us --------- //
        .sub-section-2-6 {
          top: 19.3rem;
          left: 13.7rem;
          width: 2.9rem;
        }
      }
    }

    //----------------- COLUMN 3 ------------------//

    .alcove-east-column-3 {

      // ---------- Jacob Wrestling the Angel --------- //
      .sub-section-3-1 {
        top: 0.4rem;
        width: 12.8rem;
      }
        
      .alcove-exit-container {
        width: 18rem;
        height: 17.8rem;

        .alcove-exit {

          // ------------ Jacob's Dream ------------ //
            .sub-section-3-2 {
              left: -4.8rem;
              width: 12.7rem;
            }

            // ------------ Lunch Time ------------ //
            .sub-section-3-3 {
              top: -0.4rem;
              left: 9.5rem;
              width: 4.3rem;
            }
          
            // ------------ Red Rope ------------ //
            .sub-section-3-4 {
              top: 7.4rem;
              left: 9.8rem;
              width: 3.6rem;
            }
          
            // ------------ Can You See Me? ------------ //
            .sub-section-3-5 {
              right: 0.8rem;
              width: 1.5rem;
            }
          
            // ------------ Into the Unknown ------------ //
            .sub-section-3-6 {
              top: 5.4rem;
              right: 0.7rem;
              width: 1.7rem;
            }
          
            // ------------ No Friends ------------ //
            .sub-section-3-7 {
              top: 7.9rem;
              right: 0.7rem;
              width: 1.7rem;
            }
          
            // ------------ Butterfly Woman ------------ //
            .sub-section-3-8 {
              top: 10.3rem;
              right: 0.7rem;
              width: 1.7rem;
            }
        }
      }
    }
  }
}

// --------------- Max-Width: 780px --------------- //

@media screen and (max-width: 780px) {
  .alcove-east-container {

    .alcove-east-grid {
      grid-template-columns: 1.27fr 1fr 1.27fr;

      //----------------- COLUMN 1 ------------------//

      .alcove-east-column-1 {
      
        // ---------- Installing the Music App --------- //
        .sub-section-1-1 {
          left: 4.2rem;
        }
        
        // ---------- Social Distancing --------- //
        .sub-section-1-2 {
          left: 2.7rem;
        }
        
        // ---------- Time to Feed the Frog --------- //
        .sub-section-1-3 {
          left: 2.7rem;
        }
        
        // ---------- Leavng the House of Horrors --------- //
        .sub-section-1-4 {
          left: 6.9rem;
        }
        
        // ---------- A Much Needed Surgery --------- //
        .sub-section-1-5 {
          left: 7.1rem;
        }
        
        // ---------- Safe Travel --------- //
        .sub-section-1-6 {
          left: 10.4rem;
        }
        
        // ---------- Arrival Through the Black Hole --------- //
        .sub-section-1-7 {
          right: 6.9rem;
        }
        
        // ---------- Martian Mary Poppins --------- //
        .sub-section-1-8 {
          right: 7rem;
        }
      
        // ---------- Fool In Recent Times --------- //
        .sub-section-1-9 {
          right: 2.5rem;
        }
        
        // ---------- Homecoming for Lost tambourine --------- //
        .sub-section-1-10 {
          right: 2.5rem;
        }
      }
    }
  }
}